<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title|default:"Astakos Login" }}</title>
  <link rel="stylesheet" href="/im/static/bootstrap.css">
  <script src="/im/static/jquery.js"></script>
  <script src="/im/static/jquery.tablesorter.js"></script>
  <script src="/im/static/main.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="container">
    <div style="padding: 5px 0px 0px 0px">
      <img src="/im/static/banner.png" width="900" height="200">
    </div>
    {% block title %}{% endblock %}
    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="alert-message.{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block tabs %}{% endblock %}

    {% block body %}{% endblock %}
  </div>
</body>
</html>
