{% extends 'base.html'%}

{% block title%}
        <h2>Welcome</h2>
        <p>Choose how to login. Or move on to <a href="admin">admin</a>.</p>
        <p>Don't have an account? <a href="{% url astakos.im.views.signup %}">Sign up</a>.</p>
{% endblock title%}
    
{% block body%}
    <div class="row">
    {% if "local" in im_modules %}
      <div class="span4">
        <h4>Local account</h4>
        <form action="{% url astakos.im.target.local.login %}" method="post" class="form-stacked">
          {{ form.as_p }}
         <div>
            <a href="{% url astakos.im.views.reclaim_password %}">Forgot your password?</a>
         </div>
         <br>
          <div class="">
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn primary">Go</button>
          </div>
        </form>
      </div>
    {% endif %}
      <div class="span8">
        {% for o in im_modules %}
            {% if o != 'local' %}
                <a href="/im/login/{{ o }}{% ifnotequal next "" %}?next={{ next|urlencode }}{% endifnotequal %}" alt="{{ o|title }}"><img src="/im/static/{{ o }}.png" width="120" height="120"></a>
            {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock body%}
