{% extends "account_base.html" %}

{% load formatters %}

{% block page.body %}
<div class="maincol {% block innerpage.class %}{% endblock %}">
    <div class="section">
        <h2>You have <em>{{ inviter.invitations }}</em> invitation{{ inviter.invitations|pluralize }} left.</h2>
        {% if sent|length %}
          <table class="zebra-striped id-sorted">
            <thead>
              <tr>
                <th>Email</th>
                <th>Real Name</th>
                <th>Consumed</th>
              </tr>
            </thead>
            <tbody>
              {% for inv in sent %}
              <tr>
                <td>{{ inv.email }}</td>
                <td>{{ inv.realname }}</td>
                <td>{{ inv.is_consumed }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No invitations sent</p>
        {% endif %}
    </div>
</div>

<div class="rightcol">
 {% if inviter.invitations %}
  <form action="{% url astakos.im.views.invite %}" method="post"
    class="innerlabels">{% csrf_token %}
    <h2>INVITE SOMEONE ELSE</h2>
    <div class="form-row">
      <label for="user-realname">Name</label>
      <div class="input">
        <input type="text" class="text" id="user-realname" name="realname" />
      </div>
    </div>

    <div class="form-row">
      <label for="user-uniq">Email</label>
      <div class="input">
        <input type="text" class="text" id="user-uniq" name="uniq" />
      </div>
    </div>

    <div class="form-row submit">
        <input type="submit" class="submit altcol" value="SEND" />
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}

