{% extends "account_base.html" %}

{% load formatters %}

{% block body %}
  <h3>You have {{ inviter.invitations }} invitation{{ inviter.invitations|pluralize }} left.</h3>
  
  
  <table class="zebra-striped id-sorted">
    <thead>
      <tr>
        <th>Email</th>
        <th>Real Name</th>
        <th>Consumed</th>
      </tr>
    </thead>
    <tbody>
      {% for inv in sent %}
      <tr>
        <td>{{ inv.email }}</td>
        <td>{{ inv.realname }}</td>
        <td>{{ inv.is_consumed }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

 {% if inviter.invitations %}
  <br />
  <h4>Invite someone else:</h4>
  <form action="{% url astakos.im.views.invite %}" method="post"
    class="withlabels">{% csrf_token %}
    <div class="clearfix f">
      <label for="user-realname">Name</label>
      <div class="input">
        <input type="text" class="span4" id="user-realname" name="realname" />
      </div>
    </div>

    <div class="clearfix">
      <label for="user-uniq">Email</label>
      <div class="input">
        <input type="text" class="span4" id="user-uniq" name="uniq" />
      </div>
    </div>

    <div class="form-row submit">
        <input type="submit" class="submit altcol" value="INVITE" />
    </div>
  </form>
  {% endif %}
{% endblock body %}
