{% extends "base.html" %}

{% block title%}
        <h2>Sign up</h2>
{% endblock title%}

{% block body %}
<form action="{% url astakos.im.views.local_create %}" method="post">
{% if provider == 'local'%}
  <div class="clearfix">
    <label for="user-uniq">Username</label>
    <div class="input">
      <input class="span4" id="user-uniq" name="uniq" {%if inv %} value={{ inv.uniq }} {% endif %} type="text" />
    </div>
  </div>
  
  <div class="clearfix">
    <label for="user-password">Password</label>
    <div class="input">
      <input class="span4" id="user-password" name="password" type="password" />
    </div>
  </div>
  
  <div class="clearfix">
    <label for="user-password">Confirm Password</label>
    <div class="input">
      <input class="span4" id="user-retype-password" name="retype_password" type="password" />
    </div>
  </div>

  <div class="clearfix">
    <label for="user-realname">Real Name</label>
    <div class="input">
      <input class="span4" id="user-realname" name="realname" {%if inv %} value={{ inv.realname }} {% endif %} type="text" />
    </div>
  </div>
  
  <div class="clearfix">
    <label for="user-email">Email</label>
    <div class="input">
      <input class="span4" id="user-email" name="email" type="text" />
    </div>
  </div>
{% endif %}

{% if provider == 'twitter' %}
    <div class="clearfix">
        <label for="user-uniq">Twitter </label>
        <div class="input">
            <input class="span4" id="user-uniq" name="uniq" {%if inv %} value={{ inv.uniq }} {% endif %} type="text" />
        </div>
    </div>
{% endif %}

  <div class="actions">
    <button type="submit" class="btn primary">Create</button>
    <button type="reset" class="btn">Reset</button>
  </div>
</form>
{% endblock body %}
