{% extends "base.html" %}

{% block title%}
        <h1>Welcome</h1>
        <p>Choose how to signup.</p>
{% endblock title%}

{% block body%}
    <div class="row">
    {% if "local" in im_modules %}
      <div class="span4">
        <h4>Local account</h4>
        <form action="" method="post" class="form-stacked">
          {{ form.as_p }}
         <br>
          <div class="">
            <input type="hidden" name="next" value="{{ next }}">
            <input type="hidden" name="code" value="{{ code }}">
            <button type="submit" class="btn primary">Go</button>
          </div>
        </form>
      </div>
    {% endif %}
    <div class="span8">
        {% for o in im_modules %}
            {% if o != 'local' %}
                <a href="/im/login/{{ o }}{% ifnotequal next "" %}?next={{ next|urlencode }}{% endifnotequal %}" alt="{{ o|title }}"><img src="/im/static/{{ o }}.png" width="120" height="120"></a>
            {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock body%}
