{% extends "base.html" %}

{% block title%}
        <h1>Welcome</h1>
        <p>Choose how to signup.</p>
{% endblock title%}

{% block body%}
    <div class="row">
    {% if "local" in im_modules %}
      <div class="span4">
        <h4>Local account</h4>
        <form action="{% url astakos.im.views.signup %}" method="post" class="form-stacked">{% csrf_token %}
          {{ local_form.as_p }}
         <br>
          <div class="">
            <input type="hidden" name="next" value="{{ next }}">
            <input type="hidden" name="code" value="{{ code }}">
            <input type="hidden" name="provider" value="local">
            <button type="submit" class="btn primary">Go</button>
          </div>
        </form>
      </div>
    {% endif %}
    <div class="span4">
        {% if 'twitter' in im_modules %}
            <img src="/im/static/twitter.png" width="120" height="120">
            <form action="{% url astakos.im.views.signup %}" method="post" class="form-stacked">{% csrf_token %}
                 {{ twitter_form.as_p }}
                <br>
                <div class="">
                  <input type="hidden" name="next" value="{{ next }}">
                  <input type="hidden" name="code" value="{{ code }}">
                  <input type="hidden" name="provider" value="twitter">
                  <input type="submit" value="Signup with Twitter"/>
                </div>
              </form>
        {% endif %}
    </div>
    <div class="span4">
        {% if 'shibboleth' in im_modules %}
            <img src="/im/static/shibboleth.png" width="120" height="120">
            <form action="{% url astakos.im.views.signup %}" method="post" class="form-stacked">{% csrf_token %}
                 {{ shibboleth_form.as_p }}
                <br>
                <div class="">
                  <input type="hidden" name="next" value="{{ next }}">
                  <input type="hidden" name="code" value="{{ code }}">
                  <input type="hidden" name="provider" value="shibboleth">
                  <input type="submit" value="Sign up with Shibboleth"/>
                </div>
              </form>
        {% endif %}
      </div>
    </div>
{% endblock body%}
