{% extends "account_base.html" %}

{% block body %}
<form action="{% url django.contrib.auth.views.password_change %}" method="post">{% csrf_token %}
  <div class="clearfix">
    {{ form.as_p }}
  </div>
  
  <div class="actions">
    <input type="hidden" name="auth" value="{{ auth }}">
    <input type="hidden" name="next" value="{{ next }}">
    <input type="hidden" name="username" value="{{ username }}">
    <button type="submit" class="btn primary">Change</button>
  </div>
</form>
{% endblock body %}
