*.db
*.pyc
*~
*.*.swp
bin/
share/
build/
include/
*.pt.py
*.installed.cfg
*.sqlite
.Python
.idea
.DS_Store
selenium-server-standalone-2.0b2.jar
.project
.pydevproject
.settings/
settings.d/*-local.conf
*.egg-info
dist
_build

# version modules created automatically from setup.py
*/synnefo/versions/*.py
!*/synnefo/versions/__init__.py
snf-tools/synnefo_tools/version.py
snf-quotaholder-app/quotaholder_django/version.py
*.iml
*.graffle
