settings.py
*.db
*.pyc
*~
*.sw*
bin/
build/
include/
lib/
*.pt.py
*.installed.cfg
ui.pyramid/bin/
ui.pyramid/develop-eggs/
ui.pyramid/eggs/
ui.pyramid/parts/
ui.pyramid/src/synnefo.egg-info/
ui.pyramid/include/
ui/lib/
