#!/usr/bin/make -f

%:
	dh $@ --with python2

package=snf-common
config_lvl=00

override_dh_auto_install:
	dh_auto_install
	
	mkdir -p debian/$(package)/etc/synnefo
	echo "# Place your custom configuration options here\n\n" > debian/$(package)/etc/synnefo/99-local.conf
	for f in admins logging; do \
		cp synnefo/settings/default/$$f.py \
			debian/$(package)/etc/synnefo/$(config_lvl)-$(package)-$$f.conf;  \
	done;
	sed -i 's/^/#/' debian/$(package)/etc/synnefo/*.conf;

