CONFIG = {
 'mode': 'django',
 'environment': {
   'DJANGO_SETTINGS_MODULE': 'synnefo.settings',
 },
 'working_dir': '/etc/synnefo',
 'user': 'synnefo',
 'group': 'synnefo',
 'args': (
   '--bind=127.0.0.1:8080',
   '--worker-class=gevent',
   '--workers=8',
   '--log-level=debug',
   '--timeout=43200',
   '--log-file=/var/log/synnefo/gunicorn.log',
 ),
}
