{% load i18n %}
<div id="vm-connect-overlay-content" class="hidden vm-connect">
    <div class="connect-cont">
        <h4>{% trans "Connection details" %}</h4>
        <div class="desc">
            <p>{% blocktrans %}Blah blah blha lbha blahb glbh{% endblocktrans %}</p>
        </div>
        <div class="ips">
            <div class="ip-cont">
            <span class="title">IP v4</span>
            <span class="value ipv4">195.2.2.12</span>
            </div>
            <div class="ip-cont">
            <span class="title">IP v4</span>
            <span class="value ipv6">2001:db8::a800:ff:fe4e:ccd2</span>
            </div>
        </div>
    </div>
    <div class="connect-cont">
        <h4>{% trans "Connect using SSH" %}</h4>
        <div class="desc">
            <p>{% blocktrans %}Blah blah blha lbha blahb glbh{% endblocktrans %}</p>
        </div>
        <div class="ips">
            <div class="ip-cont">
            <span class="title">IP v4</span>
            <span class="value ipv4">195.2.2.12</span>
            </div>
            <div class="ip-cont">
            <span class="title">IP v4</span>
            <span class="value ipv6">2001:db8::a800:ff:fe4e:ccd2</span>
            </div>
        </div>
    </div>
    <div class="connect-cont">
        <h4>{% trans "Connect with out of bound console" %}</h4>
        <div class="desc">
            <p>{% blocktrans %}Blah blah blha lbha blahb glbh{% endblocktrans %}</p>
        </div>
        <div class="ips">
            <div class="ip-cont">
            <span class="title">IP v4</span>
            <span class="value ipv4">195.2.2.12</span>
            </div>
            <div class="ip-cont">
            <span class="title">IP v4</span>
            <span class="value ipv6">2001:db8::a800:ff:fe4e:ccd2</span>
            </div>
        </div>
    </div>
</div>
