{% load i18n %}
<div id="vm-connect-overlay-content" class="hidden vm-connect overlay-content">
    <div class="error hidden description">
        <p>{% trans "Cannot retrieve machine connection infromation" %}</p>
    </div>
    <div class="connection-info connect-cont">
        <div class="description">
            <p></p>
        </div>
        <div class="connect copy-content">
            <p></p>
        </div>
        <div class="subinfo description">
            <p></p>
        </div>
    </div>
</div>
