<html>
    <head>
        <script src="{{ SYNNEFO_JS_LIB_URL }}jquery.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}jquery.cookie.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}jquery.client.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}jquery.tools.min.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}jquery.dataTables.min.js"></script>

        <script src="{{ SYNNEFO_JS_LIB_URL}}underscore.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}underscore.string.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}jquery.base64.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}backbone.js"></script>
        <script src="{{ SYNNEFO_JS_LIB_URL}}json2.js"></script>

        <script src="{{ SYNNEFO_JS_URL}}utils.js"></script>
        <script src="{{ SYNNEFO_JS_URL}}sync.js"></script>
        <script src="{{ SYNNEFO_JS_URL}}models.js"></script>
        <script src="{{ SYNNEFO_JS_URL}}views.js"></script>
        <script src="{{ SYNNEFO_JS_URL}}auth.js"></script>
        <script src="{{ SYNNEFO_JS_URL}}quotas.js"></script>
        <script src="{{ SYNNEFO_JS_URL}}ui/web/ui_vms_base_view.js"></script>

        <script src="{{ SYNNEFO_JS_URL}}tests.js"></script>

        <script src="{{ SYNNEFO_JS_URL}}tests/jquery.mockjax.js"></script>

        <link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://code.jquery.com/qunit/git/qunit.js"></script>
    </head>
    <body>
        <h1 id="qunit-header">SNF JS API Tests</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture">test markup, will be hidden</div>
    </body>
</html>
