Source: snf-cyclades-gtools
Section: python
Priority: optional
Maintainer: Vangelis Koukis <vkoukis@grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5), snf-common
Standards-Version: 3.9.2
XS-Python-Version: >= 2.6
Homepage: https://code.grnet.gr/projects/synnefo

Package: snf-cyclades-gtools
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, ganeti2, snf-common (> 0.9.14), snf-network
Provides: ${python:Provides}
Suggests: collectd
XB-Python-Version: ${python:Versions}
Description: Synnefo Ganeti supplementary tools
 This package contains the supplementary tools for Ganeti needed
 by the synnefo software.
 .
 Included are:
  * snf-ganeti-hook, a Ganeti hook that message the Synnefo queue
  * snf-ganeti-eventd, a daemon watching the Ganeti job queue
  * snf-progress-monitor, a utility to monitor image deployment and
    produce notifications to the Synnefo queue
