#!/usr/bin/make -f

%:
	dh $@ --with python2

package=snf-cyclades-gtools

override_dh_auto_install:
	dh_auto_install

	mkdir -p debian/$(package)/usr/sbin
	-mv \
	  debian/$(package)/usr/bin/snf-ganeti-eventd \
	  debian/$(package)/usr/sbin/snf-ganeti-eventd
	-mv \
	  debian/$(package)/usr/bin/snf-ganeti-hook \
	  debian/$(package)/usr/sbin/snf-ganeti-hook
	-mv \
	  debian/$(package)/usr/bin/snf-progress-monitor \
	  debian/$(package)/usr/sbin/snf-progress-monitor
	rmdir debian/$(package)/usr/bin

	mkdir -p debian/$(package)/etc/synnefo
	cp synnefo/ganeti/settings.py  \
		debian/$(package)/etc/synnefo/10-snf-cyclades-gtools-backend.conf;
	sed -i 's/^/#/' debian/$(package)/etc/synnefo/*.conf;

	# this package provides the synnefo namespace __init__.py
	for py in $(shell pyversions -vr debian/control); do \
		rm debian/$(package)/usr/lib/python$$py/*-packages/*-nspkg.pth; \
	done

override_dh_fixperms:
	dh_fixperms
	chmod 0640 debian/$(package)/etc/synnefo/*
	chmod 0750 debian/$(package)/etc/synnefo
	chown -R root:www-data debian/$(package)/etc/synnefo
