/*body { background: url(../img/roughcloth.png);}*/
/* line 5, ../sass/extra.scss */
.container-fluid {
  margin-top: 20px;
}

/* line 6, ../sass/extra.scss */
h1 {
  margin-bottom: 20px;
}

/* Subnav */
/* line 9, ../sass/extra.scss */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee;
  /* Old browsers */
  background-repeat: repeat-x;
  /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* IE10+ */
  background-image: -o-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 26, ../sass/extra.scss */
.subnav .nav {
  margin-bottom: 0;
}

/* line 29, ../sass/extra.scss */
.subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 40, ../sass/extra.scss */
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}

/* line 51, ../sass/extra.scss */
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}

/* line 55, ../sass/extra.scss */
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 62, ../sass/extra.scss */
.subnav .nav > li:last-child > a {
  border-right: 0;
}

/* line 65, ../sass/extra.scss */
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 220px) {
  /* line 73, ../sass/extra.scss */
  .subnav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px;
    /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    /* IE6-9 */
  }

  /* line 89, ../sass/extra.scss */
  .subnav-fixed .nav {
    /*width: 938px; this shouldn't be uncomment*/
    /* It will be misplaced (will not be in the center) */
    margin: 0 auto;
    padding: 0 20px;
  }

  /* line 96, ../sass/extra.scss */
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
/* line 104, ../sass/extra.scss */
.subnav h2 {
  padding: 9px;
  font-size: 1em;
  line-height: 18px;
  display: none;
}

/* line 105, ../sass/extra.scss */
.subnav-fixed h2 {
  display: block;
}

/* line 107, ../sass/extra.scss */
.account-form {
  float: right;
  margin-top: 2px;
  margin-bottom: 0;
}

/* line 108, ../sass/extra.scss */
.info-block {
  /*margin-top: 30px;*/
  background-color: #fff;
  padding: 0;
}

/* line 110, ../sass/extra.scss */
.info-block h3 .badge {
  font-size: 0.8em;
  padding: 5px 8px;
  background-color: #659CEF;
}

/* line 111, ../sass/extra.scss */
.info-block table {
  margin-bottom: 0;
}

/* line 112, ../sass/extra.scss */
.object-details h5 {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  color: #d9397e;
}

/* line 113, ../sass/extra.scss */
.object-anchor {
  margin-bottom: 5px;
  height: 15px;
}

/* line 116, ../sass/extra.scss */
.subnav a.deleted {
  color: red !important;
}

/* new styles olga */
/* line 121, ../sass/extra.scss */
h1 a:hover {
  text-decoration: none;
}

/* line 122, ../sass/extra.scss */
.search-query {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 123, ../sass/extra.scss */
a {
  color: #659CEF;
}

/* line 124, ../sass/extra.scss */
a:hover {
  color: #2956b2;
}

/* line 126, ../sass/extra.scss */
h3 {
  font-size: 21px;
  /* cursor:pointer; */
  margin: 0 20px;
}

/* line 127, ../sass/extra.scss */
h4 {
  font-size: 18px;
  /* margin-bottom:1em; */
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

/* line 129, ../sass/extra.scss */
input:focus,
textarea:focus {
  border-color: #659CEF;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
}

/* line 143, ../sass/extra.scss */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #d5d5d5;
}

/* line 145, ../sass/extra.scss */
.object-details-content {
  /*margin:1em 0;*/
  margin: 1em 0 0 0;
  display: none;
}

/* line 146, ../sass/extra.scss */
.account .object-details-content {
  display: block;
}

/* line 147, ../sass/extra.scss */
.nav-tabs {
  margin: 0;
  border: 0 none;
}

/* line 148, ../sass/extra.scss */
.tab-content .dl-horizontal {
  margin: 0;
}

/* line 150, ../sass/extra.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: #F5F5F5;
  color: #2956B2;
  font-weight: bold;
}

/* line 151, ../sass/extra.scss */
.nav-tabs > li {
  margin-bottom: -2px;
}

/* line 152, ../sass/extra.scss */
.badge {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 153, ../sass/extra.scss */
.object-details .badge {
  /* margin-right:8px; */
}

/* line 155, ../sass/extra.scss */
.label-success,
.badge-success {
  background-color: #8bba00;
}

/* line 156, ../sass/extra.scss */
.badge-important {
  background-color: #F81A23;
}

/* line 157, ../sass/extra.scss */
.badge-info {
  background-color: #659cef;
}

/* line 158, ../sass/extra.scss */
.show-hide-tabs {
  margin: 2em 0;
}

/* line 159, ../sass/extra.scss */
.show-hide-all {
  float: right;
  /*margin:20px 0;*/
  line-height: 27px;
  /* margin-right: 20px; */
}

/* line 160, ../sass/extra.scss */
.toggle .badge {
  font-size: 14px;
  padding: 5px 9px;
}

/* line 161, ../sass/extra.scss */
.toggle .badge:hover {
  cursor: pointer;
}

/* line 162, ../sass/extra.scss */
.show-hide-tabs .badge {
  background-color: #8BBA00;
}

/* line 163, ../sass/extra.scss */
.show-hide-tabs .badge:hover {
  background-color: #789b0f;
}

/* line 164, ../sass/extra.scss */
.show-hide-all .badge {
  background-color: #8BBA00;
}

/* line 165, ../sass/extra.scss */
.show-hide-all .badge:hover {
  background-color: #789b0f;
}

/* line 167, ../sass/extra.scss */
.vms h3,
.vms h4 {
  color: #444444;
}

/* line 169, ../sass/extra.scss */
.vms h3:hover,
.vms h4:hover {
  color: #666666;
}

/* line 171, ../sass/extra.scss */
.networks h3,
.networks h4 {
  color: #444444;
}

/* line 173, ../sass/extra.scss */
.networks h3:hover,
.networks h4:hover {
  color: #666666;
}

/* line 175, ../sass/extra.scss */
.account h3,
.account h4 {
  color: #444444;
}

/* line 177, ../sass/extra.scss */
.account h3:hover,
.account h4:hover {
  color: #666666;
}

/* line 178, ../sass/extra.scss */
.object-details {
  /* padding: 10px 20px; */
  padding: 10px 20px 0 20px;
}

/* line 179, ../sass/extra.scss */
.object-details h4 {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 180, ../sass/extra.scss */
.object-details h4 em {
  float: right;
  font-style: normal;
  font-size: 0.833em;
}

/* line 181, ../sass/extra.scss */
.object-details h4 em img {
  margin: 0 5px;
}

/* line 182, ../sass/extra.scss */
h4 .badge.arrow {
  padding: 6px 9px 2px;
  background: url(../img/glyphicons-halflings.png) 160px 43px transparent;
}

/* line 183, ../sass/extra.scss */
h4.expanded .badge {
  background-position: 185px 43px;
}

/* line 184, ../sass/extra.scss */
.row2 {
  background-color: #EDEDED;
}

/* line 186, ../sass/extra.scss */
.row1:hover {
  background-color: #DDD;
}

/* line 187, ../sass/extra.scss */
.row2:hover {
  background-color: #DDD;
}

/* line 189, ../sass/extra.scss */
h4 i {
  margin-top: 4px;
  margin-right: 10px;
}

/* line 190, ../sass/extra.scss */
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  /*max-width:960px;*/
}

/* line 191, ../sass/extra.scss */
h3.info {
  cursor: default;
  color: #2956B2;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
}

/* line 193, ../sass/extra.scss */
.vm-actions {
  /*  margin-top: 20px; text-align: right; */
}

/* line 194, ../sass/extra.scss */
.vm-action {
  float: right;
  margin-left: 10px;
}

/* line 195, ../sass/extra.scss */
.vm-action form {
  margin-bottom: 0px;
}

/* line 196, ../sass/extra.scss */
.vm-action.inactive form input {
  background-color: #2956B2;
  color: #ffffff;
}

/* line 197, ../sass/extra.scss */
.vm-action form input {
  background-color: #F81A23;
  color: #ffffff;
}

/* line 199, ../sass/extra.scss */
.table-sorted th:hover {
  color: #2956B2;
  cursor: pointer;
}

/* line 200, ../sass/extra.scss */
.table-sorted th span:not(.badge) {
  padding-right: 20px;
}

/* line 201, ../sass/extra.scss */
.table-sorted th:hover span {
  background: url(../img/arrow-down.png) no-repeat right center;
}

/* line 203, ../sass/extra.scss */
.table-sorted th.headerSortDown span,
.table-sorted th.headerSortDown:hover span {
  background: url(../img/arrow-up.png) no-repeat right center;
}

/* line 206, ../sass/extra.scss */
.table-sorted th.headerSortUp span,
.table-sorted th.headerSortUp:hover span {
  background: url(../img/arrow-down.png) no-repeat right center;
}

/* here should declare: */
/* vars like colors and dist */
/* and functs */
/* here should declare: */
/* vars like colors and dist */
/* and functs */
/* line 3, ../sass/_bars-btns.scss */
.navbar a {
  color: #404041;
}

/* line 7, ../sass/_bars-btns.scss */
.main-nav {
  min-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  background: #404041;
  border: 1px solid transparent;
  border-bottom-color: white;
  height: 50px;
  z-index: 1040;
}
/* line 10, ../sass/_bars-btns.scss */
.main-nav > ul > li > a {
  color: white;
  padding-top: 16px;
}
/* line 13, ../sass/_bars-btns.scss */
.main-nav > ul > li > a:hover {
  padding-top: 16px;
}

/* line 32, ../sass/_bars-btns.scss */
.nav-simple {
  color: white;
  position: relative;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 75px;
  border-bottom: 1px solid white;
}
/* line 40, ../sass/_bars-btns.scss */
.nav-simple a {
  color: white;
}
/* line 43, ../sass/_bars-btns.scss */
.nav-simple .header {
  float: left;
  line-height: 40px;
  font-size: 26px;
}
/* line 48, ../sass/_bars-btns.scss */
.nav-simple .login-info {
  float: right;
  position: relative;
  line-height: 40px;
  font-size: 16px;
}

/* line 58, ../sass/_bars-btns.scss */
.dropdown .dropdown-menu {
  width: 100%;
}
/* line 60, ../sass/_bars-btns.scss */
.dropdown .dropdown-menu.align-left a {
  text-align: left;
  padding-left: 11px;
}
/* line 64, ../sass/_bars-btns.scss */
.dropdown .dropdown-menu.align-right a {
  text-align: right;
}
/* line 68, ../sass/_bars-btns.scss */
.dropdown a:hover {
  text-decoration: none;
}

/* line 74, ../sass/_bars-btns.scss */
.login-info .dropdown a {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 8px;
}
/* line 80, ../sass/_bars-btns.scss */
.login-info .dropdown:hover > a {
  color: #404041;
  background: white;
}
/* line 87, ../sass/_bars-btns.scss */
.login-info .dropdown-menu {
  right: 0;
  left: auto;
  border-radius: 0;
}

/* line 103, ../sass/_bars-btns.scss */
.sign-out span {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 18px;
}

/* line 111, ../sass/_bars-btns.scss */
.label-notice {
  background: #857b7b;
}

/* line 115, ../sass/_bars-btns.scss */
.nav .dropdown:hover > ul.dropdown-menu, .nav-simple .dropdown:hover > ul.dropdown-menu {
  display: block;
}

/* line 119, ../sass/_bars-btns.scss */
.nav > li > a {
  padding-right: 12px;
  padding-left: 12px;
}

/* Submenu with bradcrumb */
/* line 127, ../sass/_bars-btns.scss */
.sub-nav {
  top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 134, ../sass/_bars-btns.scss */
.sub-nav .nav.custom-breadcrumb li a {
  padding-right: 2px;
  padding-left: 2px;
}
/* line 137, ../sass/_bars-btns.scss */
.sub-nav .nav.custom-breadcrumb li a:hover {
  background-color: initial;
  color: #3c96e0;
}
/* line 143, ../sass/_bars-btns.scss */
.sub-nav .nav.custom-breadcrumb li:last-child a:hover {
  color: #404041;
  cursor: default;
}
/* line 149, ../sass/_bars-btns.scss */
.sub-nav .nav.custom-breadcrumb li:first-child a {
  color: #59595b;
  font-weight: bold;
}
/* line 152, ../sass/_bars-btns.scss */
.sub-nav .nav.custom-breadcrumb li:first-child a:hover {
  color: #3c96e0;
}
/* line 158, ../sass/_bars-btns.scss */
.sub-nav .nav.custom-breadcrumb .seperator {
  padding-top: 17px;
  padding-bottom: 13px;
  margin-right: 4px;
  margin-left: 4px;
  color: #b2cae9;
}

/* Sidebar */
/* line 172, ../sass/_bars-btns.scss */
.sidebar {
  margin: 0 30px 0 0;
  width: 150px;
  height: auto;
  float: left;
}
/* line 177, ../sass/_bars-btns.scss */
.sidebar .btn-group-vertical {
  width: 100%;
}

/* line 182, ../sass/_bars-btns.scss */
.sidebar.sidebar-fixed {
  top: 80px;
  left: auto;
  right: auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 170px;
  float: left;
}

/* new *** */
/* line 197, ../sass/_bars-btns.scss */
.sidebar a {
  margin-bottom: 6px;
}
/* line 198, ../sass/_bars-btns.scss */
.sidebar a:first-child {
  margin-bottom: 38px;
}
/* line 201, ../sass/_bars-btns.scss */
.sidebar a:last-child {
  margin-top: 32px;
}

/* line 207, ../sass/_bars-btns.scss */
.custom-buttons .custom-btn {
  min-width: 80px;
}

/* line 212, ../sass/_bars-btns.scss */
.sidebar a, .custom-buttons a {
  border: 1px solid;
  width: 100%;
  font-size: 14px;
  background-color: transparent;
}
/* line 218, ../sass/_bars-btns.scss */
.sidebar a span, .custom-buttons a span {
  border: 1px solid transparent;
  line-height: 36px;
}
/* line 222, ../sass/_bars-btns.scss */
.sidebar a .badge.num, .custom-buttons a .badge.num {
  line-height: 1.3;
  background: transparent;
  margin-left: 6px;
}
/* line 227, ../sass/_bars-btns.scss */
.sidebar a.disabled, .custom-buttons a.disabled {
  border-color: #b6b0b0;
  color: #857b7b;
}
/* line 230, ../sass/_bars-btns.scss */
.sidebar a.disabled .badge.num, .custom-buttons a.disabled .badge.num {
  border-color: #b6b0b0;
  color: #857b7b;
}
/* line 235, ../sass/_bars-btns.scss */
.sidebar a:not(.disabled), .custom-buttons a:not(.disabled) {
  color: white;
  opacity: 0.8;
}
/* line 238, ../sass/_bars-btns.scss */
.sidebar a:not(.disabled):hover, .custom-buttons a:not(.disabled):hover {
  opacity: 1;
}
/* line 242, ../sass/_bars-btns.scss */
.sidebar a:not(.disabled)[data-karma="neutral"], .custom-buttons a:not(.disabled)[data-karma="neutral"] {
  background-color: #3c96e0;
  border-color: #3c96e0;
}
/* line 246, ../sass/_bars-btns.scss */
.sidebar a:not(.disabled)[data-karma="good"], .custom-buttons a:not(.disabled)[data-karma="good"] {
  background-color: #00a551;
  border-color: #00a551;
}
/* line 251, ../sass/_bars-btns.scss */
.sidebar a:not(.disabled)[data-karma="bad"][data-reversible="False"], .custom-buttons a:not(.disabled)[data-karma="bad"][data-reversible="False"] {
  background-color: #e42a48;
  border-color: #e42a48;
}
/* line 255, ../sass/_bars-btns.scss */
.sidebar a:not(.disabled)[data-karma="bad"][data-reversible="True"], .custom-buttons a:not(.disabled)[data-karma="bad"][data-reversible="True"] {
  background-color: #d2881f;
  border-color: #d2881f;
}

/* line 263, ../sass/_bars-btns.scss */
.custom-btn.expand-btn {
  width: 110px;
  line-height: 30px;
  border-color: #00a551;
  color: #007238;
}
/* line 269, ../sass/_bars-btns.scss */
.custom-btn.expand-btn:hover > span {
  border-color: #00a551;
}

/* here should declare: */
/* vars like colors and dist */
/* and functs */
/* line 3, ../sass/_details.scss */
body {
  color: #3D3D3D;
}
/* line 5, ../sass/_details.scss */
body a {
  color: #13499b;
}

/* line 12, ../sass/_details.scss */
.object-details h4 .label {
  font-style: normal;
  font-weight: normal;
  float: right;
  margin-left: 6px;
}

/* line 20, ../sass/_details.scss */
.main {
  padding: 5px 0 0px 0;
  background: transparent;
}
/* line 26, ../sass/_details.scss */
.main h4 .title {
  font-size: 21px;
  cursor: pointer;
}
/* line 30, ../sass/_details.scss */
.main a {
  color: white;
}
/* line 33, ../sass/_details.scss */
.main .object-details {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 39, ../sass/_details.scss */
body .well {
  border-color: #b2cae9;
}

/* line 43, ../sass/_details.scss */
.tab-content dl {
  background: white;
}

/* line 47, ../sass/_details.scss */
body .object-details h4 {
  margin-left: 0;
  margin-right: 0;
}
/* line 51, ../sass/_details.scss */
body .object-details h3 {
  margin-left: 0;
}
/* line 54, ../sass/_details.scss */
body .object-details p {
  margin: 10px 20px;
  font-style: italic;
}
/* line 59, ../sass/_details.scss */
body .object-details .length {
  margin-left: 6px;
}
/* line 62, ../sass/_details.scss */
body .object-details > .object-details {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
}

/* line 70, ../sass/_details.scss */
.object-details-content .nav-tabs > li.active > a {
  color: #404041;
  border-color: #b2cae9;
  border-bottom-color: transparent;
}
/* line 75, ../sass/_details.scss */
.object-details-content .nav-tabs > li:not(.active) > a:hover {
  border-color: transparent;
  background: transparent;
  color: #3c96e0;
}

/* line 82, ../sass/_details.scss */
.tab-pane {
  overflow: auto;
}
/* line 84, ../sass/_details.scss */
.tab-pane th {
  color: #404041;
}

/* line 90, ../sass/_details.scss */
body .object-details h4 em {
  float: none;
}
/* line 92, ../sass/_details.scss */
body .object-details h4 em.os-info {
  float: right;
  position: relative;
  bottom: 3px;
}
/* line 97, ../sass/_details.scss */
body .object-details h4 em.os-info img {
  height: 26px;
}

/* line 104, ../sass/_details.scss */
.content-seperator {
  width: 100%;
  border-bottom: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 111, ../sass/_details.scss */
.content.part-one {
  margin-bottom: 0;
  margin-top: 160px;
}

/* line 115, ../sass/_details.scss */
.content.part-two {
  margin-top: 0;
}

/* here should declare: */
/* vars like colors and dist */
/* and functs */
/* line 3, ../sass/_filters.scss */
.filters-area {
  border-bottom: 1px solid white;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

/* line 9, ../sass/_filters.scss */
.filters .badge {
  margin-left: 6px;
  opacity: 0.9;
  padding: 2px 9px;
}

/* line 15, ../sass/_filters.scss */
.filters ul.nav a {
  padding-bottom: 10px;
}

/* line 21, ../sass/_filters.scss */
.filter-input label {
  border: 1px solid #cccccc;
  background: white;
  padding: 0 10px;
  font-weight: normal;
}
/* line 26, ../sass/_filters.scss */
.filter-input label input {
  border: 0 none;
  background: transparent;
  height: 38px;
  padding: 0 5px;
  font-weight: normal;
}
/* line 35, ../sass/_filters.scss */
.filter-input input {
  border-radius: 0;
}

/* line 40, ../sass/_filters.scss */
.filter-dropdown {
  background: white;
  height: 38px;
}
/* line 43, ../sass/_filters.scss */
.filter-dropdown .dropdown {
  border: 1px solid #cccccc;
  border-radius: 0px;
  padding: 8px 12px;
  line-height: 1.4;
}
/* line 49, ../sass/_filters.scss */
.filter-dropdown .dropdown > a .selected-value {
  margin-left: 4px;
}
/* line 52, ../sass/_filters.scss */
.filter-dropdown .dropdown > a .arrow {
  font-weight: bold;
}
/* line 58, ../sass/_filters.scss */
.filter-dropdown .dropdown.open a {
  text-decoration: none;
  color: #3c96e0;
}
/* line 63, ../sass/_filters.scss */
.filter-dropdown .dropdown a {
  color: #404041;
}
/* line 66, ../sass/_filters.scss */
.filter-dropdown .dropdown .dropdown-menu {
  width: auto;
}
/* line 68, ../sass/_filters.scss */
.filter-dropdown .dropdown .dropdown-menu a {
  padding-left: 12px;
  padding-right: 12px;
}
/* line 69, ../sass/_filters.scss */
.filter-dropdown .dropdown .dropdown-menu a input {
  margin-right: 6px;
}

/* line 80, ../sass/_filters.scss */
.filter-text,
.filter-dropdown {
  margin: 0 1em 1em 0;
  display: inline-block;
}
/* line 83, ../sass/_filters.scss */
.filter-text .form-group,
.filter-dropdown .form-group {
  margin: 0;
}

/* line 89, ../sass/_filters.scss */
body input:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* All checkboxes */
/* line 218, ../sass/extra.scss */
.checkbox {
  margin: 0;
}

/* line 221, ../sass/extra.scss */
.checkbox label {
  margin-bottom: 0;
}

/* Area that includes all the info and */
/* line 230, ../sass/extra.scss */
.info {
  overflow: auto;
  border-color: #afc6d6;
}

/* line 235, ../sass/extra.scss */
.info-fixed {
  overflow: hidden;
  margin-left: 200px;
}

/* Table of users */
/* line 243, ../sass/extra.scss */
.table-items span.caret {
  padding-right: 0;
  margin-left: 4px;
  vertical-align: middle;
}

/* line 250, ../sass/extra.scss */
td:last-child {
  max-width: 60px;
  min-width: 60px;
  padding: 8px 0;
}
/* line 254, ../sass/extra.scss */
td:last-child .details-link:hover {
  text-decoration: none;
}
/* line 257, ../sass/extra.scss */
td:last-child .summary-expand {
  float: right;
  padding-left: 8px;
  background-color: #b9eeca;
  padding-right: 8px;
}
/* line 262, ../sass/extra.scss */
td:last-child .summary-expand:hover {
  text-decoration: none;
}
/* line 266, ../sass/extra.scss */
td:last-child dl {
  position: relative;
  padding: 8px;
  display: none;
  margin-bottom: 0;
  margin-top: 20px;
 /* dd {
	display: inline-block;
	} */
}

/* line 280, ../sass/extra.scss */
.table-items .headerSortUp span.caret {
  border-top: 0;
  border-bottom: 4px solid;
}

/* a[disabled] {
		color: #999999;
} */
/* line 292, ../sass/extra.scss */
a:not([disabled]):hover {
  cursor: pointer;
}

/* line 297, ../sass/extra.scss */
.modal p {
  position: relative;
}
/* line 301, ../sass/extra.scss */
.modal#contact p {
  margin-top: 18px;
}
/* line 306, ../sass/extra.scss */
.modal h4 {
  font-size: 1.1em;
}
/* line 310, ../sass/extra.scss */
.modal textarea, .modal input {
  width: 496px;
}
/* line 312, ../sass/extra.scss */
.modal textarea.body, .modal input.body {
  min-height: 160px;
}
/* line 317, ../sass/extra.scss */
.modal label {
  float: left;
  margin-right: 6px;
  width: 56px;
}
/* line 323, ../sass/extra.scss */
.modal .modal-body {
  background-color: white;
}
/* line 328, ../sass/extra.scss */
.modal .modal-footer {
  margin-top: 0;
}
/* line 330, ../sass/extra.scss */
.modal .modal-footer form {
  display: inline;
}

/* line 337, ../sass/extra.scss */
.account-action.form-btn {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

/* line 343, ../sass/extra.scss */
.buttons {
  list-style: none;
}

/* line 347, ../sass/extra.scss */
.buttons li {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

/* line 353, ../sass/extra.scss */
.filters.subnav-fixed {
  top: 50px;
}

/* line 359, ../sass/extra.scss */
.table-items .login-method {
  padding: 2px 16px 2px 0px;
  text-align: center;
}
/* line 364, ../sass/extra.scss */
.table-items th .badge {
  margin: 0 2px 0 4px;
  display: inline;
  padding-top: 2px;
}
/* line 369, ../sass/extra.scss */
.table-items td {
  padding: 8px 6px 0 6px;
}

/* line 374, ../sass/extra.scss */
.dataTables_length select {
  width: 55px;
  display: inline-block;
  margin-left: 4px;
  vertical-align: baseline;
}

/* line 383, ../sass/extra.scss */
#table-items-total_filter input {
  display: inline-block;
  margin-left: 8px;
}

/* line 389, ../sass/extra.scss */
.checkbox-column {
  position: relative;
}

/* line 394, ../sass/extra.scss */
.table-selected tr:hover a {
  color: red;
}
/* line 398, ../sass/extra.scss */
.table-selected .remove {
  border-left-color: transparent;
  text-align: center;
}
/* line 401, ../sass/extra.scss */
.table-selected .remove a {
  text-decoration: none;
  color: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 412, ../sass/extra.scss */
.positive.area {
  background-color: #dff0d8;
}
/* line 415, ../sass/extra.scss */
.positive.elem {
  color: #3c763d;
}

/* line 421, ../sass/extra.scss */
.dangerous.area {
  background-color: red;
}
/* line 424, ../sass/extra.scss */
.dangerous.elem {
  color: red;
}

/* line 430, ../sass/extra.scss */
.neutral.area {
  background-color: rgba(121, 176, 236, 0.78);
}
/* line 433, ../sass/extra.scss */
.neutral.elem {
  color: blue;
}

/* line 439, ../sass/extra.scss */
.caution.area {
  background-color: yellow;
}
/* line 442, ../sass/extra.scss */
.caution.elem {
  color: yellow;
}

/* line 448, ../sass/extra.scss */
.modal em {
  font-weight: bold;
  font-style: normal;
}

/* line 455, ../sass/extra.scss */
.container-demo, .chart {
  height: 400px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid cyan;
  padding-top: 20px;
}

/* line 463, ../sass/extra.scss */
svg > text:last-child {
  display: none;
}

/* line 468, ../sass/extra.scss */
.dropdown .arrow {
  margin-left: 6px;
  vertical-align: middle;
}

/* line 474, ../sass/extra.scss */
.error-sign {
  color: red;
  font-size: 20px;
  margin-left: 10px;
  position: absolute;
  right: 8px;
  top: 2px;
  display: none;
}
/* line 482, ../sass/extra.scss */
.error-sign:hover {
  color: red;
  text-decoration: none;
}

/* line 489, ../sass/extra.scss */
.form-area {
  position: relative;
}

/* line 492, ../sass/extra.scss */
.form-subject {
  margin-bottom: 15px;
}

/* line 496, ../sass/extra.scss */
.toggle-more {
  margin-top: -16px;
  display: none;
}

/* line 503, ../sass/extra.scss */
.hidden-row {
  display: none;
}

/* line 507, ../sass/extra.scss */
.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 82px;
  border-color: transparent;
  background: #404041;
}

/* line 528, ../sass/extra.scss */
.extra-btn {
  width: 100%;
  margin-bottom: 40px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 1300px) {
  /* line 537, ../sass/extra.scss */
  .navbar-fixed-top .navbar-center {
    margin-top: 50px;
  }
}
/* line 542, ../sass/extra.scss */
html, body {
  height: 100%;
  background: #404041;
}

/* line 547, ../sass/extra.scss */
html body .dataTables_wrapper {
  padding: 10px;
  padding-top: 0;
}
/* line 550, ../sass/extra.scss */
html body .dataTables_wrapper label {
  font-weight: normal;
}
/* line 554, ../sass/extra.scss */
html body .dataTables_wrapper table > thead > tr > th.sorting, html body .dataTables_wrapper table > thead > tr > th.sorting_asc, html body .dataTables_wrapper table > thead > tr > th.sorting_desc {
  background-position: center left;
  padding-left: 22px;
}

/* line 562, ../sass/extra.scss */
.content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
  filter: none;
  border: 1px solid #345578;
}

/* line 571, ../sass/extra.scss */
body table > tbody > tr.selected > td {
  background-color: #D2DFDB !important;
  color: #6144ac;
}

/* line 577, ../sass/extra.scss */
.custom-buttons {
  float: left;
  margin-right: 10px;
}

/* .with-shift tbody tr, button { // doesn't show selected highlight -> switch to color
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */
/* line 595, ../sass/extra.scss */
*::-moz-selection {
  background: #fff2a8;
}

/* line 599, ../sass/extra.scss */
.with-shift *::selection {
  background-color: transparent;
}

/* line 603, ../sass/extra.scss */
.with-shift *::-moz-selection {
  background: transparent;
}

/* line 611, ../sass/extra.scss */
#table-items-selected_wrapper {
  border: 1px solid gray;
  margin-bottom: 20px;
  display: none;
}

/* line 620, ../sass/extra.scss */
.warning-duplicate {
  font-size: 0.95em;
  font-style: italic;
}

/* line 625, ../sass/extra.scss */
div.dataTables_length {
  padding-left: 2em;
  padding-top: 0.55em;
}

/* line 630, ../sass/extra.scss */
table thead th {
  white-space: nowrap;
}

/* buttons */
/* line 636, ../sass/extra.scss */
.custom-btn {
  display: inline-block;
  border: 1px solid;
  text-align: center;
}
/* line 640, ../sass/extra.scss */
.custom-btn > span {
  border: 1px solid transparent;
  display: block;
  height: 100%;
}
/* line 645, ../sass/extra.scss */
.custom-btn:hover {
  text-decoration: none;
}

/* Home */
/* line 653, ../sass/extra.scss */
.app-list {
  margin: auto;
  position: relative;
  text-align: center;
  top: 30%;
}
/* line 658, ../sass/extra.scss */
.app-list .custom-btn {
  border-color: white;
  color: white;
  width: 210px;
  font-size: 24px;
}
/* line 663, ../sass/extra.scss */
.app-list .custom-btn span {
  line-height: 40px;
}
/* line 666, ../sass/extra.scss */
.app-list .custom-btn:first-child {
  margin-right: 40px;
}
/* line 670, ../sass/extra.scss */
.app-list .custom-btn:hover span {
  border-color: white;
}

/* line 676, ../sass/extra.scss */
a:focus {
  text-decoration: none;
}

/* line 680, ../sass/extra.scss */
body select, body input {
  color: #404041;
}

/* line 684, ../sass/extra.scss */
table.dataTable tbody tr td:last-child, table.dataTable tbody tr th:last-child {
  padding: 8px 0;
}

/* updated olga */
/* line 690, ../sass/extra.scss */
.navbar {
  text-shadow: none;
}

/* line 697, ../sass/extra.scss */
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li.active > a,
.nav > li:hover > a {
  color: #404041;
  -webkit-transition: color 0 ease 0;
  transition: color 0 ease 0;
  background: white;
}

/* line 703, ../sass/extra.scss */
.dropdown-menu {
  border-radius: 0;
  background-color: white;
}

/* line 710, ../sass/extra.scss */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #d5d5d5;
  color: #404041;
}

/* line 715, ../sass/extra.scss */
.sub-nav {
  color: #404041;
  background: #eeeeee;
  border: 0 none;
}

/* line 720, ../sass/extra.scss */
.sub-nav a {
  color: #404041;
}

/* line 724, ../sass/extra.scss */
body .well {
  border-radius: 0;
  border: 1px solid #404041;
  background: inherit;
}

/* line 730, ../sass/extra.scss */
table.table {
  width: 100%;
  background-color: #404041;
  color: #eeeeee;
}
/* line 735, ../sass/extra.scss */
table.table tbody tr {
  background-color: inherit;
}
/* line 738, ../sass/extra.scss */
table.table tbody a {
  color: white;
}

/* line 745, ../sass/extra.scss */
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: inherit;
}

/* line 750, ../sass/extra.scss */
table.dataTable tbody tr td,
table.dataTable tbody tr th {
  border-top: 1px solid #7f7f81;
}

/* line 755, ../sass/extra.scss */
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid white;
}

/* line 758, ../sass/extra.scss */
table.dataTable tbody tr:hover {
  background-color: #4d4d4e;
}

/* line 761, ../sass/extra.scss */
table.dataTable tbody tr.selected {
  background-color: #eeeeee;
  color: #404041;
}
/* line 764, ../sass/extra.scss */
table.dataTable tbody tr.selected a {
  color: black;
}

/* line 769, ../sass/extra.scss */
body table > tbody > tr.selected > td {
  background-color: inherit !important;
}

/* line 774, ../sass/extra.scss */
td:last-child .summary-expand {
  background-color: #00a551;
}

/* line 780, ../sass/extra.scss */
#table-items-total_filter label {
  color: white;
}
/* line 783, ../sass/extra.scss */
#table-items-total_filter input {
  border: 0 none;
}

/* line 788, ../sass/extra.scss */
body table > tbody > tr.selected > td {
  color: #404041;
}

/* line 795, ../sass/extra.scss */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white;
}

/* line 798, ../sass/extra.scss */
table.dataTable.no-footer {
  border-bottom: 1px solid #eeeeee;
  margin: 2em 0;
  background-color: #404041;
}

/* line 804, ../sass/extra.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: white !important;
}

/* line 808, ../sass/extra.scss */
.content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #404041;
  border-color: white;
}

/* line 813, ../sass/extra.scss */
.content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  border-color: transparent;
}

/* line 818, ../sass/extra.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: white;
  border: transparent;
}

/* line 823, ../sass/extra.scss */
.dataTables_wrapper > .custom-buttons {
  margin-bottom: 1em;
}

/* line 827, ../sass/extra.scss */
.badge {
  border-radius: 0;
}
