/*body { background: url(../img/roughcloth.png);}*/
/* line 5, ../sass/extra.scss */
.container-fluid {
  margin-top: 20px;
}

/* line 6, ../sass/extra.scss */
h1 {
  margin-bottom: 20px;
}

/* Subnav */
/* line 9, ../sass/extra.scss */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee;
  /* Old browsers */
  background-repeat: repeat-x;
  /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, whitesmoke), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* IE10+ */
  background-image: -o-linear-gradient(top, whitesmoke 0%, #eeeeee 100%);
  /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
  /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 26, ../sass/extra.scss */
.subnav .nav {
  margin-bottom: 0;
}

/* line 29, ../sass/extra.scss */
.subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* line 40, ../sass/extra.scss */
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}

/* line 51, ../sass/extra.scss */
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}

/* line 55, ../sass/extra.scss */
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

/* line 62, ../sass/extra.scss */
.subnav .nav > li:last-child > a {
  border-right: 0;
}

/* line 65, ../sass/extra.scss */
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 220px) {
  /* line 73, ../sass/extra.scss */
  .subnav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px;
    /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 white, 0 1px 5px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    /* IE6-9 */
  }

  /* line 89, ../sass/extra.scss */
  .subnav-fixed .nav {
    /*width: 938px; this shouldn't be uncomment*/
    /* It will be misplaced (will not be in the center) */
    margin: 0 auto;
    padding: 0 20px;
  }

  /* line 96, ../sass/extra.scss */
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}
/* line 104, ../sass/extra.scss */
.subnav h2 {
  padding: 9px;
  font-size: 1em;
  line-height: 18px;
  display: none;
}

/* line 105, ../sass/extra.scss */
.subnav-fixed h2 {
  display: block;
}

/* line 107, ../sass/extra.scss */
.account-form {
  float: right;
  margin-top: 2px;
  margin-bottom: 0;
}

/* line 108, ../sass/extra.scss */
.info-block {
  /*margin-top: 30px;*/
  background-color: #fff;
  padding: 0;
}

/* line 110, ../sass/extra.scss */
.info-block h3 .badge {
  font-size: 0.8em;
  padding: 5px 8px;
  background-color: #659CEF;
}

/* line 111, ../sass/extra.scss */
.info-block table {
  margin-bottom: 0;
}

/* line 112, ../sass/extra.scss */
.object-details h5 {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1em;
  color: #d9397e;
}

/* line 113, ../sass/extra.scss */
.object-anchor {
  margin-bottom: 5px;
  height: 15px;
}

/* line 116, ../sass/extra.scss */
.subnav a.deleted {
  color: red !important;
}

/* new styles olga */
/* line 121, ../sass/extra.scss */
h1 a:hover {
  text-decoration: none;
}

/* line 122, ../sass/extra.scss */
.search-query {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* line 123, ../sass/extra.scss */
a {
  color: #659CEF;
}

/* line 124, ../sass/extra.scss */
a:hover {
  color: #2956b2;
}

/* line 126, ../sass/extra.scss */
h3 {
  font-size: 21px;
  cursor: pointer;
  margin: 0 20px;
}

/* line 127, ../sass/extra.scss */
h4 {
  font-size: 18px;
  margin-bottom: 1em;
}

/* line 129, ../sass/extra.scss */
input:focus,
textarea:focus {
  border-color: #659CEF;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
}

/* line 143, ../sass/extra.scss */
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #d5d5d5;
}

/* line 145, ../sass/extra.scss */
.object-details-content {
  margin: 1em 0;
  display: none;
}

/* line 146, ../sass/extra.scss */
.account .object-details-content {
  display: block;
}

/* line 147, ../sass/extra.scss */
.nav-tabs {
  margin: 0;
  border: 0 none;
}

/* line 148, ../sass/extra.scss */
.tab-content .dl-horizontal {
  margin: 0;
}

/* line 150, ../sass/extra.scss */
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: #F5F5F5;
  color: #2956B2;
  font-weight: bold;
}

/* line 151, ../sass/extra.scss */
.nav-tabs > li {
  margin-bottom: -2px;
}

/* line 152, ../sass/extra.scss */
.badge {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 153, ../sass/extra.scss */
.object-details .badge {
  /* margin-right:8px; */
}

/* line 155, ../sass/extra.scss */
.label-success,
.badge-success {
  background-color: #8bba00;
}

/* line 156, ../sass/extra.scss */
.badge-important {
  background-color: #F81A23;
}

/* line 157, ../sass/extra.scss */
.badge-info {
  background-color: #659cef;
}

/* line 158, ../sass/extra.scss */
.show-hide-tabs {
  margin: 2em 0;
}

/* line 159, ../sass/extra.scss */
.show-hide-all {
  float: right;
  /*margin:20px 0;*/
  line-height: 27px;
}

/* line 160, ../sass/extra.scss */
.toggle .badge {
  font-size: 14px;
  padding: 5px 9px;
}

/* line 161, ../sass/extra.scss */
.toggle .badge:hover {
  cursor: pointer;
}

/* line 162, ../sass/extra.scss */
.show-hide-tabs .badge {
  background-color: #8BBA00;
}

/* line 163, ../sass/extra.scss */
.show-hide-tabs .badge:hover {
  background-color: #789b0f;
}

/* line 164, ../sass/extra.scss */
.show-hide-all .badge {
  background-color: #8BBA00;
}

/* line 165, ../sass/extra.scss */
.show-hide-all .badge:hover {
  background-color: #789b0f;
}

/* line 167, ../sass/extra.scss */
.vms h3,
.vms h4 {
  color: #444444;
}

/* line 169, ../sass/extra.scss */
.vms h3:hover,
.vms h4:hover {
  color: #666666;
}

/* line 171, ../sass/extra.scss */
.networks h3,
.networks h4 {
  color: #444444;
}

/* line 173, ../sass/extra.scss */
.networks h3:hover,
.networks h4:hover {
  color: #666666;
}

/* line 175, ../sass/extra.scss */
.account h3,
.account h4 {
  color: #444444;
}

/* line 177, ../sass/extra.scss */
.account h3:hover,
.account h4:hover {
  color: #666666;
}

/* line 178, ../sass/extra.scss */
.object-details {
  padding: 20px;
}

/* line 179, ../sass/extra.scss */
.object-details h4 {
  cursor: pointer;
}

/* line 180, ../sass/extra.scss */
.object-details h4 em {
  float: right;
  font-style: normal;
  font-size: 0.833em;
}

/* line 181, ../sass/extra.scss */
.object-details h4 em img {
  margin: 0 5px;
}

/* line 182, ../sass/extra.scss */
h4 .badge {
  padding: 6px 9px 2px;
  background: url(../img/glyphicons-halflings.png) 160px 43px transparent;
}

/* line 183, ../sass/extra.scss */
h4.expanded .badge {
  background-position: 185px 43px;
}

/* line 184, ../sass/extra.scss */
.row2 {
  background-color: #EDEDED;
}

/* line 186, ../sass/extra.scss */
.row1:hover {
  background-color: #DDD;
}

/* line 187, ../sass/extra.scss */
.row2:hover {
  background-color: #DDD;
}

/* line 189, ../sass/extra.scss */
h4 i {
  margin-top: 4px;
  margin-right: 10px;
}

/* line 190, ../sass/extra.scss */
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  /*max-width:960px;*/
}

/* line 191, ../sass/extra.scss */
h3.info {
  cursor: default;
  color: #2956B2;
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
}

/* line 193, ../sass/extra.scss */
.vm-actions {
  margin-top: 20px;
  text-align: right;
}

/* line 194, ../sass/extra.scss */
.vm-action {
  float: right;
  margin-left: 10px;
}

/* line 195, ../sass/extra.scss */
.vm-action form {
  margin-bottom: 0px;
}

/* line 196, ../sass/extra.scss */
.vm-action.inactive form input {
  background-color: #2956B2;
  color: #ffffff;
}

/* line 197, ../sass/extra.scss */
.vm-action form input {
  background-color: #F81A23;
  color: #ffffff;
}

/* line 199, ../sass/extra.scss */
.table-sorted th:hover {
  color: #2956B2;
  cursor: pointer;
}

/* line 200, ../sass/extra.scss */
.table-sorted th span:not(.badge) {
  padding-right: 20px;
}

/* line 201, ../sass/extra.scss */
.table-sorted th:hover span {
  background: url(../img/arrow-down.png) no-repeat right center;
}

/* line 203, ../sass/extra.scss */
.table-sorted th.headerSortDown span,
.table-sorted th.headerSortDown:hover span {
  background: url(../img/arrow-up.png) no-repeat right center;
}

/* line 206, ../sass/extra.scss */
.table-sorted th.headerSortUp span,
.table-sorted th.headerSortUp:hover span {
  background: url(../img/arrow-down.png) no-repeat right center;
}

/* All checkboxes */
/* line 216, ../sass/extra.scss */
.checkbox {
  margin: 0;
}

/* line 219, ../sass/extra.scss */
.checkbox label {
  margin-bottom: 0;
}

/* Filters */
/* line 227, ../sass/extra.scss */
.btn-toolbar {
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 13px;
  background: #E1EDF3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 240, ../sass/extra.scss */
.btn-toolbar-fixed {
  position: fixed;
  top: 27px;
  z-index: 10;
  width: 960px;
}

/* line 248, ../sass/extra.scss */
.filters {
  margin-left: 200px;
}

/* line 252, ../sass/extra.scss */
.filters .badge {
  margin-left: 6px;
  opacity: 0.9;
  padding: 2px 9px;
}

/* line 258, ../sass/extra.scss */
.filters ul.nav a {
  padding-bottom: 10px;
}

/* line 262, ../sass/extra.scss */
.subnav .nav li.active a {
  color: #2956b2;
}

/* Area that includes all the info and a sidebar */
/* line 269, ../sass/extra.scss */
.info {
  overflow: hidden;
}

/* line 273, ../sass/extra.scss */
.info-fixed {
  overflow: hidden;
  margin-left: 200px;
}

/* Sidebar */
/* line 281, ../sass/extra.scss */
.sidebar {
  margin: 0 30px 0 0;
  width: 150px;
  height: auto;
  float: left;
}
/* line 286, ../sass/extra.scss */
.sidebar .btn-group-vertical {
  width: 100%;
}

/* line 291, ../sass/extra.scss */
.sidebar.sidebar-fixed {
  top: 66px;
  left: auto;
  right: auto;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 170px;
  float: left;
}

/* Table of users */
/* line 306, ../sass/extra.scss */
.table-items span.caret {
  padding-right: 0;
  margin-left: 4px;
  vertical-align: middle;
}

/* line 312, ../sass/extra.scss */
td:last-child {
  max-width: 10px;
  min-width: 10px;
}
/* line 316, ../sass/extra.scss */
td:last-child .summary-expand {
  float: right;
  padding-left: 8px;
  background-color: #b9eeca;
  padding-right: 8px;
}
/* line 321, ../sass/extra.scss */
td:last-child .summary-expand:hover {
  text-decoration: none;
}
/* line 325, ../sass/extra.scss */
td:last-child dl {
  position: relative;
  padding: 8px;
  display: none;
  margin-bottom: 0;
  margin-top: 20px;
  /* dd {
   display: inline-block;
   } */
}

/* line 339, ../sass/extra.scss */
.table-items .headerSortUp span.caret {
  border-top: 0;
  border-bottom: 4px solid;
}

/* a[disabled] {
    color: #999999;
} */
/* line 351, ../sass/extra.scss */
a:not([disabled]):hover {
  cursor: pointer;
}

/* line 356, ../sass/extra.scss */
.modal p {
  position: relative;
}
/* line 360, ../sass/extra.scss */
.modal#contact p {
  margin-top: 18px;
}
/* line 365, ../sass/extra.scss */
.modal h4 {
  font-size: 1.1em;
}
/* line 369, ../sass/extra.scss */
.modal textarea, .modal input {
  width: 496px;
}
/* line 371, ../sass/extra.scss */
.modal textarea.body, .modal input.body {
  min-height: 160px;
}
/* line 376, ../sass/extra.scss */
.modal label {
  float: left;
  margin-right: 6px;
  width: 56px;
}
/* line 382, ../sass/extra.scss */
.modal .modal-header {
  padding: 0 15px;
}
/* line 386, ../sass/extra.scss */
.modal .modal-body {
  background-color: white;
}
/* line 391, ../sass/extra.scss */
.modal .modal-footer {
  margin-top: 0;
}
/* line 393, ../sass/extra.scss */
.modal .modal-footer form {
  display: inline;
}

/* line 400, ../sass/extra.scss */
.account-action.form-btn {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

/* line 406, ../sass/extra.scss */
.buttons {
  list-style: none;
}

/* line 410, ../sass/extra.scss */
.buttons li {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

/* line 416, ../sass/extra.scss */
.filters.subnav-fixed {
  top: 36px;
}

/* line 422, ../sass/extra.scss */
.table-items .login-method {
  padding: 2px 16px 2px 0px;
  text-align: center;
}
/* line 427, ../sass/extra.scss */
.table-items th .badge {
  margin: 0 2px 0 4px;
  display: inline;
  padding-top: 2px;
}
/* line 432, ../sass/extra.scss */
.table-items td {
  padding: 8px 6px 0 6px;
}

/* line 437, ../sass/extra.scss */
.dataTables_length select {
  width: 55px;
  display: inline-block;
  margin-left: 8px;
  margin-left: 8px;
  vertical-align: baseline;
}

/* line 447, ../sass/extra.scss */
#table-items-total_filter input {
  display: inline-block;
  margin-left: 8px;
}

/* line 453, ../sass/extra.scss */
.checkbox-column {
  position: relative;
}

/* line 458, ../sass/extra.scss */
.table-selected tr:hover a {
  color: red;
}
/* line 462, ../sass/extra.scss */
.table-selected .remove {
  border-left-color: transparent;
  text-align: center;
}
/* line 465, ../sass/extra.scss */
.table-selected .remove a {
  text-decoration: none;
  color: transparent;
  display: block;
  width: 100%;
  height: 100%;
}

/* line 476, ../sass/extra.scss */
.positive.area {
  background-color: #dff0d8;
}
/* line 479, ../sass/extra.scss */
.positive.elem {
  color: #3c763d;
}

/* line 485, ../sass/extra.scss */
.dangerous.area {
  background-color: red;
}
/* line 488, ../sass/extra.scss */
.dangerous.elem {
  color: red;
}

/* line 494, ../sass/extra.scss */
.neutral.area {
  background-color: rgba(121, 176, 236, 0.78);
}
/* line 497, ../sass/extra.scss */
.neutral.elem {
  color: blue;
}

/* line 503, ../sass/extra.scss */
.caution.area {
  background-color: yellow;
}
/* line 506, ../sass/extra.scss */
.caution.elem {
  color: yellow;
}

/* line 512, ../sass/extra.scss */
.modal em {
  font-weight: bold;
  font-style: normal;
}

/* line 520, ../sass/extra.scss */
body .object-details:not(.vm-details) h4 em {
  float: none;
}

/* line 524, ../sass/extra.scss */
.container-demo, .chart {
  height: 400px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid cyan;
  padding-top: 20px;
}

/* line 532, ../sass/extra.scss */
svg > text:last-child {
  display: none;
}

/* line 536, ../sass/extra.scss */
.navbar-center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 900px;
  float: none;
  text-align: center;
}
/* line 543, ../sass/extra.scss */
.navbar-center > li {
  display: inline-block;
  float: none;
}

/* line 549, ../sass/extra.scss */
.navbar-sides {
  position: fixed;
  width: 100%;
  top: 0;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 557, ../sass/extra.scss */
.dropdown .arrow {
  margin-left: 6px;
  vertical-align: middle;
}

/* line 562, ../sass/extra.scss */
.nav-main .dropdown-menu {
  min-width: 200px;
}
/* line 564, ../sass/extra.scss */
.nav-main .dropdown-menu a {
  text-align: left;
}
/* line 567, ../sass/extra.scss */
.nav-main .dropdown-menu .align-1, .nav-main .dropdown-menu .align-2 {
  padding-left: 11px;
}

/* line 572, ../sass/extra.scss */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

/* line 576, ../sass/extra.scss */
.navbar-header {
  margin-right: 6px;
  float: left;
  padding: 12px 15px;
  height: 46px;
  position: relative;
  top: 2px;
  border: 1px solid white;
  border-radius: 10px;
}

/* line 591, ../sass/extra.scss */
.navbar * {
  letter-spacing: -0.5px;
}

/* line 595, ../sass/extra.scss */
.error-sign {
  color: red;
  font-size: 20px;
  margin-left: 10px;
  position: absolute;
  right: 8px;
  top: 2px;
  display: none;
}
/* line 603, ../sass/extra.scss */
.error-sign:hover {
  color: red;
  text-decoration: none;
}

/* line 610, ../sass/extra.scss */
.form-area {
  position: relative;
}

/* line 613, ../sass/extra.scss */
.form-subject {
  margin-bottom: 15px;
}

/* line 617, ../sass/extra.scss */
.toggle-more {
  margin-top: -16px;
  display: none;
}

/* line 624, ../sass/extra.scss */
.hidden-row {
  display: none;
}

/* line 628, ../sass/extra.scss */
.main-content {
  min-height: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
}

/* line 643, ../sass/extra.scss */
.extra-btn {
  width: 100%;
  margin-bottom: 40px;
}

/* line 648, ../sass/extra.scss */
body {
  /* Fallback for web browsers that don't support RGBa */
  /* RGBa with 0.6 opacity */
  background-color: rgba(62, 117, 153, 0.2);
  color: #3D3D3D;
}
/* line 657, ../sass/extra.scss */
body .well {
  border-color: #AFC6D6;
  background-color: white;
}
/* line 661, ../sass/extra.scss */
body a {
  color: #13499b;
}

/* line 666, ../sass/extra.scss */
.nav > li > a {
  padding-right: 12px;
  padding-left: 12px;
}

/* line 671, ../sass/extra.scss */
.object-details h4 .label {
  font-style: normal;
  font-weight: normal;
  float: right;
  margin-left: 6px;
}

/* line 679, ../sass/extra.scss */
.main h4 em {
  font-size: 21px;
  cursor: pointer;
  margin-left: 20px;
}

/* line 686, ../sass/extra.scss */
.object-details p {
  margin: 10px 20px;
  font-style: italic;
}
/* line 690, ../sass/extra.scss */
.object-details .length {
  margin-left: 6px;
}
/* line 693, ../sass/extra.scss */
.object-details > .object-details {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 699, ../sass/extra.scss */
.object-details-content .nav-tabs > li.active > a {
  border-color: #AFC6D6;
  border-bottom-color: transparent;
}

/* Landscape phone to portrait tablet */
@media (max-width: 1300px) {
  /* line 707, ../sass/extra.scss */
  .navbar-fixed-top .navbar-center {
    margin-top: 50px;
  }
}
/* line 712, ../sass/extra.scss */
html, body {
  height: 100%;
}

/* line 716, ../sass/extra.scss */
html body .dataTables_wrapper {
  padding: 10px;
}
/* line 718, ../sass/extra.scss */
html body .dataTables_wrapper label {
  font-weight: normal;
}
/* line 722, ../sass/extra.scss */
html body .dataTables_wrapper table > thead > tr > th.sorting, html body .dataTables_wrapper table > thead > tr > th.sorting_asc, html body .dataTables_wrapper table > thead > tr > th.sorting_desc {
  background-position: center left;
  padding-left: 22px;
}

/* line 730, ../sass/extra.scss */
.main-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
  filter: none;
  border: 1px solid #345578;
}

/* line 739, ../sass/extra.scss */
body table > tbody > tr.selected:not(.with-shift) > td {
  background-color: #D2DFDB !important;
  color: #6144ac;
}

/* line 745, ../sass/extra.scss */
.custom-buttons {
  float: left;
  margin-right: 10px;
}

/* line 750, ../sass/extra.scss */
tr, button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
