@font-face {
  font-family: 'font-icons';
  src: url("../fonts/font-icons.eot?hm0cup");
  src: url("../fonts/font-icons.eot?#iefixhm0cup") format("embedded-opentype"), url("../fonts/font-icons.woff?hm0cup") format("woff"), url("../fonts/font-icons.ttf?hm0cup") format("truetype"), url("../fonts/font-icons.svg?hm0cup#font-icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Font with kpal icons */
@font-face {
  font-family: "snf-font";
  src: url("../fonts/snf-font.eot");
  src: url("../fonts/snf-font.eot?#iefix") format("embedded-opentype"), url("../fonts/snf-font.woff") format("woff"), url("../fonts/snf-font.ttf") format("truetype"), url("../fonts/snf-font.svg#snf-font") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 47, ../sass/icon-fonts.scss */
.snf-ok {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-ok:before {
    content: "\61"; }

/* line 50, ../sass/icon-fonts.scss */
.snf-remove {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-remove:before {
    content: "\62"; }

/* line 53, ../sass/icon-fonts.scss */
.snf-envelope {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-envelope:before {
    content: "\63"; }

/* line 56, ../sass/icon-fonts.scss */
.snf-envelope-alt {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-envelope-alt:before {
    content: "\64"; }

/* line 59, ../sass/icon-fonts.scss */
.snf-angle-up {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-angle-up:before {
    content: "\65"; }

/* line 62, ../sass/icon-fonts.scss */
.snf-angle-down {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-angle-down:before {
    content: "\66"; }

/* line 65, ../sass/icon-fonts.scss */
.snf-exclamation-sign {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-exclamation-sign:before {
    content: "\67"; }

/* line 68, ../sass/icon-fonts.scss */
.snf-clipboard-h {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-clipboard-h:before {
    content: "\68"; }

/* line 71, ../sass/icon-fonts.scss */
.snf-clipboard-i {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-clipboard-i:before {
    content: "\69"; }

/* line 74, ../sass/icon-fonts.scss */
.snf-copy {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-copy:before {
    content: "\6c"; }

/* line 77, ../sass/icon-fonts.scss */
.snf-search {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-search:before {
    content: "\6d"; }

/* line 80, ../sass/icon-fonts.scss */
.snf-sign-out {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-sign-out:before {
    content: "\6e"; }

/* line 83, ../sass/icon-fonts.scss */
.snf-archive {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-archive:before {
    content: "\6b"; }

/* line 86, ../sass/icon-fonts.scss */
.snf-checkbox-checked {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-checkbox-checked:before {
    content: "\6f"; }

/* line 89, ../sass/icon-fonts.scss */
.snf-checkbox-unchecked {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-checkbox-unchecked:before {
    content: "\70"; }

/* line 92, ../sass/icon-fonts.scss */
.snf-radio-checked {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-radio-checked:before {
    content: "\71"; }

/* line 95, ../sass/icon-fonts.scss */
.snf-radio-unchecked {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-radio-unchecked:before {
    content: "\72"; }

/* line 98, ../sass/icon-fonts.scss */
.snf-info {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-info:before {
    content: "\73"; }

/* line 101, ../sass/icon-fonts.scss */
.snf-user-outline {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-user-outline:before {
    content: "\75"; }

/* line 104, ../sass/icon-fonts.scss */
.snf-user-full {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-user-full:before {
    content: "\74"; }

/* line 107, ../sass/icon-fonts.scss */
.snf-wallet-full {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-wallet-full:before {
    content: "\78"; }

/* line 110, ../sass/icon-fonts.scss */
.snf-wallet-outline {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-wallet-outline:before {
    content: "\79"; }

/* line 113, ../sass/icon-fonts.scss */
.snf-keyboard {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-keyboard:before {
    content: "\7a"; }

/* line 116, ../sass/icon-fonts.scss */
.snf-book-2 {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-book-2:before {
    content: "\42"; }

/* line 119, ../sass/icon-fonts.scss */
.snf-bell-1 {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-bell-1:before {
    content: "\43"; }

/* line 122, ../sass/icon-fonts.scss */
.snf-bulb {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-bulb:before {
    content: "\46"; }

/* line 125, ../sass/icon-fonts.scss */
.snf-sun-1 {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-sun-1:before {
    content: "\47"; }

/* line 128, ../sass/icon-fonts.scss */
.snf-moon-1 {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-moon-1:before {
    content: "\76"; }

/* line 131, ../sass/icon-fonts.scss */
.snf-sun-2-full {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-sun-2-full:before {
    content: "\77"; }

/* line 134, ../sass/icon-fonts.scss */
.snf-sun-2-outline {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-sun-2-outline:before {
    content: "\6a"; }

/* line 137, ../sass/icon-fonts.scss */
.snf-moon-2-full:before {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-moon-2-full:before:before {
    content: "\44"; }

/* line 140, ../sass/icon-fonts.scss */
.snf-moon-2-outline {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-moon-2-outline:before {
    content: "\45"; }

/* line 143, ../sass/icon-fonts.scss */
.snf-sun-3 {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-sun-3:before {
    content: "\41"; }

/* line 146, ../sass/icon-fonts.scss */
.snf-filter {
  font-family: "font-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-filter:before {
    content: "\7b"; }

/* line 149, ../sass/icon-fonts.scss */
.snf-eye {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-eye:before {
    content: "\41"; }

/* line 152, ../sass/icon-fonts.scss */
.snf-radio-checked {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-radio-checked:before {
    content: "\42"; }

/* line 155, ../sass/icon-fonts.scss */
.snf-radio-unchecked {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-radio-unchecked:before {
    content: "\43"; }

/* line 158, ../sass/icon-fonts.scss */
.snf-close {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-close:before {
    content: "\44"; }

/* line 161, ../sass/icon-fonts.scss */
.snf-www {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-www:before {
    content: "\49"; }

/* line 164, ../sass/icon-fonts.scss */
.snf-arrow-up {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-arrow-up:before {
    content: "\4c"; }

/* line 167, ../sass/icon-fonts.scss */
.snf-arrow-down {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-arrow-down:before {
    content: "\4d"; }

/* line 170, ../sass/icon-fonts.scss */
.snf-checkbox-unchecked {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-checkbox-unchecked:before {
    content: "\61"; }

/* line 173, ../sass/icon-fonts.scss */
.snf-checkbox-checked {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-checkbox-checked:before {
    content: "\62"; }

/* line 176, ../sass/icon-fonts.scss */
.snf-cancel-circled {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-cancel-circled:before {
    content: "\63"; }

/* line 179, ../sass/icon-fonts.scss */
.snf-search {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-search:before {
    content: "\64"; }

/* line 182, ../sass/icon-fonts.scss */
.snf-twitter-logo {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-twitter-logo:before {
    content: "\67"; }

/* line 185, ../sass/icon-fonts.scss */
.snf-ok {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-ok:before {
    content: "\68"; }

/* line 188, ../sass/icon-fonts.scss */
.snf-switch {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-switch:before {
    content: "\69"; }

/* line 191, ../sass/icon-fonts.scss */
.snf-ban-circle {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-ban-circle:before {
    content: "\6a"; }

/* line 194, ../sass/icon-fonts.scss */
.snf-ok-sign {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-ok-sign:before {
    content: "\6c"; }

/* line 197, ../sass/icon-fonts.scss */
.snf-minus-sign {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-minus-sign:before {
    content: "\6e"; }

/* line 200, ../sass/icon-fonts.scss */
.snf-edit {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-edit:before {
    content: "\71"; }

/* line 203, ../sass/icon-fonts.scss */
.snf-listview {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-listview:before {
    content: "\73"; }

/* line 206, ../sass/icon-fonts.scss */
.snf-gridview {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-gridview:before {
    content: "\74"; }

/* line 209, ../sass/icon-fonts.scss */
.snf-dashboard-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-dashboard-outline:before {
    content: "\7a"; }

/* line 212, ../sass/icon-fonts.scss */
.snf-pithos-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pithos-outline:before {
    content: "\79"; }

/* line 215, ../sass/icon-fonts.scss */
.snf-info-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-info-full:before {
    content: "\70"; }

/* line 218, ../sass/icon-fonts.scss */
.snf-volume-create-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-volume-create-full:before {
    content: "\36"; }

/* line 221, ../sass/icon-fonts.scss */
.snf-image-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-image-full:before {
    content: "\51"; }

/* line 224, ../sass/icon-fonts.scss */
.snf-pc-create-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-create-full:before {
    content: "\53"; }

/* line 227, ../sass/icon-fonts.scss */
.snf-network-create-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-create-outline:before {
    content: "\54"; }

/* line 230, ../sass/icon-fonts.scss */
.snf-network-create-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-create-full:before {
    content: "\55"; }

/* line 233, ../sass/icon-fonts.scss */
.snf-ram-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-ram-outline:before {
    content: "\4a"; }

/* line 236, ../sass/icon-fonts.scss */
.snf-nic-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-nic-outline:before {
    content: "\50"; }

/* line 239, ../sass/icon-fonts.scss */
.snf-ram-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-ram-full:before {
    content: "\52"; }

/* line 242, ../sass/icon-fonts.scss */
.snf-nic-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-nic-full:before {
    content: "\72"; }

/* line 245, ../sass/icon-fonts.scss */
.snf-network-broken-1-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-broken-1-full:before {
    content: "\56"; }

/* line 248, ../sass/icon-fonts.scss */
.snf-network-broken-2-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-broken-2-full:before {
    content: "\57"; }

/* line 251, ../sass/icon-fonts.scss */
.snf-pc-broken-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-broken-full:before {
    content: "\58"; }

/* line 254, ../sass/icon-fonts.scss */
.snf-pc-reboot-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-reboot-full:before {
    content: "\59"; }

/* line 257, ../sass/icon-fonts.scss */
.snf-pc-switch-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-switch-full:before {
    content: "\5a"; }

/* line 260, ../sass/icon-fonts.scss */
.snf-key-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-key-full:before {
    content: "\31"; }

/* line 263, ../sass/icon-fonts.scss */
.snf-router-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-router-full:before {
    content: "\32"; }

/* line 266, ../sass/icon-fonts.scss */
.snf-chip-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-chip-full:before {
    content: "\33"; }

/* line 269, ../sass/icon-fonts.scss */
.snf-plus-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-plus-full:before {
    content: "\34"; }

/* line 272, ../sass/icon-fonts.scss */
.snf-snapshot-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-snapshot-full:before {
    content: "\4e"; }

/* line 275, ../sass/icon-fonts.scss */
.snf-pithos-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pithos-full:before {
    content: "\35"; }

/* line 278, ../sass/icon-fonts.scss */
.snf-volume-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-volume-full:before {
    content: "\4f"; }

/* line 281, ../sass/icon-fonts.scss */
.snf-network-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-full:before {
    content: "\4b"; }

/* line 284, ../sass/icon-fonts.scss */
.snf-pc-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-full:before {
    content: "\78"; }

/* line 287, ../sass/icon-fonts.scss */
.snf-network-broken-1-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-broken-1-outline:before {
    content: "\37"; }

/* line 290, ../sass/icon-fonts.scss */
.snf-network-broken-2-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-broken-2-outline:before {
    content: "\38"; }

/* line 293, ../sass/icon-fonts.scss */
.snf-pc-broken-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-broken-outline:before {
    content: "\39"; }

/* line 296, ../sass/icon-fonts.scss */
.snf-volume-broken-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-volume-broken-outline:before {
    content: "\30"; }

/* line 299, ../sass/icon-fonts.scss */
.snf-pc-reboot-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-reboot-outline:before {
    content: "\21"; }

/* line 302, ../sass/icon-fonts.scss */
.snf-pc-switch-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-switch-outline:before {
    content: "\40"; }

/* line 305, ../sass/icon-fonts.scss */
.snf-key-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-key-outline:before {
    content: "\23"; }

/* line 308, ../sass/icon-fonts.scss */
.snf-router-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-router-outline:before {
    content: "\48"; }

/* line 311, ../sass/icon-fonts.scss */
.snf-chip-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-chip-outline:before {
    content: "\45"; }

/* line 314, ../sass/icon-fonts.scss */
.snf-image-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-image-outline:before {
    content: "\66"; }

/* line 317, ../sass/icon-fonts.scss */
.snf-plus-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-plus-outline:before {
    content: "\6d"; }

/* line 320, ../sass/icon-fonts.scss */
.snf-snapshot-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-snapshot-outline:before {
    content: "\65"; }

/* line 323, ../sass/icon-fonts.scss */
.snf-volume-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-volume-outline:before {
    content: "\75"; }

/* line 326, ../sass/icon-fonts.scss */
.snf-network-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-network-outline:before {
    content: "\76"; }

/* line 329, ../sass/icon-fonts.scss */
.snf-pc-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-pc-outline:before {
    content: "\77"; }

/* line 332, ../sass/icon-fonts.scss */
.snf-info-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-info-outline:before {
    content: "\6f"; }

/* line 335, ../sass/icon-fonts.scss */
.snf-thunder-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-thunder-full:before {
    content: "\6b"; }

/* line 338, ../sass/icon-fonts.scss */
.snf-lock-closed-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-lock-closed-full:before {
    content: "\46"; }

/* line 341, ../sass/icon-fonts.scss */
.snf-lock-open-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-lock-open-full:before {
    content: "\47"; }

/* line 345, ../sass/icon-fonts.scss */
.snf-link-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-link-outline:before {
    content: "\26"; }

/* line 348, ../sass/icon-fonts.scss */
.snf-refresh-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-refresh-outline:before {
    content: "\29"; }

/* line 351, ../sass/icon-fonts.scss */
.snf-download-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-download-full:before {
    content: "\25"; }

/* line 354, ../sass/icon-fonts.scss */
.snf-person-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-person-outline:before {
    content: "\2a"; }

/* line 357, ../sass/icon-fonts.scss */
.snf-upload-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-upload-full:before {
    content: "\28"; }

/* line 360, ../sass/icon-fonts.scss */
.snf-arrow-right-small-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-arrow-right-small-full:before {
    content: "\2d"; }

/* line 363, ../sass/icon-fonts.scss */
.snf-copy-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-copy-outline:before {
    content: "\3f"; }

/* line 366, ../sass/icon-fonts.scss */
.snf-copy-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-copy-full:before {
    content: "\22"; }

/* line 369, ../sass/icon-fonts.scss */
.snf-arrow-left-small-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-arrow-left-small-full:before {
    content: "\5f"; }

/* line 372, ../sass/icon-fonts.scss */
.snf-trash-full {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-trash-full:before {
    content: "\3d"; }

/* line 375, ../sass/icon-fonts.scss */
.snf-trash-outline {
  font-family: "snf-font";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  /* line 41, ../sass/icon-fonts.scss */
  .snf-trash-outline:before {
    content: "\24"; }
