/* All checkboxes */

.messages .checkbox {
	margin: 0;
}
.messages .checkbox label {
	margin-bottom: 0;
}


/* Top subnavs ul */

.messages .subnav:not(.sidebar) .nav {
	width: 960px;
}


/* Filters */

.filters li .badge {
	margin-left: 10px;
	opacity: 0.9;
	padding: 2px 9px;
}


.subnav .nav.filters li:last-child {
	float: right;
}
.subnav .nav.filters a {
	padding-bottom: 10px;
}

.subnav .nav.filters a.current {
	color: rgb(41, 86, 178);

/*rgba(240,240,240,1) 73%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 26%, rgba(240,240,240,1) 73%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 26%, rgba(240,240,240,1) 73%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(230,230,230,1) 0%, rgba(230,230,230,1) 26%, rgba(240,240,240,1) 73%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0 );
*/
background: rgba(212,226,237,1);
background: -moz-linear-gradient(top, rgba(212,226,237,1) 0%, rgba(248,250,252,0.98) 88%, rgba(248,250,252,0.98) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,226,237,1)), color-stop(88%, rgba(248,250,252,0.98)), color-stop(100%, rgba(248,250,252,0.98)));
background: -webkit-linear-gradient(top, rgba(212,226,237,1) 0%, rgba(248,250,252,0.98) 88%, rgba(248,250,252,0.98) 100%);
background: -o-linear-gradient(top, rgba(212,226,237,1) 0%, rgba(248,250,252,0.98) 88%, rgba(248,250,252,0.98) 100%);
background: -ms-linear-gradient(top, rgba(212,226,237,1) 0%, rgba(248,250,252,0.98) 88%, rgba(248,250,252,0.98) 100%);
background: linear-gradient(to bottom, rgba(212,226,237,1) 0%, rgba(248,250,252,0.98) 88%, rgba(248,250,252,0.98) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e2ed', endColorstr='#f8fafc', GradientType=0 );
}


/* Area that includes all the info and a sidebar */

.info {
	overflow: hidden;
}

.info-fixed {
	overflow: hidden;
	margin-left: 200px;
}


/* Sidebar */

.sidebar.subnav {
	margin: 30px 30px 0 0;
	width: 170px;
	height: auto;
	float: left;
}

.sidebar.subnav-fixed {
	top: 30px;
	left: auto;
	right: auto;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.messages .sidebar ul {
	list-style: none;
	padding-left: 0;
}

.sidebar ul li {
	float: none;
}

.messages .sidebar ul li a {
	border: none;
}

/* Table of users */

.table-users span.caret {
	display: none;  /* when sorting is ok delete this line */
	padding-right: 0;
	margin-left: 8px;
	vertical-align: middle;
}

.table-users .headerSortUp span.caret {
	border-top: 0;
	border-bottom: 4px solid;
}

.table-users tbody tr.selected td{
	background-color: rgb(235, 233, 233);
}

/* Modals */

body .modal.fade.in {
	top:40%;
}