.box-round-mid {
     -moz-border-radius: 12px; 
  -webkit-border-radius: 12px; 
          border-radius: 12px; 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}

.box-shadow-mid {

     -moz-box-shadow: 0px 0px 2px #888; 
  -webkit-box-shadow: 0px 0px 2px #888; 
          box-shadow: 0px 0px 2px #888; 
}

.text-shadow-mid {
     text-shadow: 1px 1px 3px #888; 
}
