/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.footer a {
    color: #74AEC9;
    text-decoration: underline;
}

.footer a:hover {
    color: #4085A5;
}

body {
    background-image: url("../images/bg.png");
    background-repeat: repeat-x;
    font-size: 13px;
    font-family: verdana;
    background-position: 0px -70px;
}

body.alt {
    background-image: url("../images/bg-alt.png");
}

.container {
    width: 870px;
    margin: 0 auto;
    margin-top: 30px;
}

.inner {
    margin-top: 2.5em;
    background-image: url("../images/bg-inner.png");
    width: 100%;
}

.inner .left {
    position: relative;
    width: 180px;
    float:left;
}

.inner .left ul {
    margin-top: 90px;
    color: #4085A5;
    left: -16px;
    padding-top: 40px;
    padding-right: 10px;
}

.inner .left ul li {
    font-size: 1.8em;
    margin-bottom: 0.2em;
    position: relative;
}

.inner .left ul li a.page-link {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 10px;
    padding-left: 36px;
}

.inner .left ul li a.page-link:hover, .inner .left ul li.selected a.page-link {
    text-shadow: none;
    color: #fff;
    background-color: #74AEC9;
    border-left: 0px solid #92C1D7;
    padding-left: 36px;
}

.inner .left ul li .close-button:hover {
    background-color: #99C9E0;
}

.inner .left ul li .close-button {
    display: block;
    position: absolute;
    left: -30px;
    top: 0px;
    font-size: 0.7em;
    border:none;
    background: transparent;
    padding:0;
    padding-top: 13px;
    padding-left: 9px;
    margin:0px;
    text-decoration: none;
    color: #fff;
    width: 21px;
    height: 30px;
    font-weight: bold;
    display: block;
    visibility: hidden;
}

.inner .left ul li.current a.page-link {
    color: #fff;
    background-color: #74AEC9;
    border-left: 30px solid #92C1D7;
    padding-left: 36px;
    margin-left: -30px;
}

.inner .video-cont, .inner .page-cont {
    width: 690px;
    float: right;
}

.inner .cols {
    position: relative;
}

.page {
    display: block;
    top: 0;
}

.page-wrapper {
    position: relative;
}

.page.text {
    margin-left: 27px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.page.text h2 {
    font-size: 1.9em;
    color: #4085A5;
    margin-bottom: 1.2em;
}

.page.text h2 em {
    color: #FCFDFE;
}

.page.text a {
    color: #213D4A;
}

.page.text p em {
    color: #4C6A78;
    /*font-weight: bold;*/
}

.page.text h3 {
    font-size: 1.2em;
    color: #4394B9;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

.page.text h4 {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.3em;
}

.page.text p {
    color: #213D4A;
    font-size: 1.1em;
    margin-bottom: 1em;
    text-align: justify;
    line-height: 1.4em;
}

.inner .video {
    width: 640px;
    height: 360px;
    background-color: #4085A5;
    margin: 20px;
    margin-left: 27px;
    margin-bottom: 20px;
    margin-top: 20px;
    /*border: 1px solid #4085A5;*/
}

.logo {
    text-align: center;
}

.logo img {
    margin-left: 75px;
}

.inner-bottom {
    width: 100%;
}

.inner-bottom .testuser {
    display: none;
    background: #000;
    margin-right: 40px;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.gotoapp {  
    display: block;
    padding: 0.7em 5em;
    color: #fff;
    font-size: 1.2em;
    background-color: #FF7F2A;
    cursor: pointer;
    margin-right: -20px;
}

.gotoapp:hover {
    background-color: #FF9955;
}

.page.text {
    margin-right: 20px;
    margin-top: 20px;
}

.inner-bottom.in-page .testuser {
    margin-right: 60px;
}

.gotoapp {
    color: #fff;
    text-decoration: none;
}

.banner-coming {
    position: absolute;
    left: 0px;
    top: 0px;
}

.footer {
    text-align: center;
    margin: 0 auto;
    width: 870px;
    margin: 2em auto;
}

.footer .links {
    color: #4085A5;
    margin-bottom: 1em;
}

.footer .links li {
    display: inline;
    margin-right: 1em;
    padding-right:  1em;
    border-right: 1px solid #4085A5;
}

.footer .links li a {
    color: inherit;
    text-decoration: none;
}

.footer .links li.last {
    margin-right:0;
    padding-right:0;
    border: none;
}

.footer .bottom-text {
    color: #74AEC9;
}

/*style 2*/
body.style2 .page.text {
    background-color: #7DB3CC;
    padding-left: 20px;
}

body.style2 .page.text p, body.style2 .page.text h2 {
    color: #fff;
}
