<form action="{% url astakos.im.views.target.local.login %}" method="post"class="login innerlabels">{% csrf_token %}
    <p>
    {{ provider.get_primary_login_prompt_display }}
    </p>
    {% with login_form as form %}
        {% include "im/form_render.html" %}
    {% endwith %}
    <input type="hidden" name="next" value="{{ next }}">
    
    {% if key %}
        <input type="hidden" name="key" value="{{key}}">
    {% else %}
        {% if request.GET.key %}
            <input type="hidden" name="key" value="{{request.GET.key}}">
        {% endif %}
    {% endif %}
    
    <div class="form-row submit clearfix">
        <input type="submit" class="submit altcol" value="SUBMIT" />
        <a class="extra-link" href="{% url astakos.im.views.target.local.password_reset %}">Forgot your password?</a>
    </div>
</form>
