<form action="{% url astakos.im.target.local.login %}#other-login-methods" method="post" 
  class="login-form login innerlabels">{% csrf_token %}
  <p>if you already have a username and password</p>
  <Br />
  <div class="login-form" style="display:block">
    {% with login_form as form %}
        {% include "im/form_render.html" %}
    {% endwith %}
    <input type="hidden" name="next" value="{{ next }}">
    
    {% if key %}
        <input type="hidden" name="key" value="{{key}}">
    {% else %}
        {% if request.GET.key %}
            <input type="hidden" name="key" value="{{request.GET.key}}">
        {% endif %}
    {% endif %}
    
    <div class="form-row submit clearfix">
        <input type="submit" class="submit altcol" value="SUBMIT" />
        <a class="extra-link" href="{% url django.contrib.auth.views.password_reset %}">Forgot your password?</a>
      </div>
    </div>
  </form>
