<!doctype html>
<html> 
<head> 
    <title>~okeanos</title> 
    <link rel="stylesheet" type="text/css" href="/static/main.css"/> 
    <!--[if lte IE 7]><style type="text/css" media="all">@import url(/static/ie.css);</style><![endif]--> 
</head>
<body class="error_body error_500"> 
    <div id="container"> 
        <div id='header'> 
            <div class="header-logo"> 
                <a href="/">
                    <img src="/static/okeanos-logo-alpha.png" alt="~okeanos"/> 
                </a> 
            </div> 
        </div> 
        <div id="content"> 
            <div id="wrapper"> 
                <div id="emptymachineslist" style="display:block" class="clearfix error_page"> 
                    <h1><span class="msg_header">Oops!</span></h1>
                    <div class="error_content">
                        <p class="error_desc">
                        Something went terribly wrong :-( <br />
                        The page you requested cannot be displayed.<br />
                        We're sorry, that's embarrassing...<br />
                        <br />
                        One of these might help:<br />
                        </p>
                        <div class="links">
                            <a href="/">Home</a>
                            <a href="mailto:support@okeanos.grnet.gr">Contact</a>
                        </div>
                    </div>
                    <div class="http_error"><span class="msg">internal error</span><span class="code">500</span></div>
                </div>
            </div> 
        </div> 
    </div>
</body>
</html>
