<!doctype html>
<html>

{% load i18n %}
<head>
    <title>~okeanos</title>

    <!--<meta http-equiv="X-UA-Compatible" content="IE=7">-->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,greek" rel="stylesheet" type="text/css" >
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,greek' rel='stylesheet' type='text/css'>

    {% comment %}
    <script type="text/javascript" src="{% url javascript_catalog %}"></script> 
    {% endcomment %}

    <link rel="stylesheet" type="text/css" href="static/main.css"/>
    <!--[if IE]>
        <style type="text/css" media="all">@import url(static/ie.css);</style>
    <![endif]-->

    <script src="static/snf/js/lib/jquery.js"></script>
    <script src="static/snf/js/lib/jquery.cookie.js"></script>
    <script src="static/snf/js/lib/jquery.client.js"></script>
    <script src="static/snf/js/lib/jquery.tools.min.js"></script>
    <script src="static/snf/js/lib/jquery.dataTables.min.js"></script>
    <script src="static/snf/js/lib/ZeroClipboard.js"></script>


    <script src="static/snf/js/lib/underscore.js"></script>
    <script src="static/snf/js/lib/underscore.string.js"></script>
    <script src="static/snf/js/lib/backbone.js"></script>
    <script src="static/snf/js/lib/json2.js"></script>
    <script src="static/snf/js/lib/stacktrace.js"></script>

    <!--[if (gte IE 6)&(lte IE 7)]>
        <script src="static/snf/js/lib/selectivizr.js"></script>
    <! [endif] -->

    <!--[if IE]>
        <script src="static/snf/js/ui/ie_fixes.js"></script>
    <![endif]-->
    
    <script src="static/snf/js/utils.js"></script>
    <script src="static/snf/js/sync.js"></script>
    <script src="static/snf/js/models.js"></script>
    <script src="static/snf/js/views.js"></script>

    <script src="static/snf/js/ui/web/ui_vms_base_view.js"></script>
    <script src="static/snf/js/ui/web/ui_error_view.js"></script>
    <script src="static/snf/js/ui/web/ui_icon_view.js"></script>
    <script src="static/snf/js/ui/web/ui_single_view.js"></script>
    <script src="static/snf/js/ui/web/ui_list_view.js"></script>
    <script src="static/snf/js/ui/web/ui_networks_view.js"></script>
    <script src="static/snf/js/ui/web/ui_main_view.js"></script>
    <script src="static/snf/js/ui/web/ui_metadata_view.js"></script>
    <script src="static/snf/js/ui/web/ui_feedback_view.js"></script>
    <script src="static/snf/js/ui/web/ui_create_view.js"></script>
    <script src="static/snf/js/ui/web/ui_connect_view.js"></script>

    <!-- the following views require refactor -->
    <script src="static/invitations.js"></script>
    <script src="static/synnefo.js"></script>

    {% if DEBUG %}
        <script src="static/snf/js/tests/jquery.profile.js"></script>
        <script src="static/snf/js/tests/functional.js"></script>
    {% endif %}
    
    <script>
        // empty object for console to avoid errors in browsers that don't support it
        if (!window.console) {window.console = {}; window.console.log = window.console.info = window.console.debug =
            window.console.error = function() {}};
        
        // initialize zero clipboard
        ZeroClipboard.setMoviePath( 'static/snf/js/lib/ZeroClipboard.swf' );

        //populate available image icons array
        var os_icons = {{image_icons|safe}};
        
        // timeout value from settings.py
        var TIMEOUT = {{ timeout }};
        var TIMEOUTS_OCCURED = 0;
        var SKIP_TIMEOUTS = 1;
        var UPDATE_INTERVAL = {{ update_interval }};
        var LOGOUT_REDIRECT = '{{ logout_redirect }}';
        var INVITATIONS_URL = "{% url invitations %}";
        var INVITATIONS_TITLE = "{% trans "Invite people" %}";
        var APP_DEBUG = {% if DEBUG %}true{% else %}false{% endif %};
        var FEEDBACK_URL = "{% url feedback %}";
        var FEEDBACK_TITLE = "{% trans "Send feedback" %}";
        var API_OVERLAY_TITLE = "{% trans "API access" %}";
        var API_OVERLAY_SUBCONTENT = "{% trans "The API key provides full access to your <em>~okeanos</em> account, so always keep it private." %}";

        STATE_TEXTS = {
            'UNKNOWN': '{% trans "Unknown" %}',
            'BUILD':  '{% trans "Building..." %}',
            'FIREWALL':  '{% trans "Firewall change..." %}',
            'REBOOT': '{% trans "Rebooting..." %}',
            'STOPPED':'{% trans "Stopped" %}',
            'ACTIVE': '{% trans "Running" %}',
            'ERROR':  '{% trans "Error" %}',
            'DELETE': '',
            'DESTROY': '{% trans "Destroying..." %}',
            'BUILD_INIT':  '{% trans "Building..." %}',
            'BUILD_COPY':  '{% trans "Building..." %}',
            'BUILD_FINAL':  '{% trans "Building..." %}',
            'SHUTDOWN': '{% trans "Shutting down..." %}',
            'START': '{% trans "Starting..." %}',
            'CONNECT': '{% trans "Connecting..." %}',
            'DISCONNECT': '{% trans "Disconnecting..." %}'
        }



        // building statuses
        var BUILDING_MESSAGES = {
            'INIT': '{% trans "Initializing..." %}',
            'COPY': '{% trans "{0} of {1} ({2}%)" %}',
            'FINAL': '{% trans "Finalizing..." %}'
        }

        // server statuses and transitions
        var STATUSES = {
            'UNKNOWN'   : '{% trans "Unknown" %}',
            'BUILD'     : '{% trans "Building" %}',
            'REBOOT'    : '{% trans "Rebooting" %}',
            'STOPPED'   : '{% trans "Stopped" %}',
            'ACTIVE'    : '{% trans "Running" %}',
            'ERROR'     : '{% trans "Error" %}'
        };

        var TRANSITIONS = {
            'Shutting down' : '{% trans "Shutting down" %}',
            'Rebooting'     : '{% trans "Rebooting" %}',
            'Starting'      : '{% trans "Starting" %}',
            'Destroying'    : '{% trans "Destroying" %}',
            'Connecting'    : '{% trans "Connecting" %}',   // used only in networks
            'Disconnecting' : '{% trans "Disconnecting" %}' // used only in networks
        };

        // Server statuses and transitions that should be displayed as active or inactive
        var ACTIVE_STATES = [
            '{% trans "Building" %}',
            '{% trans "Rebooting" %}',
            '{% trans "Running" %}',
            '{% trans "Shutting down" %}',
            '{% trans "Rebooting" %}',
            '{% trans "Destroying" %}'
        ];
        
        var TRANSITION_STATES = [
            '{% trans "Building" %}',
            '{% trans "Rebooting" %}',
            '{% trans "Starting" %}',
            '{% trans "Shutting down" %}',
            '{% trans "Destroying" %}',
            '{% trans "Connecting" %}',
            '{% trans "Disconnectig" %}'
        ]
        var TRANSITION_STATE_APPEND = "...";

        var INACTIVE_STATES = [
            '{% trans "Unknown" %}',
            '{% trans "Stopped" %}',
            '{% trans "Error" %}',
            '{% trans "Starting" %}',
        ];

        // Network statuses and transitions
        var NET_STATES = {
            'ACTIVE'        : '{% trans "Private network" %}',  // this comes from the API
            'DELETED'       : '{% trans "Deleted" %}',          // this comes from the API
            'Destroying'    : '{% trans "Destroying" %}',
            'Connecting'    : '{% trans "Connecting" %}',
            'Disconnecting' : '{% trans "Disconnecting" %}'
        };

        var ERROR_OVERRIDES = {
            // error message header
            'HEADER' : '{% trans "Error" %}',
            // default
            'DEFAULT' : '{% trans "Could not contact the service. Please check your network connectivity and try again." %}',
            // bad request
            '400' : '{% trans "Malformed request." %}',
            // not found
            '404' : '{% trans "Your request has failed. Resource not found." %}',
            // internal server error
            '500' : '{% trans "There has been an Internal Error. Our administrators have been notified." %}',
            // service unavailable
            '501' : '{% trans "This server has not been implemented yet." %}',
            // service unavailable
            '502' : '{% trans "Bad Gateway error." %}',
            // service unavailable
            '503' : '{% trans "This service is unavailable right now, please try again later." %}',
            // no server handshake
            '0' : '{% trans "Could not contact the server." %}',
            // no images found
            '-212' : '{% trans "Cannot show the Create machine wizard: No images found." %}',
            // no flavors found
            '-213' : '{% trans "Cannot show the Create machine wizard: No machine configurations found." %}',
            // error box title
            'GENERIC_POPUP_HEADER' : '{% trans "Something seems to have gone wrong :( Here is what happened:" %}',
            // no advanced details
            'NO_DETAILS' : '{% trans "Νο advanced details provided" %}'
        };

        var SUGGESTED_FLAVORS = {{ suggested_flavors|safe }};
        var SUGGESTED_ROLES = {{ suggested_roles|safe }}

        var SUCCESS = {
            'HEADER' : '{% trans "Success" %}',
            'DEFAULT' : '{% trans "Your request has been succefully executed." %}',
            'PASSWORD' : '{% trans "Password:" %}',
            'CREATE_VM_SUCCESS' : '{% trans "Success" %}',
            'CREATE_VM_SUCCESS_ONE' : '{% trans "Your new machine is now buidling... (this might take a few minutes)" %}',
            'CREATE_VM_SUCCESS_TWO' : '{% trans "Write down your password now:" %}',
            'CREATE_VM_SUCCESS_THREE' : '{% trans "You will need this later to connect to your machine." %}',
            'CREATE_VM_SUCCESS_FOUR' : '{% trans "After closing this window you will NOT be able to retrieve it again." %}'
        };

        var VARIOUS = {
            'CONFIRM' : '{% trans "Confirm" %}',
            'CANCEL' : '{% trans "Cancel" %}',
            'APPLY' : '{% trans "Apply" %}',
            'OFF' : '{% trans "Off" %}',
            'ON' : '{% trans "On" %}'
        };

    </script>
</head>

<body id="app">
    <!--<img id="okeanos-image" src="/static/body-bg2.png" />-->
    <div id="container">
        <div id="header">
            <div id="user">
                <div class="usermenu">
                    <div class="username">{{ request.user.uniq }}</div>
                    <ul class="useractions">
                        <li class="invitations"><a class="action" href="#">{% trans "invite friends..." %}</a></li>
                        <li class="feedback"><a class="action" href="#">{% trans "send feedback..." %}</a></li>
                        <li class="api"><a class="action" href="#">{% trans "API access..." %}</a></li>
                        <li class="logout last"><a class="action" href="#">{% trans "logout" %}</a></li>
                    </ul>
                </div>
                <div class="langmenu">
                    <a class="current_lang">en</a>
                    {% comment %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                <a {% if current_lang == lang.0 %}
                    class="current_lang" {% else %}  href="/lang/?l={{lang.0}}" {% endif %}>{{lang.0}}</a>

                    {% if not forloop.last %}<span class="sep">~</span>{% endif %}
                    {% endfor %}
                {% endcomment %}
                </div>
            </div>
            <div class="header-logo">
                <a href="/">
                    <img src="static/okeanos-logo-alpha.png" alt="okeanos (alpha)"/>
                </a>
            </div>
        </div>
        <div id="content">
            <div id="wrapper" class="clearfix">

                <div class="panes-menu clearfix">
                <!-- tabs -->
                <div class="tab-name">{% trans "machines" %}</div>
                <ul class="css-tabs">
                    <li><a href="machines" title="{% trans "manage your virtual machines" %}"
                        class="primary" id="machines_view_link">
                        <img src="static/machines-icon.png" /></a></li>
                    <li><a href="networks" title="{% trans "configure networking" %}"
                        class="primary" id="networks_view_link">
                        <img src="static/networks-icon.png" /></a></li>
                    <li class="hidden"><a href="disks" title="{% trans "manage your storage volumes" %}"
                        class="primary" id="disks_view_link">
                        <img src="static/disks-icon.png" /></a></li>
                </ul>
                </div>
                <div class="css-panes">
                    <div id="machines-pane" class="pane" style="display:block;">
                        {% include "partials/machines.html" %}
                    </div>
                    <div id="networks-pane" class="pane">
                        {% include "partials/networks.html" %}
                    </div>
                    <div id="disks-pane" class="pane"></div>

                    <div class="confirm_multiple clearfix" id="multiple_actions_container">
                        <div class="confirm_multiple_actions confirm_multiple_cont clearfix">
                            <p>{% trans "Your actions will affect" %} <span class="actionLen">XX</span> {% trans "machines" %}</p>
                            <button class="yes">{% trans "Confirm All" %}</button>
                            <button class="no">{% trans "Cancel All" %}</button>
                        </div>
                        <div class="confirm_reboot_required confirm_multiple_cont clearfix">
                            <p><span class="actionLen"></span> {% trans "machines needs to be rebooted for changes to apply" %}</p>
                            <button class="yes">{% trans "Reboot All" %}</button>
                            <button class="no">{% trans "Cancel All" %}</button>
                            <div class="reboot-machines-list"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- activate tabs with JavaScript -->
    <script>

        //load opera css fixes
        if ($.browser.opera) {
            $("<link/>", {
               rel: "stylesheet",
               type: "text/css",
               href: "static/opera.css"
            }).appendTo("head");
        }

        $(document).ready(function(){

            {% if current_lang == "el" and not DEBUG %}
                window.location = "/lang/?l=en";
            {% endif %}

            // user menu interaction
            var resetUserMenu = function() {
                $(this).removeClass("hovered");
                $(this).removeClass("active");
            }

            $(".usermenu").live("click", function(){
                $(this).addClass("active");
            });
            $(".usermenu").bind('mouseleave', resetUserMenu);
            $(".usermenu").live("mouseover", function(){
                $(this).addClass("hovered");
            });

            $(".usermenu li").mouseenter(function(){$(this).addClass("hovered")})
            $(".usermenu li").mouseleave(function(){$(this).removeClass("hovered")});

            // bind menu actions
            $(".usermenu .logout").click(function() {
                snf.ui.logout();
            });

            $(".usermenu .invitations").click(show_invitations);
            $(".usermenu .api").click(show_api_overlay);

        });
        
        function positionBottomMessages() {
            var el = $("#multiple_actions_container");
        }

        $(window).bind("load", function() { 
               var footerHeight = 0;
               var footerTop = 0;
               var $footer = $("#footer-container");

               positionFooter();
               function positionFooter() {
                   footerHeight = 80;
                   footerTop = ($(window).scrollTop()+$(window).height()-footerHeight)+"px";
                   if (($(document.body).height()+footerHeight) < $(window).height()) {

                       $footer.css({
                            position: "absolute"
                       }).css({
                            top: footerTop
                       })
                    } else {
                    
                       if ($footer.css("position") == "static") {
                           if ($(document.body).height() < $(window).height()) {    
                               $footer.css({
                                    position: "absolute"
                               }).css({
                                    top: footerTop
                                })
                            }
                        } else {

                           $footer.css({
                               position: "static"
                           })
                       }
                   }

                   }
               window.positionFooter = _.throttle(positionFooter, 100);
               $(window).scroll(positionFooter).resize(positionFooter)
        });
    </script>

    <!-- base notification for error/success reporting -->
    <a id="notification" rel="#error-success" href="#"></a>
    <a id="msgbox" rel="#notification-box" href="#"></a>
    <a id="feedbackbox" rel="#feedback-form" href="#"></a>

    <div class="overlay" id="generic-overlay-tpl">
        <h3 class="header clearfix">
            <span class="subtitle"></span>
            <span class="title"></span>
            <span class="closeme">close</span></h3>
        <div class="container">
            <div class="content">
            </div>
        </div>
        <div class="footer"></div>
    </div>

    <div id="error-overlay-content" class="hidden">
        <div class="message"><p></p></div>
        <div class="error-details">
            <span class="key">{% trans "Module" %}</span>
            <span class="value error-module"></span>

            <span class="key">{% trans "Code" %}</span>
            <span class="value error-code"></span>

            <span class="key">{% trans "Type" %}</span>
            <span class="value error-type"></span>

            <span class="key details">{% trans "Details" %}</span>
            <div class="value error-more-details"><p></p></div>
        </div>
        
        <!--<div class="navigation">-->
            <!--<span class="next-error">{% trans "next error" %}</span>-->
            <!--<span class="previous-error">{% trans "previous error" %}</span>-->
        <!--</div>-->
        
        <!--<div class="date">-->
            <!--<span class="error-date"></span>-->
        <!--</div>-->

        <div class="actions">
            <span class="show-details">{% trans "Show details" %}</span>
            <span class="hide-details">{% trans "Hide details" %}</span>
            <span class="report-error">{% trans "Send report" %}</span>
            <span class="reload-app">{% trans "Reload application" %}</span>
        </div>
    </div>

    <div id="feedback-overlay-content" class="hidden overlay-content feedback-form">
        <div class="description">
            <p>
                {% blocktrans %}~okeanos is currently in alpha test and we would appreciate any kind of feedback.
                We welcome any suggestions, questions and bug reports you may have.{% endblocktrans %}
            </p>
        </div>
        <div class="description messages noborder">
            <p class="success-message hidden">
            {% trans "thank you for submiting your feedback" %}
            </p>
            <p class="error-message hidden">
                {% trans "some error occured submiting submiting your feedback, please try again later" %}
            </p>
            <p class="sending-message hidden">
            {% blocktrans %}Sending feedback...{% endblocktrans %}
            </p>
        </div>
        <div class="form">
            <div class="form-field">
                <label for>{% trans "Please describe your problem here, provide as many details as possible" %}</label>
                <textarea class="feedback-message"> 
                </textarea>
            </div>
            <div class="form-actions clearfix noborder">
                <span class="form-action submit">{% trans "send feedback" %}</span>
            </div>
        </div>
    </div>
    <div class="modal" id="feedback-form" class="feedback notification-box">
        <h3 class="popup-header">
            <span class="header-box">{% trans "Send feedback" %}</span>
        </h3>
        <div class="popup-body">
            <div class="popup-body-inner">
                <div class="form-container">
                <p class="feedback-intro">
                {% blocktrans %}~okeanos is currently in alpha test and we would appreciate any kind of feedback.
We welcome any suggestions, questions and bug reports you may have.{% endblocktrans %}</p>
                <form id="feedback-form">
                    <label for="feedback-msg">{% trans "Please describe your problem here, provide as many details as possible" %}</label>
                    <div class="description"></div>
                    <div class="empty-error-msg">{% trans "Please provide some feedback" %}</div>
                    <textarea name="feedback-msg" class="feedback-text"></textarea>

                    <input type="checkbox" name="submit-submit-data" class='submit-data' />
                    <input type="submit" value="{% trans "submit feedback" %}" class="submit" />
                    <textarea name="feedback-data" class="data-text"></textarea>
                </form>
            </div>

            <div class="message sending">{% trans "submiting your data....." %}</div>
            <div class="message success">
                {% trans "thank you for submiting your feedback" %}
                <span class="close-msg-box"> {% trans "close feedback" %}</span></div>
            <div class="message errormsg">
                {% trans "some error occured submiting submiting your feedback, please try again later" %}
                <span class="close-msg-box"> {% trans "close feedback" %}</span></div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="api_overlay_template">
        <div class="api_overlay_content">
            <p>Use the following API key along with the <a href="{{ EXTERNAL_CLIENT_URL }}">./kamaki</a> client to manage your cloud resources from outside this page.</p>
        </div>
    </div>

    <div class="modal" id="notification-box" class="notification-box">
        <h3 class="popup-header">
            <span class="header-box"></span>
        </h3>
        <div class="popup-body">
            <div class="popup-body-inner">
                <div class="machine-now-building"></div>
                <div class="popup-separator"></div>
                <div class="password-container">
                    <div class="password"></div>
                </div>
                <div class="sub-text"></div>
            </div>
        </div>
    </div>
    
    <div id="loading-view" class="hidden">
        <img src="/static/icons/indicators/small/progress.gif" />
        <div class="header">Loading <span>~okeanos</span></div>
        <div class="info hidden"></div>
    </div>
    {% include "footer.html" %}

    <script>
        $(document).ready(function() {
            $(".css-panes").hide();

            {% if DEBUG %}
            synnefo.ui.main.bind("initial", function() {
                if (window.TEST) {
                    setTimeout(window.TEST, 60);
                }
            });
            {% endif %}
            
            synnefo.config.update_interval = 5000 || {{ update_interval }};
            synnefo.ui.init();

        })
    </script>
</body>
</html>
