<!--
Copyright 2011 GRNET S.A. All rights reserved.

Redistribution and use in source and binary forms, with or
without modification, are permitted provided that the following
conditions are met:

  1. Redistributions of source code must retain the above
     copyright notice, this list of conditions and the following
     disclaimer.

  2. Redistributions in binary form must reproduce the above
     copyright notice, this list of conditions and the following
     disclaimer in the documentation and/or other materials
     provided with the distribution.

THIS SOFTWARE IS PROVIDED BY GRNET S.A. ``AS IS'' AND ANY EXPRESS
OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL GRNET S.A OR
CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF
USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED
AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.

The views and conclusions contained in the software and
documentation are those of the authors and should not be
interpreted as representing official policies, either expressed
or implied, of GRNET S.A.
-->

<html>

{% load i18n %}
<!DOCTYPE html>
<head>
    <title>{{ project }}</title>
    <!-- include the Tools -->
    <!-- jquery tools minified for deployment-->
    <script src="static/jquery.tools.min.js"></script>
    <!-- jquery tools source for JS debugging -->
    <!--
    <script src="http://flowplayer.org/tools/download/1.2.5/jquery-1.4.2.js"></script>
    <script src="http://flowplayer.org/tools/download/1.2.5/tabs/tabs.js"></script>
    <script src="http://flowplayer.org/tools/download/1.2.5/scrollable/scrollable.js"></script>
    <script src="http://flowplayer.org/tools/download/1.2.5/overlay/overlay.js"></script>
    <script src="http://flowplayer.org/tools/download/1.2.5/rangeinput/rangeinput.js"></script>
    <script src="http://flowplayer.org/tools/download/1.2.5/toolbox/toolbox.expose.js"></script>
    -->
    <script src="static/jquery.cookie.js"></script>
    <script src="static/json2.js"></script>
    <script src="static/jquery.dataTables.min.js"></script>
    <script src="static/synnefo.js"></script>
    <link rel="stylesheet" type="text/css" href="static/main.css"/>
    <!--[if IE]><style type="text/css" media="all">@import url(static/ie.css);</style><![endif]-->    
    <script>
        //populate available image icons array
        var os_icons = {{image_icons|safe}};

        // timeout value from settings.py
        var TIMEOUT = {{timeout}};
        var UPDATE_INTERVAL = {{update_interval}};

        // server statuses and transitions
        var STATUSES = {
            'UNKNOWN'   : '{% trans "Unknown" %}',
            'BUILD'     : '{% trans "Building" %}',
            'REBOOT'    : '{% trans "Rebooting" %}',
            'STOPPED'   : '{% trans "Stopped" %}',
            'ACTIVE'    : '{% trans "Running" %}',
            'ERROR'     : '{% trans "Error" %}'
        };

        var TRANSITIONS = {
            'Shutting down' : '{% trans "Shutting down" %}',
            'Rebooting'     : '{% trans "Rebooting" %}',
            'Starting'      : '{% trans "Starting" %}',
            'Destroying'    : '{% trans "Destroying" %}',
            'Connecting'    : '{% trans "Connecting" %}',   // used only in networks
            'Disconnecting' : '{% trans "Disconnecting" %}' // used only in networks
        };

        // Server statuses and transitions that should be displayed as active or inactive
        var ACTIVE_STATES = [
            '{% trans "Building" %}',
            '{% trans "Rebooting" %}',
            '{% trans "Running" %}',
            '{% trans "Shutting down" %}',
            '{% trans "Rebooting" %}',
            '{% trans "Destroying" %}'
        ];

        var INACTIVE_STATES = [
            '{% trans "Unknown" %}',
            '{% trans "Stopped" %}',
            '{% trans "Error" %}',
            '{% trans "Starting" %}',
            '{% trans "Destroying" %}'
        ];

        // Network statuses and transitions
        var NET_STATES = {
            'ACTIVE'        : '{% trans "Private network" %}',  // this comes from the API
            'DELETED'       : '{% trans "Deleted" %}',          // this comes from the API
            'Destroying'    : '{% trans "Destroying" %}',
            'Connecting'    : '{% trans "Connecting" %}',
            'Disconnecting' : '{% trans "Disconnecting" %}'
        };

        var ERRORS = {
            // error message header
            'HEADER' : '{% trans "Error" %}',
            // default
            'DEFAULT' : '{% trans "Could not contact the service. Please check your network connectivity and try again." %}',
            // bad request
            '400' : '{% trans "Malformed request." %}',
            // not found
            '404' : '{% trans "Your request has failed. Resource not found." %}',
            // internal server error
            '500' : '{% trans "There has been an Internal Error. Our administrators have been notified." %}',
            // service unavailable
            '501' : '{% trans "This server has not been implemented yet." %}',
            // service unavailable
            '502' : '{% trans "Bad Gateway error." %}',
            // service unavailable
            '503' : '{% trans "This service is unavailable right now, please try again later." %}',
            // no server handshake
            '0' : '{% trans "Could not contact the server." %}',
            // no images found
            'NO_IMAGES' : '{% trans "Cannot show the Create machine wizard: No images found." %}',
            // no flavors found
            'NO_FLAVORS' : '{% trans "Cannot show the Create machine wizard: No machine configurations found." %}',
            // error box title
            'GENERIC_POPUP_HEADER' : '{% trans "Something seems to have gone wrong :( Here is what happened:" %}',
            // no advanced details
            'NO_DETAILS' : '{% trans "Νο advanced details provided" %}'
        };

        var SUCCESS = {
            'HEADER' : '{% trans "Success" %}',
            'DEFAULT' : '{% trans "Your request has been succefully executed." %}',
            'PASSWORD' : '{% trans "Password:" %}',
            'CREATE_VM_SUCCESS' : '{% trans "Success" %}',
            'CREATE_VM_SUCCESS_ONE' : '{% trans "Your new machine is now buidling... (this might take a few minutes)" %}',
            'CREATE_VM_SUCCESS_TWO' : '{% trans "Write down your password now:" %}',
            'CREATE_VM_SUCCESS_THREE' : '{% trans "You will need this later to connect to your machine." %}',
            'CREATE_VM_SUCCESS_FOUR' : '{% trans "After closing this window you will NOT be able to retrieve it again." %}'
        };

        var VARIOUS = {
            'CONFIRM' : '{% trans "Confirm" %}',
            'CANCEL' : '{% trans "Cancel" %}'
        };

        // ajax error checking
        function ajax_error(status, serverID, action, responseText) {
             // close existing overlays to begin with
            close_all_overlays();       
            // clear old deferred calls (stops all auto-updates)
            clearTimeout(deferred);
            
            $('#error-success').addClass('error');
            $('#error-success').removeClass('success');
            
            var serverName = '';

            if (serverID !== undefined) {
                // standard view
                serverName = $("#" + serverID).find("span.name").text();
                if (serverName === "") { // list view
                    serverName = $("#" + serverID).parent().parent().find("span.name").text();
                }
            }

            // prepare the error message
            $("#error-success h3").text(ERRORS['HEADER']);
            if (responseText !== undefined) {
                var errors = parse_error(responseText, status), details = '';
                if (serverName) {
                    serverName = "<p>{% trans "Server" %}: " + serverName + "</p>";
                }
                if ((errors[0].details === undefined) || (errors[0].details === "")) {
                    details = ERRORS["NO_DETAILS"];
                } else {
                    details = errors[0].details;
                }

                $("#error-success .machine-now-building").html(ERRORS["GENERIC_POPUP_HEADER"]);
                $("#error-success .popup-header").addClass("popup-header-error");
                $("#error-success").addClass("popup-border-error");
                $("#error-success .password-container").hide();
                $("#error-success .popup-details").addClass("popup-details-error");
                $("#error-success .popup-separator").addClass("popup-separator-error");
                $("#error-success .popup-details").html("<p>" + (errors[0].message || ERRORS[errors[0].code]) + "</p>" + serverName + "<p>{% trans "Action" %}: " + action + "</p><p>{% trans "Code" %}: " + errors[0].code + "<p><a class='expand-details' href='#'>{% trans 'Details' %}</a><div class='more-details'>" + details + "</div></p>");
            } else if (ERRORS[status] !== undefined) {
                if (serverID === undefined) {
                    //eg no_images, no_flavors cases
                    $("#error-success .machine-now-building").html(ERRORS["GENERIC_POPUP_HEADER"]);
                    $("#error-success .popup-header").addClass("popup-header-error");
                    $("#error-success").addClass("popup-border-error");
                    $("#error-success .password-container").hide();
                    $("#error-success .popup-details").addClass("popup-details-error");
                    $("#error-success .popup-separator").addClass("popup-separator-error");
                    $("#error-success .popup-details").html("<p>" + ERRORS[status] + "</p>");
                } else {
                    $("#error-success .machine-now-building").html(ERRORS["GENERIC_POPUP_HEADER"]);
                    $("#error-success .popup-header").addClass("popup-header-error");
                    $("#error-success").addClass("popup-border-error");
                    $("#error-success .password-container").hide();
                    $("#error-success .popup-details").addClass("popup-details-error");
                    $("#error-success .popup-separator").addClass("popup-separator-error");
                    $("#error-success .popup-details").html("<p>" + ERRORS[status] + "</p><p>" + serverName + "</p>");
                }
            } else {
                $("#error-success .machine-now-building").html(ERRORS["DEFAULT"]);
                $("#error-success .popup-header").addClass("popup-header-error");
                $("#error-success").addClass("popup-border-error");
                $("#error-success .password-container").hide();
                $("#error-success .popup-details").hide();
                $("#error-success .popup-separator").hide();
            }
            $("#error-success p:first").css("padding-bottom", "10px");
            $("#error-success p:first").css("color", "#800000");
            $("#error-success div.more-details").hide();
            $("#error-success a.expand-details").live('click', function () {
                $(this).parent().parent().find("div.more-details").slideToggle(600);
                return false;
            });
            //stop the progress icon and hide the wizard
            if (action !== undefined) {
                if (action === 'Create VM') {
                    $('#wizard #start').text('{% trans "Create VM" %}');
                    $("#wizard").hide();
                } else if (action === 'Create network') {
                    $('#networks-wizard').hide();
                } else if (action === 'Add server to network') {
                    $('#add-machines-wizard').hide();
                }
            }

            // bring up error notification
            var triggers = $("a#notification").overlay({
                // some mask tweaks suitable for modal dialogs
                mask: '#666',
                top: 'center',
                closeOnClick: false,
                oneInstance: false,
                load: false,
                onClose: function () {
                    // refresh the whole page
                    location.reload();
                }
            });
            
            // we need to give the browser some time to close the old overlays before opening the new one
            setTimeout("$('a#notification').data('overlay').load()",400);
            return false;
        }

        // ajax success checking
        function ajax_success(status, password) {
            // prepare the error message
            // bring up success notification
            $('#error-success').addClass('success');
            $('#error-success').removeClass('error');
            if (status !== undefined && SUCCESS[status]) {
                if (password !== undefined && status === "CREATE_VM_SUCCESS") {

                    //stop the progress icon and hide the wizard
                    $('#wizard #start').text('{% trans "Create VM" %}');
                    $("#wizard").hide();

                    $("#error-success h3 span.header-box").text(SUCCESS[status]);
                    var CREATE_VM_SUCCESS_MSG = SUCCESS["CREATE_VM_SUCCESS_THREE"] + '<br / >'
                        + SUCCESS["CREATE_VM_SUCCESS_FOUR"];
                    $("#error-success div.machine-now-building").html(SUCCESS["CREATE_VM_SUCCESS_ONE"]);
                    $("#error-success .popup-header").removeClass("popup-header-error");
                    $("#error-success").removeClass("popup-border-error");
                    $("#error-success .popup-details").removeClass("popup-details-error");
                    $("#error-success .popup-separator").removeClass("popup-separator-error");
                    $("#error-success .password-container").show();

                    $("#error-success .popup-details").html("</div><div class=\"write-password-details\">" + CREATE_VM_SUCCESS_MSG + "</div>");
                    $("#error-success div.password").html("<div class=\"write-password\">" + SUCCESS["CREATE_VM_SUCCESS_TWO"] + "<div class=\"write-password-password\">" + password + "</div></div>");
                    //$("#error-success div.write-password").html(SUCCESS["CREATE_VM_SUCCESS_TWO"]);
                    //$("#error-success div.write-password-details").html(CREATE_VM_SUCCESS_MSG);
                } else {
                    $("#error-success h3").text(SUCCESS['HEADER']);
                    $("#error-success div.popup-body-inner").text("<p>" + SUCCESS[status] + "</p>");
                }
            } else {
                $("#error-success h3").text(SUCCESS['HEADER']);
                $("#error-success div.popup-body-inner").html("<p>" + SUCCESS['DEFAULT'] + "</p>");
            }

            var triggers = $("a#notification").overlay({
                // some mask tweaks suitable for modal dialogs
                mask: '#666',
                top: 'center',
                closeOnClick: false,
                oneInstance: false,
                load: false,
                onClose: function () {
                    // With partial refresh working properly,
                    // it is no longer necessary to refresh the whole page
                    // choose_view();
                }
            });
            $("a#notification").data('overlay').load();
            return false;
        }
    </script>
</head>
<body>
    <div id="container">
        <div id='header'>
            <div id='user'>
                <a href="#">{% trans "username" %}</a>
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                    &nbsp;|&nbsp;
                    <a {% if current_lang == lang.0 %}class="current_lang" {% else %}  href="/lang/?l={{lang.0}}" {% endif %}>{{lang.0}}</a>
                {% endfor %}
            </div>
            <div class="header-logo">
                <a href="/">
                    <img src="static/okeanos.png" alt="okeanos"/>
                </a>
            </div>
        </div>
        <div id="content">
            <div id="wrapper">
                <!-- tabs -->
                <div class="tab-name">{% trans "machines" %}</div>
                <div class="tab-separator"></div>
                <ul class="css-tabs">
                    <li><a href="machines" title="{% trans "manage your virtual machines" %}" class="primary" id="machines">
                        <img src="static/machines-icon.png" /></a></li><div class="tab-separator"></div>
                    <li><a href="networks" title="{% trans "configure networking" %}" class="primary" id="networks">
                        <img src="static/networks-icon.png" /></a></li><div class="tab-separator"></div>
                    <li><a href="disks" title="{% trans "manage your storage volumes" %}" class="primary" id="disks">
                        <img src="static/disks-icon.png" /></a></li>
                </ul>
                <div class="css-panes">
                    <div id="machines-pane" class="pane" style="display:block;"></div>
                    <div id="networks-pane" class="pane"></div>
                    <div id="disks-pane" class="pane"></div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </div>

    <!-- activate tabs with JavaScript -->
    <script>

        $(function() {
            // check pane cookie to select the initial pane
            var initial = 0, pane = $.cookie("pane");
            if (pane > 0)
                initial = pane;
            //alert(initial);
            $("ul.css-tabs").tabs("div.css-panes div.pane", {
                initialIndex: initial,
                onBeforeClick: function(event, i) {
                    // get the pane to be opened
                    var pane = this.getPanes().eq(i);
                    //change the displaying title
                    $(".tab-name").text(this.getTabs().eq(i).attr("href"));
                    // load it with a page specified in the tab's href attribute
                    pane.load(this.getTabs().eq(i).attr("href"),function() {if (!i) {choose_view()}});
                }
            });
        });

        // set pane cookie whenever the user clicks on a different pane
        $("ul.css-tabs a").click(function(i) {
            $.cookie("pane", $("ul.css-tabs a").index(this));
        });

        //change menu title on hover
        $("ul.css-tabs li").hover(
            function () {
                if ($(this).find("a.current").length == 0) {
                    $(this).parent().parent().find(".tab-name").text($(this).find("a").attr("href"));
                }
            },
            function () {
                $(this).parent().parent().find(".tab-name").text($(this).parent().find("a.current").attr("href"));
            }
        );

        //load opera css fixes
        if ($.browser.opera) {
            $("<link/>", {
               rel: "stylesheet",
               type: "text/css",
               href: "static/opera.css"
            }).appendTo("head");
        }
    </script>
    <!-- base notification for error/success reporting -->
    <a id="notification" rel="#error-success" href="#"></a>

    <div class="modal" id="error-success">
        <h3 class="popup-header">
            <span class="header-box"></span>
        </h3>
        <div class="popup-body">
            <div class="popup-body-inner">
                <div class="machine-now-building"></div>
                <div class="popup-separator"></div>
                <div class="password-container">
                    <div class="password-header"></div>
                    <div class="password"></div>
                </div>
                <div class="popup-details">
                    <div class="write-password"></div>
                    <div class="write-password-details">{% trans "More details about the result"%}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
