<!DOCTYPE html>

<head>
	<title>{{ project }}</title>
	<!-- include the Tools -->
	<script src="static/jquery.tools.min.js"></script>
	<link rel="stylesheet" type="text/css" href="static/alt-main.css"/>	
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' />

</head>

<body>
    <div id="wrapper">
        <div id='user'><a href="#">username</a> &nbsp;|&nbsp; <a href="#">settings</a></div>
        <div id='nefo'><a href="/" class="logo"><img src="static/nefo.png"/></a></div>
        <div id="header">
            <div id="about">Greek Research and Technology Network - Cloud management web interface</div>
            <a href="/" class="logo">
                <h1>{{ project }}</h1>
            </a>
        </div>
        <!-- tabs -->
        <ul class="css-tabs">
	        <li><a href="alt-instances" title="manage your virtual machines" id="instances">instances</a></li>
	        <li><a href="disks" title="manage your storage volumes" id="disks">disks</a></li>
	        <li><a href="images" title="manage boot images" id="images">images</a></li>
	        <li><a href="networks" title="configure networking" id="networks">networks</a></li>
        </ul>
        <div class="css-panes">
	        <div class="pane" style="display:block"></div>
	        <div class="pane"></div>
	        <div class="pane"></div>
	        <div class="pane"></div>
        </div>
    </div>
    <!-- activate tabs with JavaScript -->
    <script>
		$(function() {
            if ($("link").attr("href") == "static/alt-main.css") {
			    $('ul.css-tabs li').hover(function(){
				    $(this).find('a').animate({top:'0px'},{queue:true, duration:'slow'});
			    });
            }
		});
        $(function() {
	        $("ul.css-tabs").tabs("div.css-panes div.pane", {	
		        effect: 'ajax',
		        onBeforeClick: function(event, i) {
			        // get the pane to be opened
			        var pane = this.getPanes().eq(i);

			        // load it with a page specified in the tab's href attribute
			        pane.load(this.getTabs().eq(i).attr("href"));
		        }
	        });
        });
        $("ul.css-tabs a").tooltip({effect: 'fade', predelay: 1000, delay: 2, position: 'top center', opacity: 0.8});
    </script>
</body>
</html>

