<script>
// destroy action
$(function() {
$(".destroy").click(function() {
    $.ajax({
        url: '/api/v1.0/servers/1234',
        type: "DELETE",
        //TODO: get the server's id, instead of foo id 1234
        //async: false,
        dataType: "json",
        success: function() {}
    });
});
});

// reboot action
$(function() {
$(".reboot").click(function() {
    $.ajax({
        url: '/api/v1.0/servers/1234/action',
        type: "POST",
        data: {
            "reboot": '{"type" : "HARD"}'
            },
        //TODO: get the server's id, instead of foo id 1234
        //async: false,
        dataType: "json",
        success: function() {}
    });
});
});

// shutdown action. Not implemented by rackspace API atm
$(function() {
$(".shutdown").click(function() {
    $.ajax({
        url: '/api/v1.0/servers/1234/action',
        type: "POST",
        data: {
            "shutdown": '{"timeout" : "5"}'
            },
        //TODO: get the server's id, instead of foo id 1234
        //async: false,
        dataType: "json",
        success: function() {}
    });
});
});


// shutdown action. Not implemented by rackspace API atm
$(function() {
$(".create").click(function() {
    $.ajax({
        url: '/api/v1.0/servers/1234/action',
        type: "POST",
        data: {
            "create": {"foo" : "foo"}
            },
        //TODO: get the server's id, instead of foo id 1234
        //async: false,
        dataType: "json",
        success: function() {}
    });
});
});



</script>



<script src="http://tablesorter.com/jquery.tablesorter.min.js"></script>

<div id="machinesview" class="list">
    <div id="spinner"></div>
    <div class="actions">
        <a class="start">Start</a>
        <a href="#" id="1" class="reboot">Reboot</a>
        <a href="#" id="1" class="shutdown">Shutdown</a>
        <br />
        <a href="#" id="1" class="destroy">Destroy</a>
        <br />
        <a class="details">Show Details</a>
        <a class="group">Add to group</a>
        <br />
        <a class="band">Out of band</a>
        <br />
        <a class="attach">Attach disk</a>
        <a class="detach">Detach disk</a>
        <br />
        <a class="connect">Connect to network</a>
        <a class="disconnect">Disconnect from net</a>
    </div>
    <table>
        <thead> 
            <tr> 
                <th id="selection"><input type="checkbox" id="check" /></th> 
                <th id="os">OS</th> 
                <th id="name">Name</th> 
                <th id="ip">IP</th> 
                <th id="group">Group</th>
                <th id="status">Status</th> 
            </tr> 
        </thead> 
        <tbody class="running">
            <tr id="machine-template" style="display: none">
                <td><input type="checkbox" class="machine" id="node-id" /></td>
                <td><img class="list-logo" src="static/os_logos/node.thumb" width="16" height="16" /></td>
                <td><a class="name"><span class="name">node.name</span></a></td> 
                <td><a class="ip"><span class="public">node.public_ip</span></a></td>
                <td>group</td>
                <td class="status">Running</td>    
            </tr>
        </tbody>
    </table>
    <div id="mini" class="seperator"></div>
    <table>
        <thead> 
            <tr> 
                <th id="selection"><input type="checkbox" id="check" /></th> 
                <th id="os">OS</th> 
                <th id="name">Name</th> 
                <th id="ip">IP</th> 
                <th id="group">Group</th>
                <th id="status">Status</th> 
            </tr>  
        </thead> 
        <tbody class="terminated"></tbody>
    </table>
</div>
