{% load i18n %}

<div id="machines" class="separator"></div>

<!-- the create button -->
<div id="createcontainer">
    <span id="createbody">{% trans "Start by creating a new Virtual Machine:" %}</span><br />
    <a id="create" rel="#wizard" href="#">{% trans "Create New +" %}</a>
</div>

<!-- changing between standard/list view -->
<div id="view-select">
    <a id="standard" href="/machines/standard"></a>
    <a id="list" href="/machines/list"></a>
    <a id="single" href="#"></a>
</div>

<div id="emptymachineslist"><h1 id="welcomeheader">{% trans "Welcome to the ocean!" %}</h1><br />
    <span class="welcomebody">{% trans "From this panel you will be able to manage your Virtual Machines (VMs). If you don't know what a VM is: take the " %}<a href="#">{% trans "tour" %}</a>.</span><br /><br />
    <span class="welcomebody">{% trans "The panel is currently empty, because you don't have any VMs yet. You can start by creating your new VM by clicking the blue button on the right. The wizard will guide you through the hole process." %}</span><br /><br />
    <span class="welcomefooter">{% trans "For more information or help, click " %}<a href="#">{% trans "here" %}</a>.</span>
</div>

<!-- the form -->
<form action="#">
	<!-- scrollable root element -->
	<div class="modal" id="wizard">
		<!-- status bar -->
		<ul id="status">
			<li class="active"><span class="headernumber" class="first">1</span><div class="headerbody first">{% trans "Image" %}</div></li>
			<li><span class="headernumber">2</span><div class="headerbody">{% trans "Flavor" %}</div></li>
			<li class="third"><span class="headernumber">3</span><div class="headerbody">{% trans "Name" %}</div></li>
		</ul>
		<!-- scrollable items -->
		<div class="items">
			<!-- pages -->
			<div class="page">
                <h2>{% trans "Select an OS" %}</h2>
                <hr class="topruler" />
                <ul class="tabs">
                    <li><a href="#">{% trans "system images" %}</a></li>
                    <li><a href="#">{% trans "custom images" %}</a></li>
                </ul>
                <div class="panes">
		            <li id="image-template" style="display:none">
			            <label for="image.id"> 
                            <a>
                                <div class="image-container">
                                    <div class="image">
                                        <input class="radio" type="radio" name="image-id" id="image-id" />
                                        <img src="" class="image-logo"/>
                                        <strong class="image-title">image.title</strong>
                                        <br />
                                        <span class="description">image.description</span> 
                                        <span id="size" class="size">?? MB</span><span class="size"> MB</span>                         
                                    </div>
                                </div>  
                            </a>
			            </label>
		            </li>
                    <ul class="pane" id="standard-images">
					    <!-- standard images -->
				    </ul>
                    <ul class="pane" id="custom-images">
					    <!-- custom images -->
                    </ul>
                </div>
                <hr class="bottomruler" />
				<button type="button" class="prev" id="cancel">{% trans "Cancel" %}</button>
				<button type="button" class="next right">{% trans "Next" %}</button>
            </div>
			<div class="page">
				<h2>{% trans "Select CPUs, RAM and Disk Size" %}</h2>
                <hr class="topruler" />
                <ul>
                    <li id="machinetype">
                        <div class="machine-type">
                            <label for="small" id="small">
                                <input type="radio" id="small" name="machine-type" value="small" checked="true" />
                                <span class="typebody" id="small-body">{% trans "small" %}</span>
                            </label>
                        </div>
                        <div class="machine-type">      
                            <label for="medium" id="medium">
                                <input type="radio" id="medium" name="machine-type" value="medium" />                  
                                <span class="typebody" id="medium-body">{% trans "medium" %}</span>
                            </label>
                        </div>
                        <div class="machine-type">
                            <label for="large" id="large">
                                <input type="radio" id="large" name="machine-type" value="large" />
                                <span class="typebody" id="large-body">{% trans "large" %}</span>
                            </label>
                        </div>
                        <div class="machine-type">
                            <label for="custom" id="custom">
                                <input type="radio" name="machine-type" id="custom" value="large" />
                                <span class="typebody" id="custom-body">{% trans "custom" %}</span>
                            </label>
                        </div>
                    </li>
                    <div id="page2-container">
                        <li class="slider-container">
			                <label><strong class="sliders">CPUs</strong></label>
                            <input type="range" id="cpu" style="display:none" />
                            <input type="text" class="range" id="cpu-indicator" />
			                <span class="units">cores</span>
                        </li>
                        <li class="slider-container">
			                <label><strong class="sliders">RAM</strong></label>
                            <input type="range" id="ram" style="display:none" />
                            <input type="text" class="range" id="ram-indicator" />
			                <span class="units">MB</span>
                        </li>
                        <li class="slider-container">
		                    <label><strong class="sliders">Size</strong></label>
                            <input type="range" id="storage" style="display:none" />
                            <input type="text" class="range" id="storage-indicator" />
			                <span class="units">GB</span>
                        </li>
                        <li>
                            <div class="cost">
                                <span> {% trans "Your wallet:" %} 10,000 Credits </span> | <span>{% trans "This setup will cost you:" %}<input type="text" id="credits-indicator" value="20" class="range" disabled="disabled" /> {% trans "C/hour" %}</span>
                            </div>
                        </li>
                    </div>
                </ul>
                <hr class="bottomruler" />
				<button type="button" class="prev">{% trans "Back" %}</button>
				<button type="button" class="next right">{% trans "Next" %}</button>
            </div>
			<div class="page">
				<h2>{% trans "Confirm your settings" %}</h2>
                <hr class="topruler" />
                <ul id="page3-container">
                    <li class="required" id="label-name">
                        <label>
                            <strong>Name:</strong>
                            <input type="text" class="text" name="machine_name" id="name" value="My Ubuntu 10.04 x86_64 server"/>
                        </label>
                    </li>
                    <li>
                        <span>{% trans "Image:" %}</span> <span id="machine_image-label">Ubuntu 10.04 x86_64 server</span>
                    </li>
                    <li>
                        <span>{% trans "CPUs:" %}</span> <span id="machine_cpu-label">2</span> <span>{% trans "cores" %}</span>
                    </li>
                    <li>
                        <span>{% trans "RAM:" %}</span> <span id="machine_ram-label">1024</span><span>MB</span>
                    </li>
                    <li>
                        <span>{% trans "System Disk:" %}</span> <span id="machine_storage-label">10</span><span>GB</span>
                    </li>
                    <li>
                        <span>{% trans "Cost per Hour:" %}</span> <span>40 {% trans "credits" %}</span>
                    </li>
                    <li>
                        <span>{% trans "Credits in Wallet:" %}</span> <span>10.000</span>
                    </li>
                </ul>
                <hr class="bottomruler" />
				<button type="button" class="prev">{% trans "Back" %}</button>
				<button type="button" class="next right" id="start">{% trans "Create VM" %}</button>        
            </div>
		</div>
	</div>
</form>

<!-- base notification for error/success reporting -->
<a id="notification" rel="#error-success" href="#"></a>

<div class="modal" id="error-success">
    <h3>{% trans "Error!/Success!" %}</h3>
    <div><p>{% trans "More details about the result"%}</p></div>
</div>


<a id="metadata-edit-dialog" rel="#edit-dialog" href="#"></a>

<div class="meta-modal" id="edit-dialog">
    <div class='container'>
        <h3>
            <label>{% trans "Metadata for machine:" %}</label>
            <span>Server name</span>
            <p style='display:none;'>hidden server id</p>
        </h3>
        <hr class="topruler" />
        <hr class="fatruler" />
        <div class="content">
            <ul class="meta-template" style="display:none">
                <li>
                    <label>{% trans "Metadata key" %}</label>
                    <button type="button" class="remove">{% trans "remove x" %}</button>
                    <hr class="meta-separator">
                    <p>{% trans "Metadata value" %}</p>
                    <button type="button" class="edit">{% trans "edit" %}</button>
                </li>
            </ul>
            <ul class="meta-list">
            </ul>
        </div>
    </div>
    <button type="button" class="create">{% trans "Create New+" %}</button>
    <div class="bottomruler" /> 
</div>

<a id="metadata-add-dialog" rel="#add-dialog" href="#"></a>

<div class="meta-modal" id="add-dialog">
    <div class='container'>
        <h3>
            <label>{% trans "Metadata for machine:" %}</label>
            <span>Server name</span>
            <p style='display:none;'>hidden server id</p>
        </h3>
        <hr class="topruler" />
        <hr class="fatruler" />
        <div class="content">
            <label class="meta-key">{% trans "Key:" %}</label>
            <input type="text" maxlength="15" class="key" value="{% trans 'max 15 characters' %}"/>
            <hr class="meta-separator">
            <label class="meta-value">{% trans "Value:" %}</label>
            <textarea class="value">{% trans "max 150 characters" %}</textarea>
        </div>
    </div>
    <button type="button" class="cancel">{% trans "Cancel" %}</button>
    <button type="button" class="save">{% trans "Save" %}</button>
    <div class="bottomruler" /> 
</div>

<div id="machinesview"></div>

<div class="confirm_multiple">
    <p>{% trans "Your actions will affect" %} <span class="actionLen">XX</span> {% trans "machines" %}</p>
    <button class="yes">{% trans "Confirm All" %}</button>
	<button class="no">{% trans "Cancel All" %}</button>
</div>

<div id="machines" class="separator"></div>

<script>
//add hover to labels
$('span.typebody').mouseover(function() {
    $(this).addClass('typehover');
});
$('span.typebody').mouseout(function() {
    $(this).removeClass('typehover');
});

// return value from metadata key "OS", if it exists
function os_icon(metadata) {
    if (!metadata) {
        return 'unknown';
    }

    if (metadata.values.OS == undefined || metadata.values.OS == '') {
        return 'unknown';
    } else {
        return metadata.values.OS;
    }
} 

// switch to list view
$("a#list").click(function(){
    list_view(); 
    return false;
});

// switch to standard view
$("a#standard").click(function(){
    standard_view();
    return false;
});

// launch VM creation wizard
$("a#create").click(function(){
    // launch wizard only if images and flavors are found
    if (images.length > 0  && flavors.length > 0) {
        $("#wizard").scrollable().begin();
        $("#wizard").show();
        $('a#create').data('overlay').load()   
    } else if (images.length == 0 ) {
        ajax_error('NO_IMAGES');
        return false;   
    } else if (flavors.length == 0) {
        ajax_error('NO_FLAVORS');
        return false;
    }
});

// create wizard overlay
$(function() { 
    $("a#create").overlay({
        mask: '#000', 
        effect: 'default', 
        top: '5%', 
        oneInstance: false,
        closeOnClick: false
    });
});

// wizard
$(function() {
    var root = $("#wizard").scrollable();
    var api = root.scrollable();
    // rangeinput with default configuration
    // validation logic is done inside the onBeforeSeek callback
    api.onBeforeSeek(function(event, i) {
	    // we are going 1 step backwards so no need for validation
	    if (api.getIndex() < i) {
             // 1. get current page
		     var page = root.find(".page").eq(api.getIndex()),
			 // 2. .. and all required fields inside the page
			 inputs = page.find(".required :input").removeClass("error"),
			 // 3. .. which are empty
			 empty = inputs.filter(function() {
				return $(this).val().replace(/\s*/g, '') == '';
			 });
		     // if there are empty fields, then
		    if (empty.length) {
			    // add a CSS class name "error" for empty & required fields
			    empty.addClass("error");
			    // cancel seeking of the scrollable by returning false
			    return false;
		    // everything is good
		    } 
	    } 
        // update confirm step
        if (api.getIndex()==0) {
            var image = $("input[type=radio][name=image-id]:checked");
            var imageRef = image.length ? image[0].id : false
            if (imageRef) {
                var imageName = $("label[for=" + imageRef + "] .image-title").text();
                $("#machine_image-label")[0].textContent = imageName;
                $("input[type=text][name=machine_name]")[0].value = "My " + imageName + " server";
            }
        } else if (api.getIndex()==1) {
            $("#machine_cpu-label")[0].textContent = $("#cpu-indicator")[0].value;
            $("#machine_ram-label")[0].textContent = $("#ram-indicator")[0].value;
            $("#machine_storage-label")[0].textContent = $("#storage-indicator")[0].value;
        }   
    });
    api.onSeek(function(event, i) {
	    // update status bar
	    $("#status li").removeClass("active").eq(i).addClass("active");
    });
    // if tab is pressed on the next button seek to next page
    $(root).live('keydown', function (e) {
       if ( e.keyCode == 9 ){
           if(e.preventDefault) {
               e.preventDefault();
           }
           api.next();
        }
    });
    //submit wizard by pressing enter on the name textbox
    $("#name").keypress(function (e) {
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			$('#start').click();
			return false;
		} else {
			return true;
		}
    });
});

// disable sliders in flavor selection
function disableSliders() {
    $("#cpu").attr('disabled',true);
    $("#ram").attr('disabled',true);
    $("#storage").attr('disabled',true);
}

//update radio button when clicking on text
$("#small-body").live('click' ,function() { 
    $(this).parent().find("#small").click();
});
$("#medium-body").live('click' ,function() { 
    $(this).parent().find("#medium").click();
});
$("#large-body").live('click' ,function() { 
    $(this).parent().find("#large").click();
});
$("#custom-body").live('click' ,function() { 
    $(this).parent().find("#custom").click();
});

//select image div on radio button select
$('.radio').live('click' ,function() {           
    $(this).parents("div").find(".image").removeClass('selecteddiv');
    if($(this).is(':checked'))  {
        $(this).parent().addClass('selecteddiv');
    }
    
});

// validate cpu input box
$("#cpu-indicator").live('change',function(){
    var v = Number(this.value);
    var i = cpus.indexOf(v);
    if (isNaN(v)) {
        $(this).value = cpus[0];
        $("#cpu").data('rangeinput').setValue(0);
    } else if (i == -1) {
        for (var j=0; j < cpus.length; j++)
            if (v<cpus[j])
                break;
        $("#cpu").data('rangeinput').setValue(j);
    } else {
        $("#cpu").data('rangeinput').setValue(i);
    }   
    return false;
});

// validate ram input box
$("#ram-indicator").live('change',function(){
    var v = Number(this.value);
    var i = ram.indexOf(v);
    if (isNaN(v)) {
        $(this).value = cpus[0];
        $("#ram").data('rangeinput').setValue(0);
    } else if (i == -1) {
        for (var j=0; j < ram.length; j++)
            if (v<ram[j])
                break;
        $("#ram").data('rangeinput').setValue(j);
    } else {
        $("#ram").data('rangeinput').setValue(i);
    }   
    return false;
});


// validate storage input box
$("#storage-indicator").live('change',function(){
    var v = Number(this.value);
    var i = disks.indexOf(v);
    if (isNaN(v)) {
        $(this).value = disks[0];
        $("#storage").data('rangeinput').setValue(0);
    } else if (i == -1) {
        for (var j=0; j < disks.length; j++)
            if (v<disks[j])
                break;
        $("#storage").data('rangeinput').setValue(j);
    } else {
        $("#storage").data('rangeinput').setValue(i);
    }   
    return false;
});

// selecting the small size
$("#small").click(function(){
    $("#cpu").data('rangeinput').setValue(0);
    $("#ram").data('rangeinput').setValue(0);
    $("#storage").data('rangeinput').setValue(0);
    $("#cpu-indicator")[0].value = cpus[0];
    $("#ram-indicator")[0].value = ram[0];
    $("#storage-indicator")[0].value = disks[0];
    $("#small").addClass("active");
    $("#medium").removeClass("active");    
    $("#large").removeClass("active");    
    $("#custom").removeClass("active");    
});

// selecting the medium size
$("#medium").click(function(){
    $("#cpu").data('rangeinput').setValue(1);
    $("#ram").data('rangeinput').setValue(1);
    $("#storage").data('rangeinput').setValue(1);
    $("#cpu-indicator")[0].value = cpus[1];
    $("#ram-indicator")[0].value = ram[1];
    $("#storage-indicator")[0].value = disks[1];  
    $("#medium").addClass("active");  
    $("#small").removeClass("active");    
    $("#large").removeClass("active");    
    $("#custom").removeClass("active");  
});

// selecting the large size
$("#large").click(function(){
    $("#cpu").data('rangeinput').setValue(2);
    $("#ram").data('rangeinput').setValue(2);
    $("#storage").data('rangeinput').setValue(2);
    $("#cpu-indicator")[0].value = cpus[2];
    $("#ram-indicator")[0].value = ram[2];
    $("#storage-indicator")[0].value = disks[2];   
    $("#large").addClass("active"); 
    $("#medium").removeClass("active");    
    $("#small").removeClass("active");    
    $("#custom").removeClass("active");  
});

// selecting the custom flavor enables the sliders
$("#custom").click(function(){
    $("#cpu").attr('disabled',false);
    $("#ram").attr('disabled',false);
    $("#storage").attr('disabled',false);
    $("strong.sliders").style = 'color: #778899;';
    $("#custom input").attr('checked', 'checked');		
    $("#custom").addClass("active"); 
    $("#medium").removeClass("active");    
    $("#large").removeClass("active");    
    $("#small").removeClass("active");  
});

//when textbox gains focus, add selection in css
$('#cpu-indicator').focus(function() {
    $(this).addClass('selectedrange');
});
$('#ram-indicator').focus(function() {
    $(this).addClass('selectedrange');
});
$('#storage-indicator').focus(function() {
    $(this).addClass('selectedrange');
});

//when textbox loses focus, clear selection in css
$('#cpu-indicator').blur(function() {
    $(this).removeClass('selectedrange');
});
$('#ram-indicator').blur(function() {
    $(this).removeClass('selectedrange');
});
$('#storage-indicator').blur(function() {
    $(this).removeClass('selectedrange');
});

// exit the wizard
$("#cancel").click(function(){
    $("a#create").overlay().close();
});

// starting a new VM through the wizard
$("#start").click(function(){
    var imageRef = $('input[type=radio][name=image-id]:checked')[0].id.replace('img-radio-','');   
    var flavorRef = identify_flavor($("#cpu-indicator")[0].value, $("#storage-indicator")[0].value, $("#ram-indicator")[0].value);
    var machineName = $('input[name=machine_name]')[0].value;
    if (jQuery.trim(machineName) == ''){
        return false;
    }
    create_vm(machineName, imageRef, flavorRef);

    $('a#create').data('overlay').close();

    try{console.warn('creating ' + $("input[name=machine_name]")[0].value)} catch(err){}

    $("#wizard").hide();
});

// confirm all actions
$("div.confirm_multiple .yes").live('click', function(){
    while(pending_actions.length > 0){ // if there is a pending action for this server execute it
        action = pending_actions.pop(); // extract action
        var serverID = action[1];
        if ($.cookie("list") != '1') { // standard view
            $('#' + serverID + ' .selected').removeClass('selected');
            $('#' + serverID + ' .display').removeClass('display');
            if (action[0] == shutdown) {
                $('#' + serverID + ' .status').text('Shutting down');
            } else if (action[0] == start) {
                $('#' + serverID + ' .status').text('Starting');
            } else if (action[0] == reboot) {
                $('#' + serverID + ' .status').text('Rebooting');
            } else if (action[0] == destroy) {
                $('#' + serverID + ' .status').text('Destroying');
            }
            $('#' + serverID + ' .spinner').show();
        } else { // list view
            osIcon = $('#'+serverID).parent().parent().find('.list-logo');
            osIcon.attr('os',osIcon.attr('src'));
            osIcon.attr('src','static/progress.gif');
            if (action[0] == shutdown) {
                $('#' + serverID).parent().parent().find('span.status').text('Shutting down');
            } else if (action[0] == start) {
                $('#' + serverID).parent().parent().find('span.status').text('Starting');
            } else if (action[0] == reboot) {
                $('#' + serverID).parent().parent().find('span.status').text('Rebooting');
            } else if (action[0] == destroy) {
                $('#' + serverID).parent().parent().find('span.status').text('Destroying');
            }
        }
        action[0]([serverID]); // execute action
    }
    update_confirmations();    
});

// cancel all actions
$("div.confirm_multiple .no").live('click', function(){
    pending_actions = [];
    $('.machine .selected').removeClass('selected');
    $('.machine .display').removeClass('display');
    update_confirmations();
});

// bring up edit metadata overlay
function show_metadata_edit_dialog() {
    var triggers = $("a#metadata-edit-dialog").overlay({
        // some mask tweaks suitable for modal dialogs
        mask: '#000',
        effect: 'default',
        top: '10%',
        closeOnClick: false,
        oneInstance: false,
        load: false,
        onClose: function() {
            // remove all entries so they won't be preloaded next time you open the dialog
            $("#edit-dialog div.content ul.meta-list").empty();
        },
        onLoad: function() {
            // this is a workaround for the mask not appearing problem
            $("#edit-dialog").expose();
        }
    });
    // get metadata for current server and fill the dialog
    serverID = $("#edit-dialog h3 p").text();
    get_metadata(serverID);
    $("a#metadata-edit-dialog").data('overlay').load();
    return false; 
}

// bring up add metadata overlay
function show_metadata_add_dialog() {
    var triggers = $("a#metadata-add-dialog").overlay({
        // some mask tweaks suitable for modal dialogs
        mask: '#000',
        effect: 'default',
        top: '10%',
        closeOnClick: false,
        oneInstance: false,
        load: false,
        onLoad: function() {
            // this is a workaround for the mask not appearing problem
            $("#add-dialog").expose();
        },
        onClose: function(){
            // reset input areas
            $(".meta-modal input.key").removeClass("input-enabled");
            $(".meta-modal input.key")[0].value = 'max 15 characters';
            $(".meta-modal textarea.value").removeClass("input-enabled");
            $(".meta-modal textarea.value")[0].value = 'max 150 characters';
            show_metadata_edit_dialog();        
        }
    });
    $("a#metadata-add-dialog").data('overlay').load();
    return false; 
}

// intercept click on create button in metadata edit dialog
$('#edit-dialog.meta-modal button.create').click( function(){
    // close edit metadata and open add metadata dialog
    $('a#metadata-edit-dialog').data('overlay').close();
    show_metadata_add_dialog();
});

// intercept click on remove button in metadata edit dialog
$('#edit-dialog.meta-modal button.remove').live('click', function() { 
    // get the server id and meta key needed for the ajax call   
    var serverID = $(this).closest('div.container').find('h3 p').text();
    var meta_key = $(this).parent().find('label').text();
    // make the ajax call and list the new GET results
    delete_metadata(serverID, meta_key);
    return false;
});

// intercept click on edit button in metadata edit dialog
$('#edit-dialog.meta-modal button.edit').click( function(){
    // inline editing of selected key-value pair
    // on submission ajax call from updating
    // on success update the overlay
    // TODO
});

// intercept click on cancel button in metadata add dialog
$('#add-dialog.meta-modal button.cancel').click( function(){
    // close add metadata and open edit metadata dialog
    $('a#metadata-add-dialog').data('overlay').close();
});

// intercept create metadata key focus
$(".meta-modal input.key").live('focusin', function() {
    if ($(this).hasClass("input-enabled")) {
    } else {
        $(".meta-modal input.key").addClass("input-enabled"); 
        $(this).addClass("input-enabled"); 
        this.value = '';
    }
    return false;
});

// intercept create metadata key focus out
$(".meta-modal input.key").live('focusout', function() {
    if (this.value == "") {
        $(this).removeClass("input-enabled"); 
        this.value = 'max 15 characters';
    }
    return false;
});

// intercept create metadata key focus
$(".meta-modal textarea.value").live('focusin', function() {
    if ($(this).hasClass("input-enabled")) {
    } else {
        $(".meta-modal textarea.value").addClass("input-enabled"); 
        $(this).addClass("input-enabled"); 
        this.value = '';
    }
    return false;
});

// intercept create metadata key focus out
$(".meta-modal textarea.value").live('focusout', function() {
    if (this.value == "") {
        $(this).removeClass("input-enabled"); 
        this.value = 'max 150 characters';
    }
    return false;
});

// intercept click on save button in metadata add dialog
$('#add-dialog.meta-modal button.save').live('click', function() {
    // if both fields are filled in     
    if ($('input.key').hasClass("input-enabled") && $('textarea.value').hasClass("input-enabled")) {
        // get the server id, meta key and meta value needed for the ajax call     
        var serverID = $(this).parent().find('h3 p').text();
        var meta_key = $(this).parent().find('input.key').attr('value');
        var meta_value = $(this).parent().find('textarea.value')[0].value;
        // make the ajax call and list the new GET results
        add_metadata(serverID, meta_key, meta_value);
        // close add metadata and open edit metadata dialog
        $('a#metadata-add-dialog').data('overlay').close();
        show_metadata_edit_dialog();
    } else {
        // find which field is not filled in and focus there
        if (!$('input.key').hasClass("input-enabled")) {
            $('input.key').focus();
            $('input.key').focusin();
        } else {
            $('textarea.value').focus();
            $('textarea.value').focusin();
        }
    }
    return false;
});

// update metadata in edit dialog
function list_metadata(data) {    
    // empty the list if it already exists
    $("#edit-dialog div.content ul.meta-list").empty();
    // get the values to show
    meta = data.metadata.values;
    // show values
    for (key in meta) {
        pair = $("ul.meta-template li").clone();
        //truncate metadata
        pair.find("label").text(key.substring(0,15));
        if (meta[key].length > 32) {
            pair.find("p").text(meta[key].substring(0,30) + "...");
        } else {
            pair.find("p").text(meta[key]);            
        }
        pair.appendTo("#edit-dialog div.content ul.meta-list").fadeIn();
    }
}

// basic functions executed on page load
if (images.length > 0) {
    // populate image list
    update_wizard_images();
}
if (flavors.length > 0) {
    // configure flavors
    update_wizard_flavors(); 
}
// create tabs for main menu
$("ul.tabs").tabs("div.panes ul");

</script>
