<html>
    <head>
        <script src="static/snf/js/lib/jquery.js"></script>
        <script src="static/snf/js/lib/jquery.cookie.js"></script>
        <script src="static/snf/js/lib/jquery.client.js"></script>
        <script src="static/snf/js/lib/jquery.tools.min.js"></script>
        <script src="static/snf/js/lib/jquery.dataTables.min.js"></script>

        <script src="static/snf/js/lib/underscore.js"></script>
        <script src="static/snf/js/lib/backbone.js"></script>
        <script src="static/snf/js/lib/json2.js"></script>


        <script src="static/snf/js/utils.js"></script>
        <script src="static/snf/js/sync.js"></script>
        <script src="static/snf/js/models.js"></script>
        <script src="static/snf/js/views.js"></script>
        <script src="static/snf/js/ui/ui.js"></script>

        <script src="static/snf/js/tests.js"></script>

        <script src="static/snf/js/tests/jquery.mockjax.js"></script>

        <link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://code.jquery.com/qunit/git/qunit.js"></script>
    </head>
    <body>
        <h1 id="qunit-header">SNF JS API Tests</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture">test markup, will be hidden</div>
    </body>
</html>
