<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title|default:"User Login" }}</title>
  <link rel="stylesheet" href="/im/static/bootstrap.css">
  <script src="/im/static/jquery.js"></script>
  <script src="/im/static/jquery.tablesorter.js"></script>
  <script src="/im/static/main.js"></script>
</head>
<body>
  <div class="container">
    <h2>Welcome</h2>
    <p>Choose how to login!</p>
    <div class="row">
      <div class="span4">
        <h4>Traditional</h4>
        <form action="" class="form-stacked">
          <fieldset>
            <div class="clearfix">
              <label for="username">Username:</label>
              <div class="input">
                <input class="span3" id="user-username" name="username" type="text" />
              </div>
            </div>
            <div class="clearfix">
              <label for="password">Password</label>
              <div class="input">
                <input class="span3" id="user-password" name="password" type="password" />
              </div>
            </div>
          </fieldset>
          <div class="">
            <button type="submit" class="btn primary">Go</button>
          </div>
        </form>
      </div>
      <div class="span4">
        <h4>Stylish</h4>
        <form action="" class="form-stacked">
          <fieldset>
            <div class="clearfix">
              <label for="token">Invitation:</label>
              <div class="input">
                <input class="span3" id="user-token" name="token" type="text" />
              </div>
            </div>
          </fieldset>
          <div class="">
            <button type="submit" class="btn primary">Go</button>
          </div>
        </form>
      </div>
      <div class="span8">
        <h4>Funky</h4>
        <a href="login/shibboleth" alt="Shibboleth"><img src="/im/static/shibboleth.png" width="120" height="120"></a>
        <a href="login/twitter" alt="Twitter"><img src="/im/static/twitter.png" width="120" height="120"></a>
      </div>
    </div>
  </div>
</body>
</html>
