{% extends 'base.html'%}

{% block title%}
        <h2>Welcome</h2>
        <p>Choose how to login. Or move on to <a href="admin">admin</a>.</p>
{% endblock title%}
    
{% block body%}
    <div class="row">
    {% if "local" in im_modules %}
      <div class="span4">
        <h4>Local account</h4>
        <form action="{% url pithos.im.target.local.login %}" method="post" class="form-stacked">
          <fieldset>
            <div class="clearfix">
              <label for="username">Username:</label>
              <div class="input">
                <input class="span3" id="user-username" name="username" type="text" />
              </div>
            </div>
            <div class="clearfix">
              <label for="password">Password:</label>
              <div class="input">
                <input class="span3" id="user-password" name="password" type="password" />
              </div>
            </div>
          </fieldset>
         <div>
            <a href="{% url pithos.im.views.register 'local' %}">Sign up</a>
         </div>
         <div>
            <a href="{% url pithos.im.views.reclaim_password %}">Forgot your password?</a>
         </div>
         <br>
          <div class="">
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn primary">Go</button>
          </div>
        </form>
      </div>
    {% endif %}
    {% if other_modules %}
      <div class="span8">
        <h4>Other provider</h4>
        {% for o in other_modules %}
            <a href="/im/login/{{ o }}{% ifnotequal next "" %}?next={{ next|urlencode }}{% endifnotequal %}" alt="{{ o|title }}"><img src="/im/static/{{ o }}.png" width="120" height="120"></a>
        {% endfor %}
      </div>
    {% endif %}
    </div>
{% endblock body%}
