{% extends "base.html" %}

{% block title%}
        <h1>Welcome</h1>
{% endblock title%}

{% block body %}
<form action={%url pithos.im.views.signup %} method="post">
    <p>Select an Identity Provider:</p>
    {% for choice in im_modules%}
    <div class="row">
        <div class="span8">
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice }}" />
            <label for="choice{{ forloop.counter }}"><img src="/im/static/{{ choice }}.png" width="80"></label>
        </div>
    </div>
    {% endfor %}
<div>
    {% if inv %}
    <input type=hidden  name="code" value={{ inv.code }} />
    {% endif %}
    <button type="submit" class="btn primary">Signup</button>
</div>
<input type="hidden" name="provider" value="{{ provider }}">
<input type="hidden" name="code" value="{{ code }}">
<input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock body %}