{% extends "base.html" %}

{% block body %}

<form action="{% url synnefo.admin.views.users_modify user.id %}" method="post">
  <div class="clearfix">
    <label for="user-id">ID</label>
    <div class="input">
      <span class="uneditable-input" id="user-id">{{ user.id }}</span>
    </div>
  </div>

  <div class="clearfix">
    <label for="user-name">Name</label>
    <div class="input">
      <input class="medium" id="user-name" name="name" value="{{ user.name }}" type="text" />
    </div>
  </div>

  <div class="clearfix">
    <label for="user-realname">Real Name</label>
    <div class="input">
      <input class="large" id="user-realname" name="realname" value="{{ user.realname }}" type="text" />
    </div>
  </div>

  <div class="clearfix">
    <label for="user-uniq">Uniq</label>
    <div class="input">
      <input class="large" id="user-uniq" name="uniq" value="{{ user.uniq }}" type="text" />
    </div>
  </div>

  <div class="clearfix">
    <label for="user-type">Type</label>
    <div class="input">
      <select class="medium" id="user-type" name="type">
        {% for type in types %}
        <option{% ifequal type user.type %} selected{% endifequal %}>{{ type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="clearfix">
    <label for="user-state">State</label>
    <div class="input">
      <select class="medium" id="user-state" name="state">
        {% for state in states %}
        <option{% ifequal state user.state %} selected{% endifequal %}>{{ state }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="clearfix">
    <label for="user-created">Created</label>
    <div class="input">
      <span class="uneditable-input" id="user-created">{{ user.created }}</span>
    </div>
  </div>

  <div class="clearfix">
    <label for="user-updated">Updated</label>
    <div class="input">
      <span class="uneditable-input" id="user-updated">{{ user.updated }}</span>
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn primary">Save Changes</button>
    <button type="reset" class="btn">Reset</button>
  </div>
</form>
{% endblock body %}
