{% load i18n %}
<h2>{% trans "So, what is this <em>~okeanos</em> thing?" %}</h2>
<p>
<em>~okeanos</em> is a brand new IaaS Service. <br />"IaaS" stands for "Infrastracture as a Service", but what does it really mean?
</p>

<p>
It means that you can build your own computer, always connected to the Internet, without worrying about hardware failures, spaghetti cables, connectivity hiccups and software troubles. 
</p>

<p>
With <em>~okeanos</em> you are one click away from your own Virtual Machines and Virtual Networks: You can manage them, destroy them, connect to them and take a handful of other actions, all from inside your favorite web browser. 
</p>

<h3>Think about it:</h3>
<p>
You wake up one morning and you need a new computer with a specific operating system and hardware requirements (or 10 new computers :-) ).
</p>

<h3>Until today you would probably:</h3>
<p>
Go out shopping, buy/order a new PC, wait shipping to your place, unpack, connect cables, connect to the network, setup your installation, pray all went well and start after a few hours (hopefully).
</p>

<h3>Can I have something click and go, please?</h3>
<p>
Start preparing breakfast (required). Open your browser, login to <em>~okeanos</em>, order as many machines as you like, select their 'hardware', pick up your favorite operating system, wait only a few minutes, then connect remotely to your own new working PC. And don't forget, breakfast is still there waiting for you.
</p>

<h3>What's with the name?</h3>
<p>
Okeanos is the Greek word for ocean. Oceans stand for abundancy. Oceans have transformed our world: they capture, store and
deliver energy, oxygen and life around the planet. Oceans are the unfailing well of earth's resources, the big difference from
other planets in universe.</p>
