{% load i18n %}
<h2>{% trans "So, what is this ~okeanos thing?" %}</h2>
<p>
<em>~okeanos</em> is a brand new IaaS Service. "IaaS" stands for "Infrastracture as a Service", but what does it really mean?
</p>

<p>
It means that you can build your own computer, always connected to the Internet, without worrying for hardware failures, spaghetti cables, connectivity hiccups and software troubles. 
</p>

<p>
With ~okeanos you are one click away from your own Virtual Machines and Virtual Networks: You can manage them, destroy them, connect to them and take a handful of other actions, all from inside your favorite web browser. 
</p>

<h4>Think about it:</h4>
<p>
You wake up one morning and you need a new computer with a specific operating system and hardware requirements (or 10 new computers :-) ).
</p>

<p>
Until today you would probably:
Go out shopping, buy/order a new PC, wait shipping to your place, unpack, connect cables, connect to the network, setup your installation, pray all went well and start after a few hours (hopefully).
</p>

<p>
Can I have something click and go, please?
Start preparing breakfast (required). Open your browser, login to ~okeanos, order as many machines as you like, select their 'hardware', pick up your favorite operating system, wait only a few minutes, then connect remotely to your own new working PC. And don't forget, breakfast is still there waiting for you.
</p>
