{% load i18n %}


<h2>{% trans "Hmm, getting interesting, who is it for?" %}</h2>

<p>
<em>~okeanos</em> will be soon delivering production-quality IaaS to the Greek
Academic and Research Community. Students, professors and researchers can dive
into the 'ocean' and get the full power of virtual infrastructures (computing,
network, storage). We run the service from our <a href="."
    class="ext">datacenters</a>, VMs and storage (soon) over our dark fiber network. 
</p>

<p>
Are you a student/researcher/faculty member? You can access <em>~okeanos</em> using the same credentials you use to login to your University/Research Center.
</p>

<h3>Who is behind <em>~okeanos?</em></h3>

<p>
<em>~okeanos</em> is being designed and developed by the <a target="_blank" href="http://www.grnet.gr">Greek Research and Technology Network (GRNET)</a>
for the benefit of the Greek academic community. You are welcomed to join <em>~okeanos</em> and stay!
</p>
