{% load i18n %}

<h2>Ok, seems cool, but why should I use it?</h2>

<p>
The <em>~okeanos</em> UI is designed to be as simple and clean as possible. Although fully-fledged for the tech-savvy administrator, it is as handy as a swiss knife for all: Even the most inexperienced user can have a running system in no time. 
</p>

<h3>I am a student</h3>
<p>
It gives me the opportunity to test different kinds of software on a machine that I no longer need after my work is done. It also makes it easy to get in touch with different technologies without having to buy anything. It is a live testbed for my studies. And yes, it is always connected to the net, so imagine what it can do...
</p>

<h3>I am a professor</h3>
<p>
It makes it possible for me to deploy PC labs without having to worry about specific hardware or physical space. It makes me capable of providing machines to my students for a scheduled amount of time.
</p>

<h3>I am a researcher</h3>
<p>
It enables me to run experiments in many different environments and network topologies which I can provision easily, quickly and dynamically. I can have persistent or volatile machines according to my needs.  
</p>

