<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Σύννεφο -- Εφαρμογή HelpDesk </title>
</head>

<body>

<div id="header">
    Επιλέξτε το όνομα του χρήστη:
    <select id="username">
            <option value="">--Επιλέξτε χρήστη--</option>
         {% for user in users %}
             <option value="{{ user.id }}">{{ user.name }}</option>
         {% endfor %}
    </select>
    <input type="button" value="Go"/>
</div>

<iframe id="content" src="">
    <p>Your browser does not support iframes. Use a current millenium browser.</p>
</iframe>

</body>
</html>