div.machine div.actions a {
    width: 180px;
}

div.machine div.actions {
    right: -183px;
    width: 120px;
}

div.machine {
    width: 528px;
}

#status li {
    margin-bottom: 0px;
}

#wizard .topruler {
    width: 426px;
    margin-top: -2px;
    margin-bottom: 0px;
}

#wizard #tabscontainer {
    width: 426px;
}

div.image {
    padding: 0px;
    margin-bottom:0px;
}

.description-container {
    width: 390px;
    top: -10px;
    left: 83px;
}

#wizard .bottomruler {
    width:426px;
}

div.confirm_single {
    margin-right: -71px;
}

div.action_error {
    margin-left: 465px;
}

div.action_error button.details {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

div.single div.column3 div.server-name:hover, .single .column3 .column3-selected {
    width: 145px;
}

.single .column3 .separator {
    margin: 4px 0 0 7px;
}

.single div.action-container {
    width: 165px;
    overflow: visible;
}

.single div.upper {
    overflow: visible;
}

div.single-actions {
    overflow: visible;
    width: 170px;
}

.single div.confirm_single {
    margin-right: -19px;
}

.single div.action_error {
    position: absolute;
    top: 190px;
    margin-left: -95px !important;
}

#ie-fix-view-select {
    position: relative;
    z-index: 1000;
}

.running {
    height: 80px;
}

.editbuttons {
    margin-top: -19px !important;
}
