div.machine div.actions a {
    width: 180px;
}

div.machine div.actions {
    right: -183px;
    width: 120px;
}

div.machine {
    width: 528px;
}

#wizard {
    height: 450px;
}

#wizard .topruler, #networks-wizard .topruler {
    width: 426px;
    margin-top: -2px;
    margin-bottom: 0px;
}

#wizard #tabscontainer {
    width: 426px;
}

div.image {
    padding: 0px;
    margin-bottom:0px;
}

.description-container {
    width: 390px;
    top: -10px;
    left: 83px;
}

#machinetype {
    width: 426px;
}

#page2-container {
    width: 426px;
}

.typebody {
    top: -2px;
}

.slider-container {
    padding: 0px;
}

#page2-container label {
    float:left;
    margin-top: -3px;
}

.slider {
    margin: 5px 0 20px 0px;
}

.progress {
    font-size: 2%;
}

.handle {
    margin-top: -9px;
}

.range {
    margin: -3px -5px 0 15px;
}

.units {
    padding:0px;
}

#wizard .cost {
    margin-top: 55px;
    margin-left:0px;
}

#credits-indicator {
    width: 30px;
    margin-left: 3px;
}

#page3-container {
    width: 426px;
    margin-bottom: 25px;
}

#wizard .text {
    padding: 0px;
}

#wizard .bottomruler, #networks-wizard .bottomruler {
    width:426px;
}

#wizard button.next {
    margin-top: -23px;
}

#wizard button.prev {
    margin-top: -3px;
}

#wizard .separator-end {
    font-size: 2%;
    margin-top: 383px;
}

div.confirm_single {
    margin-right: -73px;
}

div.action_error {
    margin-left: 465px;
}

div.action_error button.details {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

div.single div.column3 div.server-name:hover, .single .column3 .column3-selected {
    width: 145px;
}

.single .column3 .separator {
    margin: 4px 0 0 7px;
}

.single div.action-container {
    width: 165px;
    overflow: visible;
}

.single div.upper {
    overflow: visible;
}

div.single-actions {
    overflow: visible;
    width: 170px;
}

.single div.confirm_single {
    margin-right: -19px;
}

.single div.action_error {
    position: absolute;
    top: 190px;
    margin-left: -95px !important;
}

#ie-fix-view-select {
    position: relative;
    z-index: 1000;
}

.running {
    height: 80px;
}

.editbuttons {
    margin-top: -19px !important;
}

#networks-wizard h2 {
    margin-bottom:5px;
}

#networks-wizard div.container {
    width: 426px;
    margin-top:-6px;
}

#networks-wizard div.name-input {
    margin-left:45px;
}

#networks-wizard .cancel {
    margin-top:-12px;
}

#networks-wizard .create {
    margin-top:-24px;
}

#networks-wizard .separator-end {
    margin-top: 5px;
}

.private-networks .state div {
    margin: 5px 1px 4px;
}

#metadata-wizard .addbuttons {
    margin-top: -16.5px;
}

#metadata-wizard .dropdown-container {
    position: absolute;
}

#wizard button.next {
    margin-right: -32px;
    padding-right: 5px;
}

#wizard div.panes {
    width: 426px;
}

#status li {
    margin-bottom: -10px;
}

/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}
