html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    font-family: Verdana, 'PT Sans', sans-serif;
}

body {
	line-height: 1;
    background: url(../static/degrade-background.png) repeat-x scroll 0 0 #C3C3C3;
    margin: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 1px dotted #87AADE;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h5 {
    font-weight: normal;
    font-size: 9pt;
    margin-bottom:3px;
}

/* root element for tabs  */
ul.css-tabs {
	margin: 0 0 0 10px; 
    padding: 0;
	height:31px;
    font-size:32px;	
    overflow: hidden; 	
}

ul.css-tabs .secondary {
    position:relative;
}

/* single tab */
ul.css-tabs li {  
	float:left;	 
	padding:0; 
	margin: 0 10px 0 0;  
	list-style-type:none;	
}

/* link inside the tab. uses a background image */
ul.css-tabs a { 
	float:left;
	display:block;
	text-decoration:none;
	color:#d2d2d2;
	position:relative;
	outline:0;
    padding: 0 9px 0 13px;
    top: 9px;
}

ul.css-tabs a#machines {
    color: #a3bbc5;
}

ul.css-tabs a#machines.current {
  color: #87aade;
}

ul.css-tabs a#disks {
    color: #deb358;
}

ul.css-tabs a#disks.current {
    color: #dea842;
}

ul.css-tabs a#images {
    color: #9ba97b;
}

ul.css-tabs a#images.current {
    color: #87a06d;
}

ul.css-tabs a#networks {
    color: #bc9399;
}

ul.css-tabs a#networks.current {
  color: #9d6d6a;
}

ul.css-tabs a#files {
    color: #a3bbc5;
}

ul.css-tabs a#files.current {
  color: #87aade;
}

ul.css-tabs a#desktops {
    color: #deb358;
}

ul.css-tabs a#desktops.current {
    color: #dea842;
}

ul.css-tabs a#apps {
    color: #9ba97b;
}

ul.css-tabs a#apps.current {
    color: #87a06d;
}

.more-tabs {
    float: right;
    margin: -15px 50px 0px 0px;
}

.more-tabs:hover {
    cursor: pointer;
}
	
/* selected tab */
ul.css-tabs a.current {
	cursor:default;   
    top: 2px !important; 
}

/* tab pane */
div.css-panes {
/*    border-top: 10px solid #87aade;
    border-bottom: 10px solid #87aade;  */
    background: white;
}

.css-panes > div.pane {
	display:none;
	padding:0px 20px;
    margin: 0 1em;
}

/* CSS3 border radius for various elements. yea - CSS isn't perfect */
.rounded, #sheet input, .error {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
}

/* validation error message */
.error {
	background-color:#E8FF6D;
	padding:4px;
	-webkit-box-shadow: #000 0 0 9pt;
	-moz-box-shadow: #000 0 0 9pt;
}

/* nested arrow inside error message. It's 100% CSS. No images. */
.error em {
	border: 10px solid;
	border-color: #E8FF6D transparent transparent;
	bottom: -17px;
	display: block;
	height: 0;
	left: 10px;
	position: absolute;
	width: 0;
}

/* input field that caused validation error */
.invalid {
	background-color: rgba(221, 233, 255, 0.898) !important;
}

#create {
    background-color: #87aade;
    color: #000;
    cursor: pointer;
    display: none;
    padding: 6px 24px;
    margin: -8px 0 20px -36px;
    width: 125px;
    text-decoration: none;
}

#create:hover {
    background-color: #a8c5f1;
}

#header .fatborder{
    height: 60px;
    background: #999;
}

div#wrapper {
    width: 700px;
    margin: 0em auto;
}

.modal {
    background-color:#fff;
    display:none;
    width:30em;
    height:20em;
    padding:1em;
    text-align:left;
}

/* scrollable root element */
#wizard {	
	font-size:9pt;
	height:405px;
	width:453px;
	margin:0px auto;	
	overflow:hidden;
	position:absolute !important;
}  

/* scrollable items */
#wizard .items {
	width:20000em;	
	clear:both;	
	position:absolute;	
    display:block;
    padding: 0;
    margin: 0;
    border:none;
    background:none;
}

/* single item */
#wizard .page {	
    padding: 15px 40px 20px 15px;
	width:447px;
	float:left;	
    display:block;
    border:none;
    background-color: transparent;
}

/* title */
#wizard h2 {
    color: black;
    font-size: 100%;
    font-weight: normal;
    padding-left: 20px;
}

#wizard li {
	margin-bottom:1.2em;
}

#wizard .pane li {
    margin: 0;
}

#wizard label {
	font-size:16px;	
	display:block;
    clear: both;
}

#wizard label strong {
	position:relative;
	top:-1px;
    font-size: 80%;
    font-weight: normal;
}

#wizard label em {
	font-size:9pt;
	color:#666;	
	font-style:normal;
}

#wizard .text {
	width: 270px;
	padding: 5px;
    margin-top: 10px;
	border: 1px solid #ccc;
	color: #456;
	letter-spacing: 1px;
}

#wizard select {
	border:1px solid #ccc;
	width:94%;	
	padding:4px;
    display: none;
}

#wizard .double label { 
	width:50%;
	float:left;
}

#wizard .double .text {
	width:93%;	
}

#wizard .clearfix {
	clear:left;
	padding-top:10px;	
}

#wizard .right {
	float:right;		
}

#wizard .error {
	border:1px solid red;		
}

#wizard a div.image {

}

#wizard a:hover div.image {
    background-color: #999;
}

.selecteddiv {
    background-color: #999 !important;
}

#wizard label a:hover strong {
    color: white;
}

#wizard div.image span.size {
    font-size: 9pt;
    color: #666;
}

#wizard div.image .radio {
    float: left;
    margin-top: 10px;
}

#wizard div.image span.image-id, #wizard div.image span.description {
    font-size: 9pt;
    color: #666;
    font-weight: normal;
    display:inline;
}

#wizard a:hover div.image span.image-id, #wizard a:hover div.image span.description, #wizard a:hover div.image span.size {
    color: white;
}

#wizard .cost {
    color: #666;
    margin-top: 40px;
    clear:both;
    padding-left: 15px;
    font-size: 95%;
}

#wizard #status {
	height: 50px;
	background: #666;
    width: 450px;
}

#wizard .headernumber {
    font-size: 470%;
    font-weight: normal;
}

#wizard .headerbody {
    font-size: 110%;
    font-weight: normal;
    display: inline;
    margin-top: 20px;
    position: absolute;
}

#wizard .first {
    margin-left: -7px;
}

#wizard .third {
    margin-top: -2px !important;
}

#wizard .topruler {
    background-color: #CCCCCC;
    border: 0 none;
    height: 4px;
    margin-left: -1px;
    width: 447px;
    margin-bottom: 6px;
    margin-top: 6px;
}

#wizard .bottomruler {
    background-color: #CCCCCC;
    border: 0 none;
    height: 4px;
    margin-left: -1px;
    width: 447px;
    margin-bottom:6px;
    margin-top:6px;
}

#wizard #cancel {
    text-align: center;
}

#wizard #start {
    text-align: center;
    background-color: #FF6600;
    border-color: #FF6600;
}

#wizard #start:hover {
    background-color: #FF9651;
    border-color: #FF9651;
}

.page ul {
    height: 270px;
    overflow: auto;
}

.panes ul.pane {
    height: 220px;
}

.page ul.tabs {
    overflow: hidden;
    height: auto;
    margin-bottom: 2px;
    margin-top: -5px;
}

.page ul.tabs li {
    float: right;
    margin: 0 0.2em;
}

#status li {
	float: left;
	color: #7D7D7D;
    padding: 0px 72px 0 40px;
    margin-top: -1px;
}

#status li.active .headernumber {
    color: #FFFFFF;
}

#status li.active .headerbody {
    color: #5599FF;
}

div.image-container {
    border-bottom: 1px solid #CCCCCC;
    margin-left: 10px;
    margin-right: 10px;
}

#page2-container {
    background-color: #ECECEC;
    padding-top: 25px;
    height: 180px;
}

#page3-container {
    background-color: #ECECEC;
    padding-left: 50px;
    height: 244px;
    margin-bottom: 32px;
}

/* slider root element */
.slider {
    border: 1px solid #666;
    cursor: pointer;
    display: inline !important;
    float: left;
    margin: 5px 0 20px 10px;
    position: relative;
    width: 250px;
}

.sliders {
    float:left;
    width: 40px;
    margin-left: 10px;  
    margin-top: 3px;
}

.units {
    padding-left:10px;
}

.slider-container {
    padding-bottom: 15px;
    margin-left: 5px;
}

/* drag handle */
.handle {
    -moz-box-shadow: 0 0 2px #000000;
    background: url("../static/h30.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    cursor: move;
    display: block;
    height: 10px;
    margin-top: -8px;
    position: absolute;
    width: 8px;
}

/* progress bar (enabled with progress: true) */
.progress {
	height: 3px; 
	background-color: #676767;
}

/* the input field */
.range {
	float: left;
	font-size: 100%;
	margin: -3px 0 0 15px;
    padding: 2px 10px 2px 0;
	text-align: right;
	width: 40px;
    border: 1px solid #111111;
}

.selectedrange {
    border-color: #5599FF;
}

#credits-indicator {
    background-color: #ECECEC;
    float: none;
    margin: 0 0 0 10px;
    border: 1px solid #999;
    color: #222222;
}

.machine-container {
    min-height: 65px;
    margin: 2px 0 0 -32px;
    padding: 0 4px 0;
    clear: both;
    width: 523px;
}

.machine-container:hover {

}

div.machine {
    color: #666;
    min-height: 65px;
    padding-right: 15px;
    padding-top: 2px;
}

.machine a {
    color: #3d3d3d;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.machine a:hover {
    color: #000;
    text-decoration: underline;
}

.machine .name, .machine .ip {
    text-decoration: none !important;
    padding-top: 1px;
}

.oldValue {
    display:none;
}

.state {
    float: right;
}

.state div {
    text-align: right;
    margin-right: 3px;
}

div.machine div.actions {
    float: right;
    width: 70px;
    margin: 0 -80px 0 0;
    font-weight: normal;
}

div.machine div.actions a {
    color: transparent;
    margin: 0 0 5px 8px;
    display: block;
}

div.machine div.actions a.action-shutdown {
    margin-bottom: 5px;
    display: block;
}

div.machine div.actions a.shutdown-padding {
    margin-bottom: 22px;
}

div.machine div.actions a.destroy-padding {
    margin-top: 52px;
}

div.actions a.enabled:hover{
    color: black !important;
    text-decoration: underline;
    display: block;
}

.machine:hover .actions a {
    color: #3d3d3d;
    display: block;
}

div.machine div.display a{
    color: #3d3d3d;
    display: block;
}

div.machine div.actions a.selected:hover {
    color: orange;
}

div.running div.machine a.action-start {
    display: none;
}

div.terminated div.machine a.action-reboot, div.terminated div.machine a.action-shutdown{
    display: none;
}

div.terminated div.machine div.actions a.action-destroy {
    margin-top: 38px;
}

.machine:hover {
    background-color:#dcdcdc;
}

.standard .machine img {
    float: left;
    margin: 7px 14px 0;
}

.list .machine img {
    margin: 0;
}

div.ip, div.state {
    font-size: 9pt;
    color: #3d3d3d;
}

div.indicator {
    width:10px;
    height:11px;
    margin: 3px -1px;
    clear: none;
    float:right;
}

.view-separator {
    color:#5F8DD3;    
}

.running .indicator {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 3px solid white;
    background-color: #87AADE;
}

.terminated {
    margin-bottom: 17px;
}

.terminated .machine .state .status {
    color: #666;
}

.machine:hover div.uptime, .machine:hover a.rename, .machine:hover a.configure {
    color: #3d3d3d;
}

div.uptime {
    clear: both;
    color: transparent;
    margin-left: 1px;
}

div.machine-tabs {
    margin-top: 1em;
}

span.rename, span.configure {
    background-repeat: no-repeat;
    color: transparent;
    font-size: 9pt;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    text-align: left;
}

span.rename {
    cursor: pointer;
}

div.name:hover span.rename {
    color: #3D3D3D;
    margin-top: 0.4em;
    background-image: url(/static/pencil.png);
    background-position: 0 3px;
}


a.settings:hover span.configure {
    color: #3D3D3D;
}

button {
    background-color: #87AADE;
    border: 1px solid #87AADE;
    color: #FFFFFF;
    cursor: pointer;
    height: 23px;
    width: 120px;
}

button.next:hover {
    background-color: #68A4FF;
    border-color: #68A4FF;
}

button.prev:hover {
    background-color: #888888;
    border-color: #888888;
}

button.next {
    background-color: #5599FF;
    border-color: #5599FF;
    text-align: right;
}

button.prev {
    background-color: #666;
    border:none;
    margin-left: -1px;
    text-align: left;
}

.image-logo {
    float: left;
    margin-right: 1em;
    margin-left: 1.5em;
    margin-top: 4px;
}

div.image {
    clear: both;
    display: block;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 5px;
}

div#view-select {
    float: right;
    clear: both;
    color: white;
    margin-top: -42px;
    margin-right: -36px;
    font-size: 9pt;
    background-color: #87aade;
    padding: 5px 10px;
    display:none;
}

a#standard, a#list, a#single {
    text-decoration: none;
    height: 15px;
    width: 17px;
    padding: 1px 8px 2px 9px;
    font-size: 11px;
}

div#view-select a {
    color:#5f8dd3;
}

a#list:hover {
    background: #5f8dd3;
}

a#standard:active, a#list:active {
    color:white;
}

a#standard {
    background: url(/static/icon-view.png) no-repeat -36px 0;
}

a#list {
    background: url(/static/list-view.png) no-repeat -36px 0;
}

a#single {
    background: url(/static/single-view.png) no-repeat -36px 0;
}

a#standard:hover {
    background: url(/static/icon-view.png) no-repeat -18px 0;
}

a#list:hover {
    background: url(/static/list-view.png) no-repeat -18px 0;
}

a#single:hover {
    background: url(/static/single-view.png) no-repeat -18px 0;
}

a#standard.activelink {
    background: url(/static/icon-view.png) no-repeat 0px 0;
}

a#list.activelink {
    background: url(/static/list-view.png) no-repeat 0px 0;
}

a#single.activelink {
    background: url(/static/single-view.png) no-repeat 0px 0;
}

#machinetype {
    background-color: #CCCCCC;
    height: 25px;
    margin-bottom: 4px !important;
}

div.machine-type {
    float: left;
    margin: 4px 18px 20px;
}

.machine-type .active {
    color: #FFFFFF
}

#machinesview {
    min-height: 270px;
    margin-top: 30px;
}

.list#machinesview {
    margin-left: -20px;
    display:none;
}

#machinesview_wrapper.list {
    margin-left: -20px;
}

#machinesview_wrapper {
    min-height: 270px;
}

#machinesview_content {
    display:none;
}

.list-machines {
    min-width: 515px;
}

#emptymachineslist {
    display:none; 
    color: #A0A0A0;
    background-image: url(/static/emptydegradebg.png);
    width: 400px;
    margin-top: 40px;
    padding: 5px;
    padding-left: 10px;
    margin-left: -10px;
}

#welcomeheader {
    color:white;
}

.welcomebody {
    color:black;
    font-size:80%;
}

.welcomebody a {
    color:black;
}

.welcomefooter {
    color:black;
    font-size:60%;
}

.welcomefooter a {
    color:black;
}

.emptycreatecontainer {
    margin-left: 430px !important;
    position: absolute;
    margin-top: 40px;
    width: 180px;
    background-color: #CCCCCC;
    padding: 5px;
    padding-left: 10px;
}

.emptycreate {
    margin: 20px 10px 5px 0 !important;
}

#createbody {
    display:none;
    font-size: 80%;
}

div.list label img {
    margin: 5px 5px -3px 0;
}

div.list label {
    color: #3D3D3D;
    font-size: 9pt;
}

div.list .state {
    margin-top: 7px;
    margin-right: 10px;
}

div.list table tbody {
    margin-top: 8px;
}

div.list .stopped {
    margin-top: 8px;
}

/* root element for tabs  */
#wizard ul.tabs { 
    margin-right: -1px;
    float: right;		 	
}

#wizard div.panes {
    height: 252px;
    margin-bottom: 6px;
    clear:both;
}

.typebody {
    font-size: 80%;
    font-weight: normal;
    position: relative;
    top: -3px;
}

.typehover {
    color: #FFFFFF;
}

#label-name {
    margin-top: 15px;
}

/* single tab */
#wizard ul.tabs li {  
    margin-bottom: 0; 
	list-style-type:none;
    float: left;	
}

/* link inside the tab. uses a background image */
#wizard ul.tabs a { 
	display:block;
    padding: 0.3em 0.5em 0.5em 0.4em;
	text-decoration:none;
	color: #FFFFFF;
	position:relative;
	top:1px;
	outline:0;
    background-color: #CCCCCC;
    text-align: center;
    width: 100px;
    white-space: nowrap;
}

#wizard ul.tabs a:hover {
	color: #FFFFFF;
    background-color:#AAAAAA;
}
	
/* selected tab */
#wizard ul.tabs a.current {
	color: white;
    background-color: #666;	
	cursor: default;
}

#wizard #standard-images {
    background-color: #ECECEC;
}

div.list div.actions {
    display: none;
    clear: left;
    float: right;
    margin-right: -20px;
    margin-top: 37px;
    text-align: right;
    width: 150px;
}

div.list div.actions a {
    clear: left;
    color: #D3D3D3;
    display: block;
    font-size:9pt;
    margin-bottom: 2px;
}

div.list div.actions a.enabled {
    color: #3D3D3D;
}

div.list div.actions a.enabled:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

input.machine {
    width: 13px;
    height: 13px;
    top: -1px;
    overflow: hidden;
}

/* metadata editing scrollable */
#metadata-wizard {
	position:fixed;
	overflow:hidden;
    width:380px;
    height:360px;
    display:none;
    background-color:#fff;
    text-align:left;
    font-size: 80%;
}

#metadata-wizard .items {
	width:20000em;
	position:absolute;
	clear:both;
    padding: 0;
    margin: 0;
}

#metadata-wizard .page {	
	width:360px;
    padding: 15px 10px 15px 10px;
	float:left;	
    display:block;
    border:none;
}

#metadata-wizard div.container {
    height:308px;
}

#metadata-wizard h3 {
    font-weight:normal;
}

#metadata-wizard hr {
    background-color: #666;
    border: 0 none;
    height: 5px;
    margin: 0; 
}

#metadata-wizard hr.topruler {
    margin-top: 5px; 
}

#metadata-wizard hr.fatruler {
    height: 20px;
    margin-top: 2px;
    margin-bottom: 20px;
}

#metadata-wizard hr.meta-separator {
    margin: 5px 8px 2px 0;
}

#metadata-wizard div.content {
    height: 248px;
    width: 345px;
    margin-left: 15px;
    overflow: auto;
}

#metadata-wizard div.content ul {
    height: 230px;
}

#metadata-wizard div.content li {
    margin-bottom: 20px;
}

#metadata-wizard p {
    margin-left: 7px;
}

#metadata-wizard div.bottomruler {
    background-color: #666;
    height: 20px;
    margin-top: 17px;
}

#metadata-wizard button {
    font-size: 80%;
    width: 87px;
    float: right;
    background-color: #5599FF;
    border: 0px solid #5599FF;
    padding: 0;
    text-align: center;
    margin-right: 8px;
}

#metadata-wizard button.remove {
    height: 15px;
    width: 70px;
    background-color: #d35f5f;
    border-color: #d35f5f;
}

#metadata-wizard button.edit {
    height: 15px;
    width: 70px;
    background-color: #666;
    border-color: #666;
    margin-top: -12px;
}

#metadata-wizard #edit-dialog button.cancel {
    display: none;
    height: 15px;
    width: 70px;
    float: right;
    background-color: #666;
    border-color: #666;
    margin: -56px 8px 0 0;
}

#metadata-wizard #edit-dialog button.save {
    display: none;
    height: 15px;
    width: 70px;
    margin: -18px 8px 0 0;
}

#metadata-wizard button.create {
    height: 23px;
    margin: 4px 25px 0 0;
}

#metadata-wizard input, #metadata-wizard textarea {
    font-style: italic;
    text-align: right;
    color: #ccc;
}

#metadata-wizard input.edit-meta-key, #metadata-wizard textarea.edit-meta-value {
    font-style: normal;
    text-align: left;
    color: black;

}

#metadata-wizard input.edit-meta-key {
    margin-bottom: -4px;

}

#metadata-wizard textarea.edit-meta-value {
    margin-top: 2px;
}
 
#metadata-wizard input {
    font-size: 80%;
}

#metadata-wizard input.key {
    width: 279px;
    margin-bottom: -3px;
}

#metadata-wizard textarea.value {
    width: 267px;
    height: 170px;
    overflow: auto;
}

#metadata-wizard .input-enabled {
    color: black;
    text-align: left;
    font-style: normal;
}

#metadata-wizard label.meta-value {
    vertical-align: top;
}

#metadata-wizard button.save {
    margin: 4px 25px 0 0;
}

#metadata-wizard button.cancel, #metadata-wizard #edit-dialog button.close {
    float: left;
    margin: 4px 0 0 25px;
    background-color: #d35f5f;
    border-color: #d35f5f;
}

/* notification box */
#error-success, #yes-no {
    height: 150px;
    border: 5px solid #87AADE;
    z-index: 9999;
}

#error-success p, #yes-no p, #yes-no button {
    margin-top: 15px;
}

#error-success strong {
    color: #F49C1A;
}

#error-success div {
    height: 142px;
    overflow-y: auto;
    overflow-x: hidden;
}

#error-success .close {
	background-image: url(/static/close.png);
	position: absolute;
	right: -19px;
	top: -20px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

/* Confirmation boxes */
div.confirm_single, div.confirm_multiple {
    display: none;
    background-color: #DCDCDC;
    color: orange;
    font-size: 9pt;
}

div.action_error {
    float: right;
    width: 80px;
    height: 60px;
    padding: 5px;
    margin: -65px -165px 0 0;
    display: none;
    background-color: #DCDCDC;
    font-size: 9pt;
    color: black;
    line-height: 1.5;
}

div.action_error button.details {
    margin: 5px 0 0 0px;
    padding: 0 15px;
}

.orange {
    color: orange;
}

div.confirm_single button, div.confirm_multiple button, div.action_error button{
    font-size: 9pt;
    background-color: #DCDCDC;
    border: 1px solid #a5a5a5;
    color: #3D3D3D;
    cursor: pointer;
    padding: 0px;
    height: 20px !important;
}

div.confirm_single button, .action_error button {
    width: 80px !important;
}
div.confirm_single button.yes, div.confirm_multiple button.yes {
    border-color: orange;
    padding: 0 12px;
}

div.confirm_single button.yes:hover, div.confirm_multiple button.yes:hover {
    background-color: orange;
}

div.confirm_single button.no, div.confirm_multiple button.no {
    padding: 0px 16px;
}

div.confirm_single button.no:hover, div.confirm_multiple button.no:hover, div.action_error button.details:hover {
    background-color: #a5a5a5;
}

div.confirm_single{
    float: right;
    width: 90px;
    height: 66px;
    margin: -2px -175px 0 0;
}

div.confirm_single button.yes {
    margin: 5px 0 0 5px;
}

div.confirm_single button.no {
    margin: 16px 0 0 5px;
}

div.action_error {
    display: none;
}

div.confirm_multiple {
    width: 692px;
    height: 28px;
    margin: 0 0 10px -32px;
}

div.confirm_multiple p {
    float: left;
    margin: 7px 0 0 200px;
}

div.confirm_multiple button {
    float: right;
    margin: 4px 5px 0 0;
}

div.confirm_multiple button.no {
    margin-right: 15px;
}

div#user{
    float:right;
    clear: both;
    color: #a0a0a0;
    font-size: 9pt;
    margin-top: 16px;
}

div#user a{
    color: #a0a0a0;
    text-decoration: none;
}

div#user a.current_lang {
    color: #d3d3d3;
}

.separator {
    background-color: #87AADE;
    height: 10px;
    width: 700px;
    margin: 0 0 0 -36px;
}

.machine-separator {
    width: 508px;
    height: 1px;
    margin: 15px 0 0 15px;
    background-color: #DCDCDC;
}

#mini.separator {
    width: 535px;
    height: 5px;
    margin: 17px 0 17px -36px;
    display: none;
}

#disks.separator {
    background-color: #dea842;
}

#images.separator {
    background-color: #87a06d;
}

#networks.separator {
    background-color: #6c535d;
}

#desktops.separator {
    background-color: #dea842;
}

#apps.separator {
    background-color: #87a06d;
}

.machine-container .separator {
    width: 508px;
    height: 1px;
    margin-top: 2px;
    background-color: #DCDCDC;
    margin-left: 13px;
}

.machine h5 {
    margin: -1px 60px 1px 84px;
}

.machine .settings {
    margin-top: 9px;
}

.editbuttons {
    display: block;
    clear: none;
    width: 40px;
    margin-right:32%;
    margin-top:3px;
    float:right;
    cursor: pointer;
}

.editbuttons .save:hover, .editbuttons .cancel:hover {
    background-color: #CCCCCC;
}

.editbuttons .cancel:hover {
    background-image: url("../static/cancel-onhover.png");
}

.editbuttons .cancel, .editbuttons .save {
    padding-left: 16px;
    padding-top: 2px;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 9pt;
}

.editbuttons .cancel {
    background-image: url("../static/cancel.png");
    margin-left: 3px;
}

.editbuttons .save {
    background-image: url("../static/save.png");
    margin-left: 1px;
}

.editbuttons img {
    float:none !important;
    margin: 0px !important;
}

.namecontainer {
    line-height: 22px;
}

.nametextbox {
    height: 13px;
    font-size: 95%;
}

#spinner {
    background: url("../static/progress.gif");
    height: 31px;
    width: 31px;
    margin-left: 298px;
    margin-top: 160px; 
}

/* tables in list view */
div.list div.dataTables_filter,  div.list div.dataTables_filter input{
    font-size: 9pt;
    display: none;
}

div.list div.dataTables_filter input{
    height: 12px;
    margin-bottom: 12px;
}

div.list table {
    width: 515px;
    font-size: 9pt;
}

div.list table tbody td {
	color: #3D3D3D;
	padding:6px;
	background-color: #FFF;
	vertical-align: middle;
}

div.list table thead tr th {
	background-color: #E6EEEE;
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: right 11px;
    font-weight: normal; 
	border: 1px solid #FFF;
    border-bottom: none;
	padding: 4px;
    text-align: left;
    vertical-align: middle;
	cursor: pointer;
}

div.list table thead .sorting_asc, div.list table thead .sorting_desc {
    background-color: #87AADE;
}

div.list table thead .sorting_asc {
	background-image: url(asc.gif);
}

div.list table thead .sorting_desc {
	background-image: url(desc.gif);
}

div.list table .selection div.expand-icon {
	background-image: url(asc.gif);
	background-repeat: no-repeat;
    position: relative;
	cursor: pointer;
    width: 15px;
    height: 4px;
    left: 19px;
    top: -11px;
}

ul.dropdown-selector {
    background-color: #E6EEEE;
    position: absolute;
    margin-left: 1px;
    display: block;
    top: 255px;
    font-size:9pt;
    width:40px;
}

ul.dropdown-selector li {
    padding: 4px;
}

ul.dropdown-selector li:hover {
    background-color: #87AADE;
}

ul.dropdown-selector li a{
    color: black;
    text-decoration: none;
}

div.list table span.imagetag { 
    display: none;
}

div.list table thead .vmos {
    width: 20px !important;
    vertical-align:middle;
}

div.list table .selection {
	width: 20px !important;
	text-align: left;
    background-image: none;
}

div.list table thead .vmflavor {
    width: 100px !important;
}

div.list table thead .vmgroup {
    width: 40px !important;
}

div.list table thead .vmstatus {
    width: 50px !important;
}

div.list table thead .vmname {
    width: 70px !important;
}

.spinner, .wave {
    clear: right;
    height: 20px;
    float:right !important;
    width: 20px;
    margin: 5px 16px 0 15px !important;   
}

.hidden {
    display:none;
}

div.actions a.selected, div.actions a.selected:hover {
    display:block !important;
    color: orange !important;
}

.action_error .message, .action_error .code {
    display: none;
}

.fixed {
    margin: 0 0 0 -32px !important;
    bottom: 0;
    position: fixed;
}

/* Networks */
#networkscreate {
    background-color: #6C535D;
    color: #FFFFFF;
    cursor: pointer;
    padding: 6px 24px;
    text-decoration: none;
    width: 125px;
}

#networks-container {
    min-height: 500px;
}

#networks-createcontainer {
    margin-left: -36px;
    margin-top: 17px;  
}

div.network a.action-network-add {
    display: none;
}

div.network a.action-netowrk-edit {
    display: none;
}

div.network a.action-network-destroy {
    display: none;
}

div.network {
    clear: both;
    color: #666666;
    min-height: 65px;
    margin: 30px 0 0 -30px;
    padding: 3px 20px 0 4px;
    width: 500px;
}

#network-template {
    margin: 2px 0 0 -30px;
}

div.network-placeholder {
    border-left: 3px solid #FB822F;
    margin-left: 33px;
}

.network a, .show-machines, span.ip, .show-firewall {
    color: #3d3d3d;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

.network a:hover, .show-machines:hover, span.ip:hover, .show-firewall:hover {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

#networks-container .name {
    text-decoration: none !important;
    margin-bottom: 25px;
    color: #000000;
    margin-top: -4px;
}

.state {
    float: right;
}

.state div {
    text-align: right;
    margin-right: 3px;
}

div.network div.actions {
    float: right;
    width: 100px;
    margin:0px -120px 0 0;
    font-weight: normal;
}

div.network div.actions a {
    color: transparent;
    margin: 0 0 5px 8px;
    display: block;
}

div.actions a.enabled:hover{
    color: black !important;
    text-decoration: underline;
    display: block;
}

.network:hover .actions a {
    color: #3d3d3d;
    display: block;
}

div.network div.display a{
    color: #3d3d3d;
    display: block;
}

div.network div.actions a.selected:hover {
    color: orange;
}

.network:hover {
    background-color:#dcdcdc;
}

#internet-separator {
    width: 510px;
    height: 5px;
    background-color: #6C535D;
    margin-left: -36px;
    margin-top: 20px;
}

.network-logos {
    float:left;
    padding-right: 10px;
}

#networks-container .settings {
    color: #000000;
}

#networks-container .network-type {
    float: right;
    margin-top: -4px;
    margin-right: 15px;
}

#networks-container .indicator {
    background-color: #87AADE;
    border-color: white;
    border-style: solid;
    border-width: 2px 3px 2px 2px;
}

.state div {
    margin-right: 3px;
    text-align: right;
}

div.indicator {
    clear: none;
    float: right;
    height: 11px;
    margin: 3px -1px;
    width: 10px;
}

#private-networks {
    margin-top: 20px;
}

span.rename-network, span.configure {
    background-repeat: no-repeat;
    color: transparent;
    font-size: 9pt;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    text-align: left;
}

span.rename-network {
    cursor: pointer;
}

div.name:hover span.rename-network {
    color: #3D3D3D;
    margin-top: 0.4em;
    background-image: url(/static/pencil.png);
    background-position: 0 3px;
}

.network:hover a.rename {
    color: #3d3d3d;
}

.action-network-destroy {
    margin-top: 17px !important;
}

.network-separator {
    background-color: #DCDCDC;
    height: 1px;
    margin: 2px 0 0 -5px;
    width: 480px;
}

.network-contents {
    margin-left: -4px;
    width: 524px;
    clear: both;
    padding-bottom: 7px;
}

.network-machine .state div {
    text-align: left;
}

.network-machine {
    margin-left: 34px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 2px;
}

.network-machine .logo {
    float:left;
    padding-right: 10px;
    position:relative;
}

#networks-container .machine-name {
    text-decoration: none !important;
    margin-bottom: 10px;
    color: #000000;
    margin-top: -4px;
}

div.network div.machine-actions {
    float: right;
    width: 100px;
    margin:0px -100px 0 0;
    font-weight: normal;
}

.discreet {
    color: #969696;
}

.network-contents-start-separator {
    height: 3px;
    background-color: #87AADE;
    margin-bottom: 15px;
    margin-left: 39px;
    width: 428px;
}

.network-contents-end-separator {
    height: 3px;
    background-color: #87AADE;
    margin-top: 7px;
    margin-left: 5px;
    width: 498px;
}

.network-machine .state {
    margin-right: 18px;
}

.network-machine .state .status {
    margin-bottom: 4px;
}

.machine-name .name {
    margin-top: -10px !important;
}

.machine-name .namecontainer {
    line-height: 18px;
    margin-bottom: 20px;
}

.network-machine:hover {
    background-color: #B3B3B3;
}

.machines {
    margin: 2px 0 0 39px;
    width: 430px;
    background-color: #B3B3B3;
}

div.empty-network-slot {
    height: 54px;
}

div.network-remove-machine, div.network-add-machine {
    background-color: #FB822F;
    color: #fff; 
    width:90px;
    float:left;
    margin:34px 0 0 -100px;
}

span.remove-icon {
    font-size: 80%;
    margin-left: 15px;
}

span.add-icon {
    margin-left: 15px;
}

span.remove-icon:hover, span.add-icon:hover {
    cursor:pointer;
}

div.network-add-machine {
    margin:38px 0 0 0;
}

.firewall-on {
    color: #42E342;
}

.firewall-off {
    color: #F82E2E;
}

div.network-machine div.machine-actions a {
    color: transparent;
    margin: 0 0 5px 8px;
    display: block;
}

div.network-machine div.machine-actions a:hover {
    color: black !important;
    text-decoration: underline;
    display: block;
}

.network-machine:hover .machine-actions a {
    color: #3d3d3d;
    display: block;
}

.firewall-content {
    color: black;
    font-size: 60%;
    margin-left: 60px;
}

.firewall-content .checkbox-legends {
    vertical-align: text-top;
}

.checkbox-legends a {
    color: black;
    text-decoration: underline;
    font-size: 100%;
}

.machine-connect {
    color:black !important;
    text-decoration: underline !important;
}

.machine-connect:hover {
    cursor: pointer;
}

.firewall-contents-start-separator {
    background-color: #808080;
    height: 2px;
    margin-bottom: 5px;
    width: 365px;
}

.firewall-contents-end-separator {
    background-color: #808080;
    height: 2px;
    margin-left: -60px;
    margin-top: 5px;
    width: 425px;
}

.firewall-apply {
    background-color: #666666;
    border: medium none;
    float: right;
    font-size: 105%;
    height: 18px;
    margin-right: 20px;
    margin-top: 3px;
    width: 75px;
}

.name-div {
    margin-left: 70px;
    margin-bottom: 20px;
}

.machine-name-div {
    margin-bottom: 22px;
    margin-left: 60px;
}

/* Metadata */

.info-content {
    height: 95px;
    width: 540px;
    margin-top: 10px;
}

.metadata-separator {
    background-color: #808080;
    height: 3px;
    margin: 0 0 0 14px;
    width: 492px;
}

.metadata-container {
    line-height: 12px;
    margin-left: 14px;
    margin-top: 2px;
    height: 85px;
}

.metadata-column {
    border-right: 1px solid #CECECE;
    color: black;
    float: left;
    font-size: 60%;
    margin-top: 3px;
    height: 70px;
    padding-bottom: 5px;
}

.vm-stats, .vm-labels {
    width: 109px;
    padding-left: 10px;
}

.vm-details {
    width: 129px;
}

.vm-metadata {
    padding-left: 10px;
    width: 129px;
    border: none;
}

.metadata-left {
    float:left;
    width: 50px;
    height: 65px;
}

.metadata-right {
    width: 73px;
    float:left;
    height: 35px;
    padding-left: 5px;
	position:relative;
	overflow:hidden;
}

.metadata-right .items {
	position:absolute;
	height:20000em;
}

.metadata-keys-container {
    height: 65px;
    float: left;
}

a.manage-metadata {
    font-size: 100%;
    color: black;
    margin-left:17px;
    text-decoration: underline;
}

.metadata-actions, .scrollable {
    padding-left: 5px;
}

.scrollable {
	position:relative;
	overflow:hidden;
	height: 35px;
	width: 73px;
}

.scrollable .items {
	position:absolute;
	height:20000em;
}

.metadata-bar {
    float: right !important;
    margin: 1px 7px 0 !important;
}
