html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Verdana, 'PT Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    background: url(./body-bg.png) repeat-x scroll 0 0 #FFFFFF;
    height: 100%;
    text-align:center;
}

#container {
    position: relative;
	margin:0 auto;
	width: 100%;
	background:#f0f0f0;
	height:auto !important;
	height:100%;
	min-height:100%;
    background: url("./body-bg2.png") no-repeat scroll right bottom transparent;
}

#header {
    height: 93px;
    background: url("./header-bg.png") repeat-x scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 700px;
    text-align: left;
}

#content {
    padding-bottom: 183px;
    width: 100%;
}

div#wrapper {
    width: 700px;
    margin: 0em auto;
    text-align: left;
}

#footer {
    height: 119px;
    background-color: #4085A5;
	position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 1px dotted #87AADE;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

h5 {
    font-weight: normal;
    margin-bottom:3px;
}

/* root element for tabs  */
.tab-name {
    background-color: #5CA1C0;
    color: #FFFFFF;
    float: left;
    font-size: 150%;
    height: 28px;
    padding-top: 3px;
    text-align: center;
    width: 170px;
}

.tab-separator {
    background-color: white;
    float: left;
    width: 2px;
    height: 23px;
    margin-top: 4px;
}

ul.css-tabs {
    padding: 0;
    height:31px;
    background-color: #5CA1C0;
}

ul.css-tabs .secondary {
    position:relative;
}

/* single tab */
ul.css-tabs li {
    float:left;
    padding:0;
    list-style-type:none;
}

ul.css-tabs .current {
    background: #4085A5;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
    float:left;
    display:block;
    text-decoration:none;
    color:#d2d2d2;
    position:relative;
    outline:0;
    padding: 4px 25px 0;
    height: 27px;
}

ul.css-tabs a:hover {
    background: #74AEC9;
}

/* selected tab */
ul.css-tabs a.current {
    cursor:default;
}

ul.css-tabs a.current:hover {
    background: #4085A5;
}
/* tab pane */
div.css-panes {
/*    border-top: 10px solid #87aade;
    border-bottom: 10px solid #87aade;  */
    background: transparent;
}

.css-panes > div.pane {
    display:none;
}

/* CSS3 border radius for various elements. yea - CSS isn't perfect */
.rounded, #sheet input, .error {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -khtml-border-radius: 5px;
}

/* validation error message */
.error {
    background-color:#E8FF6D;
    padding:4px;
    -webkit-box-shadow: #000 0 0 9pt;
    -moz-box-shadow: #000 0 0 9pt;
}

/* nested arrow inside error message. It's 100% CSS. No images. */
.error em {
    border: 10px solid;
    border-color: #E8FF6D transparent transparent;
    bottom: -17px;
    display: block;
    height: 0;
    left: 10px;
    position: absolute;
    width: 0;
}

/* input field that caused validation error */
.invalid {
    background-color: rgba(221, 233, 255, 0.898) !important;
}

#beforecreate {
    background-color: #FF9955;
    float: left;
    height: 31px;
    margin-left: -20px;
    margin-top: -6px;
    width: 20px;
}

#ie-fix {
    z-index: 1000;
    position: relative;
}
#createcontainer {
    margin-top: 20px;
    margin-bottom: 10px;
    z-index: 1000;
}

#create {
    background-color: #FF7F2A;
    color: #000;
    cursor: pointer;
    padding: 7px 24px;
    text-decoration: none;
    font-size:100%;
}

#create:hover {
    background-color: #FF9955;
}

#console-header {
    height: 67px;
    background: url("./header-bg.png") repeat-x scroll 0 0 #FFFFFF;
}

.header-logo {
    padding-top: 19px;
}

div#footer-text a {
    color: #FFFFFF;
    text-decoration: none;
}

div#footer-text{
    clear: both;
    color: #FFFFFF;
    font-size: 75%;
    left: 31%;
    padding-top: 10px;
    position: absolute;
    width: 700px;
}

#footer-bg {
    background: url("./footer-bg.png") no-repeat scroll 0 0 #4085A5;
    float:right;
    width: 700px;
    height: 119px;
    background-position:right;
}

.modal {
    background-color:#fff;
    display:none;
    width:30em;
    padding:1em;
    text-align:left;
}

/* server wizard scrollable root element and network wizard */
#wizard, #networks-wizard {
    font-size:75%;
    height:405px;
    width:453px;
    overflow:hidden;
    position:absolute !important;
}

/* scrollable items */
#wizard .items {
    width:20000em;
    clear:both;
    position:absolute;
    display:block;
    padding: 0;
    margin: 0;
    border:none;
    background:none;
}

/* single item */
#wizard .page, #networks-wizard div.container {
    padding: 15px 40px 20px 15px;
    width:447px;
    float:left;
    display:block;
    border:none;
    background-color: transparent;
}

#networks-wizard div.container {
    background-color: #ECF4F8;
    width:400px;
    height: 180px;
    margin-bottom:50px;
}

/* title */
#wizard h2, #networks-wizard h2 {
    color: #FF7B24;
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    padding-left: 37px;
    padding-top: 2px;
}

#networks-wizard h2 {
    margin-top: 15px;
}

#wizard li {
    margin-bottom:1.2em;
}

#wizard .pane li {
    margin: 0;
}

#wizard label {
    font-size:120%;
    display:block;
    clear: both;
}

#wizard label strong {
    position:relative;
    top:-1px;
    font-size: 80%;
    font-weight: normal;
}

#wizard label em {
    font-size:75%;
    color:#666;
    font-style:normal;
}

#wizard .text {
    width: 270px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    color: #456;
    letter-spacing: 1px;
}

#wizard select {
    border:1px solid #ccc;
    width:94%;
    padding:4px;
    display: none;
}

#wizard .double label {
    width:50%;
    float:left;
}

#wizard .double .text {
    width:93%;
}

#wizard .clearfix {
    clear:left;
    padding-top:10px;
}

#wizard .right {
    float:right;
}

#wizard .error {
    border:1px solid red;
}

#wizard a:hover div.image {
    background-color: #C5DEE9;
}

.selecteddiv {
    background-color: #C5DEE9 !important;
}

#wizard label a:hover strong {
    color: black;
}

#wizard div.image span.size {
    font-size: 75%;
    color: #666;
}

#wizard div.image .radio {
    float: left;
    margin-top: 10px;
}

#wizard div.image span.image-id, #wizard div.image span.description {
    font-size: 75%;
    color: #666;
    font-weight: normal;
    display:inline;
}

#wizard a:hover div.image span.image-id, #wizard a:hover div.image span.description, #wizard a:hover div.image span.size {
    color: black;
}

#wizard .cost {
    color: #79A4C1;
    margin-top: 40px;
    clear:both;
    padding-left: 15px;
    font-size: 95%;
}

#wizard #status {
    height: 50px;
    background: #4085A5;
    width: 450px;
}

#wizard .headernumber {
    font-size: 470%;
}

#wizard .headerbody {
    font-size: 120%;
    font-weight: normal;
    display: inline;
    top: -15px;
    position: relative;
}

#wizard .first {
    left: -10px;
}

#wizard .checked {
    color: #64a6c4 !important;
}

#wizard .li-2 {
    margin-top: -1px !important;
}

#wizard .img-check {
    margin-bottom: 8px;
    margin-left: -8px;
}

#wizard .li-1 .img-check {
    margin-left: 2px;
}

#wizard .topruler, #networks-wizard .topruler {
    background-color: #CDE2EC;
    border: 0 none;
    height: 4px;
    margin-left: -1px;
    width: 447px;
    margin-bottom: 6px;
    margin-top: 4px;
}

#wizard .bottomruler, #networks-wizard .bottomruler {
    background-color: #CDE2EC;
    border: 0 none;
    height: 4px;
    margin-left: -1px;
    width: 447px;
    margin-bottom:6px;
    margin-top:6px;
}

#networks-wizard .topruler, #networks-wizard .bottomruler {
    width: 455px;
    float: left;
}

#wizard #cancel, #networks-wizard .cancel {
    background-color: #4085A5;
    border-color: #4085A5;
    text-align: center !important;
}

#wizard #cancel:hover, #networks-wizard .cancel:hover {
    background-color: #7DB4CD;
    border-color: #7DB4CD;
}

#wizard #start, #networks-wizard .create {
    text-align: center;
    background-color: #FF6600;
    border-color: #FF6600;
}

#wizard .img-next {
    margin-right: -4px;
    padding-left: 8px;
}

#wizard .img-prev {
    margin-left: -4px;
    padding-right: 8px;
}

#networks-wizard .create {
    float:right;
    width: 140px;
}

#wizard #start:hover, #networks-wizard .create:hover {
    background-color: #FF9651;
    border-color: #FF9651;
}

#wizard .separator-end {
    background-color: #387693;
    height: 5px;
    margin-left: -14px;
    margin-top: 362px;
    width: 550px;
}

.page ul {
    height: 270px;
    overflow: auto;
}

.panes ul.pane {
    height: 220px;
}

#wizard #tabscontainer {
    background-color: #CDE2EC;
    height: 20px;
    margin-top: -3px;
    width: 448px;
}

.page ul.tabs {
    overflow: hidden;
    height: auto;
    margin-bottom: -1px;
    margin-top: -1px;
}

.page ul.tabs li {
    float: right;
    margin: 0 0.2em;
}

#status li {
    float: left;
    color: #387693;
    padding: 0px 0px 0 33px;
    bottom: 0px;
}

#status li.active .headernumber {
    color: #FFFFFF;
}

#status li.active .headerbody {
    color: #FFFFFF;
}

div.image-container {
    border-bottom: 1px solid #CCCCCC;
    margin-left: 10px;
    margin-right: 10px;
}

#page2-container {
    background-color: #ECF4F8;
    padding-top: 25px;
    height: 180px;
}

#page3-container {
    background-color: #ECF4F8;
    padding-left: 50px;
    height: 244px;
    margin-bottom: 32px;
}

/* slider root element */
.slider {
    border: 1px solid #666;
    cursor: pointer;
    display: inline !important;
    float: left;
    margin: 5px 0 20px 10px;
    position: relative;
    width: 250px;
}

.sliders {
    float:left;
    width: 40px;
    margin-left: 10px;
    margin-top: 3px;
}

.units {
    padding-left:10px;
}

.slider-container {
    padding-bottom: 15px;
    margin-left: 5px;
}

/* drag handle */
.handle {
    -moz-box-shadow: 0 0 2px #000000;
    background: url("./h30.png") repeat-x scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    cursor: move;
    display: block;
    height: 10px;
    margin-top: -8px;
    position: absolute;
    width: 8px;
}

/* progress bar (enabled with progress: true) */
.progress {
    height: 3px;
    background-color: #387693;
}

/* the input field */
.range {
    float: left;
    font-size: 100%;
    margin: -3px 0 0 15px;
    padding: 2px 10px 2px 0;
    text-align: right;
    width: 40px;
    border: 1px solid #387693;
}

.selectedrange {
    border-color: #5599FF;
}

#credits-indicator {
    background-color: #ECF4F8;
    float: none;
    margin: 0 0 0 10px;
    border: 1px solid #387693;
    color: #387693;
}

/* machines */
.machine-container {
    min-height: 65px;
    margin: 2px 0 0 3px;
    padding: 0 4px 0;
    clear: both;
    width: 523px;
    position:relative;
}

div.machine {
    margin-left: -7px;
    min-height: 65px;
    padding-left: 7px;
    padding-right: 5px;
    padding-top: 2px;
    width: 516px;
}

div.machine:hover {
    background-color:#A1C8DB !important;
}

div.machine.light-background {
    background-color:#aed2e3;
}

.machine a {
    font-weight: normal;
    text-decoration: none;
}

div.machine-details {
    width: 400px;
    float:left;
}

.machine span.name, .machine a.ip {
    font-size: 75%;
    color: black;
    margin-top: 6px;
}

.machine span.name {
    font-weight: bold;
}

.oldValue {
    display:none;
}

.state {
    float: right;
    margin-top: -40px;
}

.state div {
    text-align: right;
    margin-right: 3px;
}

/* icon view actions */
div.machine div.actions {
    float: right;
    font-size: 75%;
    font-weight: normal;
    height: 68px;
    position: absolute;
    right: -63px;
    width: 70px;
    top: 0px;
}

div.machine div.actions a {
    color: transparent;
    height: 15px;
    width: 180px;
    margin: 0 0 2px 8px;
    display: block;
}

div.machine div.actions a:hover {
    background-color:#A1C8DB;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

div.machine div.actions a.selected {
    color: #FF7F2A;
    width: 50px;
}

div.machine div.actions a.selected:hover {
    background-color:transparent;
}

div.machine div.actions a.action-shutdown {
    display: block;
}

div.machine div.actions a.shutdown-padding {
    margin-bottom: 22px;
}

div.actions a.enabled:hover{
    color: black !important;
    text-decoration: underline;
    display: block;
}

div.machine:hover .actions a {
    color: black;
    display: block;
}

div.machine div.display a{
    color: black;
    display: block;
}

div.running div.machine div.actions .disabled {
    display: none;
}

div.terminated div.machine div.actions .disabled {
    display: none;
}

div.terminated div.machine div.actions a.action-destroy {
    position: absolute;
    bottom: 0;
}

div.running div.machine div.actions a.action-destroy {
    position: absolute;
    bottom: 0;
}

div.connect-arrow {
    background: url(/static/connect-arrow.png) no-repeat;
    height: 28px;
    width:14px;
    position: absolute;
}

.machine div.connect-arrow {
    display: none;
    left: -3px;
    position: absolute;
    top: 9px;
}

div.connect-arrow:hover, div.connect-arrow.border-hover {
    cursor: pointer;
    background: url(/static/connect-arrow-hover.png) no-repeat;
    height: 28px;
    width:26px;
}

div.connect-border {
    opacity: 0.8;
    filter: alpha(opacity = 80);
    background-color:#4fe0c3;
    height:28px;
    width: 12px;
    position: absolute;
}

.machine div.connect-border {
    display: none;
    left: -15px;
    position: absolute;
    top: 9px;
}

.standard .machine img {
    float: left;
    margin: 4px 14px 0;
}

.standard .running .machine img {
   cursor: pointer;
}

.list .machine img {
    margin: 0;
}

div.ip, div.ips {
    font-size: 75%;
    position: relative;
    top: 4px;
    float: right;
    right: 18px;
}

div.indicators {
    margin-right: 2px !important;
}
div.indicator1, div.indicator2, div.indicator3, div.indicator4 {
    background-color: #447821;
    width:10px;
    height:11px;
    clear: none;
    float:right;
}

.view-separator {
    color:#5F8DD3;
}

.running {
    background: url("./running-bg.png") repeat scroll 0 0 transparent;
    margin-top: -76px;
    padding-bottom: 15px;
    width: 699px;
    min-height: 50px;
}

.running-state .indicator1, .running-state .indicator2, .running-state .indicator3, .running-state .indicator4 {
    background-color: #447821;
}

.rebooting-state .indicator1, .rebooting-state .indicator2, .rebooting-state .indicator3, .rebooting-state .indicator4 {
    background-color: #d4aa00;
}

.terminated-state .indicator1, .terminated-state .indicator2, .terminated-state .indicator3, .terminated-state .indicator4 {
    background-color: #666666;
}

.starting-state .indicator1, .starting-state .indicator3 {
    background-color: #447821;
}

.starting-state .indicator2, .starting-state .indicator4 {
    background-color: #666666;
}

.shutting-state .indicator1, .shutting-state .indicator3 {
    background-color: #666666;
}

.shutting-state .indicator2, .shutting-state .indicator4 {
    background-color: #447821;
}

.destroying-state .indicator1, .destroying-state .indicator2, .destroying-state .indicator3, .destroying-state .indicator4 {
    background-color: #666666;
}

.error-state .indicator1, .error-state .indicator2, .error-state .indicator3, .error-state .indicator4 {
    background-color: #800000;
}

.build-state .indicator1, .build-state .indicator2, .build-state .indicator3, .build-state .indicator4 {
    background-color: #87AADE;
}

.network-indicator .indicator1, .network-indicator .indicator2, .network-indicator .indicator3, .network-indicator .indicator4 {
    background-color: #87AADE;
}

.terminated {
    background-color: white;
    margin-bottom: 17px;
    margin-top: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 699px;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

span.rename {
    background-repeat: no-repeat;
    color: transparent;
    font-size: 75%;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    text-align: left;
    cursor: pointer;
}

div.name:hover span.rename {
    color: #3D3D3D;
    margin-top: 0.4em;
    background-image: url(./pencil.png);
    background-position: 0 3px;
}

.machine div.info {
    float:left;
    margin-bottom: 5px;
}

.machine div.info div.info-header {
    background-color: #A1C8DB;
    color: white;
    height: 17px;
    width: 50px;
    cursor: pointer;
}

div.machine:hover div.info-header, div.machine:hover div.toggler div.down {
    background-color: #84b7d0;
}

div.machine div.info-label.darker {
    background-color: #5CA1C0;
}

.machine div.info div.info-label {
    font-size: 75%;
    height:16px;
    width: 30px;
    padding: 1px 0 0 5px;
}

.machine div.info div.toggler {
    position: relative;
    width:15px;
    height:17px;
    margin-top: -11px;
    margin-left: 37px;
}

.machine div.info div.down {
    background: url(/static/down-arrow.png) no-repeat scroll 1px 0;
}

.machine div.info div.up {
    background: url(/static/up-arrow.png) no-repeat scroll 1px 0;
}

button {
    background-color: #87AADE;
    border: 1px solid #87AADE;
    color: #FFFFFF;
    cursor: pointer;
    height: 23px;
    width: 120px;
}

button.next {
    background-color: #4085A5;
    border-color: #4085A5;
    text-align: right;
}

button.next:hover {
    background-color: #7DB4CD;
    border-color: #7DB4CD;
}

button.prev {
    background-color: #4085A5;
    border-color: #4085A5;
    margin-left: -1px;
    text-align: left;
}

button.prev:hover {
    background-color: #7DB4CD;
    border-color: #7DB4CD;
}

.image-logo {
    float: left;
    margin-right: 1em;
    margin-left: 1.5em;
    margin-top: 4px;
}

div.image {
    clear: both;
    display: block;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 5px;
}

#ie-fix-view-select {
    position: relative;
    z-index: 1000;
}

div#view-select {
    float: right;
    clear: both;
    color: white;
    position: relative;
    right: 10px;
    top: -35px;
    display: none;
    z-index: 1000;
}

a#standard, a#list, a#single {
    text-decoration: none;
    height: 15px;
    width: 17px;
    padding: 1px 8px 2px 9px;
}

div#view-select a {
    color:#5f8dd3;
}

a#list:hover {
    background: #5f8dd3;
}

a#standard:active, a#list:active {
    color:white;
}

a#standard {
    background: url(./icon-view.png) no-repeat -36px 0;
}

a#list {
    background: url(./list-view.png) no-repeat -36px 0;
}

a#single {
    background: url(./single-view.png) no-repeat -36px 0;
}

a#standard:hover {
    background: url(./icon-view.png) no-repeat -18px 0;
}

a#list:hover {
    background: url(./list-view.png) no-repeat -18px 0;
}

a#single:hover {
    background: url(./single-view.png) no-repeat -18px 0;
}

a#standard.activelink {
    background: url(./icon-view.png) no-repeat 0px 0;
}

a#list.activelink {
    background: url(./list-view.png) no-repeat 0px 0;
}

a#single.activelink {
    background: url(./single-view.png) no-repeat 0px 0;
}

#machinetype {
    background-color: #CDE2EC;
    height: 25px;
    margin-bottom: 0px !important;
}

div.machine-type {
    float: left;
    margin: 4px 18px 20px;
}

.machine-type .active {
    color: #FFFFFF
}

#machinesview {
    min-height: 270px;
    margin-top: 40px;
}

.list#machinesview {
    margin-left: -20px;
    display:none;
}

#machinesview-list.list {
    background-color: white;
    margin-top: -76px;
    padding-left: 15px;
    padding-top: 76px;
    width: 683px;
}

#machinesview_content {
    display:none;
}

.list-machines {
    min-width: 515px;
}

#emptymachineslist {
    background-color: #6BA9C6;
    color: #A0A0A0;
    display: none;
    margin-left: -35px;
    margin-top: -45px;
    padding: 65px 150px 35px;
    text-align: justify;
    width: 398px;
}

#welcomeheader {
    color:white;
    text-align: center;
}

.welcomebody {
    color: white;
    font-size:80%;
}

.welcomebody a {
    color: white;
}

.welcomefooter {
    color: white;
    font-size:60%;
}

.welcomefooter a {
    color: white;
}

.emptycreatecontainer {
    margin-left: 430px !important;
    position: absolute;
    margin-top: 5px !important;
    width: 180px;
    background-color: #CCCCCC;
    padding: 5px;
    padding-left: 10px;
}

.emptycreate {
    margin: 20px 10px 5px 0 !important;
}

#createbody {
    display:none;
    font-size: 80%;
}

div.list label img {
    margin: 5px 5px -3px 0;
}

div.list label {
    color: #3D3D3D;
    font-size: 75%;
}

div.list .state {
    margin-top: 7px;
    margin-right: 10px;
}

div.list table tbody {
    margin-top: 8px;
}

div.list .stopped {
    margin-top: 8px;
}

/* root element for tabs  */
#wizard ul.tabs {
    margin-right: -1px;
    float: right;
}

#wizard div.panes {
    height: 250px;
    margin-bottom: 6px;
    clear:both;
}

.typebody {
    font-size: 80%;
    font-weight: normal;
    position: relative;
    top: -3px;
}

.typehover {
    color: #FFFFFF;
}

#label-name {
    margin-top: 15px;
}

/* single tab */
#wizard ul.tabs li {
    margin-bottom: 0;
    list-style-type:none;
    float: left;
}

/* link inside the tab. uses a background image */
#wizard ul.tabs a {
    display:block;
    padding: 0.3em 0.5em 0.5em 0.4em;
    text-decoration:none;
    color: #FFFFFF;
    position:relative;
    top:1px;
    outline:0;
    background-color: transparent;
    text-align: center;
    width: 100px;
    white-space: nowrap;
}

#wizard ul.tabs a:hover {
    color: #FFFFFF;
    background-color:#4085A5;
}

/* selected tab */
#wizard ul.tabs a.current {
    color: white;
    background-color: #7DB4CD;
    cursor: default;
}

#wizard #standard-images {
    background-color: #ECF4F8;
}

div.list div.actions {
    display: none;
    clear: left;
    float: right;
    margin-right: 15px;
    margin-top: 37px;
    text-align: right;
    width: 120px;
}

div.list div.actions a {
    clear: left;
    color: #D3D3D3;
    display: block;
    font-size:75%;
    margin-bottom: 2px;
}

div.list div.actions a:hover {
    background-color: transparent;
}

div.list div.actions a.enabled {
    color: #3D3D3D;
}

div.list div.actions a.enabled:hover{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

div.list div.actions a.selected {
    color: #FF7F2A !important;
}

input.machine {
    width: 13px;
    height: 13px;
    top: -1px;
    overflow: hidden;
}

.description-container {
    display: inline-block;
    position: relative;
    width: 300px;
}

/* metadata editing and add machines to network overlays */
#metadata-wizard, #add-machines-wizard {
    position:fixed;
    overflow:hidden;
    width:450px;
    display:none;
    background-color:#fff;
    text-align:left;
    font-size: 80%;
    border-bottom: 5px solid #4085A5;
}

#metadata-wizard .close, #add-machines-wizard .close  {
    background-image: url("./close-popup.png");
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 7px;
    top: 9px;
    width: 13px;
}

#metadata-wizard .popup-header, #add-machines-wizard .popup-header {
    background-color: #4085A5;
    color: white;
    font-size: 95%;
    font-weight: normal;
    height: 20px;
    margin-left: -16px;
    margin-top: -16px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-top: 10px;
    width: 482px;
}

#metadata-wizard .popup-title, #metadata-wizard .machine-name, #add-machines-wizard .popup-title, #add-machines-wizard .network-name {
    font-size: 120%;
    padding-bottom: 7px;
    padding-top: 10px;
    float:left;
}

#metadata-wizard .popup-title {
    padding-bottom: 0px;
    font-size: 120%;
}

#metadata-wizard .name-container {
    display: inline-block;
}

#add-machines-wizard .network-name {
    padding-left: 5px;
}

#metadata-wizard .popup-body, #add-machines-wizard .popup-body {
    background-image: url("./meta-wiz-bg.png");
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 1px;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

#metadata-wizard .popup-body-inner, #add-machines-wizard .popup-body-inner {
    background-image: url("./meta-wiz-inner-bg.png");
    font-size: 80%;
    height: 180px;
    margin-left: 25px;
    margin-top: 10px;
    padding-left: 15px;
    width: 420px;
}

#metadata-wizard .popup-separator, #add-machines-wizard .popup-separator {
    background-color: #74AEC9;
    height: 1px;
    width: 402px;
    margin-bottom: 30px;
    clear: left;
}

#metadata-wizard .metadata-pair-template {
    height: 15px;
    padding-top: 2px;
    width: 350px;
}

#metadata-wizard div.metadata-pair-template:hover {
    background-color: #74AEC9;
}

#metadata-wizard .metadata-container, #add-machines-wizard .machines-container {
    background-color: transparent;
    float: left;
    width: 400px;
    font-size: 120%;
}

#metadata-wizard .machine-icon {
    float: left;
    padding-left: 10px;
    padding-right: 3px;
    padding-top: 7px;
}

#metadata-wizard .large-spinner, #add-machines-wizard .large-spinner {
    display: block;
    margin: 50px 0 0 185px;
}

#metadata-wizard .metadata-key {
    float: left;
    width: 110px;
    padding-left: 5px;
}

#metadata-wizard .metadata-value {
    width: auto;
}

#metadata-wizard .metadata-add-template {
    background-color: #74AEC9;
    width: auto;
}

#metadata-wizard #add-meta-value {
    margin-left: 25px;
    width: 150px;
}

#metadata-wizard button, #add-machines-wizard button {
    font-size: 80%;
    width: 87px;
    float: right;
    background-color: #5599FF;
    border: 0px solid #5599FF;
    padding: 0;
    text-align: center;
    margin-right: 8px;
}

#metadata-wizard .buttons, #add-machines-wizard .buttons {
    border-top: 2px solid #4085A5;
    height: 30px;
    margin-left: 25px;
    margin-right: 40px;
    width: 400px;
    font-size: 120%;
}

#metadata-wizard button.save, #add-machines-wizard button.cancel {
    float: left;
    height: 23px;
    margin: 10px 0 0 0;
    width: 87px;
    background-color: #4085A5;
    border-color: #4085A5;
}

#metadata-wizard button.save:hover, #add-machines-wizard button.cancel:hover {
    background-color: #7DB4CD;
    border-color: #7DB4CD;
}

#metadata-wizard button.create, #add-machines-wizard button.add {
    height: 23px;
    margin: 10px 0 0 0;
    background-color: #FF6600;
    border-color: #FF6600;
}

#metadata-wizard button.create:hover, #add-machines-wizard button.add:hover {
    background-color: #FF9651;
    border-color: #FF9651;
}

#metadata-wizard .editbuttons {
    margin-top: 4px;
    margin-right: 0;
}

#metadata-wizard .vertical-separator {
    height: 17px;
    width: 1px;
    background-color: #74AEC9;
    float:left;
    margin-right: 10px;
}

#metadata-wizard h3, #add-machines-wizard h3 {
    font-weight:normal;
}

#metadata-wizard .metadata-edit {
    clear: none;
    cursor: pointer;
    float: right;
    margin-right: 0;
    width: 40px;
    margin-top: -14px;
    display:none;
}

#metadata-wizard .metadata-edit .edit, #metadata-wizard .metadata-edit .remove {
    background-repeat: no-repeat;
    color: transparent;
    font-size: 75%;
    float: left;
    width: 16px;
    height: 16px;
}

#metadata-wizard .addbuttons {
    display: block;
    clear: none;
    width: 40px;
    margin-right: -1px !important;
    margin-top: 2px;
    float:right;
    cursor: pointer;
}

.metadata-pair-template .editbuttons {
    margin-top: -19px !important;
    margin-right: -2px !important;
}

#metadata-wizard .metadata-edit .edit {
    background-image: url("./meta-edit.png");
    margin-left: 3px;
}

#metadata-wizard .metadata-edit .remove, #metadata-wizard .editbuttons .remove {
    background-image: url("./meta-remove.png");
    margin-left: 1px;
    background-repeat: no-repeat;
    color: transparent;
    font-size: 75%;
    height: 16px;
    width: 16px;
    float: left;
}

#metadata-wizard .editbuttons .save {
    background-image: url("./meta-save.png");
    padding-top:0;
}

#metadata-wizard .addbuttons .cancel {
    background-image: url("./meta-remove.png");
    margin-left: 3px;
}

#metadata-wizard .addbuttons .save {
    background-image: url("./meta-save.png");
    margin-left: 1px;
}

#metadata-wizard .metadata-edit .edit, #metadata-wizard .metadata-edit .remove, #metadata-wizard .editbuttons .remove, #metadata-wizard .editbuttons .save, #metadata-wizard .addbuttons .cancel, #metadata-wizard .addbuttons .save {
    background-color: #4287a7;
}

#metadata-wizard div.metadata-edit div.edit:hover, #metadata-wizard div.metadata-edit div.remove:hover, #metadata-wizard div.editbuttons div.remove:hover, #metadata-wizard div.editbuttons div.save:hover, #metadata-wizard div.addbuttons div.cancel:hover, #metadata-wizard div.addbuttons div.save:hover {
    background-color: #74AEC9;
}

#metadata-wizard .addbuttons .cancel, #metadata-wizard .addbuttons .save {
    width: 16px;
    height: 16px;
    float: left;
    background-repeat: no-repeat;
    color: transparent;
}

#metadata-wizard .metatextbox {
    font-size: 90%;
    height: 18px;
    margin-top: -2px;
    color: black;
    width: 150px;
}

#metadata-wizard p, #add-machines-wizard p {
    margin-left: 7px;
    width: 200px;
}

#metadata-wizard div.bottomruler, #add-machines-wizard div.bottomruler {
    background-color: #666;
    height: 20px;
    margin-top: 17px;
}

#metadata-wizard button.remove {
    height: 15px;
    width: 70px;
    background-color: #d35f5f;
    border-color: #d35f5f;
}

#metadata-wizard button.edit {
    height: 15px;
    width: 70px;
    background-color: #666;
    border-color: #666;
    margin-top: -12px;
}

#metadata-wizard input {
    font-style: italic;
    color: #ccc;
}

#metadata-wizard textarea.edit-meta-value {
    font-style: normal;
    text-align: left;
    color: black;
    margin-top: 2px;
    width:200px;
    height: 49px;
}

#metadata-wizard input {
    font-size: 80%;
}

#metadata-wizard input.key {
    height: 15px;
    left: 460px;
    position: absolute;
    top: 83px;
    width: 230px;
}

#metadata-wizard textarea.value {
    width: 267px;
    height: 170px;
    overflow: auto;
}

#metadata-wizard .input-enabled {
    color: black;
    text-align: left;
    font-style: normal;
}

#metadata-wizard label.meta-value {
    vertical-align: top;
}

#metadata-wizard button.cancel, #metadata-wizard #edit-dialog button.close {
    float: left;
    margin: 4px 0 0 25px;
    background-color: #d35f5f;
    border-color: #d35f5f;
}

/* metadata dropdown combo */
.meta-key {
    margin-right: 18px;
    float:left;
}
#metadata-wizard .textdropdown-outer {
    float: left;
}

#metadata-wizard .textdropdown-btn {
    background: url("./dropdown-arrow.gif") no-repeat scroll center center transparent;
    cursor: pointer;
    float: right;
    left: 130px;
    margin-top: 4px;
    position: absolute;
    width: 20px;
}

#metadata-wizard ul {
    border: 1px solid #ccc;
    padding: 0px;
    list-style: none;
    margin: 0px;
    background-color: white;
    height: auto !important;
    padding-left: 5px;
    width: 103px !important;
}

#metadata-wizard ul li {
    clear: both;
    display: block;
    float: right;
    list-style: none outside none;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    padding-bottom: 2px;
    padding-right: 2px;
    padding-top: 2px;
    width: 100%;
}

#metadata-wizard ul li:hover {
    background-color: #efefef;
    cursor: pointer;
}

#metadata-wizard .dropdownitem {
    margin-left: 10px;
}

#metadata-wizard #txtdropdown:focus {
    outline: 0 none;
}

#metadata-wizard #add-meta-key {
    height: 16px;
    margin-left: 5px;
    margin-top: 2px;
    width: 105px !important;
}

/* notification box */
#yes-no {
    height: 150px;
    z-index: 9999;
    border-bottom: 5px solid #4085A5;
}

#yes-no p, #yes-no button {
    margin-top: 15px;
}

#error-success {
    z-index: 9999;
    border-bottom: 5px solid #4085A5;
    min-height: 150px;
    top: 120px !important;
    position: absolute !important;
}

#error-success p {
    margin-top: 5px;
}

#error-success strong {
    color: #F49C1A;
}

#error-success .close {
    background-image: url("./close-popup.png");
    cursor: pointer;
    height: 13px;
    position: absolute;
    right: 7px;
    top: 9px;
    width: 13px;
}

.popup-header-error {
    background-color: #800000 !important;
}

.popup-border-error {
    border-color: #800000 !important;
}

.popup-details-error {
    border: none !important;
}

.popup-separator-error {
    margin-bottom: 5px !important;
}

#error-success .popup-header {
    background-color: #4085A5;
    color: white;
    font-size: 95%;
    font-weight: normal;
    height: 20px;
    margin-left: -16px;
    margin-top: -16px;
    padding-bottom: 2px;
    padding-left: 30px;
    padding-top: 10px;
    width: 482px;
}


#error-success.success h3 span.header-box{
    background-color: #71c837;
    display: block;
    background-image: url("./save-green.png");
    background-position: right 0;
    background-repeat: no-repeat;
    width: 80px;
    padding: 3px 3px 3px 8px;
    margin-top: -3px;
    font-size: 90% !important;
    margin-left: -11px;
}

#error-success .popup-body {
    background-image: url("./popup-bg.png");
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 1px;
    min-height: 142px;
    padding-top: 10px;
}

#error-success .popup-body-inner {
    background-image: url("./popup-inner-bg.png");
    font-size: 80%;
    min-height: 120px;
    margin-left: 20px;
    padding-left: 15px;
    width: 460px;
}

#error-success .popup-separator {
    background-color: #74AEC9;
    height: 1px;
    width: 442px;
    margin-bottom: 30px;
}

#error-success .machine-now-building {
    font-size: 95%;
    padding-bottom: 7px;
    padding-top: 10px;
}

#error-success.success .machine-now-building {
    padding-bottom: 14px !important;
}

#error-success .password-container {
    width: 430px;
    padding: 5px;
    border: 2px solid #75b54a;
    background-color: #aade87;
}

#error-success .password-header {
    margin-bottom: 5px;
}

#error-success .password {
    color: #447821;
}

#error-success .popup-details {
    border: 2px solid #FF7F2A;
    float: left;
    margin-left: 10px;
    padding: 2px;
}

#error-success.success .popup-details {
    border: none !important;
    float: none !important;
    margin-left: none !important;
    margin-top: 10px;
}

#error-success.success .popup-separator {
    margin-bottom: 14px !important;
}


#error-success .write-password {
    margin-bottom: 5px;
    padding-left: 30px;
}

#error-success .write-password-password {
    padding-left: 30px;
    color: #447821;
    display: inline;
    font-size: 110%;
    font-weight: bold;
}

#error-success .write-password-details {
    font-size: 75%;
}

.more-details {
    display: block;
}

.popup-details a:link, .popup-details a:visited{
    color: black;
}

/* Confirmation boxes */
div.confirm_single, div.confirm_multiple, div.action_error {
    display: none;
    color: black;
}

div.action-container.destroy div.confirm_single {
    margin-top: -5px;
}

div.terminated div.action-container.destroy div.confirm_single {
    margin-top: 30px;
}

div.confirm_single button, div.confirm_multiple button, div.action_error button {
    font-size: 100%;
    cursor: pointer;
    color: black;
    height: 20px !important;
}

div.confirm_single {
    float: right;
    margin: -20px -122px 0 0;
}

div.confirm_single button {
    border: none;
}

div.confirm_single button.yes {
    width: 80px;
    background-color:#FF7F2A;
}

div.confirm_single button.yes:hover {
    background-color: #FF9955;
}

div.confirm_single button.no {
    width: 20px;
    margin-left:-5px;
    background-color: #FF9955;
    color:#d95d0a;
}

div.confirm_single button.no:hover {
    color: white;
}

div.confirm_multiple {
    background-color: #4085A5;
    font-size: 75%;
    z-index: 1;
    position: absolute;
    width: 698px;
    height: 28px;
    margin-top: 15px;
}

div.confirm_multiple p {
    float: left;
    color: #FF7F2A;
    font-weight: bold;
    margin: 7px 0 0 200px;
}

div.confirm_multiple button {
    float: right;
    background-color: transparent;
    border: 1px solid #5CA1C0;
    margin: 4px 5px 0 0;
}

div.confirm_multiple button.yes {
    border-color: #FF7F2A;
    padding: 0 12px;
}

div.confirm_multiple button.yes:hover {
    background-color: #FF7F2A;
}

div.confirm_multiple button.no {
    padding: 0px 16px;
}

div.confirm_multiple button.no:hover {
    background-color: #5CA1C0;
}

div.action_error {
    width: 80px;
    height: 60px;
    padding: 5px;
    margin: -2px 0 0 595px;
    background-color: #4085A5;
    font-size: 75%;
    line-height: 1.5;
    z-index:1;
    color: #FF7F2A;
    position:absolute;
    top: 0px;
}

.action_error button {
    width: 80px !important;
    background-color: transparent;
    border: 1px solid;
    padding: 0px;
    border-color: #FF7F2A;
}

div.action_error button.details {
    margin: 5px 0 0 0px;
    padding: 0 15px;
}

div.action_error button.details:hover {
    background-color: #FF7F2A;
}

div#aboutuser{
    float:right;
    clear: both;
    color: #FFFFFF;
    font-size: 75%;
    margin-top: -25px;
}

div#user{
    float:right;
    clear: both;
    color: #FFFFFF;
    font-size: 75%;
    margin-top: 43px;
}

div#user a{
    color: #FFFFFF;
    text-decoration: none;
}

div#user a.current_lang {
    color: #72ADC8;
}

.separator {
    background-color: #74AEC9;
    height: 10px;
    width: 700px;
}

#disks.separator {
    background-color: #dea842;
}

#networks.separator {
    background-color: #6c535d;
}

#networks-pane .public-networks .namecontainer {
    margin-top: 4px !important;
}

.network-machine h5 {
    margin-bottom: 15px;
    margin-top: 5px;
}

.machine-container .separator {
    width: 508px;
    height: 1px;
    margin-top: 2px;
    background-color: #5CA1C0;
    margin-left: 13px;
}

.machine h5 {
    margin: -1px 0px 4px 0px;
}

.machine h5.namecontainer {
    margin-top: 5px;
}

.editbuttons {
    display: block;
    clear: none;
    width: 40px;
    margin-right: 32%;
    padding-top: 2px;
    float: right;
    cursor: pointer;
}

div.editbuttons div.save:hover, div.editbuttons div.cancel:hover {
    background-color: #84b7d0;
}

div.editbuttons div.cancel:hover {
    background-image: url("./cancel-onhover.png");
}

.editbuttons .cancel, .editbuttons .save {
    background-repeat: no-repeat;
    color: transparent;
    height: 16px;
    width: 16px;
    float: left;
}

.editbuttons .cancel {
    background-image: url("./cancel.png");
    margin-left: 3px;
}

.editbuttons .save {
    background-image: url("./save.png");
    margin-left: 1px;
}

.editbuttons img {
    float:none !important;
    margin: 0px !important;
}

.namecontainer {
    height: 18px;
    margin-top: 9px;
}

.nametextbox {
    font-size: 95%;
}

.large-spinner {
    background: url("./icons/indicators/large/progress.gif");
    margin-left: 298px;
    margin-top: 20px;
    height: 31px;
    width: 31px;
    position: absolute;
}

.list .large-spinner {
    margin-top:-50px;
}

.single .large-spinner {
    margin-top:-45px;
}

/* tables in list view */
div.list div.dataTables_filter {
    font-size: 75%;
    display: none;
    margin-bottom: 12px;
}

div.list div.dataTables_filter input{
    font-size: 100%;
}

.dataTables_wrapper {
    width: 515px;
}

div.list table {
    width: 515px;
    font-size: 75%;
}

div.list table tbody td {
    color: #3D3D3D;
    padding:6px;
    background-color: #FFF;
    vertical-align: middle;
}

div.list table thead tr th {
    background-color: #CDE2EC;
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: right 11px;
    font-weight: normal;
    border: 1px solid #FFF;
    border-bottom: none;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
}

div.list table thead .sorting_asc, div.list table thead .sorting_desc {
    background-color: #5CA1C0;
}

div.list table thead .sorting_asc {
    background-image: url(asc.gif);
}

div.list table thead .sorting_desc {
    background-image: url(desc.gif);
}

div.list table .selection div.expand-icon {
    background-image: url(asc.gif);
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    width: 15px;
    height: 4px;
    left: 19px;
    top: -11px;
}

ul.dropdown-selector {
    background-color: #E6EEEE;
    position: absolute;
    margin-left: 1px;
    display: block;
    top: 255px;
    font-size:75%;
    width:40px;
}

ul.dropdown-selector li {
    padding: 4px;
}

ul.dropdown-selector li:hover {
    background-color: #5CA1C0;
}

ul.dropdown-selector li a{
    color: black;
    text-decoration: none;
}

div.list table span.imagetag {
    display: none;
}

div.list table thead .vmos {
    width: 20px !important;
    vertical-align:middle;
}

div.list table .selection {
    width: 20px !important;
    text-align: left;
    background-image: none;
    padding-left: 6px;
}

div.list table thead .vmflavor {
    width: 100px !important;
}

div.list table thead .vmgroup {
    width: 40px !important;
}

div.list table thead .vmstatus {
    width: 50px !important;
}

div.list table thead .vmname {
    width: 70px !important;
}

.spinner, .wave {
    clear: right;
    float:right !important;
    margin: 1px 16px 0 15px !important;
}

#networks-pane .spinner {
    margin-top: 18px !important;
}

.hidden {
    display:none;
}

div.actions a.selected, div.actions a.selected:hover, div.machine-actions a.selected, div.machine-actions a.selected:hover {
    display:block !important;
}

.action_error .message, .action_error .code {
    display: none;
}

.fixed {
    margin: 0 0 0 -35px !important;
    bottom: 0;
    position: fixed !important;
}

/* Networks */
#networks-pane {
    background-color: transparent;
    color: black;
    margin-left: 1px;
    margin-right: 0;
}

#networkscreate {
    color: black;
    background-color: #FF7F2A;
    cursor: pointer;
    padding: 7px 24px;
    text-decoration: none;
    width: 155px;
}

#networkscreate:hover {
    background-color: #FF9955;
}

#networks-pane #beforecreate {
    margin-left: -20px;
    margin-top: -6px;
}

#networks-container {
    margin-top: 10px;
    min-height: 270px;
}

#networks-createcontainer {
    position: absolute;
    top: 155px;
}

#networks-pane .public-networks {
    background-color: white;
    margin: 0 0 18px;
    padding: 70px 0 15px 35px;
}

#networks-pane .private-networks {
    background-color: white;
    padding: 15px 20px 20px 35px;
}

#public-template, #private-template, #public-machine-template, #private-machine-template {
    display:none;
}

div.network a.action-network-add {
    display: none;
}

div.network a.action-network-destroy {
    margin-top: 38px !important;
    width: 50px;
    display: none;
}

div.network {
    clear: both;
    min-height: 65px;
    margin: 5px 0 0 -30px;
    padding: 3px 20px 0 4px;
    width: 480px;
    position: relative;
}

#private-template {
    margin: 2px 0 0 -30px;
}

div.network-placeholder {
    border-left: 3px solid #FB822F;
    margin-left: 33px;
}

div.network a:hover, span.show-machines:hover, span.ip:hover, span.show-firewall:hover {
    text-decoration: underline;
    cursor: pointer;
}

#networks-container .name {
    font-size: 75%;
    margin-bottom: 25px;
    margin-top: -4px;
}

h5.network-machines, h5.machine-settings {
    font-size: 75%;
}

.state {
    float: right;
    position: absolute;
    right: 10px;
    top: 40px;
    font-size: 75%;
}

div.network div.actions {
    float: right;
    width: 100px;
    font-size: 75%;
    margin:0px -120px 0 0;
    font-weight: normal;
}

div.network div.machine-actions {
    text-decoration: none;
    float: right;
    width: 100px;
    margin: -5px -100px 0 0;
    font-weight: normal;
    font-size: 75%;
}

div.network div.actions a, div.network div.machine-actions a {
    text-decoration: none;
    height: 15px;
    color: transparent;
    display: block;
}

div.network div.actions a {
    margin: -2px 0 0 8px;
}

div.network div.machine-actions a {
    margin: 0 0 0 8px;
}

div.network div.actions a:hover, div.network div.machine-actions a:hover {
    display: block;
    background-color:#A1C8DB;
    width: 200px;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

div.network:hover div.actions a, div.network-machine:hover div.machine-actions a {
    color: black;
}

div.network div.actions a.selected, div.network div.machine-actions a.selected {
    color: #FF7F2A !important;
    width: 50px !important;
}

div.network div.actions a.selected:hover, div.network div.machine-actions a.selected:hover {
    background-color: transparent;
}

div.network div.display a {
    color: black;
    display: block;
}

div.network-machine div.machine-actions a.action-details {
    margin-top: 10px;
}

div.network:hover {
    background-color: #CDE2EC;
}

#internet-separator {
    width: 510px;
    height: 5px;
    background-color: #6C535D;
    margin-left: -36px;
    margin-top: 20px;
}

.network-logos {
    float:left;
    padding-right: 10px;
}

.network-logos:hover {
    cursor: pointer;
}

#networks-container .settings {
    color: #000000;
}

#networks-container .network-type {
    float: right;
    margin-top: -4px;
    margin-right: 15px;
}

#networks-container .indicator {
    background-color: #87AADE;
    border-color: white;
    border-style: solid;
    border-width: 2px 3px 2px 2px;
}

.state div {
    text-align: right;
    margin: 5px 1px 4px;
}

.public-networks .state div {
    margin-top: 4px;
}

.private-networks .state div {
    margin-top: 9px;
    margin-bottom: -12px;
}

div.indicator {
    clear: none;
    float: right;
    height: 11px;
    margin: 3px -1px;
    width: 10px;
}

#private-networks {
    margin-top: 20px;
}

.private-networks .editbuttons {
    margin-right: 22%;
}

.private-networks div.confirm_single {
    margin: 46px -231px 0 0;
    font-size: 80%;
}

.private-networks .network-machine div.confirm_single {
    margin: -8px -210px 0 0;
}

span.rename-network, span.configure {
    background-repeat: no-repeat;
    color: transparent;
    font-size: 75%;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    text-align: left;
}

span.rename-network {
    cursor: pointer;
}

div.name-div:hover span.rename-network {
    color: #3D3D3D;
    margin-top: 0.4em;
    background-image: url(./pencil.png);
    background-position: 0 3px;
}

div.network:hover a.rename {
    color: #3d3d3d;
}

.network-separator {
    background-color: #DCDCDC;
    height: 1px;
    margin: 2px 0 0 -5px;
    width: 480px;
}

.network-contents {
    margin-left: -4px;
    width: 504px;
    clear: both;
    padding-bottom: 7px;
}

.network-machine .state div {
    text-align: left;
}

.network-machine {
    margin-left: 34px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 10px;
    margin-top: 5px;
}

.network-machine .logo {
    float:left;
    padding-right: 10px;
    position:relative;
}

#networks-container .machine-name {
    text-decoration: none !important;
    margin-bottom: 10px;
    color: #000000;
    margin-top: -4px;
}

.discreet {
    color: #969696;
}

.network-contents-start-separator {
    height: 3px;
    background-color: #87AADE;
    margin-left: 39px;
    width: 410px;
}

.network-contents-end-separator {
    height: 3px;
    background-color: #87AADE;
    margin-top: 7px;
    margin-left: 13px;
    width: 473px;
}

.network .separator {
    background-color: #DCDCDC;
    height: 1px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: -3px;
    position: absolute;
    width: 473px;
}

.network-machine .state {
    margin-right: 18px;
}

.network-machine .state .status {
    margin-bottom: 4px;
}

.machine-name .name {
    margin-top: -10px !important;
}

.machine-name .namecontainer {
    line-height: 18px;
    margin-bottom: 20px;
}

div.network-machine:hover {
    background-color: #5CA1C0;
}

.machines {
    width: 416px;
    background-color: #B3B3B3;
    margin-bottom: -8px;
    margin-top: 10px;
}

div.empty-network-slot {
    height: 60px;
}

div.network-remove-machine, div.network-add-machine {
    background-color: #FB822F;
    color: #bc4b00;
    width:90px;
    float:left;
    margin:40px 0 0 -100px;
}

span.remove-icon {
    font-size: 80%;
    margin-left: 15px;
}

span.add-icon {
    margin-left: 15px;
}

span.remove-icon:hover, span.add-icon:hover {
    cursor:pointer;
    color: #fff;
}

div.network-add-machine {
    margin:39px 0 0 0;
}

.firewall-on {
    color: #42E342;
}

.firewall-off {
    color: #F82E2E;
}

.firewall-content {
    color: black;
    font-size: 60%;
    margin-left: 60px;
}

.firewall-content .checkbox-legends {
    vertical-align: text-top;
}

.checkbox-legends a {
    color: black;
    text-decoration: underline;
    font-size: 100%;
}

h5.machine-connect {
    font-size: 75%;
}

.machine-connect span {
    text-decoration: underline;
}

h5.machine-connect span:hover {
    cursor: pointer;
}

.firewall-contents-start-separator {
    background-color: #808080;
    height: 2px;
    margin-bottom: 5px;
    width: 365px;
}

.firewall-contents-end-separator {
    background-color: #808080;
    height: 2px;
    margin-left: -60px;
    margin-top: 5px;
    width: 425px;
}

.firewall-apply {
    background-color: #666666;
    border: medium none;
    float: right;
    font-size: 105%;
    height: 18px;
    margin-right: 5px;
    margin-top: 3px;
    width: 75px;
}

.name-div {
    margin-left: 70px;
    margin-bottom: 20px;
}

.machine-name-div {
    margin-bottom: 20px;
    margin-left: 60px;
}

/* Metadata */

.info-content {
    clear: both;
    height: 95px;
    width: 512px;
}

.metadata-container {
    line-height: 12px;
    height: 85px;
    background-color: #84b7d0;
}

.metadata-column {
    border-right: 1px solid #5CA1C0;
    color: black;
    float: left;
    font-size: 60%;
    margin-top: 3px;
    height: 70px;
    padding-bottom: 5px;
}

.vm-stats {
    padding-left: 10px;
    padding-right: 5px;
    width: 119px;
}

.vm-details {
    width: 169px;
    margin-left:17px;
}

.vm-metadata {
    padding-left: 10px;
    width: 129px;
    border: none;
}

.metadata-left {
    float:left;
    width: 50px;
    height: 60px;
}

.metadata-right {
    width: 73px;
    float:left;
    height: 35px;
    padding-left: 5px;
    position:relative;
    overflow:hidden;
}

.metadata-right .items {
    position:absolute;
    height:20000em;
}

.metadata-keys-container {
    height: 60px;
    float: left;
}

a.manage-metadata {
    font-size: 100%;
    color: black;
    margin-left:17px;
    text-decoration: underline;
}

div.machine a.manage-metadata:hover {
    background-color: transparent;
}

.metadata-actions, .scrollable {
    padding-left: 5px;
}

.metadata-actions .prev,  .metadata-actions .next{
    float:left;
    width:29px;
    height:6px;
    cursor: pointer;
}

.metadata-actions .prev {
    background: url("./roll-up.png") no-repeat scroll 0 0 transparent;
}

.metadata-actions .next {
    background: url("./roll-down.png") no-repeat scroll 0 0 transparent;
}

.scrollable {
    position:relative;
    overflow:hidden;
    height: 35px;
    width: 60px;
    margin-bottom:2px;
}

.scrollable .items {
    position:absolute;
    height:20000em;
}

.metadata-bar {
    float: right !important;
    margin: 1px 7px 0 !important;
}

/* single view */
.single {
    color: #383838;
    margin-top: -76px;
    padding-bottom: 10px;
    padding-top: 77px;
    width: 679px;
}

.single .column1 {
    float: left;
    margin: 1px 0 25px 17px;
    width: 140px;
}

.single .column1 .state {
    float: left;
    margin-left: 4px;
    padding-bottom: 6px;
    padding-top: 3px;
    position: relative;
    right: 0;
    text-align: center;
    width: 126px;
}

.single .column1 .state-label {
    padding-top: 5px;
}

.single .column1 .indicators {
    margin-right: 38px !important;
}

.single div.connect-arrow {
    margin-left: -17px;
}

.single div.connect-border {
    margin-left: -29px;
}

.single .single-actions {
    padding-bottom: 4px;
    padding-left: 15px;
    width: 69px;
    float: left;
}

.single div.single-action {
    font-size: 80%;
    line-height: 18px;
    text-decoration: none;
    cursor: pointer;
}

.single div.single-action:hover {
    background-color:#A1C8DB;
    width: 180px;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.single div.single-action.selected {
    color: #FF7F2A !important;
    width: 50px !important;
}

.single div.single-action.selected:hover {
    background-color:transparent;
}

div.single div.action-container.destroy {
}

.single div.confirm_single {
    font-size: 80%;
    margin: -19px -115px 0 0;
}

.single div.action-container.destroy div.confirm_single {
    margin: -18px -134px 0 0;
}

.single div.confirm_single button.no {
    margin-left: -5px;
}

.single .spinner, .single .wave {
    margin: 5px 50px 0 0px !important
}

.single div.action_error {
    margin: 2px 0px 0 577px !important;
    position: relative;
}

.single .column2 {
    background-color: #A1C8DB;
    float: left;
    font-size: 78%;
    line-height: 17px;
    margin: 0 0 20px 5px;
    width: 358px;
}

.single .column2 .machine-labels {
    float: left;
    font-size: 90%;
    margin-left: 10px;
    margin-top: 10px;
    width: 125px;
}

.single .column2 .machine-details {
    float: right;
    text-align: right;
    font-size: 90%;
    width: 210px;
    margin-right: 10px;
    margin-top: 10px;
}

.single .column2 .name, .single .column2 .disk, .single .column2 .image-size, .single .column2 .ipv6 {
    margin-bottom: 13px;
}

.single .tags {
    clear: both;
    margin-bottom: 10px;
    margin-left: 10px;
}

.single .tags-label {
    float: left;
    height: 14px;
    margin-top: -2px;
    padding: 0 5px;
    width: 30px;
}

.single .tags-down-arrow {
    background: url("/static/tags-down-arrow.png") no-repeat scroll 1px 7px transparent;
    float: left;
    height: 16px;
    width: 9px;
}

.single .tags-header {
    background-color: #84B7D0;
    cursor: pointer;
    height: 16px;
    width: 55px;
}

.single .tags-content {

}

.single .column3 {
    background-color: #A1C8DB;
    height: 200px;
    margin-left: 535px;
    position: absolute;
    top: 325px;
    width: 150px;
}

.single .column3 .controls {
    font-size: 80%;
    height: 20px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 8px;
}

.single .column3 .previous {
    float:left;
    width: 72px;
}

.single .column3 .next {
    float: right;
    text-align: center;
    width: 55px;
}

.single .column3 .next-arrow {
    float: right;
    height: 18px;
    width: 12px;
    background: url("./right-arrow.png") no-repeat scroll 3px 2px transparent;
}

.single .column3 .prev-arrow {
    background: url("./left-arrow.png") no-repeat scroll 3px 2px transparent;
    float: left;
    height: 18px;
    width: 12px;
}

.single .column3 .separator {
    width: 135px;
    height: 1px;
    background-color: #84B7D0;
    margin: 0 0 0 7px;
    clear: both;
}

.single .column3 .servers {
    font-size: 80%;
    line-height: 15px;
    padding-top: 10px;
    text-align: right;
}

.single .column3 .server-name {
    margin-left: 10px;
    padding-right: 5px;
    cursor: pointer;
    padding-bottom: 2px;
}

div.single div.column3 div.server-name:hover, .single .column3 .selected {
    background-color: #84B7D0;
    color: white;
    padding-right: 40px;
    width: 130px;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

.single .toggler {
    color: #FFFFFF;
    float: right;
    font-size: 140%;
    padding-right: 7px;
    padding-top: 7px;
}

.single .single-cpu, .single .single-network {
    float: left;
    height: 100px;
    width: 48%;
}

.single .cpu-usage, .single .network-usage {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 90%;
}

.single .cpu-graph, .single .network-graph {
    background-color: #A1C8DB;
    height: 210px;
    margin-left: 20px;
    width: 300px;
}

.single .single-image {
    width: 126px;
    margin-bottom: 10px;
    margin-left: 4px;
}

.single .column3 .previous, .single .column3 .next {
    cursor: pointer;
    background-color: #84B7D0;
    color: white;
    font-size: 100%;
    height: 15px;
    padding-top: 2px;
}

.single div.lower {
    clear:both;
    background: url("./running-bg.png") repeat scroll 0 0 transparent;
    width: 700px;
    height: 270px;
}

.single div.upper {
    background: url("./running-bg.png") repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: 330px;
    margin-bottom: 10px;
    margin-top: -75px;
    padding-top: 75px;
    width: 700px;
}

/* console css */
.console-header-logo {
    padding-top: 10px;
    margin-left: 30px;
    position: fixed;
}

div.console-container {
    margin: 0 0em;
    height: auto;
}

#wrapper.console {
    width: auto;
}

.console-info {
    font-size:80%;
    color: white;
    float:left;
    position:relative;
    margin: 25px 0 0 480px;
}

applet {
    width: 100%;
    height:75%;
}

.console-footer #footer-text{
    float:left;
    left: auto;
    margin-left:30px;
}

/* add network wizard (see also #wizard for shared classes) */
#networks-wizard .header {
    background-color: #4085A5;
    height: 56px;
}

#networks-wizard div.name-input {
    margin: 75px 0 0 55px;
}

#networks-wizard input {
    border: 1px solid #CCCCCC;
    color: #445566;
    letter-spacing: 1px;
    width: 170px;
}

#networks-wizard span.help {
    font-style: italic;
    font-size: 80%;
    margin-left: 10px;
}

#networks-wizard .separator-end {
    background-color: #387693;
    height: 6px;
    width: 478px;
    margin-left: -12px;
    margin-top: 9px;
}

.red {
    color: red;
}

/* add server to network wizard (see also #metadata-wizard for shared classes) */
#add-machines-wizard span.machine-name {
    margin-left: 4px;
    vertical-align: text-top;
}

#add-machines-wizard img.list-logo {
    margin: 2px 1px 1px;
}

.css-panes {
    clear: both;
}

.last .network-separator {
    background-color: white;
    height: 10px;
    margin-left: -50px;
    margin-top: -12px;
    width: 20px;
}

.last .firewall-content {
    margin-bottom:13px;
}

#pub:hover .last .network-separator {
    background-color: #CDE2EC;
}

.public-networks .empty-network-slot {
    display: none;
}
