#wizard .right {
    margin-top: -23px;
}

#metadata-wizard .addbuttons {
    margin-top: -17px;
}

div#view-select {
    top: -15px;
}

#networks-wizard .create {
    margin-top: -23px;
}

div.machine-details .editbuttons {
    margin-top: -20px;
}
