{% extends 'im/base_two_cols.html'%}

{% block page.title %}
Password reset
{% endblock %}

{% block body.left %}
<div class="section">
    <img class="pic" src="{{ IM_STATIC_URL }}images/porta.png" />
</div>
{% comment %}{% include "im/services_description.html" %}{% endcomment %}
{% endblock body.left %}
    
{% block body.right %}
     {% if "local" in im_modules %}
     
     	
        <form action="{% url django.contrib.auth.views.password_reset %}" method="post"
            class="login innerlabels">{% csrf_token %}
            <h2 class="formheader"><span>RESET PASSWORD</span></h2>
            <p>An email will be sent to the address you specify, containing a link that
will allow you to change your old password. <br><br></p>
            {% include "im/form_render.html" %}
            <div class="form-row submit">
                <input type="submit" class="submit altcol" value="SUBMIT" />
            </div>
        </form>
      {% endif %}
      
      <p><a href="{% url login %}">Back to login</a></p>
{% endblock %}
