{% extends 'im/base_two_cols.html'%}

{% block page.title %}
Password reset
{% endblock %}

{% block body.left %}
<div class="section">
    <img class="pic" src="{{ IM_STATIC_URL }}images/pictures/login_pic.png" />
</div>
{% comment %}{% include "im/services_description.html" %}{% endcomment %}
{% endblock body.left %}
    
{% block body.right %}
     {% if "local" in im_modules %}
        <form action="{% url django.contrib.auth.views.password_reset %}" method="post"
            class="login innerlabels">{% csrf_token %}
            <h2 class="formheader"><span>RESET PASSWORD</span></h2>
            {% include "im/form_render.html" %}
            <div class="form-row submit">
                <input type="submit" class="submit altcol" value="SUBMIT" />
            </div>
        </form>
      {% endif %}
{% endblock %}
