{% extends 'im/one_col_base.html'%}

{%block page.title %}Password reset{% endblock %}
{% block body %}
<div class="section">
    <h2>Please enter your new password</h2>
    {% if validlink %}
    <form action="" method="post" class="withlabels">{% csrf_token %}
    {% include "im/form_render.html" %}
    <div class="form-row submit">
        <input type="submit" class="submit altcol" value="SUBMIT" />
    </div>
      </form>
    {% else %}
    The password reset link was invalid
    {% endif %}
</div>
{% endblock %}
