{% extends "im/base_two_cols.html" %}

{% load filters %}

{% block page.title %}Profile{% endblock %}
{% block page.nav.classes %}{% endblock %}

{% block page.quicknav.items %}
        <li class="{% block signup_class %}{% endblock %}">
            <a href="{% url astakos.im.views.logout %}">LOGOUT</a>
        </li>
{% endblock %}

{% block page.nav.items %}
    {% for item in menu%}
        <li class="{% if item|lookup:"is_active" %}active{% endif %}">
            <a href="{{ item|lookup:"url" }}">{{ item|lookup:"name" }}</a>
        </li>
    {% endfor %}
{% endblock %}
    
{% block page.body %}
<div class="maincol {% block innerpage.class %}full{% endblock %}">
{% block body %}{% endblock %}
</div>
{% endblock %}
