{% extends "im/base_two_cols.html" %}

{% block extra_messages %}
    {% if not messages %}
        {% for msg_type, msg in GLOBAL_MESSAGES.items %}
            <li class="{{ msg_type }}">{{ msg|safe }}</li>
        {% endfor %}
        {% for msg_type, msg in PROFILE_MESSAGES.items %}
            <li class="{{ msg_type }}">{{ msg|safe }}</li>
        {% endfor %}
    {% endif %}
{% endblock %}

{% load filters %}

{% block page.title %}Profile{% endblock %}
{% block page.nav.classes %}{% endblock %}

{% block page.quicknav.items %}
        <li class="{% block signup_class %}{% endblock %}">
            <a href="{% url logout %}">LOGOUT</a>
        </li>
{% endblock %}

{% block page.nav.items %}
    {% for item in menu%}
        <li class="{% if item|lookup:"is_active" %}active{% endif %}">
            <a href="{{ item|lookup:"url" }}">{{ item|lookup:"name" }}</a>
        </li>
    {% endfor %}
{% endblock %}
    
{% block page.body %}
<div class="maincol {% block innerpage.class %}full{% endblock %}">
{% block body %}{% endblock %}

    {% if PROFILE_EXTRA_LINKS %}
    <div class="extra-buttons buttons-list fixpos">
        {% for href, name in PROFILE_EXTRA_LINKS.items %}
            <a class="button back right" href="{{ href }}">{{ name }}</a>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock %}
