{% extends 'im/base.html' %}

{% block page.title %}Approval Terms{% endblock %}

{% block body %}
    <div class="terms-content">
        {{ terms|safe }}
    </div>

{% if form %}
<div class="section">
    <form action="{% url latest_terms %}" method="post" class="login innerlabels">{% csrf_token %}
            {% include "im/form_render.html" %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-row submit">
                <input type="submit" class="submit altcol" value="SUBMIT" />
            </div>
        </form>
</div>
{% endif %}
{% endblock body %}
