{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
 
{% with form.data as data %}	 	
<div class="projects summary">
	<form action="{% url group_add_complete %}" method="post" class="quotas-form">{% csrf_token %}
		<legend>CONFIRMATION REQUEST</legend>
		<P>These are the specifications of the Project you want to create. If you hit the "Submit" button this form will be officially sent to GRNET for review. Please make sure the following reflect exactly your request. After submitting, there is no way to modify your Project request. </P>
<!-- 
 		{% for k,v in data.iteritems %}
 			<input type="hidden" name="{{ k }}" value="{{ v }}">
 		{% endfor %}
 -->
        {% include "im/form_render.html" %}
		<div class="full-dotted">
			<h3>GENERAL INFO</h3>
			<p class="restricted">{{ data.desc|safe }}</p>
			<dl class="alt-style">			    
				<dt>Homepage Url</dt>
				<dd>{{ data.homepage }}&nbsp;</dd>
			</dl>
		</div>
		<div class="full-dotted">
			 <h3>DETAILS</h3>
			 <dl class="alt-style">			    
			    <dt>Name</dt>
			 	<dd>{{ data.name }}&nbsp;</dd>
			 	<!--<dt>Type</dt>
			 	<dd>Course&nbsp;</dd>-->
			 	<dt>Issue date:</dt>
			 	<dd>{{ data.issue_date|date:"d/m/Y"}}&nbsp;</dd>
			 	<dt>Expiration Date</dt>
			 	<dd>{{ data.expiration_date|date:"d/m/Y"}}&nbsp;</dd>
			 	<dt>Modaration</dt>
			 	<dd>{{ data.moderation_enabled|yesno:"Yes, No" }}</dd>
			 	<dt>Max members per group</dt>
			 	<dd>{% if  data.max_participants %}{{ data.max_participants }}{% else %}Unlimited{% endif %}</dd>
			 </dl>
		 </div>
		 
		 
		 <div class="full-dotted">
			<h3>RESOURCES</h3>
			<p>The following ~okeanos resources will be granted to each member of this Project:</p>
		 	<dl class="alt-style">	
		 		{% for p in policies %}
			 		 
			 		<dt>
           				Max {% if p.is_abbreviation %}{{ p.name|upper }}{% else %}{{ p.name }}{% endif %}{% if not p.unit %}s {% endif  %}  per user
           			</dt>
			 		<dd>
           			{% if p.uplimit %}
           				 {% if p.unit %}
           				 	{{ p.uplimit|sizeof_fmt }}
           				 {% else %}
           				 	{{ p.uplimit }}
           				 {% endif %}
           			{% else %}
           				Unlimited
           			{% endif %}
           			</dd>
           		{% empty %}
           			No resources
		 		{% endfor %}
		 	</dl>      
		 </div>
		 
		 <div class="full-dotted">
		 	 
		 </div>
		
		 
		 <div class="form-row submit">
	   		<input type="submit" value="SUBMIT" class="submit altcol" autocomplete="off">
		 </div>
	</form>
    
</div>
{% endwith %}
 
{% endblock %}
