{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
<div class="maincol {% block innerpage.class %}{% endblock %}">
        <table class="zebra-striped id-sorted">
              <tr>
                <th>Name: {{object.name}}</th>
              </tr>
        </table>
    <div class="section">
        <h2>Members:</h2>
        {% if members %}
          <table class="zebra-striped id-sorted">
            <thead>
              <tr>
                <th>Realname</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            {% for name, approved in members %}
              <tr>
                <td>{{name}}</td>
                <td>{{approved}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No members yet!</p>
        {% endif %}
    </div>
    <div class="section">
        <h2>Policies:</h2>
        {% if quota %}
          <table class="zebra-striped id-sorted">
            <thead>
              <tr>
                <th>Resource</th>
                <th>Limit</th>
              </tr>
            </thead>
            <tbody>
            {% for o in quota %}
              <tr>
                <td>{{o}}</td>
                <td>{{quota|lookup:o}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>No policies</p>
        {% endif %}
    </div>
    <div class="rightcol">
    <form action="{% url group_policies_add object.id %}" method="post" class="innerlabels signup">{% csrf_token %}
        <h2><span>NEW POLICY</span></h2>
            {% include "im/form_render.html" %}
            <div class="form-row submit">
                <input type="submit" class="submit altcol" value="+" />
            </div>
    </form>
</div>
</div>
{% endblock %}
