{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
 
{% with form.data as data %}	 	
<div class="projects summary">
	<h2>CONFIRM YOUR REQUEST</h2>
	<p>Lorem ipsum</p>
	<form action="{% url group_add_complete %}" method="post" class="quotas-form">{% csrf_token %}
<!-- 
 		{% for k,v in data.iteritems %}
 			<input type="hidden" name="{{ k }}" value="{{ v }}">
 		{% endfor %}
 -->
        {% include "im/form_render.html" %}
		
		<div class="full-dotted">
			 <h3>DETAILS:</h3>
			 <dl class="alt-style">			    
			    <dt>Name</dt>
			 	<dd>{{ data.name|strip_http }}&nbsp;</dd>
			 	<dt>Homepage Url</dt>
			 	<dd>{{ data.homepage }}&nbsp;</dd>
			 	<dt>Description</dt>
			 	<dd>{{ data.desc }}</dd>
			 	<!--<dt>Type</dt>
			 	<dd>Course&nbsp;</dd>-->
			 	<dt>Issue date:</dt>
			 	<dd>{{ data.issue_date|date:"d/m/Y"}}&nbsp;</dd>
			 	<dt>Expiration Date</dt>
			 	<dd>{{ data.expiration_date|date:"d/m/Y"}}&nbsp;</dd>
			 	<dt>Modaration</dt>
			 	<dd>{% if data.moderation_enabled%}Yes{% else %}No{% endif %}</dd>
			 	<dt>Max members per group</dt>
			 	<dd>{% if  data.max_participants %}{{ data.max_participants }}{% else %}Unlimited{% endif %}</dd>
			 </dl>
		 </div>
		 <div class="full-dotted">
			 <h3>RESOURCES:</h3>
	           <dl class="alt-style">	           	
	           	{% for r in policies %}
	           		{% with r.service|add:'.'|add:r.resource as t %}
	           		{% with resource_catalog|lookup:'resources' as resources %}
	           		{% with resources|lookup:t as info %}
	           		{% with resource_presentation|lookup:t as resource_info %}
	           			<dt>
	           				Max {% if resource_info.is_abbreviation %}{{ r.resource|upper }}{% else %}{{ r.resource }}{% endif %}{% if not info.unit %}s {% endif  %}  per user
	           			</dt>
	           			
	           			<dd>
	           			{% if r.uplimit %}
	           				{{ r.uplimit }} {% if info.unit %}({{ info.unit}}){% endif %}
	           			{% else %}
	           				Unlimited
	           			{% endif %}
	           			</dd>
	           		{% endwith %}
	           		{% endwith %}
	           		{% endwith %}
	           		{% endwith %}
	           	{% endfor %}
			 	
			 	<!--<dt>Max Vms per user</dt>
			 	<dd>3</dd>
			 	<dt>Max diskspace per user</dt>
			 	<dd>5GB</dd>
			 	<dt>Max RAM per user</dt>
		 		<dd>2GB</dd>
			 	<dt>Max CPU per user</dt>
			 	<dd>2</dd>-->
			 </dl>
	         
		 </div>
		 <div class="full-dotted">
		 	 
		 </div>
		 
		 <div class="form-row submit">
	   		<input type="submit" value="SUBMIT" class="submit altcol" autocomplete="off">
		 </div>
	</form>
    
</div>
{% endwith %}
 
{% endblock %}
