{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
<div class="projects">
	
	<h2>
	 	{% if request.user in object.members %}
			<em>[ ENROLLED ]</em>		
		{% endif %}
	 	<span>[ {{object.kind|upper}} ]</span>  
	 </h2>
	 <div class="details">
	 	<p>{{ object.desc }}</p>
	 </div>
	 <div class="full-dotted">
		 <h3>DETAILS:</h3>
		 <dl class="alt-style">
		 	<dt>Name</dt>
		 	<dd>{{object.name}}</dd>
		 	<dt>Type</dt>
		 	<dd>{{object.kind|capfirst}}</dd>
		 	<dt>Issue date:</dt>
		 	<dd>{{object.issue_date|date:"d/m/Y"}}</dd>
		 	<dt>Expiration Date</dt>
		 	<dd>{{object.expiration_date|date:"d/m/Y"}}</dd>
		 	<dt>Modaration</dt>
		 	<dd>{% if object.moderation_enabled%}Yes{% else %}No{% endif %}</dd>
		 	<dt>Activated</dt>
		 	<dd>{% if object.is_enabled %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Owner</dt>
		 	<dd>{% for o in object.owner.all %}
                    {% if user == o %}
                        Me
                    {% else%}
                        {{o.realname}} ({{o.email}})
                    
                    {% endif %}
                {% endfor %}
            </dd>
		 </dl>
	 </div>
	 
     <div class="full-dotted">
		 <h3>POLICIES:</h3>
		 {% if quota %}
		 <dl class="alt-style">
		 	<dt>Resrouce</dt>
		 	<dd>Limit</dd>
		 	{% for k in quota|dkeys %}
                
                <dt>{{ k }}</dt>
                <dd>{{ quota|lookup:k }}</dd>
                  
            {% endfor %}
		</dl>
		{% else %}
            <p>No policies</p>
        {% endif %} 
	 </div>
	 <div class="full-dotted">
	 	{% if object.members %}
		 <table class="alt-style table_sorting">
		 	<caption>MEMBERS:</caption>
		 	<thead>
			 	<tr>
			 		<th>Email</th>
			 		<th>Name</th>
			 		<th>Status</th>
			 	</tr>
		 	</thead>
		 	<tbody>
		 	{% for m in object.membership_set.all %}
              <tr>
                <td>{{m.person.email}}</td>
                <td>{{m.person.realname}}</td>
                {% if m.person in m.group.owner.all %}
                <td>Owner</td>
                {% else %}
                    {% if m.is_approved %}
                    <td>Approved</td>
                    {% else %}
                    <td>Pending 
                        {% if user in m.group.owner.all %}
                            <a href="{% url approve_member m.group.id m.person.id %}">Approve</a>
                            <a href="{% url disapprove_member m.group.id m.person.id  %}">Disapprove</a>
                        {% endif %}
                    </td>    
                    {% endif %}
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
		 </table>
		 {% else %}
            <p>No members yet!</p>
        {% endif %}
	 </div>   
</div>
{% endblock %}
