{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
<div class="projects">
	
	<h2>
	 	{% if object.is_member %}
			<em>
				{% if object.is_owner %}
					[ADMINISTRATOR]
				{%  else %}
					[ ENROLLED ]
				{% endif %}
			</em>		
		{% endif %}
	 	<span>[ {{object.kindname|upper}} ]</span>
	 </h2>
	 
	 <div class="details">
	 	{% if object.is_owner %}
	 		<a href="#" class="edit">[ EDIT GROUP INFO ]</a>
	 	{% endif %}
	 	<div class="data">
		 	<p>{{ object.desc }}</p>
		 	<dl class="alt-style">
			 	<dt>Homepage url</dt>
			 	<dd>
			 		{% if object.homepage%}
			 			<a href="{{ object.homepage }}">{{ object.homepage }}</a>
			 		{% else %}
			 			Not set yet
			 		{% endif %}
			 	</dd>
			 </dl>
		</div>
		<div class="editable" style="display:none;">
		<form action="" method="post"
	            class="withlabels">{% csrf_token %}
	            {% with update_form as form %}
                    {% include "im/form_render.html" %}
                    <div class="form-row submit">
                        <input type="submit" class="submit altcol" value="FINISHED EDITING" />
                    </div>
	            {% endwith %}
	    </form>
		</div>
	 </div>
	 <div class="full-dotted">
		 <h3>DETAILS:</h3>
		 <dl class="alt-style">
		 	<dt>Name</dt>
		 	<dd>{{object.name}}&nbsp;</dd>
		 	<dt>Type</dt>
		 	<dd>{{object.kindname|capfirst}}&nbsp;</dd>
		 	<dt>Issue date:</dt>
		 	<dd>{{object.issue_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>Expiration Date</dt>
		 	<dd>{{object.expiration_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>Modaration</dt>
		 	<dd>{% if object.moderation_enabled%}Yes{% else %}No{% endif %}</dd>
		 	<dt>Activated</dt>
		 	<dd>{% if object.is_enabled %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Owner</dt>
		 	<dd>{% for o in object.owner.all %}
                    {% if user == o %}
                        Me
                    {% else%}
                        {{o.realname}} ({{o.email}})
                    
                    {% endif %}
                {% endfor %}&nbsp;
            </dd>
		 </dl>
	 </div>
	 
     <div class="full-dotted">
		 <h3>RESOURCES:</h3>
		 {% if object.quota %}
		 <dl class="alt-style">
		 	 
		 	{% for k in object.quota|dkeys %}
                
                <dt>{{ k }}</dt>
                <dd>{{ object.quota|lookup:k }}&nbsp;</dd>
                  
            {% endfor %}
		</dl>
		{% else %}
            <p>No policies</p>
        {% endif %} 
	 </div>
	 <div class="full-dotted">
	    {% with page|concat:sorting as args %}
	    {% with object.members|paginate:args as members%}
            {% if members %}
            <form method="GET" class="minimal" action="">
                <div class="form-row">
                    <select name="sorting" onchange="this.form.submit();">
                        <option value="">Sort by</option>
                        <option value="email" {% if sorting == 'email' %}selected{% endif %}>User Id</option>
                        <option value="realname" {% if sorting == 'realname' %}selected{% endif %}>Name</option>
                        <option value="is_approved" {% if sorting == 'is_approved' %}selected{% endif %}>Status</option>
                    </select>
                </div>
            </form>
             <table class="alt-style">
                <caption>MEMBERS:</caption>
                <thead>
                    <tr>
                        <th>User Id</th>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in members.object_list %}
                  <tr>
                    <td>{{p.email}}</td>
                    <td>{{p.realname}}</td>
                    {% if p in object.owner.all %}
                    <td>Owner</td>
                    {% else %}
                        {% if p.is_approved %}
                        <td>Approved</td>
                        {% else %}
                        <td>Pending 
                            {% if user in object.owner.all %}
                                <a href="{% url approve_member m.group.id m.person.id %}">Accept</a>
                                <a href="{% url disapprove_member m.group.id m.person.id  %}">Reject</a>
                            {% endif %}
                        </td>    
                        {% endif %}
                    {% endif %}
                  </tr>
                {% endfor %}
                </tbody>
             </table>
             <div class="pagination">
                <p class="next-prev">
                    {% if members.has_previous %}
                        <a href="?page={{ members.previous_page_number }}{% if sorting %}&sorting={{sorting}}{% endif %}">previous</a>
                    {% endif %}
                    {% if members.has_next %}
                        <a href="?page={{ members.next_page_number }}{% if sorting %}&sorting={{sorting}}{% endif %}">next</a>
                    {% endif %}
                </p>
                <p class="nums">
                    <span class="current">
                        Page {{ members.number }} of {{ members.paginator.num_pages }}
                    </span>
                </p>
            </div>
             {% else %}
                <p>No members yet!</p>
            {% endif %}
        {% endwith %}
        {% endwith %}
	 </div>
     
     
    {% if object.is_owner %}
    <div class="full-dotted">
        <form action="" method="post" class="withlabels">{% csrf_token %}
            <h2>Enroll more members</h2>
                {% with addmembers_form as form %}
                    {% include "im/form_render.html" %}
                {% endwith %}
                <div class="form-row submit">
                    <input type="submit" class="submit altcol" value="ADD MEMBERS" />
                </div>
        </form>
    </div>
    {% endif %}
     
    
</div>
{% endblock %}
