{% load astakos_tags %}<!doctype html>
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">
  
  <title>
     {% block page.title %}{% endblock %} / GRNET Cloud Accounts 
  </title>
  
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0">
    
  {% block page.js %}
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
      <script src="{{ IM_STATIC_URL }}js/html5.js"></script>
  <![endif]-->
  {% endblock %}
  
  {% block page.favicons %}
  <link rel="shortcut icon" href="">
  <link rel="apple-touch-icon" href="">
  {% endblock page.favicons %}

  {% block page.css %}
       
      <link href='https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="{{ IM_STATIC_URL }}css/global.css">
      <link rel="stylesheet" type="text/css" href="{{ IM_STATIC_URL }}css/print.css" media="print">
      <!--[if lte IE 7]>
            <link rel="stylesheet" type="text/css" href="{{ IM_STATIC_URL }}css/ie7.css">
      <![endif]-->
      <link rel="stylesheet" media="screen and (max-width: 960px)" href="{{ IM_STATIC_URL }}css/max960.css"/>
      <link rel="stylesheet" media="screen and (max-width: 768px)" href="{{ IM_STATIC_URL }}css/max768.css"/>  
      <link rel="stylesheet" media="screen and (max-width: 480px)" href="{{ IM_STATIC_URL }}css/max480.css"/>  
      <link rel="stylesheet" type="text/css" href="{{ IM_STATIC_URL }}css/jquery-ui-1.8.21.custom.css"/>
      
  {% endblock page.css %}

  {% block headjs %}
  	  <script src="{{ IM_STATIC_URL }}js/jquery-1.7.1.min.js"></script>	
  	  
  	  <script src="{{ IM_STATIC_URL }}js/os.js"></script>	
      <script src="{{ IM_STATIC_URL }}js/modernizr-2.0.6.js"></script>	
      <script src="{{ IM_STATIC_URL }}js/jquery.js"></script>	
      <script src="{{ IM_STATIC_URL }}js/jquery.infieldlabel.js"></script>	
      <script src="{{ IM_STATIC_URL }}js/forms.js"></script>	 
      <script src="{{ IM_STATIC_URL }}js/common.js"></script> 
  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}

  <script type="text/javascript">
      $(document).ready(function() {
          $("form.innerlabels label").inFieldLabels();
          $("form").each(function(){
            if ($(this).hasClass("login")) { return }
            $(this).find("input").attr("autocomplete","off");
          })
          $("form .form-row").formErrors();
          $("form .form-row input[type=checkbox]").formCheckBoxes();
            
          // hide label for captcha field
          $("label[for=id_recaptcha_challenge_field]").closest('.form-row').hide();
    })
  </script>

    {% if CLOUDBAR_ACTIVE %}
        {{ CLOUDBAR_CODE }}
    {% endif %}
</head>

<body>
    <div class="container">
        <div class="wrapper">       
            
            {% display_messages %}

	        <div class="mainlogo">
                <a href="{% url astakos.im.views.index %}">
	        		<img src="{{ IM_STATIC_URL }}images/accounts-logo.png" alt="accounts" />
	        	</a>
	        </div>
            {% block page.nav %}
            <div class="navigation">
	            <ul>
	                {% block page.nav.items %}
	                {% endblock %}
	            </ul>
	            <ul>
	                {% block page.subnav %}{%endblock %}
	            </ul>
            </div>
            {% endblock %}
	        <div class="content">
	            {% block page.body %}
	                <div class="full">
	                    {% block body %}
	                    {% endblock %}
	                </div>
	            {% endblock %}
	        </div>
	   </div>
    </div>
    <div class="footer">
        <div class="wrapper">
        	{% include "im/footer.html" %}
        </div>
    </div>
    
</body>
</html>
