{% extends "im/account_base.html" %}
{% load astakos_tags i18n %}

{% block page.title %}Contact{% endblock %}

{% block body %}

<h2>{% trans "CONTACT US" %} </h2>
<p>
If you would like to contact us for any reason, please feel free to 
write <br>your message in the following form. Feedback and suggestions are<br>
also highly appreciated.</p>
<form action="{% url feedback %}" method="post"
    class="withlabels">{% csrf_token %}
    
    {% with feedback_form as form %}
    {% include "im/form_render.html" %}
    {% endwith %}
    
    <div class="form-row submit">
        <input type="hidden" name="next" value="{{ next }}">
        <input type="hidden" name="auth" value="{{ user.auth_token }}">
    	<input type="hidden" name="username" value="{{ username }}">
        <input type="submit" class="submit altcol" value="SEND" />
    </div>
  
</form>
{% endblock body %}
