{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
	<h2>HOW IT WORKS</h2>
 	<div class="centered how-it-works">
 		<div class="wrap">
	 		<img src="/static/im/images/how_it_works.png" alt="how it all works">
	 		<a href="{% url project_list %}" class="submit">VISIT PROJECTS NOW</a>
	 		<a href="https://okeanos.grnet.gr/" class="map link-13">&nbsp;</a>
	 		<a href="{% url project_list %}" class="map link-21">&nbsp;</a>
	 		<a href="{% url project_add %}" class="map link-22">&nbsp;</a>
	 		<a href="{% url project_search %}" class="map link-33">&nbsp;</a>
	 		<a href="{% url project_search %}" class="map link-33">&nbsp;</a>
	 		<a href="{% url resource_usage %}" class="map link-42">&nbsp;</a>
 		</div>
 	</div>
{% endblock %}
