{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
<div class="landing-page">
	
	<div class="two-cols clearfix dotted pithos">
		<div class="rt">
    		<a href="/pithos/ui/"><img class="pic" src="{{ IM_STATIC_URL }}images/landing-pithos.png" /></a>
		</div>
		<div class="lt">
			<a href="/pithos/ui/">Pithos</a> is the File Storage service. Click to start
uploading and managing your files on the cloud.

		</div>
	</div>
	<div class="two-cols clearfix dotted cyclades">
		<div class="rt">
  			<a href="/ui/"><img class="pic" src="{{ IM_STATIC_URL }}images/landing-cyclades.png" /></a>
		</div>
		<div class="lt">
			<a href="/ui/">Cyclades</a> is the Compute and Network Service. Click to start
creating Virtual Machines and connect them to arbitrary Networks.

		</div>
	</div>
	<div class="two-cols clearfix dotted dashboard">
		<div class="rt">
    		<a href="{% url astakos.im.views.edit_profile %}"><img class="pic" src="{{ IM_STATIC_URL }}images/landing-dashboard.png" /></a>
		</div>
		<div class="lt">
			Access the <a href="{% url astakos.im.views.edit_profile %}">dashboard</a> from
the top right corner of your screen. Here you can manage your profile, see the usage of your resources
and manage projects to share virtual resources with colleagues.

		</div>
	</div>
	<div class="two-cols clearfix dotted cms">
		<div class="rt">
    		<a href=""><img class="pic" src="{{ IM_STATIC_URL }}images/landing-cms.png" /></a>
		</div>
		<div class="lt">
			Click on the top left logo icon, to go back to the homepage.
 
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('body').append('<div id="hand">&nbsp;</div>');
	});
</script>	
{% endblock %}
