{% extends "im/account_base.html" %}

{% load filters %}
{% block page.title %}Overview{% endblock %}

{% block page.body %}
<div class="landing-page">
	{% block content%}
		{% for service in services %}
			<div class="two-cols clearfix dotted">
				<div class="rt">
					<a href="{{ service.url }}">
						<img class="pic" src="{{ service.landing_image }}" />
					</a>
				</div>
				<div class="lt">
					<h2>{{ service.name }}</h2>
					{{ service.description }}
				</div>
			</div>
		{% endfor %}
	{% endblock content %}
	 
</div>	
	 
{% endblock %}
