{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
<div class="landing-page">
	<h2>WELCOME TO OKEANOS</h2>
	<div class="two-cols clearfix dotted pithos">
		<div class="rt">
    		<a href="/pithos/ui/"><img class="pic" src="{{ IM_STATIC_URL }}images/landing-pithos.png" /></a>
		</div>
		<div class="lt">
 			<a href="/pithos/ui/">Pithos</a> takes you to the storage service where up to 50 gigs
of space is yours.

		</div>
	</div>
	<div class="two-cols clearfix dotted cyclades">
		<div class="rt">
  			<a href="/ui/"><img class="pic" src="{{ IM_STATIC_URL }}images/landing-cyclades.png" /></a>
		</div>
		<div class="lt">
 			<a href="/ui/">Cyclades</a> to the compute and network cervice where you can
create your own machines and networks.


		</div>
	</div>
	<div class="two-cols clearfix dotted dashboard">
		<div class="rt">
    		<a href="{% url astakos.im.views.edit_profile %}"><img class="pic" src="{{ IM_STATIC_URL }}images/landing-dashboard.png" /></a>
		</div>
		<div class="lt">
 			On the right you can accesss your <a href="{% url astakos.im.views.edit_profile %}">dashboard</a> to create
projects or change account settings


		</div>
	</div>
	<div class="two-cols clearfix dotted cms">
		<div class="rt">
    		<a href=""><img class="pic" src="{{ IM_STATIC_URL }}images/landing-cms.png" /></a>
		</div>
		<div class="lt">
 			In case you want <a href="">more information</a> regarding the service,
click on the logo  icon on the far left.
 
		</div>
	</div>
</div> 	
{% endblock %}
