{% extends 'im/base_two_cols.html'%}

{% block signup_class %}hidden{% endblock %}

{% block body.left %}
	<img class="pic" src="{{ IM_STATIC_URL }}images/porta.png" />
	{% comment %}{% include "im/services_description.html" %}{% endcomment %}
{% endblock body.left %}
    
{% block body.right %} 
    
    <div class="login-section">

      <h2 class="clearfix"><span class="title">LOGIN</span> <span class="header-actions">
              <a href="{% url signup %}">Sign up</a></span>
      </h2>
      <div class="main-login-method">
        {% include master_auth_provider.login_template %}
      </div>

      <div class="extralogin">
      {% for provider in auth_providers %}
      
        {% if not provider == master_auth_provider %}
            {% include provider.login_prompt_template %}
        {% endif %}
      {% endfor %}
    </div>
    </div>
 
{% endblock body.right%}
