{% extends 'im/base_two_cols.html'%}
{% load i18n %}

{% block signup_class %}hidden{% endblock %}
{% block page.title %}Login{% endblock %}

{% block body.left %}
	<img class="pic" src="{{ IM_STATIC_URL }}images/porta.png" />
{% endblock body.left %}
    
{% block body.right %} 
    
    <div class="login-section">

      <h2 class="clearfix"><span class="title">LOGIN</span> <span class="header-actions">
        <a href="{% url signup %}">{% trans "Sign up" %}</a></span>
      </h2>
      <div class="main-login-method">
        {% with 1 as is_master %}
        {% include master_auth_provider.get_login_template %}
        {% endwith %}
      </div>
      <div class="extralogin">
      {% for provider in auth_providers %}
        {% if not provider == master_auth_provider %}
          {% include provider.get_login_prompt_template %}
        {% endif %}
      {% endfor %}
    </div>
    </div>
 
{% endblock body.right%}
