{% extends "im/account_base.html" %}

{% block body %}

<h2>GENERAL INFO</h2>
<form action={%url edit_profile %} method="post" class="withlabels hidden-submit">{% csrf_token %}
    
    {% with profile_form as form %}
    {% include "im/form_render.html" %}
    {% endwith %}

    <div class="form-row submit">
        <input type="hidden" name="next" value="{{ next }}">
        <input type="hidden" name="auth" value="{{ user.auth_token }}">
        <input type="submit" class="submit altcol" value="UPDATE" />
    </div>
</form>

<div class="full-dotted">
	<div class="auth_methods">
        <h2>ENABLED AUTHENTICATION METHODS</h2>
        <ul>
        	{% for provider in user_providers %}
        	<li>
        		<a href="#">{{ provider.settings.title }}</a>
        		<div class="wrap">
        			<p>{{ provider.details_display }}</p>
        			<div class="actions">
  
		                  {% for name, url in provider.settings.extra_actions %}
		                  <a href="{{ url }}" title="{{ name }}">{{ name }}</a>
		                  {% endfor %}
		                  {% if provider.can_remove %}
		                      <div class="dialog-wrap">
		                      	<a href="#" title="disable" class="red">
		                      	Disable x</a>
		                      	<div class="dialog">Are you sure you want to disable this method?
		                      		<a href="{% url remove_auth_provider provider.pk %}" class="yes submit">Yes</a>&nbsp;&nbsp;&nbsp;<a href="#" class="no submit">No</a>
		                      	</div>	
		                      </div>
		                      	
		                  {% endif %}
        			</div>
        		</div>
        	</li>
        	{% empty %}
        	<li>No available authentication methods</li>
        	{% endfor %}
        	
        </ul>
        <ul class="notassigned">
        	<li>
        		<a href="#">+ Add new authentication method</a>
        		
        		<div class="wrap">
        			{% for provider in user_available_providers %}
        				<p><a href="{{ provider.add_url }}">{{ provider.title }}</a> ( {{ provider.add_description }})</p>
        			{% empty %}
	        		No available providers 
	        		{% endfor %}	
        		</div>
        		
        	</li>
        </ul>
		
    </div>
</div>

<div class="full-dotted right-align">
	<ul class="options">
		<li><a href="https://cyclades.okeanos.grnet.gr/ui/" class="blue">Take me to cyclades ></a></li>
		<li><a href="https://pithos.okeanos.grnet.gr/ui/" class="blue">Take me to pithos+ ></a></li>
		<li><a href="https://okeanos.grnet.gr/home/" class="blue">~okeanos homepage ></a></li>
	</ul>
		 
</div>
{% endblock body %}
