<div class="auth_methods">
    <h2>LOGIN METHODS</h2>
    <ul>
        {% for provider in user_providers %}
        <li>
            <a href="#">{{ provider.title_display }}</a>
            <div class="wrap">
                <p>{{ provider.details_display }}</p>
                <div class="actions">

                      {% for name, url in provider.settings.extra_actions %}
                      <a href="{{ url }}" title="{{ name }}">{{ name }}</a>
                      {% endfor %}
                      {% if provider.can_remove %}
                          <div class="dialog-wrap">
                            <a href="#" title="disable" class="red">Disable x</a>
                            <div class="dialog">
                              Are you sure you want to disable this method?<br />
                              <a href="{% url remove_auth_provider provider.pk %}" 
                                class="yes submit">Yes</a>&nbsp;&nbsp;&nbsp;<a href="#" class="no submit">No</a>
                            </div>	
                          </div>
                            
                      {% endif %}
                </div>
            </div>
        </li>
        {% empty %}
        <li>No available authentication methods</li>
        {% endfor %}
        
    </ul>
    <ul class="notassigned">
        <li>
            <a href="#">+ Add new login method</a>
            
            <div class="wrap">
                {% for provider in user_available_providers %}
                <p><a href="{{ provider.add_url }}?force_login=1">
                  {{ provider.get_title_display }}</a><br />
                <span class="description">
                  {{ provider.get_description_display }}
                </span>
                  </p>
                {% empty %}
                No available providers 
                {% endfor %}	
            </div>
            
        </li>
    </ul>
    
</div>

