{% extends "im/account_base.html" %}

{% block body %}

<form action={%url edit_profile %} method="post" class="withlabels">{% csrf_token %}
    
    {% with profile_form as form %}
    {% include "im/form_render.html" %}
    {% endwith %}

    <div class="form-row submit">
        <input type="hidden" name="next" value="{{ next }}">
        <input type="hidden" name="auth" value="{{ user.auth_token }}">
        <input type="submit" class="submit altcol" value="UPDATE" />
    </div>

    <div class="auth_methods">
      <br /><br />
        <div class="assigned">
          <h4>Authentication methods</h4>
          <p>You can login to your account using the following methods</p>
          <ul class="auth_providers">
            {% for provider in user_providers %}
            <li>
            <h2>
                {{ provider.settings.title }}
                <span class="actions" style="margin-left: 40px">
                  {% for name, url in provider.settings.extra_actions %}
                  <a href="{{ url }}" title="{{ name }}">{{ name }}</a>
                  {% endfor %}
                  {% if provider.can_remove %}
                      <a href="{% url remove_auth_provider provider.pk %}" title="disble">Remove</a>
                  {% endif %}
                </span>
            </h2>
            <p>{{ provider.details_display }}</p>
            <br />
            </li>
            {% empty %}
            <li>No available authentication methods</li>
            {% endfor %}
          </ul>
        </div>
        <div class="notassigned">
          <p>You can add the following authentication methods to your account </p>
          <ul class="auth_providers">
            {% for provider in user_available_providers %}
            <li>
            <h2><a href="{{ provider.add_url }}">{{ provider.title }}</a></h2>
            <p>{{ provider.add_description }}</p>
            <br />
            </li>
            {% empty %}
            No available providers.
            {% endfor %}
          </ul>
        </div>
    </div>

</form>

<div class="two-cols-links">
	<p></p>
	<p>
		<a href="https://okeanos.grnet.gr/home/">Back to ~okeanos</a>
		<a href="https://cyclades.okeanos.grnet.gr/ui/">Take me to cyclades</a>
		<a href="https://pithos.okeanos.grnet.gr/ui/">Take me to pithos+</a>
	</p>
</div>
{% endblock body %}
