<div class="auth_methods">
    <h2>LOGIN METHODS</h2>
 
    <div class="assigned">
        <h3>ENABLED</h3>
        <ul>
        	{% for userauthprovider in user_providers %}
        	<li>
        		{% if userauthprovider.can_remove %}
        				<a href="#" class="canremove">
		                  <img src="{{ userauthprovider.settings.get_icon_medium_url_display }}"
                          alt="{{ userauthprovider.settings.get_title_display }}" />
		                </a>
		                
		                <span  class="extra-message"><em><span>Remove authentication method</span></em></span>
		                <span class="details">{{ userauthprovider.details_display }}</span>
                      	<div class="dialog-wrap">
                        	 
                          	<p>Are you sure you want to remove  {{ userauthprovider.settings.get_title_display }} from your Authentication methods? </p>
 
							<p>
								<a href="{% url remove_auth_provider provider.pk %}" class="submit">Yes</a>
								<a href="#" class="no submit">No</a>
							</p>
                        </div>	

                  {% else %}
                  	<a href="javascript:void(0);" class="noaction">
		                  <img src="{{ userauthprovider.settings.get_icon_medium_url_display }}"
                          alt="{{ userauthprovider.settings.get_title_display }}" />
		                </a>
                      	 
                                              
 
                  {% endif %}
        	</li>
        	{% empty %}
        		No available providers 
        	{% endfor %}
        </ul>
    </div>
    <div class="notassigned">
        <h3>AVAILABLE</h3>
        <ul>
        	{% for provider in user_available_providers %}
        	<li>
        		<a href="{{ provider.add_url }}?force_login=1">
                  <img src="{{ provider.get_icon_medium_url_display }}" alt="{{ provider.get_title_display }}" /></a>
                <span  class="extra-message"><em><span>{{ provider.get_add_prompt_display }}</span></em></span>
        	</li>
        	{% empty %}
        		No available providers 
        	{% endfor %}
        </ul>
    </div>
    
</div>

