{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}
<div class="maincol {% block innerpage.class %}{% endblock %}">
    <div class="stats clearfix">
		<ul>
			{% for r in data %}
			 
    		<li class="clearfix  {{ r.load_class }} {{ r.name}}">
    			<div class="img-wrap">&nbsp;</div>
    			<div class="info">
    				<h3>{{ r.description }}</h3>
    				<p>
    					{{ r.ratio|floatformat }}% Used<br>
    					You are using {{ r.currValue }} {{ r.unit }} out of your {{ r.maxValue }}{{ r.unit }} {{ r.plural|capfirst }} - Aouch!
    				</p>
    			</div>
    			<div class="bar">
    				<div><span style="width:{{ r.ratio|floatformat }}%;">{{ r.ratio|floatformat }}% &nbsp;&nbsp;</span></div>
    			</div>
    		</li>
    		{% endfor %}
    	</ul>
    </div>    
</div>
{% endblock %}
