{% extends "im/account_base.html" %}

{% load filters %}

{% block headjs %}
{{ block.super }}
<script src="{{ IM_STATIC_URL }}js/usage.js"></script>	
{% endblock %}

{% block page.body %}
<div class="maincol {% block innerpage.class %}{% endblock %}"> 
	<div class="stats clearfix">
		<ul>
			{% for rdata in resource_usage %}
            <li class="clearfix  {{ rdata.load_class }} {{ rdata.name|get_value_after_dot }}" 
                    data-resourcekey="{{ rdata.name }}" data-units="{{ rdata.unit }}">
		 			<div class="img-wrap">&nbsp;</div>
                    <div class="info" data-currvalue="{{ rdata.currValue }}"
                                      data-maxvalue="{{ rdata.maxValue }}">
						<h3>{{ rdata.report_desc }}</h3>
						<p>							
						{% if rdata.unit == 'bytes' %}
                        <span class="currValue">
                            {{ rdata.currValue|sizeof_fmt }}
                        </span> out of  
                        <span class="maxValue">
                            {{ rdata.maxValue|sizeof_fmt }}
                        </span>
                        {% else %}
                        <span class="currValue">
                            <span class="value">{{ rdata.currValue }}</span>
                        </span>
                        out of  
                        <span class="maxValue">
                            <span class="value">{{ rdata.maxValue }}</span>
                            <span class="unit">{{ rdata.unit }}</span>
                        </span>
						{% endif %}		
                        {% if rdata.is_abbreviation %}
                            {{ rdata.verbose_name|upper }}
                        {% else %}
                            {{ rdata.verbose_name }}
                        {% endif %}
                        {% if rdata.maxValue|floatformat:"0" != "1" and not rdata.unit %}s {% endif  %}
						</p>
					</div>
					<div class="bar" data-steps="">
						<div>
							<span style="width:{{ rdata.ratio_limited|floatformat }}%;">
                                <em data-value="{{ rdata.ratio }}" class="value {% if rdata.ratio > 18 %}hovered{% endif %}
">{{ rdata.ratio|floatformat }}&#37; &nbsp;&nbsp;</em>	
							</span>
						</div>
					</div>
		 		</li>
		 	{% endfor%}
		</ul>
			 
	</div>    
</div>
<script>
    $(document).ready(function(){
        var usageClient = new UsageClient({
            'url': '{% url resource_usage %}?json=1',
            'dataType': 'json',
            'container': 'div.stats'
        });
        
        window.setInterval(function() {
            usageClient.load();
        }, {{ usage_update_interval }});
        usageClient.load();
    })

</script>
{% endblock %}
