<div class="section">
    <h2>GRNET SERVICES</h2>
    <!--<p>
    There will be some text here explaining about what i am signing up for
    right? There will be some text here explaining about what i am signing up for
    right? There will be some text here explaining about what i am signing up for
    right? 
    </p>-->
</div>
<div class="section service-desc okeanos">
    <h2>
        <img class="pic" src="{{ IM_STATIC_URL }}images/service_okeanos_logo.png" />
    </h2>
    <!--<p>
    There will be some text here explaining about what i am signing up for
    right? There will be some text here explaining about what i am signing up for
    right? There will be some text here explaining about what i am signing up for
    right? 
    </p>-->
</div>
<div class="section service-desc">
    <h2>
        <img class="pic" src="{{ IM_STATIC_URL }}images/service_pithos_logo.png" />
    </h2>
    <!--<p>
    There will be some text here explaining about what i am signing up for
    right? There will be some text here explaining about what i am signing up for
    right? There will be some text here explaining about what i am signing up for
    right? 
    </p>-->
</div>

