{% extends 'im/base_two_cols.html' %}
{% load astakos_tags i18n %}
{% block page.title %}
{% trans "Signup" %}
{% endblock %}

{% block body.left %}
 
{% if third_party_token %} 
	<img class="pic" src="{{ IM_STATIC_URL }}images/mailbox.png" />
{% else %} 
	<img class="pic" src="{{ IM_STATIC_URL }}images/pictures/accounts_3.png" />
{% endif %}
 
{% comment %}{% include "im/services_description.html" %}{% endcomment %}
{% endblock body.left %}

{% block body.right %}
<h2>{% trans "SIGN UP" %}</h2>
{% if not third_party_token and not signup_form.errors %}
<p>{% trans "Choose one of the following sign up methods." %}</p>
<div class="extralogin">
{% for provider in auth_providers %}
	{% if provider.is_available_for_create %}
		{% if provider.module == 'local' %}
			<a href="#" class="submit standalone" id="signup-classic">CLASSIC</a>
            {% if "local" in im_modules %}
            {% include "im/auth/signup_form.html" %}
		    {% endif %}
		{% else %}
			{% if provider.module == 'shibboleth' %}
				<a href="{% provider_login_url provider %}" class="submit standalone">ACADEMIC</a>
			{% else %}
			<a href="{% provider_login_url provider %}" title="{{ provider.get_title_display }}" class="icons">
				<img src=" {{ provider.get_icon_url_display }}" alt="{{ provider.get_title_display }}">
			</a>
			{% endif %}
		{% endif %}
 	{% endif %}
    {% endfor %}
</div>
{% else %}
{% include "im/auth/signup_form.html" %}
{% endif %}
<script>
$(document).ready(function(){
    $("#signup-classic").click(function(e){
        e.preventDefault();
        $(this).siblings('.form-stacked').slideToggle();
    })
});    
</script>    
{% endblock %}
