{% extends 'im/base.html' %}

{% block page.title %}Signup complete{% endblock %}

{% block body %}
    <div class='header'>
        <div class="mainlogo">
            <h1>Signup complete</h1>
        </div>
    </div>

<div class="section">
    <form action="{% url astakos.im.views.signup %}" method="post" class="login innerlabels">{% csrf_token %}
                {% with thirdparty_signup_form as form %}
                {% include "im/form_render.html" %}
                {% endwith %}
                <input type="hidden" name="next" value="{{ next }}">
                <input type="hidden" name="provider" value="{{ provider }}">
                <div class="form-row submit">
                    <input type="submit" class="submit altcol" value="SUBMIT" />
                </div>
        </form>
{% endblock body %}