{% extends "im/account_base.html" %}

{% block page.body %}
<div class="projects">
	<div class="maincol {% block innerpage.class %}{% endblock %}">
	    <form action="" method="post"
	            class="withlabels">{% csrf_token %}
	            {% include "im/form_render.html" %}
	            <div class="form-row submit">
	                <input type="submit" class="submit altcol" value="SUBMIT" />
	            </div>
	    </form>
	</div>
</div>
{% for o in l %}
    {% for i in o %}
        {{i}}
    {% endfor %}
    <br>
{% endfor %}
{% endblock %}
