{% extends "im/base_two_cols.html" %}

{% block page.title %}Profile{% endblock %}
{% block page.nav.classes %}{% endblock %}

{% block page.quicknav.items %}
        <li class="{% block signup_class %}{% endblock %}">
            <a href="{% url astakos.im.views.logout %}">LOGOUT</a>
        </li>
{% endblock %}

{% block page.nav.items %}
    <li class="{% if tab == "profile" %}active{% endif %}">
        <a href="{% url astakos.im.views.edit_profile %}">Profile</a>
    </li>
    <li class="{% if not tab %}active{% endif %}">
        <a href="{% url django.contrib.auth.views.password_change %}">Change password</a>
    </li>
    <li class="{% if tab == "invitations" %}active{% endif %}">
        <a href="{% url astakos.im.views.invite %}">Invitations</a>
    </li>
    <li class="{% if tab == "feedback" %}active{% endif %}">
        <a href="{% url astakos.im.views.send_feedback %}">Send feedback</a>
    </li>
{% endblock %}
    
{% block page.body %}
<div class="maincol {% block innerpage.class %}full{% endblock %}">
{% block body %}{% endblock %}
</div>
{% endblock %}
