{% extends 'im/base_two_cols.html' %}

{% block signin_class %}hidden{% endblock %}

{% block page.title %}
    Signup
{% endblock %}

{% block body %}
<div class="section">
    <img class="pic" src="{{ IM_STATIC_URL }}images/pictures/signup_pic.png" />
</div>
{% include "im/services_description.html" %}
{% endblock body %}

{% block body.right %}
    {% if "local" in im_modules %}
      <div class="form-stacked">
        <form action="{% url astakos.im.views.signup %}" method="post"
            class="innerlabels signup">{% csrf_token %}
          <h2><span>SIGN UP</span></h2>
            <input type="hidden" name="next" value="{{ next }}">
            <input type="hidden" name="code" value="{{ code }}">
            <input type="hidden" name="provider" value="local">
            {% with local_form as form %}
            {% include "im/form_render.html" %}
            {% endwith %}
            <div class="form-row submit">
                <input type="submit" class="submit altcol" value="SUBMIT" />
            </div>
        </form>
      </div>
    {% endif %}
    {% if "twitter" in im_modules %}
      <div class="form-stacked">
        <form action="{% url astakos.im.views.signup %}" method="post"
            class="innerlabels signup">{% csrf_token %}
            <h2><span>SIGN UP USING TWITTER</span></h2>
            <input type="hidden" name="next" value="{{ next }}">
            <input type="hidden" name="code" value="{{ code }}">
            <input type="hidden" name="provider" value="twitter">
            {% with twitter_form as form %}
            {% include "im/form_render.html" %}
            {% endwith %}
            <div class="form-row submit">
                <input type="submit" class="submit altcol" value="SUBMIT" />
            </div>
        </form>
      </div>
    {% endif %}
        {% if 'shibboleth' in im_modules %}
          <div class="form">
            <form action="{% url astakos.im.target.shibboleth.login %}" method="post"
                class="innerlabels signup">{% csrf_token %}
              <h2><span>SIGN UP USING SHIBBOLETH</span></h2>
                  <input type="hidden" name="next" value="{{ next }}">
                  <input type="hidden" name="code" value="{{ code }}">
                  <input type="hidden" name="provider" value="shibboleth">
                <div class="form-row submit">
                    <input type="submit" class="submit altcol" value="SUBMIT" />
                </div>
            </form>
          </div>
        {% endif %}
      </div>
{% endblock %}
