<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title|default:"Pithos Admin" }}</title>
  <link rel="stylesheet" href="/admin/static/bootstrap.css">
  <script src="/admin/static/jquery.js"></script>
  <script src="/admin/static/jquery.tablesorter.js"></script>
  <script src="/admin/static/main.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="container">
    <ul class="tabs">
      <li{% ifequal tab "home" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.index %}">Home</a>
      </li>
      <li{% ifequal tab "users" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.users_list %}">Users</a>
      </li>
    </ul>

    {% block body %}{% endblock %}
  </div>
</body>
</html>
