/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
   font-family: 'Antic', sans-serif;
  
  font-weight: normal;
  line-height: 42px;
  letter-spacing: 1px;
  border: 1px solid #808080;
  height:42px;
  display: inline-block;
  margin-bottom: -1px;
  padding-left:21px;
  
  z-index: 2;
  width:308px;
}
  .dk_container:focus {
    outline: 0;
  }
  .dk_container a {
    cursor: pointer;
    text-decoration: none;
    color:#808080;
	 
  }

/* Opens the dropdown and holds the menu label */
.dk_toggle {
  /**
   * Help: Arrow image not appearing
   * Try updating this property to your correct dk_arrows.png path
   */
   background:url(../images/arrow_02.jpg) no-repeat 276px center;
  
}
  .dk_toggle:hover {
    
  }
  /* Applied when the dropdown is focused */
  .dk_focus .dk_toggle {
    
  }
  .dk_focus .dk_toggle {
    
  }

/* Applied whenever the dropdown is open */
.dk_open {
  
  /**
   * Help: Dropdown menu is covered by something
   * Try setting this value higher
   */
  z-index: 10;
}
  .dk_open .dk_toggle {
    
    
  }

/* The outer container of the options */
.dk_options {
  
}
  .dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #999;
    padding: 8px 20px;
  }
  .dk_options li:last-child a {
    border-bottom: none;
  }
  .dk_options a:hover,
  .dk_option_current a {
    
  }

/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner  {
  padding:0;
  margin:0;  
  border: 1px solid #808080;
  border-top:0 none;
}
.dk_options_inner li	{ list-style:none outside;}

/* Set a max-height on the options inner */
.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
  display: none;
  position: relative;
}
  .dk_container a {
    outline: 0;
  }

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
}
  .dk_open .dk_options {
    display: block;
  }
  .dk_open .dk_label {
    color: inherit;
  }

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
}
  .dk_options a,
  .dk_options a:link,
  .dk_options a:visited {
    display: block;
  }
  .dk_options_inner {
    overflow: auto;
    position: relative;
  }

.dk_touch .dk_options {
  overflow: hidden;
}

.dk_touch .dk_options_inner {
  max-height: none;
  overflow: visible;
}

.dk_fouc select {
  position: relative;
  top: -99999em;
  visibility: hidden;
}

/***** End Critical to the continued enjoyment of working dropdowns ******/
