/* generic form styles */
input, textarea, .form-widget 				{ background-color: #ffffff; color: #000;border-color: #000000; }
#forms .input, #forms input 				{ font-family: 'Didact Gothic', Verdana, sans-serif; font-size: 14px; font-weight: normal; line-height: 22px; letter-spacing: 1px;   border: 1px solid #808080; height: 21px; display: inline-block; margin-bottom: -1px; padding: 0.8em; padding-left: 1.5em; z-index: 2; }
#forms .input:focus, 
#forms input:focus 							{ position: relative; border: 1px solid #000; z-index: 100; }
#forms .input:focus label,
#forms input:focus label 					{ z-index: 300; }
form.withlabels label 						{ width: 224px; display: block; float: left; padding-top: 1em; }
form.withlabels input[type=text], 
form.withlabels input[type=password] 		{ width: 270px; }
form.withlabels input[type=text].long, 
form.withlabels input[type=password].long, 
form.withlabels textarea.long 				{ width: 224px; }
form.withlabels textarea					{ width:270px; }
.login-section a.button 					{ margin-bottom: 12px; }
.login-section a.button:last-child 			{ margin-bottom: none;}
.login-section a.button.withicon 			{ background-repeat: no-repeat; background-position: 15px 50%; padding-left: 40px; }
.login-section.loggedin 					{ padding-bottom: 0 !important; background-image: none !important; }
form.login 									{ margin-bottom: 22px; width:340px; }
form h2 span 								{ padding-bottom: 3px; }
form .form-row 								{ min-height: 30px; position: relative;}
form .form-row.submit 						{ margin: 22px 0 ;}
form .form-row .extra-link 					{ color: #808080; text-decoration: none; border: none; margin-top:15px; line-height:98%; display:inline-block; padding-top:15px;   float: right; position:absolute; right:0; top:0; }
form .form-row .extra-link:hover			{ border-bottom:1px solid #808080;}
form .form-row label 						{ font-size: 1.077em; }
form.innerlabels label 						{ position: absolute; bottom: 11px; left: 1.5em; color: #808080 ; }
form.innerlabels p 							{ margin:0; position: relative;}
form.innerlabels p.p15px					{ font-size:1.154em;}
form.innerlabels p.p15px a					{ margin:0 5px;}
form.innerlabels p.p15px a:hover			{ text-decoration:underline;}
form.innerlabels a,
form.innerlabels a:hover 					{ }
form textarea,
form input.text,
form input[type="text"],
form input[type="password"]  				{ color:#808080; font-family: 'Didact Gothic', Verdana, sans-serif; font-weight: normal; line-height: 22px; letter-spacing: 1px;border: 1px solid #808080; height: 21px; display: inline-block; margin-bottom: -1px; padding: 0.8em; padding-left: 1.5em; z-index: 2; width:300px; }
form select									{ font-family: 'Didact Gothic', Verdana, sans-serif; font-weight: normal; line-height: 22px; letter-spacing: 1px;  border: 1px solid #808080; display:block;  margin-bottom: -1px; padding: 0.8em;  padding-left: 1.5em;  z-index: 2;  width:301px; }
form textarea:focus,
form input.text:focus,
form input[type="text"]:focus,
form input[type="password"]:focus 			{position: relative; border: 1px solid #000; z-index: 100;}
form textarea:focus label,
form input.text:focus label,
form input[type="text"]:focus label,
form input[type="password"]:focus label 	{ z-index: 300;}
form input.submit, 
form input[type="submit"],
a.submit									{ font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: normal; line-height: 22px; letter-spacing:1px;  background-color: #f89a1c;color: #ffffff; border: none; padding: 10px 22px;font-size: 1em; margin:15px 0 0 223px; height:43px; }
form.innerlabels input.submit, 
form.innerlabels input[type="submit"]		{margin-left:0;}
form input.submit:hover, 
form input[type="submit"]:hover,
.content a.submit:hover					 	{ background-color:#3582AC;border-color:#3582ac; text-decoration:none;}
form input.submit.back, 
form input[type="submit"].back 				{ text-decoration: none; bottom: 0; float: right; z-index: 500; }
form input.submit.back.right, 
form input[type="submit"].back.right 		{right: 0;}
form input.submit.back, 
form input[type="submit"].back 				{ text-decoration: none; bottom: 0; float: right; z-index: 500; }
form input.submit.back.right, 
form input[type="submit"].back.right 		{ right: 0; }
form textarea 								{ height: 150px; width: 350px; max-height:150px; max-width:350px;}
form .with-errors input, 
form .with-errors textarea, 
form .with-errors select 					{ color: #9d261d;}
form .with-errors label 					{ color: #e4776f; }
.form-error 								{ color:red;   font-size: 0.8em; padding: 5px 5px; }
.form-errors.all .form-error 				{ position: relative; border-radius: 0; margin-bottom: 1.3em; padding: 0.5em; }
div.form-stacked 							{ margin-bottom: 4em; }
.checkbox-widget.checked 					{ background-color: #FF0000; background-image: url("../images/checkbox.png"); background-position: 50% 50%; }
.content a.checkbox-widget 					{ border: 1px solid #808080; cursor: pointer; display: block; float: left; height: 25px; margin:5px 20px 0 0 ; width: 25px; }
form.withlabels .checkbox-widget			{ margin-top:20px; }
form.innerlabels .checkbox-widget +  label	{ position:static; line-height:36px; color:#808080; }
form.innerlabels .checkbox-widget +  label + a	{ border-bottom:1px solid #F89A1C; font-size: 1.1em; }
form span.info								{ position:absolute;z-index:101; bottom:32px;  }
form.innerlabels span.info					{ left: 290px; }
form.withlabels span.info					{ left:485px;  }
form span.info em 							{ display:block; overflow:hidden;  position:absolute; left:0; text-indent:-100px; top:0; height:21px; width:21px; background:url(../images/symbols.png) no-repeat -4px -31px;cursor:pointer; }
form span.info:hover em 					{ background-position:-4px -3px; }
form span.info span  						{ position:absolute; left:29px; top:-2px; width:120px; padding-left:30px; background:url(../images/black-line.jpg ) no-repeat left 12px; min-height:50px; display:none; font-size:0.846em;}
form span.info:hover span 					{ display:block; }
form .with-errors span.info					{ display:none;}
form p										{ margin-bottom:0;position:relative;}
form input[readonly=true] 					{ /*background-color: #ddd;*/ color: #5e5e5e; }
#recaptcha_area 							{ margin-top:20px; } 
form.innerlabels .with-checkbox .checkbox-widget 	{  }
form.innerlabels .with-checkbox .checkbox-label		{ left:2.5em; top:17px; }
form.withlabels .with-checkbox .checkbox-widget		{ position:absolute; left:224px; top:0; }

form .extra-img								{ display:block; width:21px; height:21px; overflow:hidden;  position:absolute; }
form.withlabels .extra-img					{ left:485px; bottom:12px; }
form.innerlabels .extra-img					{ bottom:10px; left:290px }
form .with-checkbox .extra-img				{   } 
form .with-errors .extra-img 				{ background:url(../images/symbols.png) no-repeat -58px -3px;  z-index:101;}
form .with-errors textarea+.extra-img,
form .with-errors noscript+.extra-img		{ background:transparent;}
form .with-errors input[type="text"],
form .with-errors input[type="password"]	{ border:1px solid red;}
form.innerlabels .with-errors .extra-img	{ left:290px;}
form input[readonly="True"]+ span.extra-img { background:url(../images/symbols.png) no-repeat -111px -3px; z-index:101;}
form.withlabels .with-checkbox .extra-img	{ display:none; } 
.errorlist									{ margin:0; padding:0;}
.errorlist li								{ list-style:none outside;}

form .with-hidden							{ display:none; }


/* custom captcha */
#okeanos_recaptcha								{ width:329px; border:1px solid #808080; margin:0 0 20px; position:relative; }
#okeanos_recaptcha #recaptcha_image				{ padding:15px 0; }
#okeanos_recaptcha label.recaptcha_only_if_image,
#okeanos_recaptcha label.recaptcha_only_if_audio{ position:absolute; top:auto; bottom:11px; }
#okeanos_recaptcha a.recaptcha_audio_cant_hear_link { margin-left:20px;  }
#okeanos_recaptcha #recaptcha_response_field	{ width:220px; float:left; margin-left:-1px;  }
#okeanos_recaptcha .img							{ width:23px; float:left; height:23px; overflow:hidden; margin:8px; }
#okeanos_recaptcha .img a						{ display:block; width:100%; height:100%; background:url(../images/refresh_lg.png) no-repeat top left; text-indent:-100px }
#okeanos_recaptcha .img-refresh	a				{ background:url(../images/refresh_lg.png); }
#okeanos_recaptcha .img-refresh a:hover			{ background:url(../images/refresh_g.png); }
#okeanos_recaptcha .img-audio	a				{ background:url(../images/sound_lg.png); }
#okeanos_recaptcha .img-audio a:hover			{ background:url(../images/sound_g.png); }
#okeanos_recaptcha .actions-wrap				{ border-top:1px solid #808080 }

input.submit:focus,
input[type="submit"]:focus,
.content a.submit:focus							{ box-shadow: 0 0 0 1px #FFFFFF inset; border:1px solid #F89A1C; outline:0 none; }						
.content a.submit:hover							{ border-color:#3582AC; }

p+ form											{ margin:2em 0; }
.full-dotted legend								{ padding-top:40px; }
form .form-row .radios label					{ width:auto; float:none; display:inline-block; }
form .form-row .radios input[type="radio"]		{ margin-right:165px; vertical-align:middle; }
form.withfieldset textarea						{ width: 224px; }
form.withfieldset select						{ width: 256px; background:#fff;}
form+p:first-child, form legend + p				{ margin-bottom:2em; }

/* dropkick select extra styles */

.form-row .dk_container							{ border-radius:0; margin-bottom:0; border: 1px solid #808080; height: 21px; letter-spacing: 1px; line-height: 22px; margin-bottom: -1px; width:300px; padding:0.8em 0; font-weight:normal; font-family: 'Didact Gothic', Verdana, sans-serif; font-size:1em; background:transparent; color:#808080;}
.form-row .dk_toggle  							{ border-radius:0;  padding:2px 0 10px;  border:0 none; text-indent:1.5em; text-decoration:none;background-image:url(../images/arrow-down_black.png); background-position:90% 5px;}
.form-row .dk_toggle:hover						{ text-decoration:none; }
.form-row .dk_open								{ background:transparent; box-shadow: none; }
.form-row .dk_open .dk_toggle					{ background-color:transparent; border:0 none; color:#000; box-shadow: none;}
.form-row .dk_focus .dk_toggle					{ background-color:transparent;  border:0 none; color:#000; box-shadow: none;}
.1form-row .dk_options							{ display:block; }
.form-row .dk_options							{ box-shadow:none; border-radius:0; z-index:3; margin:6px -1px 0; width:auto; left:0;}
.form-row .dk_options a							{ font-weight:normal;color:#808080 }
.form-row .dk_options_inner						{ padding:0; margin:0; box-shadow:none; text-shadow:none;  border-radius:0; border:1px solid #8C8C8E ;}
.form-row .dk-options_inner li					{ list-style:none outside; }
.form-row .dk_options a:hover, 
.form-row .dk_option_current a					{ text-shadow:none; background-color: #E7E7E3; text-decoration:none;}

form.link-like									{ display:inline-block; margin:0 5px; float:right;}
form.link-like input[type="submit"]				{ margin:0; padding:0 5px; background:transparent; color:#F89A1C; cursor:pointer; height:auto;  }
form.link-like input[type="submit"]:hover		{ text-decoration:underline;  }
form.link-like.alone							{ float:none; margin:0;}
form.link-like.alone .form-row					{ margin:0; }
form.link-like.alone input[type="submit"]		{ padding:0; }	
.projects form.withlabels .checkbox-widget		{ margin-top:5px; }
.projects form .with-checkbox					{ margin:20px 0; }
.projects form .with-checkbox label				{ padding-top:7px; }
.projects form .with-checkbox span.info			{ bottom:24px; }
.projects .minimal								{ float:right; position:relative; margin-bottom:-20px;}
.projects .minimal select						{ padding:3px; width:250px; }
.projects .minimal label						{ position:absolute; right:290px; top:5px; white-space:nowrap}

@media screen and (max-width : 630px) 		{ 
	form.withlabels .extra-img	   				{ left:260px; }
    form.withlabels span.info 	   				{ left:260px; }
    form .extra-img	               				{ left:260px; }
    .form-error		              	 			{ margin-left:0!important; } 
    
}


@media screen and (max-width : 410px) 		{ 
	form.withlabels .extra-img	   				{ left:90% }	
	form.login									{ width:auto; }
	form textarea, 
	form input.text, 
	form input[type="text"], 
	form input[type="password"] 				{ width:90%; }
	form.withlabels input[type="text"], 
    form.withlabels input[type="password"],
    form.withlabels textarea,
    form textarea, 
	form input.text, 
	form input[type="text"], 
	form input[type="password"]					{ width:90%; }
	form.withlabels select						{ width:90%; }
	form.innerlabels .extra-img,
	form.innerlabels .with-errors .extra-img 	{ left:90%; }
	form.innerlabels							{ width:auto; }
	.container form.innerlabels.overflow-hidden	{ overflow:visible;}
	form span.info								{ display:none; }
	#okeanos_recaptcha							{ width:inherit }
	#okeanos_recaptcha #recaptcha_response_field	{ width:55%; }
	#okeanos_recaptcha #recaptcha_image	img		{ width:80%; }
}


@media screen and ( max-width : 320px) 		{ 
	#okeanos_recaptcha							{ width:259px }
    form.withlabels input[type="text"], 
    form.withlabels input[type="password"],
    form.withlabels textarea,
    form textarea, 
	form input.text, 
	form input[type="text"], 
	form input[type="password"]					{ width:90%; }
	.form-row .dk_container 					{ width:100%; }
}