/* generic form styles */
input, textarea, .form-widget 				{ background-color: #ffffff; color: #000;border-color: #000000; }
#forms .input, #forms input 				{ font-family: 'Antic', sans-serif; font-size: 14px; font-weight: normal; line-height: 22px; letter-spacing: 1px;   border: 1px solid #808080; height: 21px; display: inline-block; margin-bottom: -1px; padding: 0.8em; padding-left: 1.5em; z-index: 2; }
#forms .input:focus, 
#forms input:focus 							{ position: relative; border: 1px solid #000; z-index: 100; }
#forms .input:focus label,
#forms input:focus label 					{ z-index: 300; }
.altcol 									{ background-color: #c3c3b9 !important; }
.altcol:hover 								{ background-color: #f89a1c !important; }
form.withlabels label 						{ width: 224px; display: block; float: left; padding-top: 1em; }
form.withlabels input[type=text], 
form.withlabels input[type=password] 		{ width: 224px; }
form.withlabels input[type=text].long, 
form.withlabels input[type=password].long, 
form.withlabels textarea.long 				{ width: 224px; }
.login-section a.button 					{ margin-bottom: 12px; }
.login-section a.button:last-child 			{ margin-bottom: none;}
.login-section a.button.withicon 			{ background-repeat: no-repeat; background-position: 15px 50%; padding-left: 40px; }
.login-section.loggedin 					{ padding-bottom: 0 !important; background-image: none !important; }
form.login 									{ margin-bottom: 22px; width:340px; }
form h2 span 								{ padding-bottom: 3px; }
form .form-row 								{ min-height: 30px; position: relative;}
form .form-row.submit 						{ margin: 22px 0 ;}
form .form-row .extra-link 					{ color: #808080; text-decoration: none; border: none; margin-top:15px; line-height:42px;   float: right; }
form .form-row .extra-link:hover			{ text-decoration:underline;}
form .form-row label 						{ font-size: 1.1em; }
form.innerlabels label 						{ position: absolute; top: 1.1em; left: 1.5em; color: #808080 ; }
form.innerlabels p 							{ margin:0; position: relative;}
form.innerlabels p.p15px					{ font-size:1.154em;}
form.innerlabels p.p15px a					{ margin:0 5px;}
form.innerlabels p.p15px a:hover			{ text-decoration:underline;}
form.innerlabels a,
form.innerlabels a:hover 					{ border:0 none;}
form textarea,
form input.text,
form input[type="text"],
form input[type="password"]  				{ color:#808080; font-family: 'Antic', sans-serif; font-weight: normal; line-height: 22px; letter-spacing: 1px;border: 1px solid #808080; height: 21px; display: inline-block; margin-bottom: -1px; padding: 0.8em; padding-left: 1.5em; z-index: 2; width:300px; }
form select									{ font-family: 'Antic', sans-serif; font-weight: normal; line-height: 22px; letter-spacing: 1px;  border: 1px solid #808080; display:block;  margin-bottom: -1px; padding: 0.8em;  padding-left: 1.5em;  z-index: 2;  width:331px; }
form textarea:focus,
form input.text:focus,
form input[type="text"]:focus,
form input[type="password"]:focus 			{position: relative; border: 1px solid #000; z-index: 100;}
form textarea:focus label,
form input.text:focus label,
form input[type="text"]:focus label,
form input[type="password"]:focus label 	{ z-index: 300;}
form input.submit, 
form input[type="submit"]					{font-family: 'Antic', sans-serif;font-size: 14px; font-weight: normal; line-height: 22px; letter-spacing:1px; background-color: #3582ac; color: #ffffff; border: none; padding: 10px 22px;font-size: 1em; margin:15px 0 0 223px; height:43px; }
form.innerlabels input.submit, 
form.innerlabels input[type="submit"]		{margin-left:0;}
form input.submit:hover, 
form input[type="submit"]:hover 			{ background-color: #f89a1c;}
form input.submit.back, 
form input[type="submit"].back 				{ text-decoration: none; bottom: 0; float: right; z-index: 500; }
form input.submit.back.right, 
form input[type="submit"].back.right 		{right: 0;}
form input.submit:hover, 
form input[type="submit"]:hover 			{ background-color: #f89a1c;}
form input.submit.back, 
form input[type="submit"].back 				{ text-decoration: none; bottom: 0; float: right; z-index: 500; }
form input.submit.back.right, 
form input[type="submit"].back.right 		{ right: 0; }
form textarea 								{ height: 150px; width: 350px; max-height:150px; max-width:350px;}
form .with-errors input, 
form .with-errors textarea, 
form .with-errors select 					{ color: #9d261d;}
form .with-errors label 					{ color: #e4776f; }
.form-error 								{ color:red; font-style:italic; font-size: 0.8em; padding: 5px 5px; }
.form-errors.all .form-error 				{ position: relative; border-radius: 0; margin-bottom: 1.3em; padding: 0.5em; }
div.form-stacked 							{ margin-bottom: 4em; }
.checkbox-widget.checked 					{ background-color: #FF0000; background-image: url("../images/checkbox.png"); background-position: 50% 50%; }
.checkbox-widget 							{ border: 1px solid #808080; cursor: pointer; display: block; float: left; height: 25px; margin:5px 20px 0 0 ; width: 25px; }
form.withlabels .checkbox-widget			{ margin-top:20px; }
form.innerlabels .checkbox-widget +  label	{ position:static; line-height:36px; color:#808080; }
form.innerlabels .checkbox-widget +  label + a	{ border-bottom:1px solid #F89A1C; font-size: 1.1em; }
form span.info								{ position:absolute;z-index:10; top:10px;  left: 290px; }
form span.info em 							{ display:block; overflow:hidden;  position:absolute; left:0; text-indent:-100px; top:0; height:21px; width:21px; background:url(../images/symbols.png) no-repeat -4px -31px;cursor:pointer; }
form span.info:hover em 					{ background-position:-4px -3px; }
form span.info span  						{ position:absolute; left:29px; top:-2px; width:150px; padding-left:55px; background:url(../images/black-line.jpg ) no-repeat left 12px; min-height:50px; display:none; }
form span.info:hover span 					{ display:block; }
form .with-errors span.info					{ display:none;}
form p										{ margin-bottom:0;position:relative;}
form input[readonly=true] 					{ background-color: #ddd; color: #5e5e5e; }
#recaptcha_area 							{ margin-top:20px; } 
form.innerlabels .with-checkbox .checkbox-widget 	{ margin-top:15px; }
form.innerlabels .with-checkbox .checkbox-label		{ left:2.5em; }

form .extra-img								{ display:block; width:21px; height:21px; overflow:hidden;  position:absolute; left:440px;top:10px; z-index:101;}
form .with-errors .extra-img 				{ background:url(../images/symbols.png) no-repeat -58px -3px;}
form .with-errors textarea+.extra-img,
form .with-errors noscript+.extra-img		{ background:transparent;}
form .with-errors input[type="text"],
form .with-errors input[type="password"]	{ border:1px solid red;}
form.innerlabels .with-errors .extra-img	{ left:290px;}
form input[readonly="True"]+ span.extra-img { background:url(../images/symbols.png) no-repeat -111px -3px;}
.errorlist									{ margin:0; padding:0;}
.errorlist li								{ list-style:none outside;}


