button, input, select, textarea					{ vertical-align:middle; }
input[type="button"], input[type="submit"]		{ overflow:visible; }
input[type="checkbox"],
input[type="radio"]								{ width:13px; height:13px; }
legend											{ margin-left:-7px; }
textarea										{ overflow:auto; }
img												{ -ms-interpolation-mode:bicubic; }

.clearfix										{ zoom:1; }
.container .navigation ul li					{ display:inline;}
.lt .box-more ul.col							{ display:inline;}

form input.text, 
form input[type="text"],
form input[type="password"]						{ margin-bottom:-3px;}
#okeanos_recaptcha #recaptcha_response_field	{ margin-bottom:-1px; }
.container ul.options li a						{ display:inline }
