.container          					{ width:100%; }
.wrapper            					{ width:83%; padding:36px 8% 36px 8%;}
.footer .wrapper						{ padding-left:8%; padding-right:8%; }
.two-cols  .rt 							{ width:45% }
.two-cols .rt img,
.two-cols .lt img						{ max-width:100%; }
.two-cols  .lt							{ width:45%; }
.two-cols-blog .rt 						{ width:25%; padding-right:0; margin-left:30px;}
.top-msg								{ margin-left:-9%; margin-right:-9%; padding-left:20%; padding-right:20%; }
 
 
.stats .bar								{ margin:0 25px; }


.token-view .actions 							{ left:20%; position: relative; top:50px;}
.api-access-view div.detail .expires			{ }
.api-access-view div.detail .title				{ max-width: 120px; }