.wrapper                                        { margin:0 auto; position:relative; width:820px; padding:36px 70px; }
.container .wrapper,
.footer .wrapper                                { border: 1px solid #808080; border-top:0 none;}
.centered                                       { text-align:center;}
img.left						                { margin:0 1em 1em 0; float:left;}
img.right						                { margin:0 0 1em 1em; float:right;}


/* header */
.header                                         { background:#000; color:#fff;	 height:35px; line-height:35px; }	
.header .wrapper                                { width:auto; padding:0;}			
.header a                                       { color:#fff; text-decoration:none;}
.header .profile                                { float:right; background:#01A1AE; width:150px; padding:0 20px; text-align:right;  }
.header .profile a                              { text-decoration:none; color:#fff; }
.header .profile ul                             { position:absolute; right:0; top:35px; padding:0; margin:0; background:#01A1AE; width:190px; display:none;	}
.header .profile ul li                          { list-style:none outside; line-height:35px; border-top:1px solid #000; padding:0 20px;}
.header .profile ul li:hover					{ background:#000;}
.header .profile:hover ul                       { display:block; }
.header ul.services                             { margin:0; padding:0; }
.header ul.services li                          { float:left; height:35px; line-height:35px; text-align:center; padding: 0 30px; list-style:none outside;}
.header ul.services li:first-child              { padding:0 5px;}
.header ul.services li.active                   { background:#333;}
.header ul.services li:hover                    { background:#444; }


/* footer */
.footer                                         { font-size:0.923em;color:#B3B3B3; }
.footer a                                       { color:#B3B3B3; text-decoration:none; transition:color 0.15s ease-in-out 0s; -moz-transition: color 0.15s ease-in-out 0s;  -webkit-transition: color 0.15s ease-in-out 0s;  -o-transition: color 0.15s ease-in-out 0s; } 
.footer:hover a                                 { color:#808080;}
.footer a:hover                                 { color:#000;}
.footer ul                                      { float:left; margin:0 0 0 22px; width:140px;  padding:0;}
.footer ul li                                   { padding:0; margin:0 0 0.5em 0; list-style:none outside;}
.footer ul li:first-child                       { margin-bottom:1em;	}
.footer .clearfix                               { padding-bottom:20px;}
.footer .clearfix ul:first-child                { margin-left:0;}


/*top message*/
.top-msg	                                    { margin:-36px -70px 40px; background:blue; padding:100px 200px; color:#fff; display:none; position:relative;}
.top-msg  p	                                    { font-size:1.5em;}
.top-msg  p.title	                            { font-size:2em;  }
.top-msg  p.title span	                        { border-bottom:2px dotted #fff; padding:0 0 10px 0;}
.top-msg.active                             	{ display:block;}
.active+h1	                                    { display:none;}
.top-msg .close                                 { position:absolute; bottom:20px; right:20px; font-size:2em; font-weight:bold; border:0 none; color:#fff; text-decoration:none;}

/* container */
.container h1									{ margin:0; line-height:100%;}
.container .wrapper                             { padding-bottom:100px;}
.container .navigation                          { margin:20px 0 40px; font-size:1.231em;}
.container .navigation ul                       { margin:5px 0; padding:0;}
.container .navigation ul li                    { list-style:none outside; padding:0; margin:0 0 0 1em; display:inline-block;}
.container .navigation ul li:first-child        { margin-left:0;}
.container .navigation ul li a                  { color:#000; text-decoration:none; }
.container .navigation ul li a:hover            { border-bottom:1px solid #F89A1C;}	
.container .navigation ul li.active a           { color:#F89A1C; }					
.dotted                                         { background:url(../images/double-dots.jpg) no-repeat bottom center; padding:30px 0; margin-bottom:30px;}
.two-cols .rt                                   { float:right; width:390px;}
.two-cols .lt                                   { float:left; width:390px;}
.two-cols .lt p                                 { padding-right:40px;}
.two-cols-lt580 .rt                             { float:right; width:200px; margin-left:40px;}
.two-cols-lt580 .lt                             { overflow:hidden;}
.container h2, .container h3                    { font-weight:normal; margin-bottom:1em; }
.container h2 em 								{ color: #3582AC; font-style:normal; }
.content a						                { border-bottom: 1px solid #F89A1C; text-decoration:none; color:#000; }
.content a:hover					            { border-bottom: 1px solid #F89A1C; text-decoration:none; color:#F89A1C; }
.container ul.options                           { font-size:1.231em; padding:0; margin:0;}
.container ul.options li                        { list-style:none outside; margin:0 0 1em 0;padding:0;}
.container ul.options li a				        { border:0 none;}
.container ul.options li a:hover				{ text-decoration:underline;}
.landing h2, .landing a:hover                   { color:#01A1AE;}
.faq h2, .faq a:hover                           { color:#EF4F54; border:0 none;}
.faq ul                                         { padding:0; margin:0; }
.faq ul li                                      { list-style:none outside; padding:0 0 0 5px; margin:0;  }
.faq ul li a                                    { color:#222222; border:0 none;} 
.follow h3 a                                    { color:#4085A6;}
.follow a				                    	{ border:0 none;}
.follow ul                                      { margin:0; padding:0;}
.follow ul li                                   { list-style:none outside; padding:0; margin:0 0 20px 0; font-size:0.923em; color:#808080;}
.follow ul li p.title                           { margin-bottom:0; color:#000;}
.follow ul li p.title a                         { color:#000;}
.follow ul li p a                               { color:#808080;}
.posts ul                                       { margin:0;padding:0; }
.posts ul li                                    { padding:0; margin:0 0 50px; list-style:none outside; }
.posts ul li .img-div                           { float:left; width:160px; margin-right:20px; }
.posts ul li .img-div img                       { max-width:160px;}
.posts ul li .img-div p                         { font-size:1.154em; color:#01A1AE;}
.posts ul li .txt                               { overflow:hidden;} 
.posts ul li .txt h3                            { color:#F89A1C;}
.posts ul li .txt h3 a                          { color:#F89A1C; border:0 none; }
.posts ul li p.info                             { background:url(../images/blog-dots.jpg) no-repeat top; padding-top:10px; margin-top:20px; font-size:0.923em; color:#808080;}
.article p.info 								{ margin-top:20px; padding-top:10px; font-size:0.923em; color:#808080; border-top:1px dashed #ccc;}
p.info a                                        { color:#808080; }
.bg-wrap                                        { background-position:right top; background-repeat:no-repeat;}
.bg-wrap .extra                                 { display:none;}
.bg-wrap.open .extra                            { display:block;}
.bg-wrap .extra .hide-extra                     { display:block; text-align:right; border:0 none; height:16px; overflow:hidden;}
.bg-wrap .extra .hide-extra img                 { margin-top:0; vertical-align:top; display:inline; }
.bg-wrap .extra .hide-extra:hover img           { margin-top:-16px;}
.cyclades .bg-wrap .extra .hide-extra:hover img { margin-top:-32px;}
.pithos h2, .pithos a:hover,                     
.pithos .extra .options li                      { color:#F89A1C; }
.cyclades h2, .cyclades a:hover,                     
.cyclades .extra .options li                    { color:#4085A6; }
.cyclades a							            { border-bottom:1px solid #4085A6; }
.cyclades a:hover							    { border-bottom:1px solid #4085A6; }
a.btn_01                                        { display:block; text-align:center; background:#F6921E; color:#000; padding:10px; text-decoration:none; border:0 none;}
a.btn_01:hover                                  { background:#01A1AE; color:#000; border:0 none;}
a.btn_01 em                                     { font-style:normal; display:block; }
a.btn_01 span                                   { color:#fff; }
.lt .box-more                                   { text-align:center; padding:5px 10px; }
.lt .box-more.border                            { border:1px solid #ccc;}
.lt .box-more p                                 { cursor:pointer; background:url(../images/arrow_02.jpg) no-repeat right center; padding-right:20px; }
a.btn_01, .box-more                             { width:80%; margin:0 auto 20px; }
.lt .box-more ul.col                            { width:30%; margin:0; padding:0; vertical-align:top; text-align:left; display:inline-block;}
.lt .box-more .clearfix                         { display:none; }
.lt .box-more ul.col li                         { list-style:none outside; }
.lt .box-more ul.col li a                       { color:#B3B3B3; text-decoration:none; border:0 none;}
.lt .box-more ul.col li a:hover                 { color:#000;}
.article img						            { margin-bottom:1em; max-width:100%;}
a.videolink					                    { border: 0 none; display:block; width:367px; height:207px; background:url(../images/video_image_hover.png) no-repeat; text-decoration:none;}
a.videolink:hover				                { background:url(../images/video_image.png)no-repeat; text-decoration:none; border:0 none;}
.container .full								{ position:relative;}



/* resources*/
.resources .categories .clear 	                { color: #000000; float: right; margin-right: 4px;}
.resources  a, .resources  a:hover              { border:0 none;}
.resources .categories ul 	                    { margin:0;padding:0;}
.resources .categories ul li                    { float: left; list-style:none outside;}
.resources .categories .title                   { margin-bottom: 0.5em; }
.resources .categories ul li a                  { color: #000000;   margin-right: 22px; text-decoration: none; }
.resources .categories ul li a:hover, 
.resources .categories ul li a.selected         { color: #000000 }
.resources .categories ul li.inactive           { opacity: 0.3; }
.resources .categories ul li.active             { font-weight: bold; opacity: 1; }
.resources .list                                { line-height: 1em; margin-top: 60px; position: relative; width:855px; }
.resources .list .resource-wrapper.first .resource      { margin-left: 0; }
.resources .list .resource-wrapper              { float: left; height: 250px; margin-bottom: 22px; margin-right: 35px; overflow: hidden; position: relative; width: 250px; }
.resources .list .resource-wrapper.first        { margin-left: 0; }
.resources .list .resource-wrapper.hidden       { display: none; }
.resources .list .resource                      { border: 1px solid #000000; height: 188px; overflow: hidden; padding: 30px; }
.resources .list .resource .date                { color: #808080; margin-bottom: 3px; }
.resources .list .resource .description         { transition:color top 0.35s ease-in-out 0s; -moz-transition: top 0.35s ease-in-out 0s; -webkit-transition: top 0.35s ease-in-out 0s;  	-o-transition: top 0.35s ease-in-out 0s; color: #FFFFFF; font-size: 1.1em; height: 150px; margin-left: -30px; padding: 30px; position: absolute; top: -270px; width: 190px; }
.resources .list .resource .title               { line-height: 1.4em; }
.resources .list .resource .category            { color: #808080; margin-top: 30px; }
.resources .list .resource .category a          { color: #808080; }
.resources .list .resource .download            { bottom: 0; cursor: pointer; font-size: 1.1em; margin-bottom: 3px; margin-left: -10px; position: absolute; width: 190px; }
.resources .list .resource .download a          { color: #000000; display: block; padding: 5px 5px 5px 15px; text-decoration: none; }
.resources .list .resource .download a:hover, 
.resources .list .resource .download a .hovered { color: #FF5D00;}
.resources .list .resource .download a:hover .download-image, 
.resources .list .resource .download a .hovered .download-image { background-image: url(../images/resource_down_arrow-active.png); }
.resources .list .resource .download a .download-image { background: url(../images/resource_down_arrow.png) no-repeat; display: block; float: left; height: 30px; margin-right: 10px; margin-top: -7px; width: 30px; }
.resources .list .resource .download img        { margin-right: 10px; vertical-align: middle;}
.resources .list .resource:hover .description, 
.resources .list .resource .hover .description { display: block; top: 0; }
.resources .list .resource-cat-1.resource               { border-color: #4085A5  }
.resources .list .resource-cat-1.resource .title        { color: #4085A5 }
.resources .list .resource-cat-1.resource .description  { background-color: #4085A5 }
.resources   .resource-cat-1.filter-item a              { color: #4085A5  }
.resources .list .resource-cat-2.resource               { border-color: #FF6F00  }
.resources .list .resource-cat-2.resource .title        { color: #FF6F00  }
.resources .list .resource-cat-2.resource .description  { background-color: #FF6F00  }
.resources  .resource-cat-2.filter-item a               { color: #FF6F00  }

table											{ width:100%;}
table th, table td								{ padding:10px;  }
table td 										{ border-top: 1px solid #DDDDDD; }
table td.consumed 								{ color: #9D261D; }

.zebra-striped tbody tr:nth-child(2n+1) td, 
.zebra-striped tbody tr:nth-child(2n+1) th 		{ background-color: #F9F9F9; }
.zebra-striped tbody tr:hover td, 
.zebra-striped tbody tr:hover th 				{ background-color: #F5F5F5; }

.buttons-list.fixpos 							{ position:absolute; bottom:0; right:0; }
.button.back.right 								{ right: 0; }
.buttons-list .button 							{ margin-left: 10px; }
.button.back 									{  z-index: 500; }
a.button 										{ border:0 none;  color: #FFFFFF;  display: block;  text-align: center; background-color: #3582AC; letter-spacing: 1px;  line-height: 22px; padding: 0.8em 22px; text-decoration: none;}
a.button:hover								 	{ background-color: #F89A1C; border:0 none; color:#fff;}

/*pagination*/
.pagination a                                   { border:0 none;}
.pagination .next-prev                          { float:left; }
.pagination .nums                               { text-align:right;}
.pagination .nums span                          { color:#F89A1C;}
                    

