<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title|default:"Synnefo Admin" }}</title>
  <link rel="stylesheet" href="/admin/static/bootstrap.css">
  <script src="/admin/static/jquery.js"></script>
  <script src="/admin/static/jquery.tablesorter.js"></script>
  <script src="/admin/static/main.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div style="padding: 10px">
    <img src="/admin/static/banner.png" width="776" height="82">
  </div>
  <div class="container">
    <ul class="tabs">
      <li{% ifequal tab "home" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.index %}">Home</a>
      </li>
      <li{% ifequal tab "flavors" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.flavors_list %}">Flavors</a>
      </li>
      <li{% ifequal tab "images" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.images_list %}">Images</a>
      </li>
      <li{% ifequal tab "servers" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.servers_list %}">Servers</a>
      </li>
      <li{% ifequal tab "users" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.users_list %}">Users</a>
      </li>
      <li{% ifequal tab "invitations" %} class="active"{% endifequal %}>
        <a href="{% url admin.views.invitations_list %}">Invitations</a>
      </li>
    </ul>

    {% block body %}{% endblock %}
  </div>
</body>
</html>
