{% extends "base.html" %}

{% block body %}
<form action="{% url synnefo.admin.views.flavors_create %}" method="post">
  <div class="clearfix">
    <label for="flavor-cpu">CPUs</label>
    <div class="input">
      <input class="small" id="flavor-cpu" name="cpu" value="{{ flavor.cpu }}" type="text" />
    </div>
  </div>

  <div class="clearfix">
    <label for="flavor-ram">RAM</label>
    <div class="input">
      <div class="input-append">
        <input class="small" id="flavor-ram" name="ram" value="{{ flavor.ram }}" type="text" />
        <span class="add-on">MiB</span>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <label for="flavor-disk">Disk</label>
    <div class="input">
      <div class="input-append">
        <input class="small" id="flavor-disk" name="disk" value="{{ flavor.disk }}" type="text" />
        <span class="add-on">GiB</span>
      </div>
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn primary">Create</button>
  </div>
</form>
{% endblock body %}
