{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="span6 columns">
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th># of VMs</th>
        </tr>
      </thead>
      <tbody>
        {% for count, image in images %}
        <tr>
          <td>{{ image }}</td>
          <td>{{ count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="span5 columns offset1">
    <ul class="unstyled">
      <li><strong>{{ stats.users }}</strong> Users</li>
      <li><strong>{{ stats.flavors }}</strong> Flavors</li>
      <li><strong>{{ stats.images }}</strong> Images</li>
      <li><strong>{{ stats.vms }}</strong> VMs</li>
      <li><strong>{{ stats.networks }}</strong> Networks</li>
      <li><strong>{{ stats.invitations }}</strong> Invitations</li>
    </ul>
  </div>
</div>
{% endblock body %}
