{% extends "base.html" %}

{% block body %}
<table class="zebra-striped id-sorted">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Owner</th>
      <th>State</th>
      <th>Flavor</th>
      <th>Image</th>
      <th>Deleted</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for vm in vms %}
    <tr>
      <td>{{ vm.id }}</td>
      <td>{{ vm.name }}</td>
      <td><a href="{% url admin.views.users_info vm.owner.id %}">{{ vm.owner.name }}</a></td>
      <td>{{ vm.operstate }}</td>
      <td><a href="{% url admin.views.flavors_info vm.flavor.id %}">{{ vm.flavor.name }}</a></td>
      <td>{% if vm.image %}<a href="{% url admin.views.images_info vm.image.id %}">{{ vm.image.name }}</a>{% endif %}</td>
      <td>{{ vm.deleted }}</td>
      <td>{{ vm.updated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
