{% extends "base.html" %}

{% block body %}
<table class="zebra-striped id-sorted">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Real Name</th>
      <th>Uniq</th>
      <th>Credit</th>
      <th>Type</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td><a href="/admin/users/{{ user.id }}">{{ user.id }}</a></td>
      <td><a href="/admin/users/{{ user.id }}">{{ user.name }}</a></td>
      <td>{{ user.realname }}</td>
      <td>{{ user.uniq }}</td>
      <td>{{ user.credit }}</td>
      <td>{{ user.type }}</td>
      <td>{{ user.updated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn primary" href="/admin/users/invite">Invite a user</a>
{% endblock body %}
