{% extends "base.html" %}

{% block body %}

<form action="/admin/users/invite" method="post">
  <div class="clearfix">
    <label for="user-inviter">Inviter ID</label>
    <div class="input">
      <input class="small" id="user-inviter" name="inviter" type="text" />
    </div>
  </div>

  <div class="clearfix">
    <label for="user-realname">Invitee Real Name</label>
    <div class="input">
      <input class="large" id="user-realname" name="realname" type="text" />
    </div>
  </div>

  <div class="clearfix">
    <label for="user-uniq">Invitee Uniq</label>
    <div class="input">
      <input class="large" id="user-uniq" name="uniq" type="text" />
    </div>
  </div>

  <div class="actions">
    <button type="submit" class="btn primary">Invite</button>
  </div>
</form>

{% endblock body %}
