{% load i18n %}
<!-- the create button -->
<div id="machines-pane-top" class="pane-top">
    <div id="createcontainer" class="create-container">
        <a id="create" rel="#wizard" href="#" class="createbutton" >{% trans "New Machine +" %}</a>
    </div>

    <!-- changing between standard/list view -->
    <div id="view-select" class="clearfix">
        <a class="machines_view_link" id="machines_view_icon_link" href="" title="{% trans "Icon view" %}">
            <span class="ico"></span><span class="title">{% trans "icon" %}</span>
        </a>
        <a class="machines_view_link" id="machines_view_list_link" href="" title="{% trans "List view" %}">
            <span class="ico"></span><span class="title">{% trans "list" %}</span>
        </a>
        <a class="machines_view_link" id="machines_view_single_link" href="" title="{% trans "Single view" %}">
            <span class="ico"></span><span class="title">{% trans "single" %}</span>
        </a>
    </div>
</div>

{% include "partials/machines_empty.html" %}

<div id="machinesview">
    {% include "partials/machines_icon.html" %}
    {% include "partials/machines_single.html" %}
    {% include "partials/machines_list.html" %}
</div>


{% include "partials/create_vm.html" %}
{% include "partials/manage_metadata.html" %}
{% include "partials/vm_connect.html" %}

<div id="vm-select-collection-tpl" class="hidden">
  <div class="collection fixed-ips-list">
    <div class="empty-list hidden">No available machines.</div>
    <div class="items-list clearfix"></div>
  </div>
</div>

<div id="vm-select-model-tpl" class="hidden">
  <div class="select-item clearfix vm">
    <div class="checkbox">
      <input type="checkbox" data-rv-data-id="model.id" />
    </div>
    <div class="ico"><img data-rv-src="model.status|get_vm_icon" /></div>
    <div class="name">
      <span class="" data-rv-text="model.name"></span>
      <div data-rv-class="model.state|status_cls">
        <span data-rv-text="model.state|status_display"></span>
        <div class="indicators">
          <div class="indicator1"></div>
          <div class="indicator2"></div>
          <div class="indicator3"></div>
          <div class="indicator4"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="vm-port-ips-tpl" class="hidden">
  <div class="collection fixed-ips-list">
    <div class="empty-list hidden">pending ...</div>
    <div class="items-list clearfix"></div>
  </div>
</div>

<div id="vm-port-ip-tpl" class="hidden clearfix port-ip-item">
  <div class="type" data-rv-text="model.type"></div>
  <div class="ip" data-rv-text="model.ip_address"></div>
  <div class="cidr" data-rv-text="model.subnet.cidr"></div>
</div>

<div id="vm-port-view-tpl">
  <div class="clearfix network-header">
    <img data-rv-src="model.network.is_public|get_network_icon" />
    <div class="port" data-rv-text="model.network.name|get_network_name"></div>
  </div>
  <div class="ips" data-rv-collection-view="model.ips|VMPortIpsView"></div>
</div>

<div id="vm-port-list-view-tpl" class="collection-list-view hidden info-content ips">
  <div class="collection">
    <div class="empty-list hidden">
      <p>{% trans "No IP addresses" %}</p>
    </div>
    <div class="items-list ports-list clearfix">
    </div>
  </div>
</div>
