{% load i18n %}
<!-- the create button -->
<div id="machines-pane-top" class="pane-top">
    <div id="createcontainer" class="create-container">
        <a id="create" rel="#wizard" href="#" class="createbutton" >{% trans "New Machine +" %}</a>
    </div>

    <!-- changing between standard/list view -->
    <div id="view-select" class="clearfix">
        <a class="machines_view_link" id="machines_view_icon_link" href=""
          title="{% trans "Icon view" %}"> <span class="ico"></span><span
            class="title">{% trans "icon" %}</span> </a> <a
          class="machines_view_link" id="machines_view_list_link" href=""
          title="{% trans "List view" %}"> <span class="ico"></span><span
            class="title">{% trans "list" %}</span> </a> <a
          class="machines_view_link" id="machines_view_single_link" href=""
          title="{% trans "Single view" %}"> <span class="ico"></span><span
            class="title">{% trans "single" %}</span> </a>
    </div>
</div>

{% include "partials/machines_empty.html" %}

<div id="machinesview">
    {% include "partials/machines_icon.html" %}
    {% include "partials/machines_single.html" %}
    {% include "partials/machines_list.html" %}
</div>


{% include "partials/create_vm.html" %}
{% include "partials/manage_metadata.html" %}
{% include "partials/vm_connect.html" %}
{% include "partials/create_snapshot.html" %}

<div id="vm-select-collection-tpl" class="hidden">
  <div class="collection fixed-ips-list">
    <div class="empty-list hidden">No machines available.</div>
    <div class="items-list clearfix"></div>
  </div>
</div>

<div id="vm-select-model-tpl" class="hidden">
  <div class="select-item clearfix vm">
    <div class="checkbox">
      <input type="checkbox" data-rv-data-id="model.id" />
    </div>
    <div class="ico"><img data-rv-src="model.status|get_vm_icon" /></div>
    <div class="name">
      <div data-rv-class="model.state|status_cls">
        <div class="indicators">
          <div class="indicator1"></div>
          <div class="indicator2"></div>
          <div class="indicator3"></div>
          <div class="indicator4"></div>
        </div>
        <span data-rv-text="model.state|status_display"></span>
      </div>
      <span class="" data-rv-text="model.name|truncate_title"></span>
    </div>
  </div>
</div>

<div id="vm-port-ips-tpl" class="hidden">
  <div class="collection fixed-ips-list">
    <div class="empty-list hidden">Not IPs set</div>
    <div class="items-list clearfix"></div>
  </div>
</div>

<div id="vm-port-ip-tpl" class="hidden port-ip-item nested-item">
  <img src="{{ SYNNEFO_IMAGES_URL }}/icons/indicators/medium/progress.gif"
  class="in-progress hidden" />
  <div class="type-display" data-rv-text="model.type|prefix IP"></div>
  <div class="ip title-display" data-rv-text="model.ip_address"></div>
</div>

<div id="vm-port-view-tpl" class="hidden">
  <div class="ips nested" data-rv-collection-view="model.ips|VMPortIpsView"></div>
  <div class="clearfix network-header nested">
    <span data-rv-show="model.in_progress_no_vm|update_in_progress"></span>
    <img data-rv-src="model.network.is_public|get_network_icon" />
    <div class="port" data-rv-text="model.network.name|get_network_name"></div>
    <div class="actions-content inline">
      <div class="action-container disconnect warn" 
         data-rv-class-isactive="model.can_disconnect"
         data-rv-class-selected="model.actions.disconnect|intEq 1"
         data-rv-on-click="view.set_disconnect_confirm">
        <a>Disconnect</a>
        <div class="confirm-single clearfix">
          <span class="yes" 
            data-rv-on-click="view.disconnect_port">
            {% trans "Confirm" %}
          </span>
          <span class="no" data-rv-on-click="view.unset_disconnect_confirm">X</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="vm-port-list-view-tpl" class="collection-list-view hidden inner-collection info-content ips">
  <div class="collection">
    <div class="empty-list hidden">
      <p>{% trans "No IP addresses" %}</p>
    </div>
    <div class="items-list ports-list clearfix">
    </div>
  </div>
</div>

<!-- project select -->
<div id="project-select-content" class="overlay-content hidden">
    <div class="description" id="reassign-project-description">
        <p>{% trans "Select project to reassing this object to" %}</p>
    </div>
    <div class="model-usage clearfix">
    </div>
    <div class="clearfix projects-list">
        <ul class="options-list three">
        </ul>
    </div>
    <div class='share-to-project-content hidden'>
    <div class='reassign-separator'></div>
    <div class="description" id="reassign-project-description2">
        <p>Sharing</p>
    </div>
            <label>Share this resource with all members of the project</label>
            <input type="checkbox" name="resource-shared"
                id="reassign-resource-shared"/>
            <p class="description noborder " id="reassign-share-description">
                Sharing this resource with all members of the project will make
                the resource visible to them and grant them full control over
                it. Be careful when checking this box.
            </p>
    </div>
    <div class="form-actions clearfix">
        <span class="form-action submit">{% trans "Apply" %}</span>
    </div>
</div>

<div id="project-select-collection-tpl" class="hidden">
  <div class="collection">
    <div class="empty-list hidden">No projects available.</div>
    <div class="items-list clearfix"></div>
  </div>
</div>

<div id="project-select-model-tpl" class="hidden">
  <div class="select-item clearfix project">
    <div class="checkbox">
      <input type="radio" data-rv-data-id="model.id" name="project-reassign"/>
    </div>
    <div class="name">
      <span class="" data-rv-text="model.name|truncate 40"></span>
      <span data-rv-text="model._project_is_current|is_current_str" class="current">
      </span>
    </div>
    <div class="quota clearfix">
      <div data-rv-html="model._quotas|quotas_html"></div>
    </div>
  </div>
</div>

<div id="vm-volume-list-view-tpl" class="collection-list-view hidden inner-collection info-content volumes">
  <div class="collection">
    <div class="empty-list hidden">
      <p>{% trans "No volumes attached" %}</p>
    </div>
    <div class="items-list volumes-list clearfix">
    </div>
  </div>
</div>

<div id="vm-volume-view-tpl" class="hidden nested-item">
  <div class="clearfix volume-header">
    <img src="{{ SYNNEFO_IMAGES_URL }}/icons/indicators/medium/progress.gif"
    class="in-progress hidden" />
    <div class="size-display index-display" data-rv-text="model._index|prefix Disk #"></div>
    <div class="type-display" data-rv-text="model.size|disk_size_display"></div>
    <div class="volume title-display" data-rv-text="model.display_name|truncate 34"></div>
    <div class="actions-content inline">
      <div class="action-container snapshot warn" 
         data-rv-class-isactive="model.can_snapshot"
         data-rv-class-selected="model.actions.snapshot|intEq 1"
         data-rv-on-click="view.show_snapshot_create_overlay">
        <a>Snapshot</a>
      </div>
    </div>
  </div>
</div>

