{% load i18n %}
<div id="machinesview-single" class="single">
    <div class="large-spinner"></div>
    <div class="single-container single-container-template" id="machine-container-template" style="display:none;" >
        <div class="upper clearfix">
            <div class="column1">
                <div class="connect-border" title="{% trans 'Connect to machine' %}"></div>
                <div class="connect-arrow" title="{% trans 'Connect to machine' %}"></div>
                <div class="single-image logo"></div>
                <div class="state">
                    <span class="state-label">{% trans "Running" %}</span>
                    <div class="indicators">
                        <div class="indicator1"></div>
                        <div class="indicator2"></div>
                        <div class="indicator3"></div>
                        <div class="indicator4"></div>
                    </div>
                    <div class="action-indicator" style="display:none">empty</div>
                    <img class="spinner" style="display:none" src="{{ SYNNEFO_IMAGES_URL }}icons/indicators/medium/progress.gif" />
                    <img class="wave" style="display:none" src="{{ SYNNEFO_IMAGES_URL }}icons/indicators/medium/wave.gif" />
                </div>
                <div class="progress-message"><span class="build-progress"></span></div>
            </div>
            <div class="title machine-detail name">My Desktop</div>
            <div class="column2">
                <div class="machine-labels">
                    <div class="machine-label cpus">{% trans "CPUs" %}:</div>
                    <div class="machine-label ram">{% trans "RAM (MB)" %}:</div>
                    <div class="machine-label disk">{% trans "System Disk (GB)" %}:</div>
                    <div class="machine-label image-name">{% trans "Image Name" %}:</div>
                    <div class="machine-label image-size">{% trans "Image Size (MB)" %}:</div>
                    <div class="machine-label ipv4">{% trans "Public IPv4" %}:</div>
                    <div class="machine-label ipv6">{% trans "Public IPv6" %}:</div>
                </div>
                <div class="machine-details">
                    <div class="machine-detail cpus">4</div>
                    <div class="machine-detail ram">2048</div>
                    <div class="machine-detail disk">100</div>
                    <div class="machine-detail image-name">windos_XP_blah_blah</div>
                    <div class="machine-detail image-size">2.3</div>
                    <div class="machine-detail ipv4 ipv4-text">no ipv4</div>
                    <div class="machine-detail ipv6 ipv6-text">2001:db8:1f70::999:de8:7648:6e8</div>
                </div>
                <div class="tags">
                    <div class="tags-header">
                        <span class="info-header cont-toggler toggler">
                            <span class="label">{% trans "tags" %}</span>
                        </span>
                    </div>
                    <div class="tags-content">
                        <div class="metadata-keys-container">
                                <div class="items">
                                </div>
                        </div>
                        <a href="#" class="manage-metadata">{% trans "Manage Tags" %}</a>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="vm-actions single-actions">
                    <div class="action-container start">
                        <a class="single-action action-start">{% trans "Start" %}</a>
                        <div class="confirm_single">
                            <button class="yes">{% trans "Confirm" %}</button>
                            <button class="no">X</button>
                        </div>
                    </div>
                    <div class="action-container reboot">
                        <a class="single-action action-reboot">{% trans "Reboot" %}</a>
                        <div class="confirm_single">
                            <button class="yes">{% trans "Confirm" %}</button>
                            <button class="no">X</button>
                        </div>
                    </div>
                    <div class="action-container shutdown">
                        <a class="single-action action-shutdown">{% trans "Shutdown" %}</a>
                        <div class="confirm_single">
                            <button class="yes">{% trans "Confirm" %}</button>
                            <button class="no">X</button>
                        </div>
                    </div>
                    <div class="action-container console">
                        <a class="single-action action-console">{% trans "Console" %}</a>
                        <div class="confirm_single">
                            <button class="yes">{% trans "Confirm" %}</button>
                            <button class="no">X</button>
                        </div>
                    </div>
                    <div class="action-container destroy">
                        <a class="single-action action-destroy">{% trans "Destroy" %}</a>
                        <div class="confirm_single">
                            <button class="yes">{% trans "Confirm" %}</button>
                            <button class="no">X</button>
                        </div>
                    </div>
                </div>
                <div class="action-error hidden action_error" align="center">
                    <div class="action-error-msg">
                        {% trans "<span>Error</span> on" %} <span class="action">{% trans "error action" %}</span>
                        <span class="code"></span>
                        <span class="message"></span>
                    </div>
                    <button class="show-action-error details">{% trans "Details" %}</button>
                    <button class="close-action-error"></button>
                </div>
                <div class="vms-menu-cont">
                </div>
            </div>
        </div>
        <div class="lower clearfix">
            <div class="stats-select clearfix">
                <span class="stats-select-option stats-hourly">{% trans "Hourly" %}</span>
                <span class="stats-select-option stats-weekly selected">{% trans "Weekly" %}</span>
            </div>
            <div class="single-cpu">
                <div class="cpu-usage">
                    {% trans "CPU Utilization" %}
                </div>
                <div class="cpu-graph">
                    <img src="{{ SYNNEFO_IMAGES_URL }}placeholder.png" class="stat-img stats series" />
                    <img src="{{ SYNNEFO_IMAGES_URL }}icons/indicators/small/progress.gif" class="stat-busy" />
                    <div class='stat-error'>{% trans "Could not fetch CPU stats graph." %}</div>
                </div>
            </div>
            <div class="single-network">
                <div class="network-usage">
                    {% trans "Network Utilization" %}
                </div>
                <div class="network-graph">
                    <img src="{{ SYNNEFO_IMAGES_URL }}placeholder.png" class="stat-img stats series" />
                    <img src="{{ SYNNEFO_IMAGES_URL }}icons/indicators/small/progress.gif" class="stat-busy" />
                    <div class='stat-error'>{% trans "Could not fetch Net stats graph." %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column3" style="display:none;">
        <div class="controls clearfix">
            <div class="previous vm-control" style="display:block;">
                <div class="prev-arrow"></div>
                <div class="prev-label">
                    {% trans "previous" %}
                </div>
            </div>
            <div class="next vm-control" style="display:block;">
                <div class="next-arrow"></div>
                <div class="next-label">
                    {% trans "next" %}
                </div>
            </div>
        </div>
        <div class="servers" id="single-servers-list">
            <div class="server-name" id="servers-widget-template" style="display:none;">server1</div>
        </div>
    </div>
</div>
