{% load i18n %}
<div id="emptymachineslist">
    <h1 id="welcomeheader">
    	{% blocktrans %}
    		Welcome to {{ BRANDING_SERVICE_NAME }}!
    	{% endblocktrans %}
    	 
    </h1>
    <br />
    <span class="welcomebody">{% trans "From this panel you will be able to manage your Virtual Machines (VMs)." %} <!-- If you don't know what a VM is: " %}<br /><a href="#">{% trans "take the tour" %}.</a> --></span>
    <br />
    <br />
    <span class="welcomebody">{% trans "The panel is currently empty, because you don't have any VMs yet. Start by clicking the orange button on the top left. The wizard will guide you through the whole process." %}</span>
    <br />
    <br /> 
</div>

