{% load i18n %}
<div id="creation-password-overlay" class="overlay-content overlay-info password-info hidden">
    <div class="description hidden">
        <p>{% blocktrans %}Your new machine is now buidling... (this might take a few minutes){% endblocktrans %}</p>
    </div>
    <div class="password-cont clearfix">
        <div class="password-label">{% blocktrans %}Write down your password now:{% endblocktrans %}</div>
        <input class="password reset" readonly id="new-machine-password"/>
        <div class="clipboard new-vm-password-copy"></div>
    </div>
    <div class="password-cont disabled clearfix hidden">
        <div class="password-label">Not setting a new password for this machine.</div>
    </div>
    <div class="description subinfo">
        <p>{% blocktrans %}You will need this later to connect to your machine.{% endblocktrans %}</p>
    </div>
    <div class="description subinfo disabled hidden">
        <p class="important">{% blocktrans %}This Image/Snapshot already contains valid login credentials,
        {% endblocktrans %}</p>
        <p class="important">{% blocktrans %}which have been left unchanged.
        {% endblocktrans %}</p>
    </div>
    <div class="form-action show-machine">{% trans "OK" %}</div>
    <div class="confirm hidden">
        <p class="important">{% blocktrans %}Please confirm that you have written down your password.{% endblocktrans %}</p>
        <div class="confirm-password-cache">
          <button type="button" class="yes">OK</button>
          <button type="button" class="no">Remind me later</button>
        </div>
    </div>
</div>
