{% load i18n %}

{% include "partials/create_volume.html" %}

<div id="volumes-create-content" class="overlay-content hidden">
    <div class="ajax-submit"></div>
</div>

<div id="volumes-list-view" class="collection-list-view hidden">
  <div class="collection">

    <div id="create-volume" class="create-button">
      <a href="#">{% trans "New Disk +" %}</a>
    </div>

    <div class="empty-list hidden">
      <p>{% trans "No disks available." %}</p>
    </div>

    <div class="items-list clearfix">
        <div class="system items-sublist"></div>
        <div class="custom items-sublist"></div>
    </div>
  </div>
</div>

<div id="volume-vm-view-tpl" class="hidden">
    <div class="model-item">
      <div class="outer">
        <div data-rv-class="model.vm.status|vm_status_cls">
          <div class="model-logo vm-icon medium2 state1"
            data-rv-style="model.vm.status|vm_style"></div>
          <h3 class="title" data-rv-text="model.vm.name|truncate 40"></h3>
          <h5 class="subtitle">
            <img data-rv-show="model.in_progress" 
                 src="{{ SYNNEFO_IMAGES_URL }}icons/indicators/small/progress.gif" 
                 class="progress-indicator" />
            <div data-rv-hide="model.in_progress">
              <span data-rv-show="model._index_set" class="key">Disk</span>
              <span data-rv-show="model._index_set" class="value" data-rv-text="model._index|prefix #"></span>
              <span data-rv-show="model._index_set" class="value" data-rv-html="model.vm|flavor_tpl"></span>
            </div>
          </h5>
        </div>
      </div>
    </div>
</div>

<div id="volume-view-tpl" data-rv-class-actionpending="model.actions.pending"
  data-rv-class-clearfix="model.id" class="hidden volume-item model-item model-view with-actions">
  <div class="clearfix">
    <div class="main-content clearfix" style="position: relative">
      <div class="main-content-inner clearfix">
        <img class="logo" data-rv-class-logo-ghost="model.is_ghost" data-rv-src="model.status|model_icon" />
        <img class="logo-shared" data-rv-show="model.sharing" data-rv-src="model.sharing|shared_icon"/>
        <div class="volume-size">
            <span data-rv-text="model.size|size_display"
                data-rv-hide="model.is_ghost"></span>
        </div>
        <div class="entry inline" data-rv-class-connected="model.device_id">
            <div data-rv-show="model" 
                data-rv-model-view="model|VolumeItemRenameView">
            </div>
            <div class="project-name-cont" 
                data-rv-on-click="view.show_reassign_view"
                data-rv-class="model.sharing|check_can_reassign"
                data-rv-class-disabled="model.shared_to_me">
                <span class="project-name" data-rv-show="model.tenant_id" data-rv-text="model.project.name|truncate 20|in_brackets"></span>
                <span class="project-name" data-rv-hide="model.tenant_id">[Unknown project]</span>
            </div>
            <div data-rv-if="model.vm" class="vms nested-model-list proxy inline">
                <div class="vm-view-cont">
                    <div data-rv-show="model.vm" data-rv-model-view="model|VolumeVmView"></div>
                </div>
            </div>
            <div class="toggler-wrap clearfix" data-rv-hide="model.is_ghost">
                <div class="cont-toggler desc">
                    <span class="label">info</span>
                </div>
            </div>
            <div class="content-cont">
                <div class="model-rename-view">
                <textarea data-rv-value="model.display_description|msg_if_empty No description"></textarea>
                <span class="rename-desc-btn edit-btn"></span>
                    <div class="rename-actions">
                        <div class="btn confirm"></div>
                        <div class="btn cancel"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="entry-right">
          <div data-rv-class="model._status|status_cls" class="status">
            <div class="status-title">
              <span data-rv-text="model._status|status_display">Active</span>
            </div>
            <div class="status-indicator clearfix">
              <div class="indicator indicator1"></div>
              <div class="indicator indicator2"></div>
              <div class="indicator indicator3"></div>
              <div class="indicator indicator4"></div>
            </div>
            <div class="state state-indicator">
              <div class="action-indicator"></div>
            </div>
            <img data-rv-show="model.in_progress" 
                 src="{{ SYNNEFO_IMAGES_URL }}icons/indicators/small/progress.gif" 
                 class="progress-indicator spinner" />
          </div>
        </div>
      </div>
    </div>
      <div class="actions-content">
        <div class="action-container snapshot warn" 
           data-rv-class-isactive="model.can_snapshot"
           data-rv-class-selected="model.actions.snapshot|intEq 1"
           data-rv-on-click="view.show_snapshot_create_overlay">
          <a>Snapshot</a>
        </div>
        <div class="action-container remove warn" 
           data-rv-class-isactive="model.can_remove"
           data-rv-class-selected="model.actions.remove|intEq 1"
           data-rv-on-click="view.set_remove_confirm">
          <a>Destroy</a>
          <div class="confirm-single clearfix">
            <span class="yes" data-rv-on-click="view.remove">
              {% trans "Confirm" %}
            </span>
            <span class="no" data-rv-on-click="view.unset_remove_confirm">X</span>
          </div>
        </div>
      </div>
  </div>
</div>
