@import "settings";

// ====== BUTTONS ====== //
// All buttons imply a structure <a><span>button</span></a>

@mixin default-btn() {
	display: inline-block;
	text-align: center;
	opacity: 0.7;
	span {
		display: inline-block;
		height: 100%;
		line-height: 100%;
		padding: $default-btn-padding;
	}
	&:hover {
		text-decoration: none;
		opacity: 1;
	}
    // span[class^="snf-font"] {
    //     display: inline;
    // }

    // temporary
	.snf-font-remove {
		display: inline;
	}
}


// Transparent buttons with thin $color border that get thicker on hover
@mixin outline-btn($color:$secondary-link-color, $background:inherit, $padding:$default-btn-padding) {
	@include default-btn();
	border: 1px solid $color;
	color: $color;
	span {
		border: 1px solid transparent;
		padding: $padding;
        width: 100%;
	}
	&:hover {
		span {
			border-color: $color;
		}
	}
}

// Normal button with background-color and white font color
@mixin custom-btn($color:$default-btn-color, $padding:$default-btn-padding) {
	@include default-btn();
	border: 1px solid $color;
	color: $secondary-link-color;
    background-color: $color;
	span {
		border: 1px solid transparent;
		padding: $padding;
		background: transparent;
	}
	&:hover {
		span {
			color: $secondary-link-color;
		}
	}
}

// Buttons with thick bottom border on hover
@mixin line-btn($color:$total-black, $padding:$default-btn-padding) {
	@include default-btn();
	background-color: $total-black;
	border-bottom: 2px solid $total-black; 
	color: #fff;
	&:hover {
		color: #fff;
		border-bottom-color: $almost-white;
	}
}

/*
Disabled buttons are transparent with light gray border
and light gray font colors
*/

body .container .custom-btn.disabled,
body .container .outline-btn.disabled,
body .container .line-btn.disabled {
	background-color: transparent;
	border-color: $almost-white;
	opacity: 0.7;
	color: $almost-white;
	span {

	}
	&:hover {
		opacity: 0.7;
	}
}


.line-btn {
	@include line-btn();
}

.custom-btn {
	@include custom-btn();
	
	// &[data-karma="bad"] {
	// 	background: $bad-karma-color;
	// 	border-color: $bad-karma-color;
	// }
	// &[data-karma="neutral"] {
	// 	background: $neutral-karma-color;
	// 	border-color: $neutral-karma-color;
	// }
	// &[data-karma="good"] {
	// 	background: $good-karma-color;
	// 	border-color: $good-karma-color;
	// }

	&[data-karma="neutral"] {
		background-color: $blue-intense;
		border-color: $blue-intense;
	}
	&[data-karma="good"] {
		background-color: $green-intense;
		border-color: $green-intense;
	}

	&[data-karma="bad"] {
		background-color: $orange-intense;
		border-color: $orange-intense;
	}

	&[data-caution="warning"][data-karma="good"], &[data-caution="warning"][data-karma="neutral"] {
		background-color: $orange-intense;
		border-color: $orange-intense;
	}

	&[data-caution="dangerous"][data-karma="bad"], &[data-caution="dangerous"][data-karma="neutral"] {
		background-color: $red-intense;
		border-color: $red-intense;
	}
}


// ====== STUFF ====== //

.navbar a{
	color: $gray-dark;
}

.main-nav {
	&>ul>li {
		&>a {
            height: $menu-height;
            line-height: $menu-height;
            padding: 0 12px;
			color: white;
            &.home-icon {
                padding: 0;
                height: $menu-height;
                width: $menu-height;
                text-align: center;
                line-height: $menu-height;
                img {
                    max-height: $menu-height;
                }
                &:hover {
                    background: $hover-nav-color;
                }
            }

		}
		&.active a{
			// background-color: #eeeeee;
		}
	}
	padding-left: 0;
	padding-right: $nav-side-padding;
	background: $total-black;
	border: 0 none;
	z-index: 1040;
}

.nav-simple {
	padding: $nav-side-padding;
	border-bottom: 1px solid white;
	.header {
		float: left;
		line-height: 40px;
		font-size: 26px;
        img {
            max-height: 50px;
        }
	}
	.login-info {
        .dropdown > a {
            color: #fff;
            display: inline-block;
            padding: 0 10px;
        }
        .dropdown-menu {
            top: 27px;
        }
		float: right;
		position: relative;
		line-height: 40px;
		font-size: 16px;
	}
}


.dropdown {
	.dropdown-menu {
		&.align-left a {
			text-align: left;
			padding-left: 11px;
		}
		&.align-right a {
			text-align: right;
		}
	}
	a:hover {
		text-decoration: none;
	}
}

.login-info {
    .drop
	.dropdown a {
		padding-left:12px;
		padding-right:12px;
		padding-bottom:8px;
	}
		.dropdown:hover {
			&>a {
				color: $gray-dark;
				background: white;
				
			}

		}
	.dropdown-menu {
		right: 0;
		left: auto;
		// background: $gray-dark;
		// border-color: white;
		border-radius: 0;
		a {
			// color: white;
			&:hover {
				// color: $gray-dark;
			}
		}
	}
}

.sign-out {
	span {
		margin-right: 10px;
		vertical-align: middle;
		font-size: 18px;
	}
}

.nav .dropdown:hover > ul.dropdown-menu, .nav-simple .dropdown:hover > ul.dropdown-menu {
	display: block;
}

.nav > li > a {
	padding-right: 12px;
	padding-left: 12px;
}


/* Submenu with bradcrumb */

.sub-nav {
	// border-top-color: $gray-dark;
	top: $navbar-height;
	padding-left: $nav-side-padding;
	padding-right: $nav-side-padding;
		min-height: initial;
	.nav {
		&>li>a{
			padding-top: 8px;
			padding-bottom: 9px;
		}
		
	}
}



/* Sidebar */

.sidebar {
	margin: 0 30px 0 0;
	width: $sidebar-width;
	height: auto;
	float: left;
	.btn-group-vertical {
		width: 100%;
	}
}

.sidebar.sidebar-fixed {
	top: $navbar-height + 30px;
	left: auto;
	right: auto;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 170px;
	float: left;
}


/*
Positioning or customizing buttons
*/

.sidebar  {
	.custom-btn {
		display: block;
		margin: 0 0 1em;
		span {
			padding: 8px;
		}
	}
}

body .custom-buttons {
	float: left;
	margin-right: 10px;
	.line-btn {
		margin-right: 1em;
	}
	.disabled {
		display: none;
	}
    .snf-font-reload {
        @extend .snf-refresh-outline;
    }
    .snf-font-remove {
        @extend .snf-remove;
    }
}



/*
Extra-button is used to show total selected rows
*/

.extra-btn {
    span {
        display: inline-block;
    }
	.badge {
		background: transparent;
		line-height: 0.8;
		display: inline;
		padding: 0 5px 0 0;
		&::before {
			content: "("
		}
		&::after {
			content: ")"
		}
	}
}

.show-hide-all {
	float:right;
    em {
        font-style: normal;
    }
    &.line-btn {
        padding: $default-btn-padding;
        span {
            display:inline;
        }
    }
}

.actions-per-item {
    padding-left: $details-title-height;
	.custom-btn {
		margin: 10px 10px 10px 0;
	}
}
.charts {
    .well {
        padding-left: 140px;
    }
    .sidebar {
        position: fixed;

        a {
            margin-bottom: 1em;
            @include outline-btn();
            display: block;
        }
        a.active {
            @include custom-btn();
            display: block;
        }
    }
}
