// Palette;

$snf_gray-dark:              #303030;
$snf_gray-light:             #4e4e4e;
$ciel: #4d99d8;
$blue-light: #B2CAE9;
$blue-light-extra: #AFC6D6;
$blue-intense: #3C96E0;
$gray-light-extra: lighten($snf_gray-light, 20%);
$green-intense: #00a551;
$green-intense-extra: darken($green-intense, 10%);
$red-intense: #E42A48;
$orange-intense: #D2881F;
$almost-white: #eeeeee;
$total-black: #222;
$hover-nav-color: #333;

// Text and background colors/

$snf_body-bg:               $snf_gray-dark;
$snf_text-color:            white;
$snf_reverse-text-color:    $snf_gray-dark;


// Link colors

$snf_link-color:            $ciel;
$secondary-link-color:      #fff;

// State colors


$menu-height: 50px;

// Βutton colors
$default-btn-color: $blue-intense;
$bad-karma-color: $red-intense;
$neutral-karma-color: $orange-intense;
$good-karma-color: $green-intense;
$hover-nav-color: #333;

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

@mixin tdWrap($i, $width){
    tr {
        td:nth-child(#{$i}), th:nth-child(#{$i}) {
            word-break: break-word;
            max-width: $width;
        }
    }
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}




