p.progress-area {
	visibility: hidden;

}

.in-progress .modal-body {
	background-color: $gray-light-extra;
	p.progress-area {
		visibility: visible;
	}
	
}

.modal {
	&[data-item="user"] {
		&:not([data-type="contact"]) .table-selected td:nth-child(3){
			display: none;
		}
	}

	&#user-contact {
		p {
			margin-top: 18px;
			position: relative;
		}
	}
	p {
		position: relative;
	}
	p>.error-sign {
		top: 0;
	}

	h3 {
		margin-top: 0;
		font-weight: bold
	}
    textarea {
        resize: vertical;
    }

	textarea, input {
		width: 87%;
		vertical-align: text-top;
		padding: 4px 8px;
        border: 1px solid $gray-lighter;
        color: $modal-text-color;
		&.body {
			min-height: 160px;
		}
	}
		
	label {
		// float: left;
		margin-right: 6px;
		width: 70px;
		vertical-align: sub;
	}

	.modal-body {
		background-color: white;

	}

	.modal-footer {
		margin-top: 0;
		form {
			display: inline;
		}
		.custom-btn:first-child {
			float: left;
			background-color: $gray-dark;
			border-color: $gray-dark;
		}
	}

}

.modal {
	.custom-btn {
		color: white;
		opacity: 0.9;
		&:hover,
        &:focus{
			opacity: 1;
		}
	}
	&[data-karma="dark"] {
		.elem {
			color: $gray-light
		}
	}
	&[data-karma="neutral"] {
		.elem {
			color: darken($blue-intense, 10%);

		}
	}
	&[data-karma="good"] {
		.elem {
			color: darken($green-intense, 10%);

		}
	}
		

	&[data-karma="bad"] {
		.elem {
			color: darken($orange-intense, 10%);

		}
	}

	&[data-caution="warning"][data-karma="good"], &[data-caution="warning"][data-karma="neutral"] {
		.elem {
			color: darken($orange-intense, 10%);

		}
	}

	&[data-caution="dangerous"][data-karma="bad"], &[data-caution="dangerous"][data-karma="neutral"] {
		.elem {
			color: darken($red-intense, 10%);

		}
	}
}

.custom-btn[data-karma="dark"] {
	background-color: #222222;
	border-color: transparent;
}
.modal {
	em {
		font-weight: bold;
		font-style: normal;
	}
	.popover {
		z-index: 2000;
		dl {
			color: black;
			font-weight: normal;
			dt {
				width: 90px;
			}
			dd {
				margin-left: 110px;
			}
		}
		h2 {
			font-size: 16px;
	        color: $gray-dark;
			font-weight: bold;
			text-align: center;
		}
	}

}

.modal-content {
	padding: 20px;
	color: $gray-dark;
	.badge {
		background-color: transparent;
	}
}



.instructions-icon {
	color: $blue-intense;
	font-size: 22px;
	margin-left: 78px;
	&:hover {
		text-decoration: none;
	}
}

.extra-info {
	margin-top: 10px;
}

.error-sign {
	color: red;
	font-size: 20px;
	margin-left: 10px;
	position: absolute;
	// right: 8px;
	top: 6px;
	display: none;
	&:hover,
    &:focus{
		color: red;
		// color:#A80A0A;
		text-decoration: none;
	}
}

.form-area {
	position: relative;
}
.form-subject {
	margin-bottom: 15px;
}

.toggle-more {
	margin-top: -16px;
	display: none;
}

.modal {
    .table-selected {
        th,td {
            word-break: break-word; 
        }
        td:last-child {
            .wrap {
                padding-right: 36px;
            }
        }
        tr:nth-child(2n){
            background: darken(#fff, 5%);
        }
        tr {
            a {
                font-weight: bold;
            }
        }
        tr:hover,
        tr:focus{
            background: $gray-lighter;
            a {
                color: red;
            }
        }
        
        .remove {
            position: absolute;
            right: 14px;
            color: transparent;
            &:hover{
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}
