p.progress-area {
	visibility: hidden;

}

.in-progress .modal-body {
	background-color: $gray-light-extra;
	p.progress-area {
		visibility: visible;
	}
	
}

.modal {
	&[data-item="user"] {
		&:not([data-type="contact"]) .table-selected td:nth-child(3){
			display: none;
		}
	}

	&#user-contact {
		p {
			margin-top: 18px;
		}
	}

	h3 {
		margin-top: 0;
		font-weight: bold
	}

	textarea, input {
		width: 87%;
		vertical-align: text-top;
		padding: 4px 8px;
		&.body {
			min-height: 160px;
		}
	}
		
	label {
		// float: left;
		margin-right: 6px;
		width: 56px;
	}

	.modal-body {
		background-color: white;

	}

	.modal-footer {
		margin-top: 0;
		form {
			display: inline;
		}
		.cancel {
			float: left;
			background-color: $gray-dark;
			border-color: $gray-dark;
		}
	}

}

.modal {
	.custom-btn {
		color: white;
		opacity: 0.9;
		&:hover {
			opacity: 1;
		}
	}
	&[data-karma="dark"] {
		.elem {
			color: $gray-light
		}
	}
	&[data-karma="neutral"] {
		.elem {
			color: darken($blue-intense, 10%);

		}
	}
	&[data-karma="good"] {
		.elem {
			color: darken($green-intense, 10%);

		}
	}
		

	&[data-karma="bad"] {
		.elem {
			color: darken($orange-intense, 10%);

		}
	}

	&[data-caution="warning"][data-karma="good"], &[data-caution="warning"][data-karma="neutral"] {
		.elem {
			color: darken($orange-intense, 10%);

		}
	}

	&[data-caution="dangerous"][data-karma="bad"], &[data-caution="dangerous"][data-karma="neutral"] {
		.elem {
			color: darken($red-intense, 10%);

		}
	}
}

.custom-btn[data-karma="dark"] {
	background-color: #222222;
	border-color: transparent;
}
.modal {
	em {
		font-weight: bold;
		font-style: normal;
	}
}

.modal-content {
	padding: 20px;
	color: $gray-dark;
	.badge {
		background-color: transparent;
	}
}

.popover {
	z-index: 2000;
	dl {
		color: black;
		font-weight: normal;
		dt {
			width: 90px;
		}
		dd {
			margin-left: 110px;
		}
	}
	h2 {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}
}


.instructions-icon {
	color: $blue-intense;
	font-size: 22px;
	margin-left: 62px;
	&:hover {
		text-decoration: none;
	}
}

.extra-info {
	margin-top: 10px;
}

.error-sign {
	color: red;
	font-size: 20px;
	margin-left: 10px;
	position: absolute;
	right: 8px;
	top: 2px;
	display: none;
	&:hover {
		color: red;
		// color:#A80A0A;
		text-decoration: none;
	}
}

.form-area {
	position: relative;
}
.form-subject {
	margin-bottom: 15px;
}

.toggle-more {
	margin-top: -16px;
	display: none;
}

.table-selected {
	td:last-child {
		position: relative;
		padding-right: 36px;
	}
	tr:hover {
		a {
			color: red;
		}
	}
	.remove {
		position: absolute;
		right: 14px;
		color: transparent;
		&:hover {
			text-decoration: none;
		}
	}
}