@import "global";

@import "bootstrap/variables";  

$total-width: 960px;
$nav-side-padding: 20px;
$sidebar-width: 110px;
$default-btn-padding: 8px;
$menu-height: 50px;
$hover-nav-color: #333;
$datatabled-actions-height: 35px;
$details-title-height: 35px;
