// Palette

$snf_gray-dark:                 #303030;
$snf_gray-light:                #4e4e4e;
$ciel:                          #4d99d8;
$blue-light:                    #B2CAE9;
$blue-light-extra:              #AFC6D6;
$blue-intense:                  #3C96E0;
$gray-light-extra:              lighten($snf_gray-light, 20%);
$green-intense:                 #00a551;
$green-intense-extra:           darken($green-intense, 10%);
$red-intense:                   #E42A48;
$orange-intense:                #D2881F;
$almost-white:                  #eeeeee;
$total-black:                   #222;

// Dimensions

$nav-side-padding:              20px;
$sidebar-width:                 110px;
$datatabled-actions-height:     35px;
$details-title-height:          35px;


@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
     -moz-border-radius: $width/2;
          border-radius: $width/2;
}

@mixin tdWrap($i, $width){
    tr {
        td:nth-child(#{$i}), th:nth-child(#{$i}) {
            word-break: break-word;
            max-width: $width;
        }
    }
}
$theme-blue:            #005B9A;
$theme-ciel:            #00ADF1;
$theme-tyrquoise:       #16C0B2;
$theme-yellow:          #FFA914;
$theme-red:             #EE5161;
$theme-gray-light:      #ECECEC;
$theme-black:           #222;
$theme-gray-medium:     #ccc;
$theme-gray-dark:       #444;


$theme-border-light:          lighten($theme-gray-medium,8%);

@import "bootstrap/variables";
//@import "theme1";


