@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}


@import "settings";

@import "bars-btns";
@import "details";
@import "filters";
@import "modals";
@import "tables";
// Part A

html, body {
	height: 100%;
}

body {
	padding-top: 2*$navbar-height;
}

// custom styles ovewriting bootstrap
// labels
.label {
	border: 1px solid #fff;
	font-weight: normal;
}


.info-block h3 .badge {   font-size: 0.8em; padding: 5px 8px; background-color:#659CEF;}
.object-anchor { margin-bottom: 5px; height:15px; }

/* new styles olga */


 
.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover { background-color: $gray-lighter; } 

.object-details-content     { /*margin:1em 0;*/ margin: 1em 0 0 0; display:none; }
.account .object-details-content{ display:block; }
.nav-tabs           { margin:0; border:0 none; }
.tab-content .dl-horizontal   { margin:0; }
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover { background-color:#F5F5F5; color:#2956B2; font-weight:bold;}
.nav-tabs > li          { margin-bottom:-2px; }

.label-success, 
.badge-success          { background-color:#8BBA00 }
.badge-important        { background-color: #F81A23; }
.badge-info           { background-color:#659CEF }
.show-hide-tabs         { margin:2em 0; }
.toggle .badge          { font-size:14px; padding:5px 9px; }
.toggle .badge:hover      { cursor:pointer;  }
.show-hide-tabs .badge      { background-color:#8BBA00; }
.show-hide-tabs .badge:hover  { background-color:#789B0F }
.show-hide-all .badge     { background-color:#8BBA00; }
.show-hide-all .badge:hover   { background-color:#789B0F }

h4 .badge.arrow           { padding:6px 9px 2px; background:url(../img/glyphicons-halflings.png) 160px 43px transparent;}
h4.expanded .badge        { background-position: 185px 43px}


h4 i              { margin-top: 4px; margin-right: 10px;}
.container-fluid        { margin-left:auto; margin-right:auto; margin-top:0; /*max-width:960px;*/ }
h3.info             { cursor:default; color:#2956B2; text-align:center; font-size:16px; margin-bottom:0;}


a.disabled {
	cursor: default !important;
}
/* All checkboxes */

.checkbox {
	margin: 0;
}
.checkbox label {
	margin-bottom: 0;
}


/* Home */

.app-list {
	margin: auto;
	position: relative;
	text-align: center;
	top: 30%;
	a {
		width: 210px;
		font-size: 24px;
		margin: 0 20px;
		@include outline-btn($padding:12px 10px);
		opacity: 1;
	}
}


/* Area that includes all the info and */

.info {
	overflow: auto;
	border-color: $blue-light-extra;
}

.info-fixed {
	overflow: hidden;
	margin-left: 200px;
}

a:not([disabled]):hover {
	cursor: pointer;
}

.account-action.form-btn {
		display: inline-block;
		float: left;
		margin-left: 10px;
}

.buttons-list {
		list-style: none;
}

.buttons-list li {
		display: inline-block;
		float: left;
		margin-left: 10px;
}

.checkbox-column {
	position: relative;
}

.container-demo, .chart {
	height: 400px;
	width: 100%;
	margin: 20px auto;
	border: 1px solid cyan;
	padding-top: 20px;
}

svg>text:last-child {
	display: none;
}

.dropdown .arrow {
	margin-left: 6px;
	vertical-align: middle;
}

.hidden-row {
	display: none;
}

*::-moz-selection {
	background: #fff2a8;
}

.with-shift *::selection {
	background-color: transparent;
}

.with-shift *::-moz-selection {
	background: transparent;
}

.warning-duplicate {
	font-size: 0.95em;
	font-style: italic;
}


/* updated olga */

.navbar {
	text-shadow: none;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li:hover > a{
	color: $gray-dark;
	-webkit-transition: all 0 ease 0;
	transition: all 0 ease 0;
  	background: $gray-lighter;
}

.nav > li.active > a {
	color: $gray-dark;
	-webkit-transition: all 0 ease 0;
	transition: all 0 ease 0;
  	background: white;
}

.nav > li > a {
	-webkit-transition: all 0 ease 0;
	transition: all 0 ease 0;

}
.dropdown-menu {
	border-radius: 0;
	border: 0 none;
	border-top: 1px solid $gray-light;
	background-color: white;
}

.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover { 
	background-color: $gray-lighter; 
	color: $gray-dark;
} 


.dropdown-menu li > a:hover,  { 
	background-color: $gray-lighter; 
	color: $gray-dark;
} 

.sub-nav {
	background: $gray-light;
	border: 0 none;
	.nav {
		& > li > a {
			color: $almost-white;
		}
		& > li:hover {
			a {
				color: $gray-dark;
			}
		}
	}
}


.object-details-content {
	color: white;
}

.tab-content {
	background: $gray-light;
	padding: 20px;
	.well {
		border-color: $gray-light;
	}
}

.info-block.main {
	margin-bottom: 5em;
}

.content-seperator {
	display: none;
}


.part-two {
	&>.object-details {
		border: 1px solid $gray-light-extra;		
	}

}

.selection-indicator {
	margin-right: 6px;
	cursor: pointer
}

.notify {
	display: none;
	padding: 30px 10px 15px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background: $brand-primary;
    color: $dark-text-color;
	.btns {
		width: 100%;
		text-align: center;
		.custom-btn:first-child {
			float: left;
		}
		.custom-btn:last-child {
			float: right;
		}
	}
	.dl-horizontal {
		// width: 900px;
		// margin: auto;
		&:hover {
			a {
				color: $brand-danger;
			}
		}
		dt{
			width: 220px;
			// margin-right: 6px;
			text-align: left;
			span {
				font-size: 20px;
				vertical-align: text-bottom;
				margin-right: 10px;
				&.success {
					color: darken($brand-success, 10%);
				}
				&.error {
					color: $brand-danger;
				}
			}
		}
		dd {
			margin-left: 220px;
			a {
				color: transparent;
				margin-left: 10px;
				font-weight: bold;
			}
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}
