// Part A

/*body { background: url(../img/roughcloth.png);}*/

.container-fluid { margin-top: 20px; }
h1 { margin-bottom: 20px; }

/* Subnav */
.subnav {
	width: 100%;
	height: 36px;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
					border-radius: 4px;
}
.subnav .nav {
	margin-bottom: 0;
}
.subnav .nav > li > a {
	margin: 0;
	padding-top:    11px;
	padding-bottom: 11px;
	border-left: 1px solid #f5f5f5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
		 -moz-border-radius: 0;
					border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: #777;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
		 -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
					box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
	border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
		 -moz-border-radius: 4px 0 0 4px;
					border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
	border-right: 0;
}
.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
		 -moz-border-radius: 0 0 4px 4px;
					border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 220px) {
	.subnav-fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-color: #d5d5d5;
		border-width: 0 0 1px; /* drop the border on the fixed edges */
		-webkit-border-radius: 0;
			 -moz-border-radius: 0;
						border-radius: 0;
		-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
			 -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
						box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
	}
	.subnav-fixed .nav {
		/*width: 938px; this shouldn't be uncomment*/
		/* It will be misplaced (will not be in the center) */
		margin: 0 auto;
	 padding: 0 20px; 
	}
	.subnav .nav > li:first-child > a,
	.subnav .nav > li:first-child > a:hover {
		-webkit-border-radius: 0;
			 -moz-border-radius: 0;
						border-radius: 0;
	}
}


.subnav h2 { padding: 9px; font-size: 1em; line-height: 18px; display: none}
.subnav-fixed h2 { display: block }

.account-form { float: right; margin-top: 2px; margin-bottom: 0}
.info-block { /*margin-top: 30px;*/ background-color: #fff; padding:0;}

.info-block h3 .badge {   font-size: 0.8em; padding: 5px 8px; background-color:#659CEF;}
.info-block table { margin-bottom: 0 }
.object-details h5 { float: right; margin-top: 10px; margin-right: 10px; font-size: 1em; color: #D9397E }
.object-anchor { margin-bottom: 5px; height:15px; }


.subnav a.deleted { color: #F00 !important }


/* new styles olga */

h1 a:hover            { text-decoration:none; }
.search-query           { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }
a               { color:#659CEF; }
a:hover             { color:#2956B2 }

h3                { font-size:21px; /* cursor:pointer; */ margin:0 20px;}
h4                { font-size:18px; /* margin-bottom:1em; */ margin-bottom: 0; margin-top: 0; padding-top: 0; }
input:focus,
textarea:focus          {
	border-color: #659CEF;
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659CEF;
		 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659CEF;
					box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659CEF;
}

 
.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover { background-color: #d5d5d5; } 

.object-details-content     { /*margin:1em 0;*/ margin: 1em 0 0 0; display:none; }
.account .object-details-content{ display:block; }
.nav-tabs           { margin:0; border:0 none; }
.tab-content .dl-horizontal   { margin:0; }
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover { background-color:#F5F5F5; color:#2956B2; font-weight:bold;}
.nav-tabs > li          { margin-bottom:-2px; }
.badge              { border-radius:4px; -moz-border-radius:4px;  -webkit-border-radius:4px; }
.object-details .badge      { /* margin-right:8px; */ }
.label-success, 
.badge-success          { background-color:#8BBA00 }
.badge-important        { background-color: #F81A23; }
.badge-info           { background-color:#659CEF }
.show-hide-tabs         { margin:2em 0; }
.show-hide-all          { float:right; /*margin:20px 0;*/ line-height:27px; /* margin-right: 20px; */}
.toggle .badge          { font-size:14px; padding:5px 9px; }
.toggle .badge:hover      { cursor:pointer;  }
.show-hide-tabs .badge      { background-color:#8BBA00; }
.show-hide-tabs .badge:hover  { background-color:#789B0F }
.show-hide-all .badge     { background-color:#8BBA00; }
.show-hide-all .badge:hover   { background-color:#789B0F }
.vms h3, 
.vms h4             { color:#444 }
.vms h3:hover,
.vms h4:hover         { color:#666 }
.networks h3, 
.networks h4          { color:#444 }
.networks h3:hover,
.networks h4:hover        { color:#666 }
.account h3, 
.account h4           { color:#444 }
.account h3:hover,
.account h4:hover       { color:#666 }
.object-details         { /* padding: 10px 20px; */  padding: 10px 20px 0 20px;}
.object-details h4        { cursor:pointer; margin-left: 20px; margin-right: 20px; }
.object-details h4 em     { float:right; font-style:normal; font-size:0.833em;}
.object-details h4 em img   { margin:0 5px; }
h4 .badge.arrow           { padding:6px 9px 2px; background:url(../img/glyphicons-halflings.png) 160px 43px transparent;}
h4.expanded .badge        { background-position: 185px 43px}
.row2             { background-color:#EDEDED; }

.row1:hover           { background-color:#DDD; }
.row2:hover           { background-color:#DDD; }

h4 i              { margin-top: 4px; margin-right: 10px;}
.container-fluid        { margin-left:auto; margin-right:auto; margin-top:0; /*max-width:960px;*/ }
h3.info             { cursor:default; color:#2956B2; text-align:center; font-size:16px; margin-bottom:0;}

.vm-actions {/*  margin-top: 20px; text-align: right; */ }
.vm-action { float: right; margin-left: 10px;}
.vm-action form { margin-bottom: 0px; }
.vm-action.inactive form input { background-color: #2956B2; color: #ffffff;}
.vm-action form input { background-color: #F81A23; color: #ffffff;}

.table-sorted th:hover        { color:#2956B2; cursor:pointer; }
.table-sorted th span:not(.badge)       { padding-right:20px; }
.table-sorted th:hover span       { background:url(../img/arrow-down.png) no-repeat right center; }
.table-sorted th.headerSortDown span,
.table-sorted th.headerSortDown:hover span    { background:url(../img/arrow-up.png) no-repeat right center; }

.table-sorted th.headerSortUp span,
.table-sorted th.headerSortUp:hover span    { background:url(../img/arrow-down.png) no-repeat right center; }


// Part B
@import "settings";
@import "bars-btns";
@import "details";


/* All checkboxes */

.checkbox {
	margin: 0;
}
.checkbox label {
	margin-bottom: 0;
}



/* Filters */

.btn-toolbar {
	margin-bottom: 0px;
	padding-bottom: 10px;
	// padding-top: 10px;
	padding-top: 13px;
	background: #E1EDF3;
	// border-bottom: 1px solid rgb(224, 217, 217);
	// border-top: 1px solid rgb(224, 217, 217);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn-toolbar-fixed {
	position: fixed;
	top: 27px;
	z-index: 10;
	width: 960px;
	// background-color: white;
}

.filters {
	margin-left: 200px;
}

.filters .badge {
	margin-left: 6px;
	opacity: 0.9;
	padding: 2px 9px;
}

.filters ul.nav a {
	padding-bottom: 10px;
}


/* Area that includes all the info and */

.info {
	overflow: auto;
	border-color: $blue-light-extra;
}

.info-fixed {
	overflow: hidden;
	margin-left: 200px;
}


/* Table of users */

.table-items span.caret {

	padding-right: 0;
	margin-left: 4px;
	vertical-align: middle;
}
td:last-child { // this is meant for summary td
	max-width: 10px;
	min-width: 10px;

	.summary-expand {
		float: right;
		padding-left: 8px;
		background-color: rgb(185, 238, 202);
		padding-right: 8px;
		&:hover {
			text-decoration: none;
		}
	}
	 dl {
	 // background-color: pink;
	 position: relative;
	 padding: 8px;
	 display: none;
	 margin-bottom: 0;
	 margin-top: 20px;
	 /* dd {
		display: inline-block;
		} */
	}
}


.table-items .headerSortUp span.caret {
	border-top: 0;
	border-bottom: 4px solid;
}




/* a[disabled] {
		color: #999999;
} */

a:not([disabled]):hover {
	cursor: pointer;
}

.modal {
	p {
		position: relative;
	}
	&#contact {
		p {
			margin-top: 18px;
		}
	}

	h4 {
		font-size: 1.1em;
	}

	textarea, input {
		width: 496px;
		&.body {
			min-height: 160px;
		}
	}

	label {
		float: left;
		margin-right: 6px;
		width: 56px;
	}

	.modal-body {
		background-color: white;

	}

	.modal-footer {
		margin-top: 0;
		form {
			display: inline;
		}
	}

}

.account-action.form-btn {
		display: inline-block;
		float: left;
		margin-left: 10px;
}

.buttons {
		list-style: none;
}

.buttons li {
		display: inline-block;
		float: left;
		margin-left: 10px;
}

.filters.subnav-fixed {
	top: $nav-top-height;
}


.table-items {
	.login-method {
		padding: 2px 16px 2px 0px;
		text-align: center;
	}

	th .badge {
		margin: 0 2px 0 4px;
		display: inline;
		padding-top: 2px;
	}
	td {
		padding:8px 6px 0 6px;
	}
}
.dataTables_length {
	select {
		width: 55px;
		display: inline-block;
		margin-left: 4px;
		vertical-align: baseline;
	}
}

#table-items-total_filter {
	input {
		display: inline-block;
		margin-left: 8px;
	}
}

.checkbox-column {
	position: relative;
}
.table-selected {
	tr:hover {
		a {
			color: red;
		}
	}
	.remove {
		border-left-color: transparent;
		text-align: center;
		a {
			text-decoration: none;
			color: transparent;
			display: block;
			width: 100%;
			height: 100%
		}
	}
}

.positive {
	&.area {
		background-color: #dff0d8;
	}
	&.elem {
		color: #3c763d;
	}
}

.dangerous {
	&.area {
		background-color: red;
	}
	&.elem {
		color: red;
	}
}

.neutral {
	&.area {
		background-color: rgba(121, 176, 236, 0.78);
	}
	&.elem {
		color: blue;
	}
}

.caution {
	&.area {
		background-color: yellow;
	}
	&.elem {
		color: yellow;
	}
}

.modal {
	em {
		font-weight: bold;
		font-style: normal;
	}
}


.container-demo, .chart {
	height: 400px;
	width: 100%;
	margin: 20px auto;
	border: 1px solid cyan;
	padding-top: 20px;
}

svg>text:last-child {
	display: none;
}


.dropdown .arrow {
	margin-left: 6px;
	vertical-align: middle;
}


.error-sign {
	color: red;
	font-size: 20px;
	margin-left: 10px;
	position: absolute;
	right: 8px;
	top: 2px;
	display: none;
	&:hover {
		color: red;
		// color:#A80A0A;
		text-decoration: none;
	}
}

.form-area {
	position: relative;
}
.form-subject {
	margin-bottom: 15px;
}

.toggle-more {
	margin-top: -16px;
	// position: relative;
	// right: -429px;
	display: none;
}

.hidden-row {
	display: none;
}

.main-content {
	min-height: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	margin-top: 160px;
	background: white;
	border-color: $blue-light-extra;

	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #659cef;
}


.extra-btn {
	width: 100%;
	margin-bottom: 40px;
}



/* Landscape phone to portrait tablet */
@media (max-width: 1300px) { // temp
	.navbar-fixed-top .navbar-center{
		margin-top: 50px;
	}
}

html, body {
	height: 100%;
	background: $gray-dark;
}

html body .dataTables_wrapper {
	padding: 10px;
	label {
	font-weight: normal;
}
table {
	&>thead>tr>th.sorting,  &>thead>tr>th.sorting_asc, &>thead>tr>th.sorting_desc{
		background-position: center left;
		padding-left: 22px;
	}
}
}

// if we replace bootwatch with the corresponding sass file this should be @import .btn-primary
.main-content .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background-image: -webkit-linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
	background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6d94bf', endColorstr='#ff3e648d', GradientType=0);
	filter: none;
	border: 1px solid #345578;
}
body table>tbody>tr.selected {
	&>td {
		background-color: #D2DFDB !important;
		color: rgb(97, 68, 172);
	}
}

.custom-buttons {
	float: left;
	margin-right: 10px;
}

/* .with-shift tbody tr, button { // doesn't show selected highlight -> switch to color
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
} */

*::selection {
background: #fff2a8;
}

*::-moz-selection {
	background: #fff2a8;
}

.with-shift *::selection {
	background-color: transparent;
}

.with-shift *::-moz-selection {
	background: transparent;
}

// .table-selected-main tr{
// 	display: none;
// }

#table-items-selected_wrapper {
	// &.height-value {
	// 	// min-height: 400px;
	// }
	border: 1px solid gray;
	margin-bottom: 20px;
	display: none;
}

.warning-duplicate {
	font-size: 0.95em;
	font-style: italic;
}

div.dataTables_length {
	padding-left: 2em;
	padding-top: 0.55em;
}

table thead th {
	white-space: nowrap;
}

/* buttons */

.custom-btn {
	display: inline-block;
	border: 1px solid;
	text-align: center;
	&>span {
		border: 1px solid transparent;
		display: block;
		height: 100%;
	}
	&:hover {
		text-decoration: none;
	}
	
}

/* Home */

.app-list {
	margin: auto;
	position: relative;
	text-align: center;
	top: 30%;
	.custom-btn {
		border-color: white;
		color: white;
		width: 210px;
		font-size: 24px;
		span {
			line-height: 40px;
		}
		&:first-child {
			margin-right: 40px;
		}
		&:hover {
			span {
				border-color: white;
			}
		}
	}
}

.input-search {
	width: 300px;
	margin-top: 10px;
}
