@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
          box-shadow: $shadow;
}


@import "settings";

@import "bars-btns";
@import "details";
@import "filters";
@import "modals";
@import "tables";
// Part A

html, body {
	height: 100%;
}

body {
	padding-top: 2*$navbar-height;
}

.container-solid{
    min-width: 1050px!important;
}

.container:not(.container-solid){
    max-width: 960px;
}

// custom styles ovewriting bootstrap
// labels
.label {
	border: 1px solid #fff;
	font-weight: normal;
}


.info-block h3 .badge {   font-size: 0.8em; padding: 5px 8px; background-color:#659CEF;}
.object-anchor {height:2px; }

/* new styles olga */


 
.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover { background-color: $gray-lighter; } 

.object-details-content     { display:none; }
.account .object-details-content{ display:block; }
.nav-tabs           { margin:0; border:0 none; }
.tab-content .dl-horizontal   { margin:0; }
.tab-content .dl-horizontal dd {
    word-wrap: break-word;
}
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover { background-color:#F5F5F5; color:#2956B2; font-weight:bold;}
.nav-tabs > li          { margin-bottom:-2px; }

.label-success, 
.badge-success          { background-color:#8BBA00 }
.badge-important        { background-color: #F81A23; }
.badge-info           { background-color:#659CEF }
.show-hide-tabs         { margin:2em 0; }
.toggle .badge          { font-size:14px; padding:5px 9px; }
.toggle .badge:hover      { cursor:pointer;  }
.show-hide-tabs .badge      { background-color:#8BBA00; }
.show-hide-tabs .badge:hover  { background-color:#789B0F }
.show-hide-all .badge     { background-color:#8BBA00; }
.show-hide-all .badge:hover   { background-color:#789B0F }

h4 .badge.arrow           { padding:6px 9px 2px; background:url(../img/glyphicons-halflings.png) 160px 43px transparent;}
h4.expanded .badge        { background-position: 185px 43px}


h4 i              { margin-top: 4px; margin-right: 10px;}
.container-fluid        { margin-left:auto; margin-right:auto; margin-top:0; /*max-width:960px;*/ }
h3.info             { cursor:default; color:#2956B2; text-align:center; font-size:16px; margin-bottom:0;}


a.disabled {
	cursor: default !important;
}
/* All checkboxes */

.checkbox {
	margin: 0;
}
.checkbox label {
	margin-bottom: 0;
}


/* Home */

.app-list {
	margin: auto;
	position: relative;
	text-align: center;
	top: 30%;
	a {
		width: 210px;
		font-size: 24px;
		margin: 0 20px;
		@include outline-btn($padding:12px 10px);
		opacity: 1;
        &.disabled {
            opacity: 0.5;
            border-color: #ccc;
            &:hover {
                span {
                    border-color: transparent;
                }
            }
        }
	}
}


/* Area that includes all the info and */

.info {
	overflow: auto;
	border-color: $blue-light-extra;
}

.info-fixed {
	overflow: hidden;
	margin-left: 200px;
}

a:not([disabled]):hover {
	cursor: pointer;
}

.account-action.form-btn {
		display: inline-block;
		float: left;
		margin-left: 10px;
}

.buttons-list {
		list-style: none;
}

.buttons-list li {
		display: inline-block;
		float: left;
		margin-left: 10px;
}

.checkbox-column {
	position: relative;
}

.container-demo, .chart {
	height: 400px;
	width: 100%;
	margin: 0 auto 40px;
    display: none;
}

svg>text:last-child {
	display: none;
}

.dropdown .arrow {
	margin-left: 6px;
	vertical-align: middle;
}

.hidden-row {
	display: none;
}

.with-shift *::selection {
	background-color: transparent;
}

.with-shift *::-moz-selection {
	background: transparent;
}

.warning-duplicate {
	font-size: 0.95em;
	font-style: italic;
}


/* updated olga */

.navbar {
	text-shadow: none;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li:hover > a{
	color: $gray-dark;
	-webkit-transition: all 0 ease 0;
	transition: all 0 ease 0;
  	background: $gray-lighter;
}
.main-nav .nav > li > a:hover,
.main-nav .nav > li > a:focus,
.main-nav .nav > li:hover > a{
	color: #fff;
  	background: $hover-nav-color;
}
.nav > li.active > a {
	color: $gray-dark;
	-webkit-transition: all 0 ease 0;
	transition: all 0 ease 0;
  	background: white;
}

.nav > li > a {
	-webkit-transition: all 0 ease 0;
	transition: all 0 ease 0;

}
.dropdown-menu {
	border-radius: 0;
	border: 0 none;
	border-top: 1px solid $gray-light;
	background-color: white;
}

.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover { 
	background-color: $gray-lighter; 
	color: $gray-dark;
} 


.dropdown-menu li > a:hover,  { 
	background-color: $gray-lighter; 
	color: $gray-dark;
} 

.sub-nav {
	background: $gray-light;
	border: 0 none;
	.nav {
		& > li > a {
			color: $almost-white;
		}
		& > li:hover {
			a {
				color: $gray-dark;
			}
		}
	}
}

.tab-content {
	background: $gray-light;
	padding: 20px;
	.well {
		border-color: $gray-light;
	}
}


.content-seperator {
	display: none;
}


.selection-indicator {
	margin-right: 6px;
	cursor: pointer;
    padding: 0 6px;
}

.notify {
	// display: none;
	padding: 30px 10px 15px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	background: $brand-primary;
    color: $dark-text-color;
    .container>*:not(:last-child) {
			margin-bottom: 16px;
	}
	.remove-icon {
		color: transparent;
		margin-left: 20px;
		font-weight: bold;
	}
	.container>*:hover {
		.remove-icon {
			color: $brand-danger;
		}
	}
	.state-icon {
		margin-right: 10px;
	}
	.success {
		color: darken($brand-success, 10%);
	}
	.error {
		color: $brand-danger;
	}
	.pending {
		color: $brand-warning;
	}
	em {
		font-style: normal;
		font-weight: bold;
	}
	.warning {
		font-style: italic;
		font-weight: bold;
		color: $gray-light;
	}
	.close-notify {
        position: absolute;
        right: 20px;
        top: 20px;
        color: $gray-dark;
        &:hover {
            color: $total-black;
        }
    }
	.dl-horizontal {
        margin-left: 21px;
		// width: 900px;
		// margin: auto;
		dt{
			width: 80px;
            vertical-align: top;
			text-align: left;
			span {
				font-size: 20px;
				vertical-align: text-bottom;
				margin-right: 10px;
			}
		}
		dd {
			margin-left: 80px;
		}
	}
}

.lowercase {
	text-transform:lowercase;
}

.keyboard-icon {
	// margin-right: 10px;
	font-size: 20px;
	vertical-align: sub;
}


.shortcuts {
	.key {
		padding: 2px 9px;
		font-style: normal;
		font-weight: bold;
		border: 1px solid gray;
		border-radius: 6px;
	}
}

body>.popover {
	// same as .info-block>.popover
	max-width: none;
	color: black;
	margin-bottom: 20px;
	h2 {
		text-align: center;
		font-size: 1.2em;
		font-weight: bold;
	}
	dt {
		margin-bottom: 8px;
		overflow: visible;
	}
}
