{% load astakos_tags filters %}
<fieldset class="quota">
<legend>
{% if rinfo.is_abbreviation %}
  {{ rinfo.verbose_name|upper }}
{% else %}
  {{ rinfo.verbose_name|capfirst }}
{% endif %}
<span class="info"> 
<em>more info</em>
<span>{{ rinfo.help_text }}</span>
</span>  
</legend>

<div class="form-row resource-pair clearfix">
<div class="form-row resource-col">
  <p class="clearfix">
    <label for="id_{{resource}}_p_uplimit_proxy" >
      Total
    </label>
    <input	type="text" 
            id="id_{{resource}}_p_uplimit_proxy" 
            name="{{ resource }}_p_uplimit_proxy" 
            placeholder="{{ rinfo.placeholder }}" 
            {% with value=object|get_member_resource_grant_value:resource %}
            {% with resource|add:'_m_uplimit' as input_value %}
            {% if request.POST and value != request.POST|lookup:input_value %}
            data-changed="true"
            {% endif %}
            {% endwith %}
            {% endwith %}
            {% if rinfo.unit == 'bytes' %} 
                class="dehumanize"
            {% endif  %}
            {% if request.POST %}
                {% with resource|add:'_p_uplimit' as input_value %}
                value="{{ request.POST|lookup:input_value }}"
                data-value="{{ request.POST|lookup:input_value }}"
                {% endwith %}
            {% else %}
              {% with value=object|get_project_resource_grant_value:resource %}
                {% if value %}
                value="{{ value|inf_value_display }}"
                data-value="{{ value|inf_value_display }}"
                {% else %}
                value=""
                {% endif %}
              {% endwith %}
            {% endif %}
            autocomplete="off"> 
    <span class="extra-img">&nbsp;</span>
    <span class="info"><em>more info</em>
    <span>{{ rinfo.help_text_input_total }}</span></span>
    </p>
  <p class="error-msg">Invalid format</p>
  <p class="msg"></p>
</div>
<div class="form-row resource-col">
    <p class="clearfix">
    <label for="id_{{resource}}_m_uplimit_proxy" >
      Max per member {{rdata.pluralized_display_name}}
    </label>
    <input	type="text" 
            {% with value=object|get_member_resource_grant_value:resource %}
            {% with resource|add:'_m_uplimit' as input_value %}
            {% if request.POST and value != request.POST|lookup:input_value %}
            data-changed="true"
            {% endif %}
            {% endwith %}
            {% endwith %}
            id="id_{{resource}}_m_uplimit_proxy" 
            name="{{ resource }}_m_uplimit_proxy" 
            placeholder="{{ rinfo.placeholder }}" 
            {% if rinfo.unit == 'bytes' %} 
                class="dehumanize"
            {% endif  %}
            {% if request.POST %}
                {% with resource|add:'_m_uplimit' as input_value %}
                  value="{{ request.POST|lookup:input_value }}"
                  data-value="{{ request.POST|lookup:input_value }}"
                {% endwith %}
            {% else %}
              {% with value=object|get_member_resource_grant_value:resource %}
                {% if value %}
                  value="{{ value|inf_value_display }}"
                  data-value="{{ value|inf_value_display }}"
                {% else %}
                  value = ""
                {% endif %}
              {% endwith %}
            {% endif %}
            autocomplete="off"> 
    <span class="extra-img">&nbsp;</span>
    <span class="info"><em>more info</em>
    <span>{{ rinfo.help_text_input_each }}</span></span>
  </p>
  <p class="error-msg">Invalid format</p>
  <p class="msg"></p>
</div>
</div>
</fieldset>	
