{% load astakos_tags i18n %}

<!-- make room for buttons -->
{% if owner_mode or admin_mode or can_join_request or can_leave_request %}
<br />
{% endif %}

<div class="project-actions">
{% if owner_mode or admin_mode %}
{% if object.can_modify %}
<div class="msg-wrap inline">
  <a class="" href="{% url project_modify project_uuid=object.uuid %}">MODIFY</a> 
</div>
{% endif %}
{% endif %}

{% if can_join_request %}
{% confirm_link "JOIN" "project_join" "project_join" project.uuid %}
{% endif %}

{% if can_leave_request %}
{% confirm_link "LEAVE" "project_leave" "project_leave" project.uuid %}
{% endif %}

{% if can_cancel_join_request %}
{% confirm_link "CANCEL JOIN REQUEST" "project_cancel_member" "project_cancel_join" project.uuid "" "OK" %}
{% endif %}
</div>
