{% extends "im/projects/intro_base.html" %}
{% load i18n %}
{% block intro_top %}
<div class="two-cols clearfix">
  <div class="rt">
    &nbsp;
  </div>
  <div class="lt">
    <p>
    {% blocktrans %}
    {{ BRANDING_SERVICE_NAME }} gives the opportunity to
    Greek Academic or Research Organizations/Institutions/Faculty
    to run their own projects remotely on virtual infrastructure.
    Simple, fast, and with minimal to no cost at all.
    {% endblocktrans %} 
    </p>
  </div>
</div>
{% endblock %}