{% extends "im/account_base.html" %}
{% block page.subnav %}

	<li><a href="../">Overview</a></li>
	<li class="active"><a href="#">Create</a></li>
	<li><a href="../join/">Join</a></li>

{%endblock %}
{% block body %}
<div class="projects">
	<div class="clearfix">
		<p>You can create the followind type of projects:</p>
	</div>
	
	<div class="two-cols clearfix dotted">
		<div class="rt centered">
			<img alt="THINK ABOUT IT" src="/static/medialibrary/2012/04/proffessor.png">
		</div>
		<div class="lt">
			<h2 style="color:#B66D00;">COURSE</h2>
	    	<div>
	    		<p>You wake up one morning and you need a new computer with a specific operating system and hardware requirements (or 10 new computers). You also need 10GB of storage space to store some new content you just got your hands on (or 50GB ;-)).</p>
	    		<a href="course/" class="submit">CREATE COURSE</a>
	    	</div>
		</div>
	</div>
	<div class="two-cols clearfix dotted">
		<div class="rt centered">
			<img alt="THINK ABOUT IT" src="/static/medialibrary/2012/06/behind_okeanos.png">
		</div>
		<div class="lt">
			<h2 style="color:#4085A6;">PROJECT</h2>
	    	<div>
	    		<p>You wake up one morning and you need a new computer with a specific operating system and hardware requirements (or 10 new computers). You also need 10GB of storage space to store some new content you just got your hands on (or 50GB ;-)).</p>
	    		<a href="#" class="submit">CREATE PROJECT</a>
	    	</div>
		</div>
	</div>
	<div class="two-cols clearfix dotted">
		<div class="rt centered">
			<img alt="THINK ABOUT IT" src="/static/medialibrary/2012/06/from_athens.png">
		</div>
		<div class="lt">
			<h2 style="color:#EF4F54;">ORGANISATION</h2>
	    	<div>
	    		<p>You wake up one morning and you need a new computer with a specific operating system and hardware requirements (or 10 new computers). You also need 10GB of storage space to store some new content you just got your hands on (or 50GB ;-)).</p>
	    		<a href="#" class="submit">CREATE ORGANISATION</a>
	    	</div>
		</div>
	</div>
	<div class="two-cols clearfix dotted">
		<div class="rt centered">
			<img alt="THINK ABOUT IT" src="/static/medialibrary/2012/04/researcher.png">
		</div>
		<div class="lt">
			<h2 style="color:#FF7CA4;">LAB</h2>
	    	<div>
	    		<p>You wake up one morning and you need a new computer with a specific operating system and hardware requirements (or 10 new computers). You also need 10GB of storage space to store some new content you just got your hands on (or 50GB ;-)).</p>
	    		<a href="{% url group_add 'laboratory' %}" class="submit">CREATE LAB</a>
	    	</div>
		</div>
	</div>
</div>

{% endblock body %}
