{% load filters %}
{% block headjs %}
	{{ block.super }}	 
	<script src="{{ IM_STATIC_URL }}js/quotas.js"></script>	
{% endblock %}	
{% block page.body %}

<div class="projects summary">
	<form action="?edit=0&verify=0" method="post" class="quotas-form">{% csrf_token %}
	    {% for k,v in request.POST.items %}
	        {% if k != 'csrfmiddlewaretoken' %}
	            <input type="hidden" name="{{k}}"  id="{{'id_'|add:k}}" value="{{v}}">
	        {% endif %}
	    {% endfor %}
		<div class="full-dotted">
			<h3>PROJECT DETAILS</h3>
			<p class="restricted">{{ form_data.desc }}</p>
			<dl class="alt-style">
				<dt>Name</dt>
			 	<dd>{{ form_data.name }}&nbsp;</dd>
			 	<dt>Homepage Url</dt>
				<dd>{{ form_data.homepage }}&nbsp;</dd>
				<dt>Description</dt>
				<dd>{{ form_data.description }}&nbsp;</dd>
			 	<dt>Start date</dt>
			 	<dd>{{ form_data.start_date|date:"d/m/Y"}}&nbsp;</dd>
			 	<dt>End Date</dt>
			 	<dd>{{ form_data.end_date|date:"d/m/Y"}}&nbsp;</dd>		
			 	<dt>Comments</dt>
				<dd>{{ form_data.comments }}&nbsp;</dd>	    
				
			</dl>
		</div>
		<div class="full-dotted">
			 <h3>MEMBERSHIP OPTIONS</h3>
			 <dl class="alt-style">			    
                <dt>Member join policy</dt>
			 	<dd>{{ join_policies|lookup:form_data.member_join_policy|title }}</dd>
			 	<dt>Member leave policy</dt>
			 	<dd>{{ leave_policies|lookup:form_data.member_leave_policy|title }}</dd>
			 	<dt>Total number of members</dt>
			 	<dd>{{ form_data.limit_on_members_number }}</dd>
			 </dl>
		 </div>
		 
		 
		 <div class="full-dotted">
			<h3>RESOURCES</h3>
			<p>The following ~okeanos resources will be granted to each member of this Project:</p>
		 	<dl class="alt-style">
		 	    {% for rp in form.resource_policies %}
		 		    <dt>
           				Max {% if rp.is_abbreviation %}
                                {{ rp.verbose_name|upper }}
                            {% else %}
                                {{ rp.verbose_name }}
                            {% endif %}
                            {% if not rp.unit %}s {% endif  %}  per user
           			</dt>
			 		<dd>
			 			
           			{% if rp.uplimit %}
           				 {% if rp.unit %}
           				 	{{ rp.uplimit|sizeof_fmt }}
           				 {% else %}
           				 	{{ rp.uplimit }}
           				 {% endif %}
           			{% else %}
           				Unlimited
           			{% endif %}
           			</dd>
           		{% empty %}
           			No resources
		 		{% endfor %}
		 	</dl>      
		 </div>
		 
		 <div class="full-dotted">
		 	 
		 </div>
		
		 
		<input type="hidden" name="user"  id="id_user" value="{{user.id}}">
		<div class="form-row submit">
            <input type="submit" value="BACK" class="submit lt"   onclick='this.form.action="?edit=1&verify=0";'>
            <input type="submit" value="SUBMIT" class="submit" >
        </div>
	</form>
    
</div>
	 
<script>
	
</script>	 

{% endblock %}
