{% extends "im/account_base.html" %}

{% load filters %}

{% block page.body %}

<div class="projects">
	

	<h2>
	 	<span>{{ object.definition.name|upper }}</span>
	 </h2>
	 
	 <div class="details">
	 	<h3>
	 		GENERAL INFO
		 	{% if object.owner == user %}
		 		<a href="#" class="edit">EDIT</a>
		 	{% endif %}
	 	</h3>
	 	
	 	<div class="data">
		 	<p class="restricted">{{ object.definition.description|safe }}</p>
		 	<dl class="alt-style">
			 	<dt>Homepage url</dt>
			 	<dd>
			 		{% if object.definition.homepage%}
			 			<a href="{{ object.homepage }}">{{ object.definition.homepage }}</a>
			 		{% else %}
			 			Not set yet
			 		{% endif %}
			 	</dd>
			 	<dt>Moderation</dt>
			 	<dd>
			 		{{ object.definition.member_accept_policy.description }}
			 	</dd>
			 </dl>
		</div>
		<div class="editable" style="display:none;">
		<form action="{% url astakos.im.views.project_application_detail object.serial %}" method="post"
	            class="withlabels">{% csrf_token %}
	            {% with update_form as form %}
                    {% include "im/form_render.html" %}
                    <div class="form-row submit">
                        <input type="submit" class="submit altcol" value="SAVE" />
                    </div>
	            {% endwith %}
	    </form>
		</div>
	 </div>
	 <div class="full-dotted">
		 <h3>DETAILS</h3>
		 <dl class="alt-style">
		 	<dt>Name</dt>
		 	<dd>{{ object.definition.name }}&nbsp;</dd>
		 	<dt>Issue date:</dt>
		 	<dd>{{object.issue_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>Start Date</dt>
		 	<dd>{{object.definition.start_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>End Date</dt>
		 	<dd>{{object.definition.end_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>Valid</dt>
		 	<dd>{% if object.is_valid %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Activated</dt>
		 	<dd>{% if object.is_active %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Terminated</dt>
		 	<dd>{% if object.is_terminated %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Suspended</dt>
		 	<dd>{% if object.is_suspended %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Alive</dt>
		 	<dd>{% if object.is_alive %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Inconsistent</dt>
		 	<dd>{% if object.is_inconsistent %}Yes{% else %}No{% endif %}</dd>
		 	<dt>Owner</dt>
		 	<dd>{% if object.object == user %}
                        Me
                    {% else%}
                        {{object.owner.realname}} ({{object.owner.email}})
                    
                    {% endif %}&nbsp;
            </dd>
            <dt>Max participants</dt>
		 	<dd>{% if object.definition.%}{{object.definition.limit_on_members_number}}{% else %}&nbsp;{% endif %}</dd>
		 </dl>
	 </div>
	 <div class="full-dotted">
		 <h3>RESOURCES</h3>
		 {% if object.definition.projectresourcegrant_set.all %}
		 <dl class="alt-style">	
	 		{% for q in object.definition.projectresourcegrant_set.all %}
		 		<dt>
       				Max {% if q.is_abbreviation %}{{ q.verbose_name|upper }}{% else %}{{ q.verbose_name }}{% endif %}{% if not q.unit %}s {% endif  %}  per user
       			</dt>
		 		<dd>
       			{% if q.member_limit %}
       				 {% if q.unit %}
       				 	{{ q.member_limit|sizeof_fmt }}
       				 {% else %}
       				 	{{ q.member_limit|isinf }}
       				 {% endif %}
       			{% else %}
       				Unlimited
       			{% endif %}
       			</dd>
       		{% empty %}
       			No resources
	 		{% endfor %}
	 		
	 		
	 	</dl>
		{% else %}
            <p>No resources</p>
        {% endif %} 
	 </div>
    <div class="full-dotted">
    	<p>
    		<a href="{% url group_all %}">back to All Projects &gt;</a></li>
    	</p>
        <p>
        	<a href="{% url group_list %}">back to My Projects &gt;</a>
        </p>
        </ul>
    </div>
     
    
</div>
 
{% endblock %}
