{% extends "im/account_base.html" %}

{% load astakos_tags filters django_tables2 %}

{% block page.body %}
{% with object.chain as project %}
<div class="projects">
  <h2>
    <em>
      {% if owner_mode or admin_mode %}
        {% if project_view %}
           PROJECT {{ project.state_display|upper }}
          {% with project.last_pending_modification as last_pending %}
          {% if last_pending != None %} -
             <a href="{% url astakos.im.views.project_app last_pending.pk %}">
               MODIFICATION PENDING</a>
          {% else %}
             <!-- note that pending modifications have priority -->
             {% if object.has_denied_modifications %} -
             <a href="{% url astakos.im.views.project_app object.last_denied.pk %}">
               MODIFICATION DENIED</a>
             {% endif %}
          {% endif %}
          {% endwith %}
        {% else %}
          <!-- application view -->
           PROJECT {% if object.is_modification %} MODIFICATION {% endif %}
          {{ object.state_display|upper }} 
        {% endif %}

      {% else %}
        <!-- third user -->
        <!-- assert in project view -->
        {% if project.is_deactivated %}
        PROJECT {{ project.state_display|upper }} -
        {% endif %}
        {{ mem_display|upper }} 
      {% endif %}
    </em>

    <span>
      {% if not project_view %}
        <!-- owner mode only assumed -->
        {% if object.is_modification %}
          <span class="extratitle">MODIFICATION OF </span>
        {% endif %}
      {% endif %}
      {{ object.name|upper }} 
    </span>
    
    {% block project.actions %}
    {% include "im/projects/_project_detail_actions.html" %}
    {% endblock %}
  </h2>
  {% block inner_project %}
  <div class="full-dotted">
    <h3>PROJECT DETAILS</h3>
    <dl class="alt-style">
      <dt>Name</dt>
      <dd>{{ object.name }}&nbsp;</dd>
      <dt>Homepage url</dt>
      <dd>
        {% if object.homepage %}
        <a href="{{ object.homepage }}">{{ object.homepage }}</a>
        {% else %}
        Not set yet
        {% endif %}
      </dd>
      <dt>Description</dt>
      <dd>{{ object.description }}&nbsp;</dd>

      {% if owner_mode %}
        <dt>Application date</dt>
        <dd>{{object.issue_date|date:"d/m/Y"}}&nbsp;</dd>
      {% endif %}

      <dt>Start date</dt>
      <dd>{{object.start_date|date:"d/m/Y"}}&nbsp;</dd>
      <dt>End Date</dt>
      <dd>{{object.end_date|date:"d/m/Y"}}&nbsp;</dd>

      {% if owner_mode %}
        <dt>Comments</dt>
        <dd>{{ object.comments }}&nbsp;</dd>
      {% endif %}

      <dt>Owner</dt>
      <dd>
        {% if owner_mode %}
        Me
        {% else %}
        {{object.owner.realname}} {% if admin_mode or user.is_superuser %}({{object.owner.email}}){% endif %}
        {% endif %}
        &nbsp;
      </dd>
    </dl>
  </div>
 

  <div class="full-dotted">
    <h3>RESOURCES</h3>
    {% if object.projectresourcegrant_set.all %}
    <dl class="alt-style">
      {% for rp in object.projectresourcegrant_set.all %}
      <dt>{{rp.resource.pluralized_display_name}} per user</dt>
      <dd>{{rp.display_member_capacity}}</dd>
      {% empty %}
      No resources
      {% endfor %}
    </dl>
    {% else %}
    <p>No resources</p>
    {% endif %}
  </div>

 
  <div class="full-dotted">

    <h3>
      {% if owner_mode and project_view %}
          {% if project.is_alive %}
           <a href="{% url project_members object.chain_id %}">MEMBERS </a>
          {% else %}
          MEMBERS
          {% endif %}
      {% else %}
          MEMBERS
      {% endif %}

     
    </h3>
    
    <dl class="alt-style">
      <dt>Max participants</dt>
      <dd>
        {% if object.limit_on_members_number != None %}
        {{object.limit_on_members_number}}
        {% else %}Not set{% endif %}
      </dd>
      <dt>Member join policy</dt>
      <dd>
        {{ object.member_join_policy_display|title }}
      </dd>
      <dt>Member leave policy</dt>
      <dd>
        {{ object.member_leave_policy_display|title }}
      </dd>
       {% if owner_mode and project_view %}
          {% if project.is_alive %}
      <dt><a href="{% url project_approved_members object.chain_id %}" title="view approved members">Approved members</a></dt>
      <dd>{{ approved_members_count }}
        <span class="faint"> 
          {% if remaining_memberships_count != None %}
          ({{ remaining_memberships_count }}
          membership{{ remaining_memberships_count|pluralize }}
          remain{{ remaining_memberships_count|pluralize:"s," }})
          {% else %}&nbsp;{% endif %} 
        </span>
      </dd>
      <dt><a href="{% url project_pending_members object.chain_id %}" title="view pending members">Members pending approval</a></dt>
      <dd>{{ pending_members_count }}</dd>
        {% if not project.is_deactivated %}
    </dl>    
    {% include 'im/projects/addmembers_form.html' %}
           
            {% endif %}
          {% endif %}
       {% endif %}

  </div>
{% endblock inner_project %}  
  <div class="full-dotted">
    <p>
      {% block bottom_link %}<a href="{% url project_list %}">&lt; Back to Projects</a>{% endblock bottom_link %}
    </p>
  </div>
</div>
{% endwith %}
{% endblock %}
