{% extends "im/projects/project_detail.html" %}
  
 
{% load astakos_tags filters django_tables2 %}

{% block bottom_link %}<a href="{% url project_detail object.chain %}" title="Back to project ">&lt; Back to Project</a>{% endblock bottom_link %}
{% block inner_project %} 
   
  {% if owner_mode and project_view %}
    {% if object.project.is_alive %}
      
      <div class="full-dotted{% if members_status_filter == None %} all{% endif %}{% if members_status_filter == 1 %} approved {% endif %}{% if members_status_filter == 0 %} pending{% endif %}">
        <h3>
          <a href="#members-table" class="rt-action">ADD MORE MEMBERS</a>
          MEMBERS  
 
          <div class="project-actions">
            <a href="{% url project_members object.chain %}"  {% if members_status_filter == None %}class="inactive"{% endif %}>ALL</a> -
            <a href="{% url project_approved_members object.chain %}" {% if members_status_filter == 1 %}class="inactive"{% endif %}>APPROVED</a> -
            <a href="{% url project_pending_members object.chain %}" {% if members_status_filter == 0 %}class="inactive"{% endif %}>PENDING</a>

          </div>
        </h3>
        
        {% if members_table %}
       
        {% render_table members_table %}
        <div class="form-actions inactive">
          {% confirm_link "Reject selected" "project_app_cancel" 0 1 "" "OK" 1 "reject" %}
          {% confirm_link "Accept selected" "project_app_cancel" 0 1 "" "OK" 1 "approve" %}
          {% confirm_link "Remove selected" "project_app_cancel" 0 1 "" "OK" 1 "remove" %} 
        </div>
        {% endif %}
        
      

     
      {% if not project.is_deactivated %}
        <div class="full-dotted">
          
    {% include 'im/projects/addmembers_form.html' %}
        </div>
      {% endif %}
    {% endif %}

     
     
    
  {% endif %}
{% endblock inner_project %} 
   
 