{% extends "im/account_base.html" %}

{% load astakos_tags filters django_tables2 %}

{% block page.body %}
<div class="projects">
  <h2>
      <em>
      {% block object.status %}
      PROJECT {{ object.state_display|upper}}
      {% endblock %}

      {% if owner_mode or admin_mode %}
      {% block object.modification_status %}
      {% if last_app|is_pending_app %}
      {% if applicant_mode or admin_mode %}
          - <a href="{% url project_app project.uuid last_app.pk %}">PENDING MODIFICATION</a>
      {% else %}
          - PENDING MODIFICATION
      {% endif %}
      {% endif %}
      {% if last_app|is_denied_app %}
          - <a href="{% url project_app project.uuid last_app.pk %}">DENIED MODIFICATION</a>
      {% endif %}
      {% endblock %}
      {% endif %}
    </em>

    <span>
        {% block project.title %}
        {{ object|project_name_for_user:request.user }}
        {% endblock %}
    </span>

    {% block object.actions %}
        {% include "im/projects/_project_detail_actions.html" %}
    {% endblock %}
  </h2>
  {% block inner_project %}
  {% if not project.is_base %}
  <div class="full-dotted">
    <h3>PROJECT DETAILS</h3>
    <dl class="alt-style">
      {% block page.project_details %}
      <dt>Name</dt>
      <dd>{{ object.realname }}&nbsp;</dd>
      <dt>Homepage url</dt>
      <dd>
        {% if object.homepage %}
        <a target="_blank" href="{{ object.homepage }}">
            {{ object.homepage }}
        </a>
        {% else %}
            Not set yet
        {% endif %}
      </dd>
      <dt>Description</dt>
      <dd>{{ object.description }}&nbsp;</dd>

      {% if owner_mode or admin_mode %}
      <dt>Creation date</dt>
        {% block object.created_at %}
        <dd>{{object.creation_date|date:"d/m/Y"}}&nbsp;</dd>
        {% endblock %}
      {% endif %}

      <dt>End Date</dt>
      <dd>{{object.end_date|date:"d/m/Y"}}&nbsp;</dd>

      <dt>Owner</dt>
      <dd>
          {% if owner_mode %}
              Me
          {% else %} 
          {{ object.owner.realname }} 
          {% if admin_mode or user.is_superuser %}
            ({{object.owner.email}})
          {% endif %}
        {% endif %}
        &nbsp;
      </dd>
      {% endblock page.project_details %}
    </dl>
  </div>
  {% else %}
  {{ project.uuid|owner_by_uuid }} 
  {% endif %}

  <div class="full-dotted {% if display_usage %}with-usage{% endif %}">

     <div class="resources-heading clearfix">
         <h3>{% block page.resources_heading %}RESOURCES{% endblock %}</h3>
     </div>
     <div class="resources-heading clearfix">
         <h3></h3>
         {% if resources_set.count %}
         <div class="resource-label">
            <em>Max per member</em>
         </div>
         <div class="resource-label">
            <em>Total</em>
         </div>
         {% if display_usage %}
         <div class="resource-label">
            <em>Usage</em>
         </div>
         {% endif %}
         {% endif %}
     </div>
    {% if resources_set.all %}
    <dl class="alt-style resources">
        {% for rp in resources_set.all|sorted_resources %}
          {% if rp.resource.ui_visible %}
          <dt>{{rp.resource.pluralized_display_name}}</dt>
          <dd>
            <div class="resource">
                {{ rp.display_member_capacity|inf_display|default:"(not set)" }}
                {% if is_modification %}
                {{ rp|resource_diff:"member" }}
                {% endif %}
            </div>
            <div class="resource fix-col">
                {{ rp.display_project_capacity|inf_display|default:"(not set)" }}
                {% if is_modification %}
                {{ rp|resource_diff:"project" }}
                {% endif %}
            </div>
            {% if display_usage %}
            <div class="resource usage fix-col">
                {{ rp.resource|display_resource_usage_for_project:project }}
            </div>
            {% endif %}
          </dd>
        {% endif %}
      {% empty %}
      <p>No resources</p>
      {% endfor %}
    </dl>
    {% else %}
    <p>No resources</p>
    {% endif %}
  </div>

  {% block page.members %} 
  {% if not project.is_base %}
  <div class="full-dotted">

    <h3>
      {% if owner_mode %}
          {% if project.is_alive %}
           <a href="{% url project_members project.uuid %}">MEMBERS </a>
          {% else %}
          MEMBERS
          {% endif %}
      {% else %}
          MEMBERS
      {% endif %}

     
    </h3>
    
    <dl class="alt-style">
      <dt>Max participants</dt>
      <dd>
        {% if object.limit_on_members_number != None %}
        {{object.limit_on_members_number|inf_display}}
        {% else %}Not set{% endif %}
      </dd>
      <dt>Member join policy</dt>
      <dd>
        {{ object.member_join_policy_display|title }}
      </dd>
      <dt>Member leave policy</dt>
      <dd>
        {{ object.member_leave_policy_display|title }}
      </dd>
       {% if owner_mode %}
          {% if object.is_alive %}
      <dt><a href="{% url project_approved_members project.uuid %}" title="view approved members">Approved members</a></dt>
      <dd>{{ approved_members_count }}
        <span class="faint">
          {% if remaining_memberships_count != None %}
          {% if not object.has_infinite_members_limit %}
          ({{ remaining_memberships_count }}
          membership{{ remaining_memberships_count|pluralize }}
          remain{{ remaining_memberships_count|pluralize:"s," }})
          {% else %}(Unlimited memberships remain){% endif %}
          {% else %}&nbsp;{% endif %} 
        </span>
      </dd>
      <dt><a href="{% url project_pending_members project.uuid %}" title="view pending members">Members pending approval</a></dt>
      <dd>{{ pending_members_count }}</dd>
        {% if not object.is_deactivated %}
    </dl>    
      {% if not is_application %}
      {% include 'im/projects/addmembers_form.html' %}
      {% endif %}
            {% endif %}
          {% endif %}
       {% endif %}

   </div>
   {% endif %}
  {% endblock page.members %} 

{% endblock inner_project %}  
  <div class="full-dotted">
    <p>
      {% block bottom_link %}<a href="{% url project_list %}">&lt; Back to Projects</a>{% endblock bottom_link %}
    </p>
  </div>
</div>
{% endblock %}
