{% extends "im/account_base.html" %}

{% load filters %}
{% load astakos_tags %}
{% block headjs %}
	{{ block.super }}	 
	<script src="{{ IM_STATIC_URL }}js/quotas.js"></script>	
{% endblock %}	

{% block page.body %}
<h2>{% block page.heading %}REQUEST PROJECT{% endblock %}</h2>

<form action="?verify=1" 
      method="post"
      class="withlabels quotas-form" 
      id="group_create_form">
      
    {% csrf_token %}

    <fieldset class="with-info {% if form.instance.is_base %}hidden-contents{% endif %}" id="top">
        <legend>
            {% block form_details_title %}1. PROJECT DETAILS{% endblock %}
            {% block form_details_description %}
            <span class="info"> 
                <em>more info</em> 
                <span>To create a new Project, first enter the following 
                      required fields.  The information you enter, except
                      <i>Comments for review</i>, will be visible to all 
                      {{ BRANDING_SERVICE_NAME }} users.</span>
            </span>    		
            {% endblock %}
        </legend>
        {% block form_errors %}
        {% for key, err in form.errors.items %}
        {% if key == "__all__" %}
        <div class="form-error">{{ err }}</div>
        {% endif %}
        {% endfor %}
        {% endblock %}
        {% for field in form %}
        {% with filter_fields=details_fields %}
            {% include "im/projects/_form_field.html" %}
        {% endwith %}
        {% endfor %}
        <div class="system-warning">
            <p>Project details of system projects cannot be modified.</p>
        </div>
    </fieldset>

    <fieldset class="with-info {% if object.is_base %}hidden-contents{% endif %}">
    	<legend>
    		2. MEMBERSHIP OPTIONS
			<span class="info"> 
		    	<em>more info</em>
		    	<span>Membership options</span>
	    	</span>    		
    	</legend>

        <!-- membership fields -->
        {% for field in form %}
        {% with filter_fields=membership_fields %}
            {% include "im/projects/_form_field.html" %}
        {% endwith %}
        {% endfor %}
        <div class="system-warning">
            <p>Membership options of system projects cannot be modified.</p>
        </div>
    </fieldset>
    

    <fieldset id="icons">
    	<legend>
    		3. RESOURCES
    		<span class="info"> 
		    	<em>more info</em>
                <span>Here you add resources to your Project. Each resource you
                    specify here, will be granted to *EACH* user of this
                    Project. So the total resources will be: &lt;Total number of
                    members&gt; * &lt;amount_of_resource&gt; for each resource.
                </span>
	    	</span>    
        </legend>
        {% include "im/projects/_form_resource_groups_buttons.html" %}
    </fieldset>
    {% include "im/projects/_form_resources_fields.html" %}
	<input type="hidden" name="user"  id="id_user" value="{{user.id}}">  
	<div class="form-row submit">
   		<input type="submit" value="CONTINUE" class="submit altcol" >
    </div>

</form>
{% endblock %}
