{% extends "im/account_base.html" %}

{% load astakos_tags filters django_tables2 %}

{% block page.body %}
{% with object.project.approved_members as approved_members %}
{% with resource_catalog|populated_resource_catalog as resource_catalog%}
<div class="projects">
	

	<h2>
        <em>
            {% if user == object.owner %}
                [ ADMINISTRATOR - {{ object.state|upper }} ]
            {%  else %}
                {% if  user in approve_members %}
                    [ ENROLLED - ACTIVE ]
                {% else %}
                    [ ENROLLED - PENDING ]
                {% endif %}
            {% endif %}
        </em>
	 	<span>{{ object.name|upper }}</span>
	 </h2>
	 
	 <div class="full-dotted">
		 <h3>PROJECT DETAILS</h3>
		 <dl class="alt-style">
		 	<dt>Name</dt>
		 	<dd>{{ object.name }}&nbsp;</dd>
		 	<dt>Homepage url</dt>
            <dd>
                {% if object.homepage%}
                    <a href="{{ object.homepage }}">{{ object.homepage }}</a>
                {% else %}
                    Not set yet
                {% endif %}
            </dd>
		 	<dt>Description</dt>
		 	<dd>{{ object.description }}&nbsp;</dd>
            
            
		 	<dt>Issue date</dt>
		 	<dd>{{object.issue_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>Start date</dt>
		 	<dd>{{object.start_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>End Date</dt>
		 	<dd>{{object.end_date|date:"d/m/Y"}}&nbsp;</dd>
		 	<dt>Comments</dt>
		 	<dd>{{ object.comments }}&nbsp;</dd>
		 	<dt>Status</dt>
		 	<dd>{{ object.state }}</dd>
		 	<dt>Owner</dt>
		 	<dd>{% if user == object.owner %}
                        Me
                {% else%}
                    {{object.owner.realname}} {% if user.is_superuser %}({{object.owner.email}}){% endif %}
                {% endif %}
                &nbsp;
            </dd>
            
		 	<dt>Precursor Application</dt>
		 	<dd>
		 	    {% if object.precursor_application %}
                    <a href="{% url project_detail object.precursor_application.id %}">{{object.precursor_application.id}}</a>
                {% endif %}
                &nbsp;
		 	</dd>
		 	<dt>Follower Application</dt>
		 	<dd>
		 	    {% if object.follower %}
                    <a href="{% url project_detail object.follower.id %}">{{object.follower.id}}</a>
                {% endif %}
                &nbsp;
		 	</dd>
		 </dl>
	 </div>
	 <div class="full-dotted">
		 <h3>MEMBERSHIP OPTIONS</h3>
		 <dl class="alt-style">
		 	<dt>Max participants</dt>
		 	<dd>{% if object.limit_on_members_number%}{{object.limit_on_members_number}}{% else %}&nbsp;{% endif %}</dd>
		 	<dt>Member join policy</dt>
            <dd>
                {{ object.member_join_policy }}
            </dd>
		 	<dt>Member leave policy</dt>
            <dd>
                {{ object.member_leave_policy }}
            </dd>
		 </dl>
	 </div>
	 <div class="full-dotted">
		 <h3>RESOURCES</h3>
		 {% if object.projectresourcegrant_set.all %}
	     <dl class="alt-style">	
	 		{% for rp in object.projectresourcegrant_set.all %}
                {% with resource_catalog|lookup:'resources' as resource_info %}
                    {% with rp.resource|to_unicode as resource_name %}
                        {% with resource_info|lookup:resource_name as decorated_resource %}
		 		<dt>
       				Max {% if decorated_resource.is_abbreviation %}{{ decorated_resource.verbose_name|upper }}{% else %}{{ decorated_resource.verbose_name }}{% endif %}{% if not q.unit %}s {% endif  %}  per user
       			</dt>
		 		<dd>
       			{% if rp.member_capacity %}
       				 {% if decorated_resource.unit %}
       				 	{{ rp.member_capacity|sizeof_fmt }}
       				 {% else %}
       				 	{{ rp.member_capacity|isinf }}
       				 {% endif %}
       			{% else %}
       				Unlimited
       			{% endif %}
       			</dd>
       			        {% endwith %}
       			    {% endwith %}
       			{% endwith %}
       		{% empty %}
       			No resources
	 		{% endfor %}
	 		
	 		
	 	</dl>
		{% else %}
            <p>No resources</p>
        {% endif %} 
	 </div>
     {% if object.project.is_alive %}
	 <div class="full-dotted">
         <h3>MEMBERS</h3>
         {% if members_table %}
              {% render_table members_table %}
         {% endif %}
	 </div>
     
     
    
    <div class="full-dotted">
        <form action="{% url project_detail object.id %}#members-table" method="post" class="withlabels" >{% csrf_token %}
            <h2>Enroll more members</h2>
                {% with addmembers_form as form %}
                    {% include "im/form_render.html" %}
                {% endwith %}
                <div class="form-row submit">
                    <input type="submit" class="submit altcol" value="ADD MEMBERS" />
                </div>
        </form>
    </div>
    {% endif %}
    <div class="full-dotted">
        <p>
        	<a href="{% url project_list %}">back to Projects &gt;</a>
        </p>
        </ul>
    </div>
     
    
</div>

{% endwith %} 
{% endwith %}
{% endblock %}
