{% extends "admin_base.html" %}

{% load formatters %}

{% block body %}

<div class="row">
  <div class="offset10 span3">
    <form method="get">
      <div class="input">
        <input class="span3" name="filter" type="search" placeholder="search" value="{{ filter }}">
      </div>
    </form>
  </div>
</div>

<table class="zebra-striped id-sorted">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Real Name</th>
      <th>Code</th>
      <th>Inviter email</th>
      <th>Inviter Real Name</th>
      <th>Is consumed</th>
      <th>Created</th>
      <th>Consumed</th>
    </tr>
  </thead>
  <tbody>
    {% for inv in invitations %}
    <tr>
      <td>{{ inv.id }}</td>
      <td>{{ inv.username }}</td>
      <td>{{ inv.realname }}</td>
      <td>{{ inv.code }}</td>
      <td>{{ inv.inviter.email }}</td>
      <td>{{ inv.inviter.realname }}</td>
      <td>{{ inv.is_consumed }}</td>
      <td>{{ inv.created }}</td>
      <td>{{ inv.consumed }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if pages|length > 1 %}
<div class="pagination">
  <ul>
    {% if prev %}
      <li class="prev"><a href="?page={{ prev }}{% if filter %}&filter={{ filter }}{% endif %}">&larr; Previous</a></li>
    {% else %}
      <li class="prev disabled"><a href="#">&larr; Previous</a></li>
    {% endif %}

    {% for p in pages %}
      <li{% if page == p %} class="active"{% endif %}><a href="?page={{ p }}{% if filter %}&filter={{ filter }}{% endif %}">{{ p }}</a></li>
    {% endfor %}

    {% if next %}
      <li class="next"><a href="?page={{ next }}{% if filter %}&filter={{ filter }}{% endif %}">&rarr; Next</a></li>
    {% else %}
      <li class="next disabled"><a href="#">&rarr; Next</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

<a class="btn success" href="{% url astakos.im.admin.views.invitations_export %}">Export</a>

<br /><br />
{% endblock body %}
