html {
      background: fixed no-repeat;
}

.form-action.in-progress, button.in-progress {
    text-indent: -6000px;
}

.overlay-info .content {
    background: url("../images/meta-wiz-inner-bg.png") repeat-x scroll 0 0 #FFF;
    border: 1px solid #aaa;
}

.overlay-content .content {
    background: #FFF !important;
}

.create-vm .flavor-options-cont .flavor-options li {
    background: url("../images/meta-wiz-inner-bg.png") repeat-x scroll 0 0;
    cursor: pointer;
}

.firewall .network-progress-indicator img {
    left: 253px;
}

div.confirm_single button {
    padding-bottom: 1px;
}

.create-vm {
    position: relative;
}

.single .cont-toggler, .firewall .cont-toggler {
    float: left;
}

.network-machines .cont-toggler {
    float: left;
}

.overlay-networks-create .form-actions {
    float: none;
}

.create-vm .wide.select-image .images-info-cont {
    width: 91%;
    border: 1px solid #aaa;
}
