# append okeanos_site application to django installed apps
INSTALLED_APPS = list(INSTALLED_APPS) + ['synnefo.okeanos_site']

# for production deployment no DEBUG needed
DEBUG = False

# invitations only, no login page exists
# redirect client to the intro page
LOGIN_URL = "http://host:port/intro"

# bypass Shibboleth authentication for /okeanos and /intro pages 
# (they should be available to the public)
AAI_SKIP_AUTH_URLS = list(AAI_SKIP_AUTH_URLS) + ['/about', '/intro', '/okeanos_static']

# change django url configuration
# okeanos_site.urls includes and extends/modifies synnefo.urls
# based on the needs of okeanos aplha release
ROOT_URLCONF = 'synnefo.okeanos_site.urls'

# the url that is linked with okenaos_site.views.index view
OKEANOS_SITE_URL = "/about"

# the url of the synnefo web application (synnefo.ui.views.home)
OKEANOS_APP_URL = "/ui"

# video url (see okeanos_site/README)
OKEANOS_VIDEO_URL = "http://vimeo.com/moogaloop.swf?clip_id=9330391&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=74aec9&amp;fullscreen=1&amp;autoplay=0&amp;loop=0"

