Source: snf-webproject
Section: python
Priority: optional
Maintainer: Vangelis Koukis <vkoukis@grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5), snf-common
Standards-Version: 3.9.2
XS-Python-Version: >= 2.6
Homepage: https://code.grnet.gr/projects/synnefo

Package: snf-webproject
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, snf-common, python-django-south (>= 0.7)
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Synnefo webproject package

