#!/usr/bin/make -f

%:
	dh $@ --with python2

package=snf-webproject

override_dh_auto_install:
	dh_auto_install
	
	for py in $(shell pyversions -vr debian/control); do \
		rm debian/$(package)/usr/lib/python$$py/*-packages/*-nspkg.pth; \
	done

