/* helpers ------------------------------------*/
.clearfix:before,
.clearfix:after									{ content:" "; display:block; height:0; visibility:hidden; } /* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified/ */
.clearfix:after									{ clear:both; }
.visuallyhidden									{ position:absolute !important; clip:rect(0 0 0 0); }


/* cloudbar header */
div.cloudbar                                    { background:#000; color:#fff;	   line-height:35px;  width:100%;   font-size:13px; font-family: 'Didact Gothic', Verdana, sans-serif;}	

div.cloudbar a, 
div.cloudbar .profile span,
div.cloudbar li 								{font-family:'Open Sans',sans-serif !important; letter-spacing: 1px !important}

.cloudbar .wrapper                              { width:auto; padding:0;}			
.cloudbar a                                     { color:#fff; text-decoration:none;}
.cloudbar .profile                              { float:right; background:#3582AC; min-width:190px; padding:0; text-align:right;  }
.cloudbar .profile:hover						{ background:#5A97B8; }
.cloudbar .profile a                            { text-decoration:none; color:#fff; display:block; width:100%;}
.cloudbar .profile ul                           { position:absolute;   right:0; top:35px; padding:0; margin:0;  width:190px; display:none;	z-index:9; background:#fff;}
.cloudbar .profile ul li                        { list-style:none outside; line-height:35px; padding:0 45px 0  20px;}
.cloudbar .profile ul li a:hover				{ color:#3582AC;}
.cloudbar .profile  a							{ padding-right:20px; width:auto; }
.cloudbar .profile .user a span					{ padding:0 20px;   background:url(../images/arrow-lt.png) no-repeat right center;}
.cloudbar .profile .full a span                 { background-image:url(../images/arrow-down.png); }
.cloudbar .profile .full a.open span			{ background-image:url(../images/arrow-up.png); }
.cloudbar .profile .full ul 					{ border:1px dashed #000; border-top:0 none; border-right:0 none;}
.cloudbar .profile ul li a                      { padding-right:0; background:none; color:#000; display:block; width:100%;}
.cloudbar ul.services                           { margin:0; padding:0; }
.cloudbar ul.services li                        { float:left; height:35px; line-height:35px; text-align:center; padding: 0 30px; list-style:none outside;}
.cloudbar ul.services li:first-child            { padding:0 5px;}
.cloudbar ul.services li.active                 { background:#333;}
.cloudbar ul.services li:hover                  { background:#444; } 
.cloudbar .red-border							{ border:2px solid red; }
.cloudbar ul.services li.red-border				{ height:31px; line-height:31px; margin-left:-2px; margin-right:-2px; }
@media screen and (max-width : 480px) 		{ 
	.cloudbar .profile 							{ float:none; }	 
	.cloudbar .services li:first-child			{ position:absolute; left:0; top:0; background:#000}
}
