{% for op, action in action_dict.items %}
<div class="modal fade" id="{{ op }}" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content positive area">
            <div class="modal-header">
                <a class="close reset-all" data-dismiss="modal">×</a>
                <h3 class="positive elem">{{ action.name }}</h3>
            </div>
            <div class="modal-body">
                {% if op == "contact" %}
                <div class="form-subject form-area">
                    <label>Subject:</label>
                    <input type="text" class="subject" form="contactForm"></input>
                    <a data-error="empty-subject" class="error-sign snf-exclamation-sign" href="#" rel="tooltip" title="Missing the subject of the e-mail."></a>
                </div>

                <div class="form-body form-area">
                    <label>Body:</label>
                    <textarea name="text" form="contactForm" class="content body"></textarea>
                    <a data-error="empty-body" class="error-sign snf-exclamation-sign" href="#" rel="tooltip" title="Missing the body of the e-mail."></a>
                </div>
                {% endif %}
                <p>You have choosen to <em class="positive elem">{{ op }}</em> the following <em class="num elem positive"></em> items:
                    <a data-error="no-selected" class="error-sign snf-exclamation-sign" href="#" rel="tooltip" title="There are no selected items to complete this action."></a>
                </p>
                <table class="table-selected table table-bordered">
                    <tbody>
                    </tbody>
                </table>
                <a href="" class="btn toggle-more closed">Show All</a>
                <p>Are you sure you want to complete the operation?</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-primary reset-all" data-dismiss="modal">Cancel</a>
                <form method="post" action="{% url admin-actions %}" id="{{ op }}Form">
                    <button type="submit" class="btn btn-primary">OK</button>
                    <input type="hidden" name="op" value="{{ op }}">
                    <input type="hidden" name="ids" value="">
                    <input type="hidden" name="target" value="{{ action.target }}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

