{% load admin_tags %}
<div class="object-anchor" id="{{ type }}-area"></div>
<div class="object-details info-block well {{ rowcls }}">
{% if item_list|length > 0 and type != 'ip_log' %}
<a href="#" class="show-hide-all line-btn"><span>Collapse All</span></a>
{% endif %}
<h3>{{ type|display_list_type }}
{% if item_list|length > 0 and type != 'ip_log' %}
    <span class="label length">Total: {{item_list|length }}</span>
{% endif %}
</h3>
<h6><i>for <b>{{ main_item|repr }}</b></i></h6>
{% if type == 'ip_log' %}
<table>
    <thead>
        <th>IP</th>
        <th>VM</th>
        <th>Network</th>
        <th>User</th>
        <th>Attached date</th>
        <th>Detached date</th>
        <th>State</th>
    </thead>
    <tbody>
{% endif %}

