{% load admin_tags %}

<div class="object-anchor" id="{{ type }}-area"></div>
<div class="object-details info-block well {{ rowcls }}">
{% if association.items|length > 0 and type != 'ip_log' %}
<a href="#" class="show-hide-all line-btn">
    <span class="snf-font-arrow-up"></span>
    <span class="snf-font-arrow-down"></span>
    <span class="txt">Collapse All </span>
    <em>({{ association.items|length }})</em>

</a>
{% endif %}
<h3>
    <span class="snf-details-{{type}}"></span>
    {{ type|display_list_type }}
    <em> of '{{ main_item|repr }}'</em>
</h3>
Excluding {{ association.deleted }} deleted entries,
Showing {{ association.showing }} / {{ association.total }} entries

{% if type == 'ip_log' %}
<table class="table">
    <thead>
        <tr>
            <th>IP</th>
            <th>VM</th>
            <th>Network</th>
            <th>User</th>
            <th>Attached date</th>
            <th>Detached date</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
{% endif %}

