{% load admin_tags %}
{% for user in all %}
{% comment %}
    The data-state-* variables are considered outdated and will be removed in
    future versions.
{% endcomment %}
    <tr data-allow-verify={{ user|check_operation:'verify' }}
        data-op-list={{ user|get_operation_list }}
        id="{{ user.uuid }}">
    <td class="checkbox-column">
        <input type="checkbox">
    </td>
    <td class="name">{{ user.realname }}</td>
    <td class="email">{{ user.email }}</td>
    <td class="state">{{ user|get_state }}</td>
    <td class="date">10/10/10</td>
    <td><a href="{% url admin-details user.uuid %}">Details</a></td>
    <td class="summary">
        <a href="#" class="summary-expand badge">
        <span class="caret"></span>
        </a>
        <dl class="info-summary">
            <dt>UUID:</dt>
                <dd>{{ user.uuid }}</dd>
            <dt>Available Providers:</dt>
                <dd>Shibboleth</dd>
                <dd>Local</dd>
                <dd>Google</dd>
                <dd>Tweeter</dd>
            <dt>Moderated by:</dt>
                <dd>Me!</dd>
        </dl>
    </td>
    </tr>
{% endfor %}
