{% load admin_tags %}

{% with ip=item %}
<div class="object-anchor" id="ip-{{ip.pk}}"></div>
<div class="object-details {{ rowcls }}" data-id="{{ip.pk}}"
    data-type="{{type}}">
    <h4 class="clearfix">
        {% include "admin/_details_h4_lt.html" %}
        <span class="rt">
            <span class="label">ID: {{ip.pk}}</span>
            {% if ip.in_use %}
            <span class="label">VM ID: {{ ip.nic.machine.pk }}</span>
            {% endif %}
            <span class="label">IPv{{ ip.ipversion }}</span>
        </span>
    </h4>
        <div class="tags">
        </div>
    <div class="object-details-content">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details{{ type }}{{ ip.pk }}" data-toggle="tab">Details</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="details{{ type }}{{ ip.pk }}">
                <dl class="dl-horizontal well">
                    <dt>ID</dt><dd>{{ ip.pk }}</dd>
                    <dt>Address</dt><dd>{{ ip.address }}</dd>
                    <dt>Floating</dt><dd>{{ ip.floating_ip}}</dd>
		            <dt>Created</dt><dd>{{ ip.created }} ({{ ip.created|timesince }} ago)</dd>
		            <dt>Updated</dt><dd>{{ ip.updated }} ({{ ip.created|timesince }} ago)</dd>
                    <dt>Floating</dt><dd>{{ ip.floating_ip}}</dd>
                    <dt>Deleted</dt><dd>{{ ip.deleted}}</dd>

                </dl>
            </div>
        </div> <!-- <div class="tab-content"> -->
    </div> <!-- <div class="object-details-content"> -->
    {% include "admin/action_list_horizontal.html" %}
</div> <!-- <div class="object-details {{ rowcls }}"> -->
{% endwith %}

