{% load admin_tags %}

{% with ip_log=item %}
<tr>
    <td>
        {% if ip_log.address|ip_exists %}
            <a href={% url admin-details 'ip' ip_log.address %}>{{ ip_log.address }}</a>
        {% else %}
            {{ ip_log.address }}
        {% endif %}
    </td>
    <td>
        <a href={% url admin-details 'vm' ip_log.server_id %}>{{ ip_log.vm|repr }}</a>
    </td>
    <td>
        <a href={% url admin-details 'network' ip_log.network_id %}>{{ ip_log.network|repr }}</a>
    </td>
    <td>
        <a href={% url admin-details 'user' ip_log.user.uuid %}>{{ ip_log.user|repr }}
    </td>
    <td>
        {{ ip_log.allocated_at }}
    </td>
    <td>
        {{ ip_log.released_at|default:"-" }}
    </td>
    <td>
        {% if ip_log.active %}
        <span class="label label-success">In Use</span>
        {% else %}
        Free
        {% endif %}
    </td>
</tr>
{% endwith %}
