{% load admin_tags %}

{% with network=item %}
<div class="object-anchor" id="network-{{network.pk}}"></div>
<div class="network-details object-details {{ rowcls }}" data-id="{{network.pk}}"
    data-type="{{type}}">
    <h4 class="clearfix">
        {% include "admin/_details_h4_lt.html" %}
        <span class="rt">
	        {{ network|status_label|safe }}
		    <span class="label">ID: {{ network.pk }}</span>
            {% if network.public %}
                <span class="label">PUBLIC</span>
            {% endif %}
        </span>
    </h4>
    <div class="network-details-content object-details-content">
        <ul class="nav nav-tabs">
		    <li class="active"><a href="#network-details{{ network.pk }}" data-toggle="tab">Details</a></li>
        </ul>
         <div class="tab-content">
			<div class="tab-pane active" id="network-details{{ network.pk }}">
				<dl class="dl-horizontal well">
		            <dt>ID</dt><dd>{{ network.pk }}</dd>
		            <dt>Name</dt><dd>{{ network.name|default:"-" }}</dd>
		            <dt>Public</dt><dd>{{ network.public }}</dd>
		            <dt>User ID</dt><dd>{{ network.userid }}</dd>
		            <dt>Created</dt><dd>{{ network.created }} ({{ network.created|timesince }} ago)</dd>
		            <dt>Updated</dt><dd>{{ network.updated }} ({{ network.created|timesince }} ago)</dd>
		            <dt>State</dt><dd>{{ network.get_state_display }} ({{ network.state }})</dd>
		        </dl>
			</div>
		</div>
    </div>
    {% include "admin/action_list_horizontal.html" %}
</div>
{% endwith %}
