{% load admin_tags %}

{% with project=item page='user' %}
<div class="object-anchor" id="project-{{project.uuid}}"></div>
<div class="object-details {{ rowcls }}" data-id="{{project.uuid}}"
    data-type="{{type}}">
    <h4 class="clearfix">
        <div class="lt">
            {% if type != main_type %}
            <a href="{% url admin-details type project.uuid %}" class="snf-search icon-link" title="Details for {{ project|repr }}"></a>
            {% endif %}
            <span class="title">{{ project|repr }}</span>
            <span class="arrow  snf-angle-down"></span>
        </div>
        <div class="rt">
            <span class="label">{{ project.state_display|upper }}</span>
            <span class="label">UUID: {{ project.uuid }}</span>
            {% if project.is_base %}
            <span class="label label-info">
                SYSTEM
            {% else %}
            <span class="label">
                Members: {{ project.members_count }}
            {% endif %}
            </span>
        </div>
    </h4>
    <div class="object-details-content">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#prj-details{{ project.uuid }}" data-toggle="tab">Details</a></li>
            <li><a href="#prj-members{{ project.uuid }}" data-toggle="tab">Members</a></li>
            <li><a href="#prj-policies{{ project.uuid }}" data-toggle="tab">Member Policies</a></li>
            <li><a href="#resources{{ project.uuid }}" data-toggle="tab">Resources</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="prj-details{{ project.uuid }}">
                <dl class="dl-horizontal well">
                    <dt>ID</dt><dd>{{ project.id }}</dd>
                    <dt>UUID</dt><dd>{{ project.uuid }}</dd>
                    <dt>Name</dt><dd>{{ project.realname|default:"(not set)" }}</dd>
                    {% if not project.is_base %}
                        <dt>Owner</dt><dd>{{ project.owner.realname|default:"(not set)" }}</dd>
                        <dt>Homepage url</dt><dd>{{ project.homepage|default:"(not set)" }}</dd>
                    {% endif %}
                    <dt>Description</dt><dd>{{ project.description }}</dd>
                    <dt>Creation date</dt><dd>{{ project.creation_date }}</dd>
                    {% if not project.is_base %}
                        <dt>End date</dt><dd>{{ project.end_date }}</dd>
                    {% endif %}
                </dl>
            </div>
            <div class="tab-pane" id="prj-members{{ project.uuid }}">
		 		<table class="table well">
		            <thead>
		                <td>UUID</td>
		                <td>Name</td>
		                <td>Status</td>
		                <td></td>
		            </thead>
		            <tbody>
		                {% for member in project.members.all %}
		                <tr>
		                    <td>{{ member.uuid }}</td>
		                    <td>{{ member.realname }}</td>
		                    <td>{{ member.status_display|upper }}</td>
                            <td><a href="{% url admin-details page member.email %}">Details</a></td>
		                </tr>
		                {% empty %}
		                <tr>
		                    <td colspan=9>No members available</td>
		                </tr>
		                {% endfor %}
		            </tbody>
		        </table>
            </div>
            <div class="tab-pane" id="prj-policies{{ project.uuid }}">
                <dl class="dl-horizontal well">
                    <dt>Max members</dt><dd>{{ project.limit_on_members_number }}</dd>
                    <dt>Current members</dt><dd>{{ project.members_count }}</dd>
                    <dt>Join policy</dt><dd>{{ project.member_join_policy_display }}</dd>
                    <dt>Leave policy</dt><dd>{{ project.member_leave_policy_display }}</dd>
                </dl>
            </div>
            <div class="tab-pane" id="resources{{ project.uuid }}">
                <dl class="dl-horizontal well">
		 		<table class="table well">
		            <thead>
                        <td></td>
                        {% if not project.is_base %}
                        <td><b>Max per Member</b></td>
                        {% endif %}
                        <td><b>Max per Project</b></td>
                        <td><b>Usage</b></td>
		            </thead>
		            <tbody>
                        {% with stats=project|get_project_stats %}
                            {% for resource_name, values in stats.items %}
                            <tr>
                                <td>{{ resource_name }}</td>
                                {% for value in values %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        {% endwith %}
		            </tbody>
		        </table>
                </dl>
            </div>
        </div>
    </div>
    {% include "admin/action_list_horizontal.html" %}
</div>
{% endwith %}
