{% with project=item page='project' %}
    <tr data-op-list='approve'
        id="{{ project.id }}">
    <td class="checkbox-column">
        <input type="checkbox">
    </td>
    <td class="name">{{ project.realname }}</td>
    <td class="state">{{ project.state_display }}</td>
    <td class="owner">{{ project.owner.realname|default:"None" }}</td>
    <td class="end_date">{{ project.end_date }}</td>
    <td><a href="{% url admin-details page project.id %}">Details</a></td>
    <td class="summary">
        <a href="#" class="summary-expand badge">
        <span class="caret"></span>
        </a>
        <dl class="info-summary">
            <dt>ID</dt><dd>{{ project.id }}</dd>
            <dt>UUID</dt><dd>{{ project.uuid }}</dd>
            <dt>Owner</dt><dd>{{ project.owner.realname|default:"-" }}</dd>
            {% if not project.is_base %}
                <dt>Homepage</dt><dd>{{ project.homepage }}</dd>
            {% endif %}
            <dt>Description:</dt><dd>{{ project.description }}</dd>
            <dt>Creation date</dt><dd>{{ project.creation_date }}</dd>
            <dt>Members</dt>
                <dd>{{ project.members_count }}/{{ project.limit_on_members_number }}</dd>
        </dl>
    </td>
    </tr>
{% endwith %}
