{% load admin_tags %}

{% with user=item %}
<div class="object-anchor" id="user-{{user.uuid}}"></div>
<div class="object-details {{ rowcls }}">
    <h4>
        <span class="title"><a href="{% url admin-details type user.uuid %}">{{ user|repr }}</a></span>
        <span class="badge arrow">&nbsp;</span>
        <span class="label label-primary">{{ user|get_state|upper }}</span>
        <span class="label label-primary">UUID: {{ user.uuid }}</span>
        <span class="label label-primary">{{ user.email }}</span>
    </h4>
        <div class="tags">
        </div>
    <div class="object-details-content">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#details{{ user.uuid }}" data-toggle="tab">Details</a></li>
            <li><a href="#log{{ user.uuid }}" data-toggle="tab">Log</a></li>
            <li><a href="#auth{{ user.uuid }}" data-toggle="tab">Auth Providers</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="details{{ user.uuid }}">
                <dl class="dl-horizontal well">
                    <dt>UUID</dt><dd>{{ user.uuid }}</dd>
                    <dt>Name</dt><dd>{{ user.realname }}</dd>
                    {% if user.is_project_admin %}
                        <dt>PROJECT ADMIN</dt>
                    {% endif %}
                </dl>
            </div>
            <div class="tab-pane" id="log{{ user.uuid }}">
                <dl class="dl-horizontal well">
                    <dt>Signed terms at</dt>
                        <dd>{{ user.date_signed_terms|default:"Never" }}</dd>
                    {% if user|check_state:'verified' %}
                        <dt>Verified at</dt><dd>{{ user.verified_at }}</dd>
                    {% endif %}
                    {% if user|check_state:'moderated' %}
                        <dt>Moderated at</dt><dd>{{ user.moderated_at }}</dd>
                        <dt>Moderation policy</dt><dd>{{ user.accepted_policy }}</dd>
                    {% endif %}
                </dl>
            </div>
            <div class="tab-pane" id="auth{{ user.uuid }}">
                <dl class="dl-horizontal well">
                    <dt>Unused</dt><dd>
                        {% for ap in user.get_available_auth_providers %}
                            {{ ap.module }},
                        {% empty %}
                            None
                        {% endfor %}
                    </dd>
                    <dt>Enabled</dt><dd>
                        {% for ap in user.get_enabled_auth_providers %}
                            {{ ap.module }},
                        {% empty %}
                            None
                        {% endfor %}
                    <dt>Disabled</dt><dd>
                        {% for ap in user.get_disabled_auth_providers %}
                            {{ ap.module }},
                        {% empty %}
                            None
                        {% endfor %}
                    </dd>
                </dl>
            </div>
        </div> <!-- <div class="tab-content"> -->
    </div> <!-- <div class="object-details-content"> -->
    <div class="todo vm-actions clearfix">
        {% include "admin/action_list_horizontal.html" %}
    </div>
</div> <!-- <div class="object-details {{ rowcls }}"> -->
{% endwith %}
