{% load admin_tags %}
{% with user=item page='user' %}
    <tr data-op-list={{ user|get_user_operation_list }}
        id="{{ user.uuid }}">
    <td class="checkbox-column">
        <input type="checkbox">
    </td>
    <td class="name">{{ user.realname }}</td>
    <td class="email">{{ user.email }}</td>
    <td class="state">{{ user|get_state }}</td>
    <td><a href="{% url admin-details page user.uuid %}">Details</a></td>
    <td class="summary">
        <a href="#" class="summary-expand badge">
        <span class="caret"></span>
        </a>
        <dl class="info-summary">
            <dt>UUID:</dt>
                <dd>{{ user.uuid }}</dd>
            <dt>Enabled Providers:</dt>
                {% for prov in user.get_enabled_auth_providers %}
                <dd>{{ prov.module }},</dd>
                {% endfor%}
            <dt>Moderation policy</dt><dd>{{ user.accepted_policy }}</dd>
        </dl>
    </td>
    </tr>
{% endwith %}
