<div class="vm-suspend-form vm-action {% if vm.suspended %}inactive{% endif %}">
{% if vm.suspended %}
<form method="post" action="{% url admin-suspend-vm-release vm_id=vm.pk %}">
  <input type="hidden" name="token" value="{{ token }}" />
  <!-- <input type="submit" value="RELEASE SUSPENSION" /> -->
  <button type="submit" class="btn btn-warning">Release Suspension</button>
</form>
{% else %}
<form method="post" action="{% url admin-suspend-vm vm_id=vm.pk %}">
  <input type="hidden" name="token" value="{{ token }}" />
  <!-- <input type="submit" value="SUSPEND" /> -->
  <button type="submit" class="btn btn-warning">Suspend</button>
</form>
{% endif %}
</div>
<div class="vm-shutdown-form vm-action {% if vm.operstate == 'STOPPED' %}inactive{% endif %}">
{% if vm.operstate == 'STARTED' %}
<form method="post" action="{% url admin-vm-shutdown vm_id=vm.pk %}">
  <input type="hidden" name="token" value="{{ token }}" />
  <!-- <input type="submit" value="SHUTDOWN" /> -->
  <button type="submit" class="btn btn-danger">Shutdown</button>
</form>
{% endif %}
{% if vm.operstate == 'STOPPED' %}
<form method="post" action="{% url admin-vm-start vm_id=vm.pk %}">
  <input type="hidden" name="token" value="{{ token }}" />
  <!-- <input type="submit" value="START" /> -->
  <button type="submit" class="btn btn-success">Start</button>
</form>
{% endif %}
</div>
