{% extends "admin/base.html" %}
{% load admin_tags %}


{% block content %}

    {% block main-item-details %}

        {# Start of the decoration of main item #}
        {% block main-item-head %}
            {% include "admin/_base_main_item_head.html" %}
        {% endblock %}

        {# This is the section for the item for which we hare requested details #}
        {% block main-item %}
            {% include main_type|get_details_template with item=main_item type=main_type %}
        {% endblock %}

        {# End of the decoration of main item #}
        {% block main-item-tail %}
            {% include "admin/_base_main_item_tail.html" %}
        {% endblock %}

    {% endblock %}

    {# This is a list of associations for this item #}
    {% block item-associations-list %}
        {% for item_list, type, action_dict in associations_list %}

            {# Seperator for the start of the list #}
            {% block item-list-head %}
                {% include "admin/_base_list_head.html" %}
            {% endblock item-list-head %}

            {# This is an item list for each association #}
            {% block item-list %}
                {% for item in item_list %}

	                <!-- {% cycle 'row1' 'row2' as rowcls %}  -->
                    {# Details for an item in the list #}
                    {% block item-details %}
                        {% include type|get_details_template %}
                    {% endblock item-details %}
                {% empty %}
                    <p>No items in the list</p>
                {% endfor %}
            {% endblock item-list %}

            {# Seperator for the end of the list #}
            {% block item-list-tail %}
                {% include "admin/_base_list_tail.html" %}
            {% endblock item-list-tail %}

        {% empty %}
        <p>No associations for this item</p>
        {% endfor %}
    {% endblock item-associations-list %}


{% endblock content %}
