<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Synnefo admin</title>
    <link href="{{ ADMIN_MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ ADMIN_MEDIA_URL }}css/icon-fonts.css" rel="stylesheet">
    <link href="{{ ADMIN_MEDIA_URL }}DataTables/media/css/jquery.dataTables.css" rel="stylesheet">
    <link href="{{ ADMIN_MEDIA_URL }}css/extra.css" rel="stylesheet">
    <!--
    <link href="{{ ADMIN_MEDIA_URL }}css/ie7.css" rel="stylesheet"> -->
  </head>

  <body>
    {% block nav-bar %}
    <div class="navbar main-nav navbar-fixed-top">
      <ul class="nav navbar-nav navbar-left">
          <li><a href="/admin/" title="Homepage" class="home-icon"><img src="{{ BRANDING_IMAGE_MEDIA_URL }}cloudbar_home.png" alt="S" /></a></li>
      {% for label, type in item_lists %}
      <li
      {% if type == main_type or type = item_type %}class="active"{% endif %}
      ><a href="{% url admin-list type %}">{{label}}</a></li>
      {% endfor %}
        <li class="dropdown">
          <a href="#"  data-toggle="dropdown">Reports
          <span class="snf-font-admin snf-angle-down arrow"></span></a>
          <ul class="dropdown-menu align-left">
            <li><a href="{% url admin-stats %}">Statistics</a></li>
            <li><a href="{% url admin-charts %}">Demo Charts</a></li>
            <li><a href="">Another Category</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" data-toggle="dropdown">
                {{ user.access.user.name }}
              <span class="snf-font-admin snf-angle-down arrow"></span>
            </a>
            <ul class="dropdown-menu align-right">
              <li>
                <a href="{% url admin-logout %}" class="sign-out"><span class="snf-font-admin snf-sign-out"></span>Sign Out</a>
              </li>
            </ul>
        </ul>
    </div> <!-- /nav-main -->
    {% endblock nav-bar %}

    {% block subnav-bar %}
    {% endblock subnav-bar %}

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        <button class="close" data-dismiss="alert">×</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block main-area %}
    <div class="container container-solid">
      {% block content %}
      {% endblock %}
    </div>
    {% endblock main-area %}
    <div class="notify">
      <div class="container">
      <div class="btns">
          <a href="" class="custom-btn close-notifications" data-karma="dark">
            <span>Close</span>
          </a>
          <a href="" class="custom-btn clear-notifications" data-karma="dark">
            <span>Clear all</span>
          </a>
      </div>
      </div>
    </div>
    <script src="{{ MEDIA_URL }}admin/js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}admin/js/bootstrap.js"></script>

    {% block custom-javascript %}
    {% endblock %}

    <script src="{{ MEDIA_URL }}admin/js/common.js"></script>

  </body>
</html>
