{% extends "admin/base.html" %}

{% block content %}
        <div class="well well-lg">
          <div class="btn-group filters">
            <a href="" class="btn">Active<span class="badge badge-info">{{ active }}</span></a>
            <a href="" class="btn">Inactive<span class="badge badge-info">??</span></a>
            <a href="" class="btn">Not Moderated<span class="badge badge-info">??</span></a>
            <a href="" class="btn">Not Verified<span class="badge badge-info">{{ unverified }}</span></a>
          </div>
        </div>
    {% block filter-list %}
        {% comment %}
        {% endcomment %}
    {% endblock filter-list %}

    {% block action-list %}
        {% include "admin/_index_action_list.html" %}
    {% endblock action-list %}

<div class="row">
    <table id="items-table" class="table table-striped">
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
               <!--  <th>Column 4</th>
                <th>Column 5</th>
                <th>Column 6</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr> -->
        </tbody>
    </table>
</div>

<!-- Modals -->
{% block action-modals %}
    {% include "admin/_action_modals.html" %}
{% endblock action-modals %}
{% endblock %}

