<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ BRANDING_FAVICON_URL }}" />
    <title>{{BRANDING_SERVICE_NAME}} admin</title>
    <link href="{{ ADMIN_MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ ADMIN_MEDIA_URL }}css/icon-fonts.css" rel="stylesheet">
    <link href="{{ ADMIN_MEDIA_URL }}css/jquery.dataTables.css" rel="stylesheet">
    <link href="{{ ADMIN_MEDIA_URL }}css/global.css" rel="stylesheet">
    <!--
    <link href="{{ ADMIN_MEDIA_URL }}css/ie7.css" rel="stylesheet"> -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,300,600' rel='stylesheet' type='text/css'>
  </head>

  <body>
    {% block nav-bar %}
    <div class="navbar navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav navbar-left">
          <li><a href="{% url admin-home %}" title="Homepage" class="home-icon"><img src="{{ BRANDING_IMAGE_MEDIA_URL }}cloudbar_home.png" alt="S" /></a></li>
      {% for view, view_dict in views.items %}
      <li
      {% if item_type == view or main_type == view %}class="active"{% endif %}
      ><a href="{% url admin-list view %}">{{ view_dict.label }}</a></li>
      {% endfor %}
        <li class="has-dropdown">
          <a href="#">Reports
          <span class="snf-angle-down arrow"></span></a>
          <ul class="dropdown-menu align-left">
            <li><a href="{% url admin-charts %}">Charts</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <li class="has-dropdown">
            <a href="">
                {{ user.access.user.name }}
              <span class="snf-angle-down arrow"></span>
            </a>
            <ul class="dropdown-menu align-right">
              <li>
                <a href="{% url admin-logout %}" class="sign-out"><span class="snf-sign-out"></span>Sign Out</a>
              </li>
            </ul>
        </ul>
    </div> <!-- /nav-main -->
    {% endblock nav-bar %}

    {% block subnav-bar %}
    {% endblock subnav-bar %}

    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        <button class="close" data-dismiss="alert">×</button>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% block main-area %}
    <div class="container container-solid">
      {% block content %}
      {% endblock %}
    </div>
    {% endblock main-area %}
    <div class="notify">
      <a href="" class="close-notify close-notifications" title="Close notification area"><span class="snf-remove"></span></a>
      <div class="container">
      </div>
    </div>
    <script src="{{ MEDIA_URL }}admin/js/jquery.js"></script>
    <script src="{{ MEDIA_URL }}admin/js/bootstrap.js"></script>
    <script src="{{ MEDIA_URL }}admin/js/underscore.js"></script>

    {% block custom-javascript %}
    {% endblock %}

    <script src="{{ MEDIA_URL }}admin/js/common.js"></script>

  </body>
</html>
