{% extends "admin/base.html" %}

{% block content %}
    {% block filter-list %}
        {% include "admin/filter_list.html" %}
    {% endblock filter-list %}

    {% block action-list %}
        {% include "admin/action_list_vertical.html" %}
    {% endblock action-list %}

    {% block table-area %}
        {% include "admin/table.html" %}
    {% endblock %}

    <!-- Modals -->
    {% block action-modals %}
        {% include "admin/_action_modals.html" %}
    {% endblock action-modals %}

{% endblock %}
