{% extends "admin/base.html" %}

{% block content %}
<div class="charts">
<div class="sidebar">
    <a href="" data-chart="resource-usage" class="active" style="display: block"><span>Resource Usage</span></a>
    <a href="" data-chart="temp" style="display: block"><span>User status and providers</span></a>
    <a href="" data-chart="vm-status" style="display: block"><span>VM status</span></a>
    <a href="" data-chart="ip-status" style="display: block"><span>IP status</span></a>
    <a href="" data-chart="disk-templates" style="display: block"><span>Disk templates</span></a>
    <a href="" data-chart="images" style="display: block"><span>Images</span></a>
</div>
<div class="info well">
    <div id="infra-usage" class="chart" data-chart="resource-usage" style="display: block"></div>
    <div id="resource-usage" class="chart" data-chart="resource-usage" style="display: block"></div>
    <div id="provider-status" class="chart" data-chart="temp"></div>
    <div id="provider-status-reversed" class="chart" data-chart="temp"></div>
    <div id="provider-exclusiveness" class="chart" data-chart="temp"></div>
    <div id="server-status" class="chart" data-chart="vm-status"></div>
    <div id="ip-pool-status" class="chart" data-chart="ip-status"></div>
    <div id="disk-templates" class="chart" data-chart="disk-templates"></div>
    <div id="images" class="chart" data-chart="images"></div>
</div>
</div>

{% endblock %}

{% block custom-javascript %}
<script src="{{ MEDIA_URL }}admin/Highstock/js/highstock.src.js"></script>
<script src="{{ MEDIA_URL }}admin/Highcharts/js/modules/drilldown.js"></script>
<script src="{{ MEDIA_URL }}admin/js/charts.js"></script>
<script src="{{ MEDIA_URL }}admin/js/charts_common.js"></script>
{% endblock %}



