{% extends "admin/base.html" %}

{% block custom-css %}
<link href="{{ ADMIN_MEDIA_URL }}css/c3.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block nav-reports %}
class="has-dropdown active"
{% endblock %}

{% block nav-charts %}
class="active"
{% endblock %}

{% block content %}
<div class="charts" id="charts"
    data-astakos-stats={% url admin-stats-component-details 'astakos' %}
    data-cyclades-stats={% url admin-stats-component-details 'cyclades' %}>
<div class="sidebar actionbar">
    <div id="sticker">
        <a href="" data-chart="resource-usage" class="active"><span>Resource Usage</span></a>
        <a href="" data-chart="temp"><span>User status and providers</span></a>
        <a href="" data-chart="vm-status"><span>VM status</span></a>
        <a href="" data-chart="ip-status"><span>IP status</span></a>
        <a href="" data-chart="disk-templates"><span>Disk templates</span></a>
        <a href="" data-chart="images"><span>Images</span></a>
    </div>
        &nbsp;
</div>
<div class="info well">
    <div id="infra-usage-wrap" class="chart" data-chart="resource-usage">
        <h3>Infra usage</h3>
        <div id="infra-usage"></div>
    </div>
    <div id="resource-usage" class="chart" data-chart="resource-usage"></div>
    <div id="provider-status-wrap" class="chart" data-chart="temp">
        <h3>Providers per user status<h3>
        <div id="provider-status"></div>
    </div>
    <div id="provider-status-reversed-wrap" class="chart" data-chart="temp">
        <h3>Status per user provider</h3>
        <div id="provider-status-reversed"></div>
    </div>
    <div id="provider-exclusiveness-wrap" class="chart" data-chart="temp">
        <h3>Provider exclusiveness</h3>
        <div id="provider-exclusiveness"></div>
    </div>
    <div id="server-status-wrap" class="chart" data-chart="vm-status">
        <h3>Server status</h3>
        <div id="server-status"></div>
    </div>
    <div id="ip-pool-status-wrap" class="chart" data-chart="ip-status">
        <h3>IP pool status</h3>
        <div id="ip-pool-status"></div>
    </div>
    <div id="disk-templates-wrap" class="chart" data-chart="disk-templates">
        <h3>Disk templates</h3>
        <div id="disk-templates"></div>
    </div>
    <div id="images-wrap" class="chart" data-chart="images">
        <h3>Images</h3>
        <div id="images"></div>
    </div>
</div>
</div>
{% endblock %}

{% block custom-javascript %}
<!-- Load d3.js and c3.js -->
<script src="{{ ADMIN_MEDIA_URL }}js/d3.v3.min.js"></script>
<!--Switch to c3.min at some point-->
<script src="{{ ADMIN_MEDIA_URL }}js/c3.js"></script>

<script src="{{ ADMIN_MEDIA_URL }}js/charts.js"></script>
<script src="{{ ADMIN_MEDIA_URL }}js/charts_common.js"></script>
{% endblock %}



