{% extends "admin/base.html" %}

{% block content %}
<div id="pie-drilldown" class="chart"></div>
<div id="pie-simple" class="chart"></div>
<div id="timeline1" class="chart"></div>
<div id="timeline2" class="chart"></div>
<div id="timeline3" class="chart"></div>
<div id="timeline4" class="chart"></div>
<div id="columnchart" class="chart"></div>
{% endblock %}

{% block custom-javascript %}
<script src="{{ MEDIA_URL }}admin/Highstock/js/highstock.src.js"></script>
<script src="{{ MEDIA_URL }}admin/Highcharts/js/modules/drilldown.js"></script>
<script src="{{ MEDIA_URL }}admin/js/charts.js"></script>
{% endblock %}


