{% load admin_tags %}
<div class="instructions">
    <a href="" class="toggle-instructions line-btn">
        <span>Instructions</span>
        <span class="snf-font-admin snf-angle-down arrow"></span>
    </a>
    <div class="content content-area">
        The list below presents the identifiers that correspond to the filters
        of <b>Standard View</b>, as well as their appropriate values:
        <dl class="dl-horizontal">
            {% for filter in filter_dict %}
                <dt>{{ filter.name }}</dt>
                <dd>
                {% if filter|get_filter_type == 'choice' or filter|get_filter_type == 'multichoice' %}
                    {{ filter|default_value }}, {{ filter|choices|join:", "|title }}
                {% elif filter|get_filter_type == 'bool' %}
                    -, True, False
                {% else %}
                    Free text
                {% endif %}
                </dd>
            {% endfor %}
        </dl>
        </br>
        <p class="clarifications">For detailed instructions please consult the "Tips and Tricks".</p>
    </div>
</div>
