<div class=" filter filter-dropdown">
	<div class="dropdown" data-filter="{{ filter.name }}">
		<a class="" href="#" data-toggle="dropdown">
			<span class="category">{{ filter.label }}:</span>
			<span class="selected-value">All</span>
			<span class="snf-angle-down arrow"></span>
		</a>
		<ul class="dropdown-menu choices">
			<li class="active reset"><a href="#"><span class="selection-indicator snf-checkbox-checked">All</a></li>
			<li class="divider"></li>
			{% for choice,_ in filter.field.choices %}
			<li><a href="#"><span class="selection-indicator snf-checkbox-unchecked"></span>{{ choice }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
