{% extends "admin/base.html" %}

{% block content %}
        <div class="btn-toolbar">
          <div class="btn-group filters">
            <a href="" class="btn">Active<span class="badge badge-info">{{ active }}</span></a>
            <a href="" class="btn">Inactive<span class="badge badge-info">??</span></a>
            <a href="" class="btn">Not Moderated<span class="badge badge-info">??</span></a>
            <a href="" class="btn">Not Verified<span class="badge badge-info">{{ unverified }}</span></a>
          </div>
        </div>
        <div class="sidebar subnav">
          <ul class="nav nav-pills">
            <li>
             <a data-target="#activate-confirm" data-action="accept" data-toggle="modal" disabled>Activate</a>
            </li>
            <li>
              <a data-target="#verify-confirm" data-action="verify" data-toggle="modal" disabled>Verify</a>
            </li>
            <li>
             <a data-target="#deactivate-confirm" data-action="deactivate" data-toggle="modal" disabled>Deactivate</a>
            </li>
            <li>
              <a data-target="#contact" data-action="contact" data-toggle="modal" disabled>Send e-mail</a>
            </li>
          </ul>
        </div>

      <div class="info-block well info">
        <table class="table table-striped table-sorted table-items" id="table-items-total">
          <thead>
            <tr>
              <th class="checkbox-column select-all" data-sorter="false">
                    <input type="checkbox">
                  <div class="badge badge-info selected-num">0</div>
              </th>
              <th>Full Name</th>
              <th>E-mail</th>
              <th>Status</th>
              <th>Activation</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% include "admin/_index_iterate_users.html" %}
          </tbody>
        </table>
      </div>

<!-- Modals -->
<div class="modal fade in hide" id="activate-confirm">
  <div class="modal-header positive area">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Activate Accounts</h3>
  </div>
  <div class="modal-body">
    <p>You have choosen to <em class="positive elem">activate</em> <em class="num elem positive"></em> accounts:</p>
    <table class="table-selected table table-bordered">
      <tbody>
      </tbody>
    </table>
    <p>Are you sure you want to complete the activation?</p>
  </div>
  <div class="modal-footer positive area">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <form method="post" action="{% url admin-actions %}">
      <button type="submit" class="btn">Activate</button>
      <input type="hidden" name="type" value="accept">
      <input type="hidden" name="uuids" value="">
      <input type="hidden" name="resource" value="account">
    </form>
  </div>
</div>


<div class="modal fade in hide" id="reject-confirm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Reject Accounts</h3>
  </div>
  <div class="modal-body">
    <p>You have choosen to <em>reject</em> the following accounts:</p>
    <ul>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
    </ul>
    <p>Are you sure you want to complete the rejection?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <form method="post" action="{% url admin-actions %}">
      <button type="submit" class="btn">Reject</button>
      <input type="hidden" name="type" value="reject">
      <input type="hidden" name="uuids" value="">
      <input type="hidden" name="resource" value="account">
    </form>
  </div>
</div>


<div class="modal fade in hide" id="deactivate-confirm">
  <div class="modal-header dangerous area">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Deactivate Accounts</h3>
  </div>
  <div class="modal-body">
    <p>You have choosen to <em class="dangerous elem">deactivate</em> <em class="num dangerous elem"></em> accounts:</p>
    <p>Are you sure you want to complete the deactivation?</p>
    <table class="table-selected table table-bordered">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="modal-footer dangerous area">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <form method="post" action="{% url admin-actions %}">
      <button type="submit" class="btn">Deactivate</button>
      <input type="hidden" name="type" value="deactivate">
      <input type="hidden" name="uuids" value="">
      <input type="hidden" name="resource" value="account">
    </form>
  </div>
</div>

<div class="modal fade in hide" id="verify-confirm">
  <div class="modal-header positive area">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Verify Accounts</h3>
  </div>
  <div class="modal-body">
    <p>You have choosen to <em class="positive elem">verify</em> <em class="num positive elem"></em> accounts:</p>
   <table class="table-selected table table-bordered">
      <tbody>
      </tbody>
    </table>
    <p>Are you sure you want to complete the verification?</p>
  </div>
  <div class="modal-footer positive area">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <form method="post" action="{% url admin-actions %}">
      <button type="submit" class="btn">Verify</button>
      <input type="hidden" name="type" value="verify">
       <input type="hidden" name="uuids" value="">
      <input type="hidden" name="resource" value="account">
    </form>
  </div>
</div>

<div class="modal fade in hide" id="contact">
  <div class="modal-header neutral area">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Contact by e-mail</h3>
  </div>
  <div class="modal-body">
    <label>Subject:</label><input type="text" class="subject" form="contactForm"></input><span class="error"></span>
    <label>Content:</label><textarea name="text" form="contactForm" class="content"></textarea><span class="error"></span>
    <p>You have choosen to <em class="neutral elem">contact by e-mail</em> with <em class="num neutral elem"></em> users:</p>
    <table class="table-selected table table-bordered">
     <tbody>
     </tbody>
    </table>
  </div>
 <div class="modal-footer neutral area">
<form method="post" action="{% url admin-actions %}" id="contactForm">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <button type="submit" class="btn">Send</button>
    <input type="hidden" name="type" value="contact">
    <input type="hidden" name="uuids" value="">
    <input type="hidden" name="resource" value="account">
</form>
  </div>
</div>
{% endblock %}
