<div class="modal fade" id="massive-actions-warning" data-backdrop="static" data-keyboard="false" data-karma="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content area">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3 class="elem">Select All Items</h3>
            </div>
            <div class="modal-body">
            <!--  <div class="progress-area"><img src="{{ ADMIN_MEDIA_URL }}/img/ajax-loader.gif"></div> -->
                <p>You have chosen to select all items that meet the criteria of the filters.</p>
                <p>This might take some time.</p>
                <p class="progress-area">Please wait...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="custom-btn cancel" data-dismiss="modal"><span>Cancel</span></a>
                <a href="#" class="custom-btn select-all-confirm" data-karma="dark"><span>Select all</span></a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="clear-all-warning" data-backdrop="static" data-keyboard="false" data-karma="dark">
    <div class="modal-dialog modal-md">
        <div class="modal-content area">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3 class="elem">Clear All Items</h3>
            </div>
            <div class="modal-body">
            <!--  <div class="progress-area"><img src="{{ ADMIN_MEDIA_URL }}/img/ajax-loader.gif"></div> -->
                <p>You have chosen to clear all your selections.</p>
                <p class="progress-area">Please wait...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="custom-btn cancel" data-dismiss="modal"><span>Cancel</span></a>
                <a href="#" class="custom-btn clear-all-confirm" data-dismiss="modal" data-karma="dark"><span>Clear all</span></a>
            </div>
        </div>
    </div>
</div>
