{% load admin_tags %}
<div class="navbar sub-nav navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav navbar-left">
      <!-- For main item -->
        <li><a href="#{{ main_type }}-{{ main_item|id }}" class="link-to-anchor">
            {{ main_type|title }}: <i>{{ main_item|repr }}</i></a>
        </li>
    {% for association in associations_list %}
    {% if association.items %}
      <li class="has-dropdown">
      <a href="#">
          {{ association.type|display_list_type }}
          <span class="snf-angle-down arrow"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#{{ association.type }}-area" class="link-to-anchor">All</a></li>
            <li class="divider"></li>

            {% if association.type != 'ip_log' %}
            {% for item in association.items %}
            <li><a href="#{{ association.type }}-{{ item|id }}" class="link-to-anchor">{{ item|repr }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
</div> <!-- /sub-nav -->
