<div class="custom-buttons bottom">
    <a href="" id="toggle-notifications" title="Open/Close notifications" class="select line-btn" data-karma="neutral" data-caution="none">
        <span class="snf-bell-1"></span>
    </a>
    <a href="" class="line-btn shortcuts-btn">
	    <span data-container="body" data-toggle="popover" data-html="true" data-placement="right" data-content='{% include "admin/tips.html" %}'>
            <i class="snf-book-2 book-icon"></i>
            Tips and Tricks&nbsp;
        </span>
    </a>
</div>

