{% load admin_tags %}
<div class="panel panel-default">
	<h2 class="panel-heading">Shortcuts</h2>
	<dl class="dl-horizontal shortcuts panel-body">
		<dt><span class="key">i</span></dt>
		<dd>Open/close the windowthat contains information regarding the state of the actions.</dd>
		<dt><span class="key">esc</span></dt><dd>Close confirmation window.</dd>
		<dt><span class="key">shift</span> + <span class="key">click</span></dt>
		<dd>Order the contents of the table by selecting multiple columns.</dd>
	</dl>

	{% comment %}
	Show filter tips only in pages that actually have filters
	{% endcomment %}
	{% if filter_dict %}
	<h2 class="panel-heading">Compact Filters View</h2>
	<div class="panel-body">
		<p>Each filter has an identifier that can be used in <b>Compact Filters View</b>.</br>
		The identifiers for the filters at the top of this page are:</br>
		<b>
			{% for filter in filter_dict %}
				{{ filter.name }}{% if forloop.last %}.{% else %}, {% endif %}
			{% endfor %}
		</b>
		</p>
		<h3>Examples</h3>
		<dl class="filters-examples">
			<dt>Search for the keyword "John" in the most common text fields of the <b>User model</b>.</dt>
			<dd><span class="highlight">user:John</span></dd>
			<dd class="divider"></dd>
      			<dt>Search for the keywords "John" and "Doe" in the most common text fields of the <b>User model</b> and return the conjuction <b>(logical AND)</b> of their results.</dt>
			<dd><span class="highlight">user:John Doe</span></dd>
			<dd><span class="highlight">user: John Doe</span></dd>
			<dd class="divider"></dd>
			<dt>Search for the keyword "John" in the <b>first_name</b> field of <b>User</b> and "Doe" in the <b>last_name</b> field, and return the conjuction of their results.</dt>
			<dd><span class="highlight">user:first_name=John last_name=Doe</span></dd>
			<dd class="divider"></dd>
			<dt>Search for the keywords "John" and "Doe" but also limit the results by filtering the users that:</br>
			- have status "Pending Moderation" <b>OR</b> "Active"</br>
			- have VMs whose status is "Started"</br>
			- have IPs that contain the number ".27"</br>
			</dt>
			<dd><span class="highlight">user:John Doe status:pending moderation,active vm:operstate=started ip:.27</span></dd>
			<dd class="divider"></dd>
		</dl>
		<dl class="notes dl-horizontal">
			<dt>Note 1:</dt>
			<dd>You can also experiment with Compact View by switching to and from Standard View.</dd>
			<dt>Note 2:</dt>
			<dd>For the time being, you can find more model field names by reading the <b>models.py files of Cyclades/Astakos</b>.</dd>
		</dl>
	</div>
	{% endif %}
</div>
