<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Synnefo admin</title>
    <!-- <link href="../../static/bootstrap-3.1.1/css/bootstrap.css" rel="stylesheet"> -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link href="../../static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../../static/css/extra.css" rel="stylesheet">
    <link href="../../static/css/users.css" rel="stylesheet">
    <style>
    </style>
  </head>
  
<body>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span7">
        <h1>
          <a href="#">Synnefo Admin</a>
          <small>/ users</small>
        </h1>
      </div>
      <div class="span5">
        <form class="form-horizontal account-form" method="get" action=".">
          <input type="text" class="input-medium search-query" name="account">
          <button type="submit" class="btn">View account</button>
        </form>
      </div>
    </div>

    <!-- The content is placed inside div.messages -->
    <div class="messages cleafix row-fuild">
      <div class="subnav">
          <ul class="nav nav-pills filters">
            <li>
                <a href="" data-state="all" class="current">All<span class="badge badge-info">10.000</span></a>
            </li>
            <li>
                <a href="" data-state="inactive" class="current">Inactive<span class="badge badge-info">2.000</span></a>
            </li>
            <li>
              <a href="" data-state="verified" class="current">Verified<span class="badge badge-info">150</span></a>
            </li>
            <li>
              <a href="" data-state="active" class="current">Active<span class="badge badge-info">8.000</span></a>
            </li>
            <li>
              <a href="" data-state="selected" class="selected">Selected<span class="badge badge-info">0</span></a>
            </li>
          </ul>
        </div>
        <div class="sidebar subnav">
          <ul class="nav nav-pills">
            <li>
             <a data-target="#activate-confirm" class="activate" data-toggle="modal">Activate</a>
            </li>
            <li>
              <a data-target="#reject-confirm" class="reject" data-toggle="modal">Reject</a>
            </li>
            <li>
              <a data-target="#verify-confirm" class="verify" data-toggle="modal">Verify</a>
            </li>
            <li>
              <a data-target="#email" class="email" data-toggle="modal">Contact</a>
            </li>
          </ul>
        </div>
      <div class="info-block well info">
        <table class="table table-striped table-sorted table-users">
        <thead>
          <tr>
            <th class="checkbox-column" data-sorter="false">
               <div class="checkbox">
                  <label>
                    <input type="checkbox">Select all?
                  </label>
                </div>
            </th> 
            <th>Full Name<span class="caret"></span></th>
            <th>E-mail<span class="caret"></span></th>
            <th>Account State<span class="caret"></span></th>
            <th>Suspended VMs<span class="caret"></span></th>
          </tr>
        </thead>
         <tr data-state="inactive">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>Alexoulinaki :P</td>
          <td>yio@mail.com</td>
          <td>Inactive</td>
          <td>No</td>
        </tr>
        <tr data-state="verified">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>Georgios. Papadakis</td>
          <td>giorgios@mail.ntua.gr</td>
          <td>Verified</td>
          <td>No</td>
        </tr>
        <tr data-state="active">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>Athina Christina Lykogianni Bekakou</td>
          <td>athinabek@admin.grnet.gr</td>
          <td>Active</td>
          <td>Yes</td>
        </tr>
        <tr data-state="inactive">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>G. Papadakis</td>
          <td>giorgios@mail.com</td>
          <td>Inactive</td>
          <td>No</td>
        </tr>
        <tr data-state="verified">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>Georgios. Papadakis</td>
          <td>giorgios@mail.ntua.gr</td>
          <td>Verified</td>
          <td>No</td>
        </tr>
        <tr data-state="active">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>Athina Christina Lykogianni Bekakou</td>
          <td>athinabek@admin.grnet.gr</td>
          <td>Active</td>
          <td>Yes</td>
        </tr>
        <tr data-state="inactive">
          <td class="checkbox-column">
            <div class="checkbox">
                <label>
                  <input type="checkbox">
                </label>
            </div>
          </td>
          <td>G. Papadakis</td>
          <td>giorgios@mail.com</td>
          <td>Inactive</td>
          <td>No</td>
        </tr>
        <tr data-state="verified">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>Georgios. Papadakis</td>
          <td>giorgios@mail.ntua.gr</td>
          <td>Verified</td>
          <td>No</td>
        </tr>
        <tr data-state="active">
          <td class="checkbox-column">
              <input type="checkbox">
          </td>
          <td>Athina Christina Lykogianni Bekakou</td>
          <td>athinabek@admin.grnet.gr</td>
          <td>Active</td>
          <td>Yes</td>
        </tr>
        </table>
      </div>
    </div>
    </div>


<!-- Modals -->
<div class="modal fade in hide" id="activate-confirm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Activate Accounts</h3>
  </div>
  <div class="modal-body">
    <p>Hou have choosen to <em>activate</em> the accounts of the follwing users:</p>
    <ul>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
    </ul>
    <p>Are you sure you want to complete the activation?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Cancel</a>
    <a href="#" class="btn">Activate</a>
  </div>
</div>

<div class="modal fade in hide" id="reject-confirm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Reject Accounts</h3>
  </div>
  <div class="modal-body">
    <p>Hou have choosen to <em>reject</em> the following accounts:</p>
    <ul>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
      <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>

    </ul>
    <p>Are you sure you want to complete the rejection?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Cancel</a>
    <a href="#" class="btn">Reject</a>
  </div>
</div>


<div class="modal fade in hide" id="verify-confirm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Verify Accounts</h3>
  </div>
  <div class="modal-body">
    <p>Hou have choosen to <em>verify</em> the following accounts:</p>
    <ul>
       <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
    </ul>
    <p>Are you sure you want to complete the verification?</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Cancel</a>
    <a href="#" class="btn">Verify</a>
  </div>
</div>

<div class="modal fade in hide" id="email">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Contact by e-mail</h3>
  </div>
  <div class="modal-body">
    <p>Hou have choosen to <em>contact by e-mail</em> with the following users:</p>
    <ul>
       <li><span class="name">G.Papadakis</span><span class="email">giorgos@mail.com</span></li>
    </ul>
    <p>Text...</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Cancel</a>
    <a href="#" class="btn">Send</a>
  </div>
</div>


  <script src="../../static/js/jquery.js"></script>
  <!-- <script src="../../static/bootstrap-3.1.1/js/bootstrap.js"></script> -->
  <script src="../../static/js/bootstrap.js"></script>
  <script src="../../static/js/jquery.tablesorter.js"></script>
  <script src="../../static/js/common.js"></script> 
  <script src="../../static/js/users.js"></script> 
</body>
</html>
