{% extends "admin/base_index.html" %}

{% comment %}
{% block table-header %}
<thead>
<tr>
    <th class="checkbox-column select-all" data-sorter="false">
        <input type="checkbox">
        <div class="badge badge-info selected-num">0</div>
    </th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th></th>
    <th></th>
</tr>
</thead>
{% endblock %}
{% endcomment %}

{% block table-area %}
{% with resource='user' %}
<div class="row">
    <table id="items-table" class="table table-striped"
        data-url="{% url admin-json resource %}" data-server-side=>
        <thead>
            <tr>
                <th>Column 1</th>
                <th>Column 2</th>
                <th>Column 3</th>
                <th>Column 4</th>
                <th>Column 5</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr> -->
        </tbody>
    </table>
</div>
{% endwith %}
{% endblock %}

