{% extends "admin/base_index.html" %}

{% comment %}
{% block table-header %}
<thead>
<tr>
    <th class="checkbox-column select-all" data-sorter="false">
        <input type="checkbox">
        <div class="badge badge-info selected-num">0</div>
    </th>
    <th>Name</th>
    <th>Email</th>
    <th>Status</th>
    <th></th>
    <th></th>
</tr>
</thead>
{% endblock %}
{% endcomment %}

{% block table-area %}
{% with resource='user' %}
<table class="table table-striped table-items" id="table-items-total" data-url="{% url admin-json resource %}" data-server-side="" data-content= {{ item_type }}>
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
            <th>Column 5</th>
            <th>Details</th>
            <th>Summary</th>
        </tr>
    </thead>

</table>
{% endwith %}
{% endblock %}

