<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{{ title|default:"Synnefo Admin" }}</title>
  <link rel="stylesheet" href="/admin/static/bootstrap.css">
  <script src="/admin/static/jquery.js"></script>
  <script src="/admin/static/jquery.tablesorter.js"></script>
  <script src="/admin/static/main.js"></script>
  {% block head %}{% endblock %}
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">
  <div class="container">
    <div style="padding: 5px 0px 20px 0px">
      <img src="/admin/static/banner.png" width="776" height="82">
    </div>

    <ul class="tabs">
      <li{% ifequal tab "home" %} class="active"{% endifequal %}>
        <a href="{% url synnefo.admin.views.index %}">Home</a>
      </li>
      <li{% ifequal tab "flavors" %} class="active"{% endifequal %}>
        <a href="{% url synnefo.admin.views.flavors_list %}">Flavors</a>
      </li>
      <li{% ifequal tab "images" %} class="active"{% endifequal %}>
        <a href="{% url synnefo.admin.views.images_list %}">Images</a>
      </li>
      <li{% ifequal tab "servers" %} class="active"{% endifequal %}>
        <a href="{% url synnefo.admin.views.servers_list %}">Servers</a>
      </li>
      <li{% ifequal tab "users" %} class="active"{% endifequal %}>
        <a href="{% url synnefo.admin.views.users_list %}">Users</a>
      </li>
    </ul>

    {% if all_states %}
    <div class="row">
      <div class="span3 columns">
        <h4>Filter by state:</h4>
      </div>
      <div class="span13 columns">
        <ul class="pills">
          {% for state in all_states %}
          <li class="{% if state in filters %}active{% endif %}">
            <a href="?toggle_filter={{ state }}">{{ state }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% block body %}{% endblock %}
  </div>
</body>
</html>
