{% extends "base.html" %}

{% block body %}
<table class="zebra-striped id-sorted">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Owner</th>
      <th>State</th>
      <th>Backend ID</th>
      <th>Format</th>
      <th>Public</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for image in images %}
    <tr>
      <td><a href="{% url synnefo.admin.views.images_info image.id %}">{{ image.id }}</a></td>
      <td><a href="{% url synnefo.admin.views.images_info image.id %}">{{ image.name }}</a></td>
      <td>{{ image.userid|default:"" }}</td>
      <td>{{ image.state }}</td>
      <td>{{ image.backend_id }}</td>
      <td>{{ image.format }}</td>
      <td>{{ image.public }}</td>
      <td>{{ image.updated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a class="btn success" href="{% url synnefo.admin.views.images_register %}">Register a new Image</a>
<br /><br />
{% endblock body %}
