{% extends "base.html" %}

{% block body %}
<table class="zebra-striped id-sorted">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Owner</th>
      <th>State</th>
      <th>Flavor</th>
      <th>Image</th>
      <th>Deleted</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody>
    {% for server in servers %}
    <tr>
      <td>{{ server.id }}</td>
      <td>{{ server.name }}</td>
      <td><a href="{% url synnefo.admin.views.users_info server.owner.id %}">{{ server.owner.name }}</a></td>
      <td>{{ server.operstate }}</td>
      <td><a href="{% url synnefo.admin.views.flavors_info server.flavor.id %}">{{ server.flavor.name }}</a></td>
      <td><a href="{% url synnefo.admin.views.images_info server.imageid %}">{{ server.imageid }}</a></td>
      <td>{{ server.deleted }}</td>
      <td>{{ server.updated }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %}
