recursive-include synnefo *.json *.html *.json *.xml *.txt
recursive-include synnefo/admin/static *
recursive-include synnefo/ui/static *
recursive-include docs/ *.rst
recursive-include extras/ *

include README
include distribute_setup.py
