Source: snf-quotaholder-app
Section: python
Priority: optional
Maintainer: Vangelis Koukis <vkoukis@grnet.gr>
Build-Depends: debhelper (>= 8), python-all (>= 2.5)
Standards-Version: 3.9.2
XS-Python-Version: >= 2.6
Homepage: https://code.grnet.gr/projects/synnefo

Package: snf-quotaholder-app
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-setuptools
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: Synnefo quotaholder webapp

