{% load i18n %}
<div class="invitations-left">({% blocktrans count invitations_left as left %}
{{ left }} invitation left
{% plural %}
{{ left }} invitations left
{% endblocktrans %})</div>

{% if invitations_left > 0 %}
<form action="/invitations/" method="post" id="invform">
    {% csrf_token %}
    
    {% if errors %}
        <div id="errors">
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}

    <div id="fieldheaders" class="clearfix">
        <span id="field_name_name">{% trans "Name" %}<span class="description">(e.g. John Smith)</span></span>
        <span id="field_email_name">{% trans "Email" %}</span>
    </div>
    <div id="fields">
        <div id="removable-name-container-1" class="removable-field-row"><input type="text" name="name_1" id="name_1" value="" class="textInput removable" /><input type="text" name="email_1" id="email_1" value="" class="textInput removable" /><img src="/static/spacer.gif" width="16" height="16" alt="" title="Remove This Item" class="" />
        </div>
        <div id="add-name-container" class="add-field-container">
        <span class="add-field-trigger">
            <img src="/static/add.gif" alt="" title="Add New Item" />
            {% trans "Add invitation" %}
        </span>
        </div>
    </div>
    <p><input class="submit" type="submit" value="{% trans "Send invitations" %}" /></p>
</form>
{% else %}

<div class="no-invitations-left">
<p>
{% blocktrans %}
You have no invitations left in your account.
{% endblocktrans %}
</p>
</div>
{% endif %}

<div id="invsent">

    <h3 class="clearfix">{% trans "Sent invitations" %}
        <span>(<img src="/static/invitation_accepted.png" alt="{% trans "Invitation accepted" %}"> = {% trans "Invitation has been accepted" %})</span>
        <span>(<img src="/static/invitation_resend.png" width="16" height="16" alt="{% trans "Resend invitation" %}"> = {% trans "Send invitation again" %})</span>
    </h3>
    <div>
        <ul>
        {% for inv in invitations %}
        <li class="clearfix {% if inv.accepted %}accepted{% endif %}">
                {% if inv.accepted %}
                <img src="/static/invitation_accepted.png" alt="{% trans "Invitation accepted" %}">
                {% else %}
                    <span class="resend-invitation" id="inv-{{ inv.id }}">
                        <img class="resend-invitation" src="/static/invitation_resend.png" width="16" height="16" alt="{% trans "Resend invitation" %}">
                    </span>
                {% endif %}
                <span class="name">{{ inv.targetname }}</span> <span class="email">{{ inv.target }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
