<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Αποστολή προσκλήσεων σε χρήστες</title>
    <script src="/static/jquery.tools.min.js"></script>

    <script type="text/javascript">

    $(document).ready(function() {
        $("#emaillist").click(function(){
            $("#emaillist").text('');
        });
    });

    </script>

    <style type="text/css">
        
    </style>
</head>
<body>
{% if error_message %}<div id="error"><strong>{{ error_message }}</strong></div>{% endif %}

<form id="" action="/invitations/" method="post">
{% csrf_token %}
        <label for="emaillist">Email για αποστολή προσκλήσεων (διαθέσιμες: 
            <span id="remaining">{{ invitations.count }}</span>
            )
        </label>
        <textarea id="emaillist" rows="24" cols="80">
Εισάγετε τη λίστα των διευθύνσεων email στις οποίες θέλετε να αποσταλούν προσκλήσεις, μια σε κάθε γραμμή.
Οι διευθύνσεις θα πρέπει να είναι στη μορφή: Όνομα Επίθετο <uname@domain.tld>, για παράδειγμα:

Donald Knuth <knuth@stanford.edu>
Dennis Ritchie <drm@bell.com>

        </textarea>
        <br/>
        <input type="submit" value="Αποστολή Προσκλήσεων" />
</form>

<div id="invsent">
Λίστα προσκλήσεων που έχουν αποσταλεί (<img src="/static/save.png" alt=""> = Η πρόσκληση έγινε αποδεκτή)
    <div>
        <ul>
        {% for ivn in invitations %}
            <li>
                {% if inv.accepted %}
                    <img src="/static/save.png" alt="">
                {% endif %}
                {{ inv.target }}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

</body>
</html>