<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Αποστολή προσκλήσεων σε χρήστες</title>
    {% if not ajax %}
    <script src="/static/jquery.tools.min.js"></script>
    <script src="/invitations/static/invitations.js"></script>
    {% endif %}

    <script type="text/javascript">
    {% if not ajax %}
    $(document).ready(function() {
        $("#invform #removable-name-container-1").dynamicField();
    });
    {% endif %}

    </script>

</head>
<body>
<form action="/invitations/" method="post" id="invform">
    {% csrf_token %}
    
    {% if errors %}
        <div id="errors">
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
        </div>
    {% endif %}

    <div id="fieldheaders">
        <span id="field_name_name">Όνομα</span>
        <span id="field_email_name">Email</span>
    </div>
    <div id="fields">
        <div id="removable-name-container-1" class="removable-field-row">
            <input type="text" name="name_1" id="name_1" value="" class="textInput removable" /><input type="text" name="email_1" id="email_1" value="" class="textInput removable" /><img src="/static/spacer.gif" width="16" height="16" alt="" title="Remove This Item" class="" />
        </div>
        <div id="add-name-container" class="add-field-container">
        <span class="add-field-trigger">
            <img src="/static/add.gif" alt="" title="Add New Item" />
            Προσθήκη Παραλήπτη
        </span>
        </div>
    </div>
    <p><input type="submit" value="Αποστολή Προσκλήσεων" /></p>
</form>

<div id="invsent">

    <h3>Λίστα προσκλήσεων που έχουν αποσταλεί
    <span>(<img src="/static/save.png" alt=""> = Η πρόσκληση έγινε
        αποδεκτή)</span></h3>
    <div>
        <ul>
        {% for inv in invitations %}
            <li>
                {% if inv.accepted %}
                    <img src="/static/save.png" alt="">
                {% endif %}
                {{ inv.targetname }} &lt;{{ inv.target }}&gt;
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

</body>
</html>
